<% provide(:title, t('.title')) %>

<div class="container text-center relations">
  <h3><%= t '.find_relations' %></h3>

  <%= form_tag relation_url, method: :get, class: "form-inline relations-form" do %>
    <% autoselect_class = "form-control wca-autocomplete wca-autocomplete-users_search wca-autocomplete-persons_table wca-autocomplete-only_one" %>
    <% data_for = lambda { |wca_id| { data: (@selected_people || []).select { |person| person.wca_id == wca_id }.to_json } } %>
    <div class="form-group">
      <%= text_field_tag :wca_id1, @wca_id1, class: autoselect_class, data: data_for.call(@wca_id1) %>
    </div>
    <div class="form-group">
      <%= text_field_tag :wca_id2, @wca_id2, class: autoselect_class, data: data_for.call(@wca_id2) %>
    </div>
    <div class="button-box">
      <%= submit_tag t('.show_relation'), class: "btn btn-primary" %>
    </div>
  <% end %>

  <% if @people_chain %>
    <div class="container relations-line">
      <% previous = nil %>
      <% @people_chain.each do |current| %>
        <% if previous %>
          <div class="description col-md-6 col-md-offset-3">
            <%= t '.connectives.was_at' %>
          </div>
          <div class="competitions-slider col-md-6 col-md-offset-3">
            <% Relations.competitions_together(previous.wca_id, current.wca_id).each do |competition| %>
              <div class="competition-box">
                <%= link_to competition.name, competition_path(competition) %>
              </div>
            <% end %>
          </div>
          <div class="description col-md-6 col-md-offset-3">
            <%= t '.connectives.together_with' %>
          </div>
        <% end %>
        <div class="person-box col-md-6 col-md-offset-3">
          <% if current.user %>
            <img src="<%= current.user.avatar.url(:thumb) %>" class="avatar-thumbnail">
          <% end %>
          <%= link_to current.name, "/results/p.php?i=#{current.wca_id}" %>
        </div>
        <% previous = current %>
      <% end %>
    </div>
  <% end %>
</div>
