<% provide(:title, 'Teams') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <% if @teams.empty? %>
    <%= alert :warning, "There are currently no teams." %>
  <% else %>
    <div class="table-responsive">
      <table class="table teams-table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Members</th>
          <th>Leader(s)</th>
          <th></th>
        </tr>
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.friendly_id %></td>
            <td><%= team.name %></td>
            <td><%= users_to_sentence team.current_members.includes(:user).map(&:user) %></td>
            <td>
              <%= users_to_sentence team.current_members.where(team_leader: true).map(&:user) %>
            </td>
            <td>
              <%= link_to edit_team_path(team), class: "btn btn-success" do %>
                <%= ui_icon("edit") %> Manage
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
