<% provide(:title, 'Delegates stats') %>

<div class="container-fluid">
  <h1><%= yield(:title) %></h1>

  <%= wca_table table_class: "delegates-stats-table", striped: false,
                data: { toggle: "table", sort_name: "delegate", search: "true" } do %>
    <thead>
      <tr>
        <th class="delegate" data-sortable="true" data-field="delegate">Delegate</th>
        <th class="position" data-sortable="true">Position</th>
        <th class="region" data-sortable="true">Region</th>
        <th class="last" data-sortable="true">Last delegated</th>
        <th class="first" data-sortable="true">First delegated</th>
        <th class="total" data-sortable="true">Total delegated</th>
        <th>Phone number</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @delegates.each do |delegate| %>
        <% competitions = delegate.delegated_competitions.order(:start_date).select(&:is_probably_over?) %>
        <tr class="<%= delegate.delegate_status %>">
          <td class="delegate" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= delegate.notes %>">
            <%= delegate.name %>
            <%= link_to icon("pencil"), edit_user_path(delegate) %>
            <%= mail_to delegate.email, icon("envelope"), target: "_blank", class: "hide-new-window-icon" %>
          </td>
          <td class="position"><%= delegate.delegate_status.humanize %></td>
          <td class="region"><%= delegate.region %> (<%= delegate.location_description %>)</td>
          <td class="last"><%= competitions&.last&.start_date %></td>
          <td class="first"><%= competitions&.first&.start_date %></td>
          <td class="total"><%= competitions&.count %></td>
          <td><%= delegate.phone_number %></td>
          <td>
            <%= link_to "History", competitions_path(display: "admin", years: "all", delegate: delegate.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</div>
