<% provide(:title, 'Delegates stats') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Delegate</th>
        <th>Position</th>
        <th>Country</th>
        <th>Last delegated</th>
        <th>First delegated</th>
        <th>Total competitions</th>
      </tr>
    </thead>
    <tbody>
      <% @delegates.each do |delegate| %>
        <tr>
          <td><%= delegate.name %></td>
          <td><%= delegate.delegate_status %></td>
          <td><%= delegate.region %></td>
          <td><%= delegate.delegated_competitions.last.start_date if delegate.delegated_competitions.present? %></td>
          <td><%= delegate.delegated_competitions.first.start_date if delegate.delegated_competitions.present? %></td>
          <td><%= delegate.delegated_competitions.count if delegate.delegated_competitions.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
