<% provide(:title, @user.email) %>

<div class="container">
  <%= link_to "<< All users", devise_users_path %>

  <h1><%= yield(:title) %></h1>

  <%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
    <% DeviseUsersController.WCA_ROLES.each do |role| %>
      <%= f.input role %>
    <% end %>
    <%= f.submit 'Save', class: "btn btn-primary" %>
  <% end %>
</div>
