<div class="panel <%= post.sticky? ? "panel-info" : "panel-default" %> panel-wca-post">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if render_permalink %>
        <%= link_to post.title, post_path(post.slug) %>
      <% else %>
        <%= post.title %>
      <% end %>
      <% if current_user&.can_create_posts? %>
        <span class="pull-right">
          <%= link_to edit_post_path(post.slug) do %>
            <span class="pencil alternate icon"></span>
          <% end %>
          <% if post.persisted? %>
            <%= link_to post_path(post.slug), method: "delete", data: { confirm: I18n.t('posts.confirm_delete_post') } do %>
              <span class="trash icon"></span>
            <% end %>
          <% end %>
        </span>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <div>
      <% if post.author %>
        <em><%= t 'posts.announcement_info_html', author_name: post.author.name, date_time: wca_local_time(post.created_at) %></em>
      <% end %>
    </div>

    <%= md render_teaser ? post.body_teaser : post.body_full, toc: render_toc %>
  </div>
</div>
