<% add_to_packs("markdown_editor") %>

<% url = @post.new_record? ? posts_path : post_path(@post) %>
<%= simple_form_for @post, url: url, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :title, disabled: !editable_post_fields.include?(:title), autofocus: true %>
  <%= f.input :body, input_html: { class: 'markdown-editor markdown-editor-image-upload' } if editable_post_fields.include? :body %>

  <% if editable_post_fields.include? :tags %>
    <%= f.input :tags %>
    <script>
      $('input#post_tags').selectize(window.wca.defaultSelectizeOptions(<%= all_to_options(PostTag) %>));
    </script>
  <% end %>

  <%= f.input :sticky if editable_post_fields.include? :sticky %>
  <% if editable_post_fields.include? :unstick_at %>
    <%= f.input :unstick_at, as: :date_picker, input_html: { value: @post.unstick_at || 2.weeks.from_now.to_date } %>
  <% end %>
  <%= f.input :show_on_homepage if editable_post_fields.include? :show_on_homepage %>
  <%= f.button :submit %>

  <% if @post.persisted? %>
    <%= link_to post_path(@post.slug), method: "delete", data: { confirm: I18n.t('posts.confirm_delete_post') }, class: "btn btn-danger" do %>
      <span class="icon trash"></span> Delete post
    <% end %>
  <% end %>
<% end %>
