<div class="panel <%= post.sticky? ? "panel-info" : "panel-default" %>">
  <div class="panel-heading">
    <h3 class="panel-title">
      <% if render_permalink %>
        <%= link_to post.title, post_path(post.slug) %>
      <% else %>
        <%= post.title %>
      <% end %>
      <% if user_signed_in? && current_user.can_admin_results? %>
        <span class="pull-right">
          <%= link_to edit_post_path(post.slug) do %>
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
          <%= link_to post_path(post.slug), method: "delete", data: { confirm: I18n.t(:confirm_delete_post) } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </span>
      <% end %>
    </h3>
  </div>
  <div class="panel-body">
    <div>
      <em>Announced by <%= post.author.name %> on <%= local_time(post.created_at) %></em>
    </div>
    <%=md post.body %>
  </div>
</div>
