<% url = @post.new_record? ? posts_path : @post.update_path %>
<%= simple_form_for @post, url: url, html: { class: 'form-horizontal' } do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.input :title, disabled: !editable_post_fields.include?(:title), autofocus: true %>
  <%= f.input :body, input_html: { class: 'markdown-editor' } if editable_post_fields.include? :body %>
  <%= f.input :sticky if editable_post_fields.include? :sticky %>
  <%= f.button :submit %>

  <% if @post.deletable %>
    <%= link_to post_path(@post.slug), method: "delete", data: { confirm: I18n.t(:confirm_delete_post) }, class: "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash"></span> Delete post
    <% end %>
  <% end %>
<% end %>
