<% provide(:title, 'New post') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= simple_form_for @post, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :sticky %>
    <%= f.button :submit %>
  <% end %>
</div>
