<p>Hey WRT,</p>
<p>
  We received following change request for the profile of <%= link_to @resource.wca_id, person_url(@resource.wca_id) %>:
</p>
<table>
  <body>
    <% @resource.changes_requested.each do |change| %>
      <tr>
        <td><%= change[:field] %></td>
        <td><%= change[:from] %> -> <%= change[:to] %></td>
      </tr>
    <% end %>
    <tr style="height: 1em">
      <td colspan="2"></td>
    </tr>
  </body>
</table>
<p>Edit Reason: <%= @resource.edit_profile_reason %></p>
<p>Requestor: <%= @resource.requestor %></p>
<p>You can edit this person using <%= link_to "this ticket (#" + @resource.ticket.id.to_s + ")", ticket_url(@resource.ticket.id) %>.</p>
<% if @resource.document.present? %>
  <p>Note: There is a proof attachment to this email.</p>
<% end %>
