<p>Hey WRT,</p>
<p>
  <%= @resource.wca_id %> requested following change in their profile:
</p>
<table>
  <body>
    <% @resource.changes_requested.each do |change| %>
      <tr>
        <td><%= change[:field].to_s.humanize %></td>
        <% case change[:field] %>
          <% when :country_iso2 %>
            <td><%= Country.find_by(iso2: change[:from]).name_in(:en) %> -> <%= Country.find_by(iso2: change[:to]).name_in(:en) %></td>
          <% when :gender %>
            <td><%= User::GENDER_LABEL_METHOD.call(change[:from].to_sym) %> -> <%= User::GENDER_LABEL_METHOD.call(change[:to].to_sym) %></td>
          <% else %>
            <td><%= change[:from] %> -> <%= change[:to] %></td>
        <% end %>
      </tr>
    <% end %>
    <tr style="height: 1em">
      <td colspan="2"></td>
    </tr>
  </body>
</table>
<p>Edit Reason: <%= @resource.edit_profile_reason %></p>
<p>You can edit this person <%= link_to "here", panel_index_url(panel_id: 'wrt', wcaId: @resource.wca_id, anchor: User.panel_pages[:editPerson]) %>.</p>
<% if @resource.document.present? %>
  <p>Note: There is a proof attachment to this email.</p>
<% end %>
