<tr class="<%= delegate.delegate_status.dasherize %>">
  <td>
    <%= mail_to delegate.email, target: "_blank", class: "hide-new-window-icon" do %>
      <span class="glyphicon glyphicon-envelope"></span>
    <% end %>
    <% if current_user&.can_edit_user?(delegate) %>
      <%= link_to edit_user_path(delegate.id) do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= link_to "/results/p.php?i=#{delegate.wca_id}", class: "wca-user-link" do %>
      <%= render "shared/user", user: delegate %>
    <% end %>
  </td>
  <td><%= delegate.delegate_status.titleize %></td>
  <td><%= delegate.region %></td>
</tr>
