<tr class="<%= delegate.delegate_status.dasherize %>">
  <td>
    <%= mail_to delegate.email, delegate.name %>
    <% if current_user && current_user.can_edit_users? %>
      <%= link_to edit_user_path(delegate.id), class: "edit-user" do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>
  </td>
  <td><%= delegate.delegate_status.titleize %></td>
  <td><%= delegate.region %></td>
</tr>
