<tr class="<%= delegate.delegate_status.dasherize %>">
  <td>
    <%= link_to "results/p.php?i=#{delegate.wca_id}" do %>
      <% if delegate.avatar? %>
        <div class="avatar-circle" style="background-image: url('<%= delegate.avatar.url(:thumb) %>')"
             data-trigger="hover" data-toggle="popover" title="" data-html="true" data-content="<img src='<%= delegate.avatar.url %>'></img>"
        ></div>
      <% else %>
        <div class="avatar-circle"></div>
      <% end %>
      <%= delegate.name %>
    <% end %>
    <%= mail_to delegate.email, target: "_blank", class: "delegate-actions hide-new-window-icon" do %>
      <span class="glyphicon glyphicon-envelope"></span>
    <% end %>
    <% if current_user && current_user.can_edit_users? %>
      <%= link_to edit_user_path(delegate.id), class: "delegate-actions" do %>
        <span class="glyphicon glyphicon-pencil"></span>
      <% end %>
    <% end %>
  </td>
  <td><%= delegate.delegate_status.titleize %></td>
  <td><%= delegate.region %></td>
</tr>
