<% provide(:title, t('about.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <h3><%= t('about.mission.title') %></h3>

  <% t('about.mission.paragraphs').values.each do |paragraph| %>
    <p>
      <%= raw paragraph %>
    </p>
  <% end %>

  <br/ >
  <h3><%= t('about.structure.title') %></h3>

  <p><%= t('about.structure.board_html') %></p>

  <ul>
    <% @board_members.order(:name).each do |board_member| %>
      <li><%= board_member.name %> - <%= board_member.region %></li>
    <% end %>
  </ul>

  <p><%= t('about.structure.committees') %>
  <ul>
    <% Team.order(:rank).each do |team| %>
      <li>
        <strong><%= team.name %> (<%= team.acronym %>)</strong>: <%= format_team_members(team) %> <br />
        <%= t("about.structure.#{team.friendly_id}.description") %>
      </li>
    <% end %>
  </ul>

  <p>
    <%= t 'about.structure.delegates_html', see_link: t('about.structure.see_link_html', link: link_to(t('delegates_page.title'), delegates_path)) %>
  </p>

  <p>
    <%= t('about.structure.members_html') %>
  </p>

</div>
