<% provide(:title, t('about.title')) %>

<div class="container">

  <div class="jumbotron">

  <p class="lead">The World Cube Association is a 501(c)(3) tax-exempt organization. As a 100% volunteer-run nonprofit, we welcome your donations to help us further our vision of having more enjoyable competitions all over the world.</p>
  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="https://www.nfggive.com/guidestar/82-3825954" role="button">Donate via credit card</a>
  <a class="btn btn-primary btn-lg" href="#contribute" role="button">Other ways to donate</a>
  </div>

  <blockquote class="blockquote">
  <p class="mb-0">Our mission is to have more competitions in more countries with more people and more fun, under fair and equal conditions.</p>
  <footer class="blockquote-footer">WCA Mission Statement</footer>
  </blockquote>

  <h2>Who we are</h2>
  <div class="row">
    <div class="col-md-8">
      <p>The World Cube Association governs competitions for mechanical puzzles that are operated by twisting groups of pieces, commonly known as 'twisty puzzles'. The most famous of these puzzles is the Rubik's Cube, invented by professor Rubik from Hungary. A selection of these puzzles are chosen as official events of the WCA.</p>
      <p>As the WCA has evolved over the past decade, over 100,000 people have competed in our competitions. Despite this growth, we remain an organization that is entirely run by volunters, from local organizers to Delegates to even the Board. We are very grateful to everyone who takes time out of their lives to allow the WCA to function. With more financial support, we hope to bring an even greater level of professionalism to our competitions as we continue to sanction more events across the globe.</p>
      <p>The World Cube Association wants to bring opportunities for community membership and leadership to young people around the world through increasing the accessibility of our 'twisty puzzle' competitions. We believe that experiences at competitions and within our community create growth opportunities for the young people involved and that introducing puzzle events to new groups of people allows for our overall community to strengthen.</p>
    </div>
    <div class="col-md-4">
      <img class="about-page-image" src=<%= asset_url("about/bulgarian-open.jpg") %> />
    </div>
  </div>

  <blockquote class="blockquote">
  <p class="mb-0">Our spirit is that people from all over the world have fun together in a friendly atmosphere, help each other and behave sportsmanlike.
  </p>
  <footer class="blockquote-footer">WCA Spirit</footer>
  </blockquote>


  <h2>Our goals</h2>

  <p>The World Cube Association wants to bring opportunities for community membership and leadership to young people around the world through increasing the accessibility of our 'twisty puzzle' competitions. We believe that experiences at competitions and within our community create growth opportunities for the young people involved and that introducing puzzle events to new groups of people allows for our overall community to strengthen.</p>

  <h2>What's next for the WCA?</h2>
  <p>The World Cube Association has had over 100,000 unique competitors across 140 different countries and we are not planning on slowing down anytime soon! The cubing community has been growing steadily since our founding in 2004 and we want to encourage this to continue into the future by increasing the accessibility of competitions to new areas. In the future, we hope to support our community even more through collaborations and outreach to those who care about puzzles.</p>

  <h2>World Championship</h2>
  <div class="row">
    <div class="col-md-8">
      <p>
        Every two years, we sanction the competition that ultimately determines the world champion. These events require extremely careful planning by a number of volunteers, as well as a large financial commitment to reserve the venue and make necessary preparations.
      </p>
      </div>
    <div class="col-md-4">
      <img class="about-page-image" src=<%= asset_url("about/worlds-2017.jpg") %> />
    </div>
  </div>

  <h2><%= t('about.structure.title') %></h2>

  <p><%= t('about.structure.board.description') %></p>

  <ul>
    <% Team.board.current_members.includes(:user).map(&:user).sort_by(&:name).each do |board_member| %>
      <li><%= board_member.name %> - <%= board_member.country.name %></li>
    <% end %>
  </ul>

  <p>
    The day to day operations are run by the WCA's <%= link_to 'Teams and Committees', 'teams-committees' %>.
  </p>

  <p>
    <%= t 'about.structure.delegates_html', see_link: t('about.structure.see_link_html', link: link_to(t('delegates_page.title'), delegates_path)) %>
  </p>

  <p>
    <%= t('about.structure.members_html') %>
  </p>

  <h2 id="contribute">Making a contribution</h2>
  <p>
    You can donate by credit card using Guidestar <a href="https://www.nfggive.com/guidestar/82-3825954">here</a>. If you prefer to write a check, you can write to:
    <em>
      <br />
      <br />
      World Cube Association
      <br />
      5042 Wilshire Blvd #43206
      <br />
      Los Angeles, CA 90036
      <br /><br />
    </em>
    Donations are tax-deductible in the United States.
  </p>

  <h2>Other ways to help</h2>
  <p>
    If you believe you would be able to contribute to the World Cube Association in a non-financial way, we would love to hear from you! Please get in touch with us at <a href="">communication@worldcubeassociation.org</a>.
  </p>

</div>