<% provide(:title, 'About the WCA') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <h3>Mission</h3>

  <p>The World Cube Association governs competitions for all puzzles labelled as Rubik puzzles, and all other puzzles that are played by twisting the sides, so-called 'twisty puzzles'. Most famous of these puzzles is the Rubik's Cube, invented by professor Rubik from Hungary. A selection of these puzzles are chosen as official events of the WCA.</p>

  <p>The World Cube Association organises competitions all over the world, supported by national organisations responsible for organising competitions in their countries.</p>

  <p>The goal of the World Cube Association is to have<br />
    <strong>more competitions in more countries with more people and more fun, under fair and equal conditions.</strong>
  </p>

  <p>The spirit of the World Cube Association is that<br />
    <strong>people from all over the world have fun together in a friendly atmosphere, help each other and behave sportsmanlike.</strong>
  </p>

  <h3><br />Structure</h3>
  <p>
  The World Cube Association is led by the <b>WCA Board</b>, consisting of the following members:
  </p>
  <ul>
    <% @board_members.order(:name).each do |board_member| %>
      <li><%= board_member.name %> - <%= board_member.region %></li>
    <% end %>
  </ul>

  <p>The following committees are responsible for the operational activities of the WCA:</p>
  <ul>
    <li><strong>WCA Disciplinary Committee (WDC)</strong>: <%= format_team_members(:wdc_team) %> <br />
  This committee advises the WCA Board in special cases, like alleged violations of WCA Regulations, and may be contacted by WCA members in case of important personal matters regarding WCA competitions.</li>
    <li><strong>WCA Regulations Committee (WRC)</strong>: <%= format_team_members(:wrc_team) %> <br />
  This committee is responsible for managing the WCA Regulations.</li>
    <li><strong>Results team</strong>: <%= format_team_members(:results_team) %> <br />
  This team is responsible for managing all competition results.</li>
    <li><strong>WCA Software team</strong>: <%= format_team_members(:software_team) %> <br />
    This team is responsible for managing the WCA's software (website, scramblers, workbooks, admin tools).</li>
  </ul>

  <p>
  <strong>WCA Delegates</strong> are members of the WCA who are responsible for making sure that all WCA competitions are run according to the mission, regulations and spirit of the WCA. The WCA distinguishes between <strong>WCA Senior Delegates</strong>, <strong>WCA Delegates</strong> and <strong>WCA Candidate Delegates</strong> (see <%= link_to "WCA Delegates", delegates_path %>). Additional to the duties of a WCA Delegate, a WCA Senior Delegate is responsible for managing the Delegates in their area and can also be contacted by the community for regional matters. New Delegates are at first listed as WCA Candidate Delegates and need to show that they are capable of managing competitions successfully before being listed as WCA Delegates.
  </p>

  <p>
  All competitors automatically become <strong>members</strong> of the WCA in their first WCA competition.
  </p>

</div>
