<% provide(:title, t('about.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <h3><%= t('about.mission.title') %></h3>

  <% t('about.mission').values.each do |paragraph| %>
    <p>
      <%= raw paragraph unless paragraph == 'Mission' %>
    </p>
  <% end %>

  <br/ >
  <h3><%= t('about.structure.title') %></h3>

  <p><%= raw t('about.structure.board') %></p>

  <ul>
    <% @board_members.order(:name).each do |board_member| %>
      <li><%= board_member.name %> - <%= board_member.region %></li>
    <% end %>
  </ul>

  <p><%= raw t('about.structure.committees') %>
  <ul>
    <li><%= raw t('about.structure.wdc.name') %>: <%= format_team_members('wdc') %> <br />
      <%= t('about.structure.wdc.description') %></li>
    <li><%= raw t('about.structure.wrc.name') %>: <%= format_team_members('wrc') %> <br />
      <%= t('about.structure.wrc.description') %></li>
    <li><%= raw t('about.structure.results.name') %>: <%= format_team_members('results') %> <br />
      <%= t('about.structure.results.description') %></li>
    <li><%= raw t('about.structure.software.name') %>: <%= format_team_members('software') %> <br />
      <%= t('about.structure.software.description') %></li>
  </ul>

  <p>
    <%= raw t 'about.structure.delegates', link: link_to("WCA Delegates", delegates_path) %>
  </p>

  <p>
    <%= raw t('about.structure.members') %>
  </p>

</div>
