<% provide(:title, 'Contact Information') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div class="alert alert-info" role="alert">
    Before contacting any of the teams on this page,
    please take a look at our <%= link_to "frequently asked questions", faq_path %>!
  </div>

  <p>
    For website questions, comments, and suggestions, use this
    <a href="/contact/website">contact form</a>. For inquiries concerning a
    specific area or competition, please contact your local <%= link_to "WCA
    Delegate", delegates_path %>.
  </p>

  <h2><u>Committees and Teams</u></h2>

  <p>
    <strong>WCA Board</strong> - <a href="mailto:board@worldcubeassociation.org">board@worldcubeassociation.org</a><br />
    (WCA organisation, delegate reports, competition approval, general inquiries)<br />
    <%= @board_members.order(:name).map(&:name).join(", ") %>
  </p>

  <p>
    <strong>WCA Disciplinary Committee</strong> - <a href="mailto:wdc@worldcubeassociation.org">wdc@worldcubeassociation.org</a><br />
    (independent advice to WCA board, independent investigations, counselor for important personal matters)<br />
    <%= format_team_members(:wdc_team) %>
  </p>

  <p>
    <strong>WCA Results Team</strong> - <a href="mailto:results@worldcubeassociation.org">results@worldcubeassociation.org</a><br />
    (competition results, result corrections)<br />
    <%= format_team_members(:results_team) %>
  </p>

  <p>
    <strong>WCA Regulations Committee</strong> - [<a href="/contact/wrc">Contact Form</a>]<br />
    (maintenance of the WCA Regulations)<br />
    <%= format_team_members(:wrc_team) %>
  </p>

  <p>
    <strong>WCA Software Team</strong> - <a href="mailto:software@worldcubeassociation.org">software@worldcubeassociation.org</a> Please note: This is a public mailing list, anyone is welcome to join the <a target="_blank" href="https://groups.google.com/forum/#!forum/wca-software">Google Group</a>.<br />
    (maintenance of software of WCA)<br />
    <%= format_team_members(:software_admin_team) %>
  </p>
</div>
