<% provide(:title, 'Contact Information') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= alert :info do %>
    Before contacting any of the teams on this page,
    please take a look at our <%= link_to "frequently asked questions", faq_path %>!
  <% end %>

  <p>
    For website questions, comments, and suggestions, use this
    <a href="/contact/website">contact form</a>. For inquiries concerning a
    specific area or competition, please contact your local <%= link_to "WCA
    Delegate", committee_path(Committee::WCA_DELEGATES_COMMITTEE) %>.
  </p>

  <h2><u><%= link_to "Committees and Teams", committees_path %></u></h2>
  <% @committees.each do |committee| %>
    <p>
      <strong><%= link_to committee.name, committee_path(committee) %></strong> - <%= mail_to committee.email %></a><br />
      <%=md committee.duties %>
      <br />
    </p>
  <% end %>
</div>
