<% provide(:title, t('contact.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= alert :info do %>
    <%= t 'contact.info_alert_html', link: link_to(t('layouts.navigation.faq'), faq_path) %>
  <% end %>

  <p>
    <%= t 'contact.questions_and_comments_html', link: link_to(t('competitions.competition_info.delegate', count: 1), delegates_path) %>
  </p>

  <h2><%= t('contact.committees_and_teams_html') %></h2>

  <p>
    <strong><%= t('about.structure.board.name') %></strong> - <%= mail_to "board@worldcubeassociation.org" %><br />
    <%= t('contact.board.info_html') %><br />
    <%= t('contact.members') %>: <%= Team.board.current_members.includes(:user).map { |team_member| team_member.user.name }.sort.join(", ") %>
  </p>

  <% Team.all_official.each do |team| %>
    <p>
      <strong><%= team.name %> (<%= team.acronym %>)</strong> - <%= mail_to team.email %><br />
      <%= t("contact.#{team.friendly_id}.info_html") %><br />
      <%= t('contact.members') %>: <%= format_team_members(team) %>
    </p>
  <% end %>

  <h2><u><%= t('contact.councils_html') %></u></h2>

  <% Team.all_councils.each do |team| %>
    <p>
      <strong><%= team.name %> (<%= team.acronym %>)</strong> - <%= mail_to team.email %><br />
      <%= t("contact.#{team.friendly_id}.info_html") %><br />
      <%= t('contact.members') %>: <%= format_team_members(team) %>
    </p>
  <% end %>
</div>
