<% provide(:title, t('contact.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= alert :info do %>
    <%= raw t 'contact.info_alert', link: link_to(t('layouts.navigation.faq'), faq_path) %>
  <% end %>

  <p>
    <%= raw t 'contact.questions_and_comments', link: link_to("WCA Delegate", delegates_path) %>
  </p>

  <h2><%= raw t('contact.committees_and_teams') %></h2>

  <p>
    <%= raw t('contact.board.name') %> - <a href="mailto:board@worldcubeassociation.org">board@worldcubeassociation.org</a><br />
    <%= t('contact.board.info') %><br />
    <%= @board_members.order(:name).map(&:name).join(", ") %>
  </p>

  <p>
    <%= raw t('about.structure.wdc.name') %> - <a href="mailto:wdc@worldcubeassociation.org">wdc@worldcubeassociation.org</a><br />
    <%= t('contact.wdc.info') %><br />
    <%= format_team_members('wdc') %>
  </p>

  <p>
    <%= raw t('about.structure.wrc.name') %> - <a href="mailto:wrc@worldcubeassociation.org">wrc@worldcubeassociation.org</a><br />
    <%= t('contact.wrc.info') %><br />
    <%= format_team_members('wrc') %>
  </p>

  <p>
    <%= raw t('about.structure.results.name') %> - <a href="mailto:results@worldcubeassociation.org">results@worldcubeassociation.org</a><br />
    <%= t('contact.results.info') %><br />
    <%= format_team_members('results') %>
  </p>

  <p>
    <%= raw t('about.structure.software.name') %> - <a href="mailto:software@worldcubeassociation.org">software@worldcubeassociation.org</a><br />
    <%= t('contact.software.info') %><br />
    <%= format_team_members('software') %>
  </p>
</div>
