<% provide(:title, t('contact.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= alert :info do %>
    <%= t 'contact.info_alert_html', link: link_to(t('layouts.navigation.faq'), faq_path) %>
  <% end %>

  <p>
    <%= t 'contact.questions_and_comments_html', link: link_to(t('competitions.competition_info.delegate', count: 1), delegates_path) %>
  </p>

  <h2><%= t('contact.committees_and_teams_html') %></h2>

  <p>
    <strong><%= t('contact.board.name_html') %></strong> - <%= mail_to "board@worldcubeassociation.org" %><br />
    <%= t('contact.board.info') %><br />
    <%= @board_members.order(:name).map(&:name).join(", ") %>
  </p>

  <% Team.order(:rank).each do |team| %>
    <p>
      <strong><%= team.name %> (<%= team.acronym %>)</strong> - <%= mail_to team.email %><br />
      <%= t("contact.#{team.friendly_id}.info") %><br />
      <%= format_team_members(team) %>
    </p>
  <% end %>
</div>
