<% provide(:title, t('delegates_page.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <p><%= t('delegates_page.description_html') %></p>
  <p><%= t('delegates_page.acknowledges') %></p>

  <% delegate_sort_order = { region: :asc, delegate_status: :desc, name: :asc } %>

  <%= render partial: "delegates_in_region_table", locals: { delegates: @board_members.order(delegate_sort_order) } %>

  <% @senior_delegates.order(delegate_sort_order).each do |senior_delegate| %>
    <%= render partial: "delegates_in_region_table", locals: { delegates: [senior_delegate] + senior_delegate.subordinate_delegates.order(delegate_sort_order) } %>
  <% end %>

  <%= render partial: "delegates_in_region_table", locals: { delegates: @delegates_without_senior_delegates.order(delegate_sort_order) } %>
</div>
