<% provide(:title, t('documents.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <div id="accordion" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading heading-as-link">
        <h4 class="panel-title">
          <%= link_to icon("file-text", t('documents.bylaws')), "/documents/WCA Bylaws.pdf", class: "full-space" %>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading heading-as-link">
        <h4 class="panel-title">
          <%= link_to icon("file-text", t('documents.codeofethics')), "/documents/Code of Ethics.pdf", class: "full-space" %>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading heading-as-link">
        <h4 class="panel-title">
          <%= link_to icon("file-text", t('documents.determination_letter')), "/files/WCA_IRS_Determination_Letter.pdf", class: "full-space" %>
        </h4>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading heading-as-link">
        <h4 class="panel-title">
          <%= link_to icon("list-ul", t('documents.motions')), "#motions", data: { toggle: "collapse", parent: "#accordion" } %>
        </h4>
      </div>
      <div id="motions" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <%= documents_list("motions") %>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading  heading-as-link">
        <h4 class="panel-title">
          <%= link_to icon("list-ul", t('documents.minutes')), "#minutes", data: { toggle: "collapse", parent: "#accordion" } %>
        </h4>
      </div>
      <div id="minutes" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li><%= link_to "WCA Minutes Log", "https://docs.google.com/spreadsheets/d/1SeojQM8xYhQFmZcyM13T67mQU1TBdgvghpuMhrFxGPo/edit?usp=sharing" %></li>
            <%= documents_list("minutes") %>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading  heading-as-link">
        <h4 class="panel-title">
          <%= link_to icon("list-ul", t('documents.policies')), "#policies", data: { toggle: "collapse", parent: "#accordion" } %>
        </h4>
      </div>
      <div id="policies" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <%= documents_list("policies/external") %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
