<% provide(:title, t('education.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('education.description') %></p>

  <div class="list-group">
    <%= link_to "https://documents.worldcubeassociation.org/edudoc/competitor-tutorial/tutorial.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('education.competitor_tutorial') %>
    <% end %>
    <%= link_to "https://documents.worldcubeassociation.org/edudoc/judge-tutorial/judge-tutorial.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('education.judge_tutorial') %>
    <% end %>
    <%= link_to "https://documents.worldcubeassociation.org/edudoc/competition-templates/competition-templates.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('education.competition_templates') %>
    <% end %>
    <%= link_to "https://drive.google.com/drive/folders/1jrMWgOgNscPDqoxzgnEQ1bnV9D4FDzLj", class: "list-group-item" do %>
      <%= ui_icon("copy") %>
      <%= t('education.certificates') %>
    <% end %>
    <%= link_to "https://documents.worldcubeassociation.org/organizer-guidelines", class: "list-group-item" do %>
      <%= ui_icon("copy") %>
      <%= t('education.orga_guidelines') %>
    <% end %>
  </div>
</div>
