<% provide(:title, t('faq.title')) %>

<%
faq_variables = {
  profile_edit_path: profile_edit_path,
  current_user_status: if current_user
                         t('faq.already_logged_in')
                       else
                         t('faq.create_an_account', here: link_to(t('common.here'), new_user_registration_path))
                       end,
  current_user_claim: if current_user
                        t('faq.claim_your_wca_id', here: link_to(t('common.here'), profile_claim_wca_id_path))
                      else
                        t('faq.create_an_account_and_claim', here: link_to(t('common.here'), new_user_registration_path))
                      end,
  comp_search_form: "<div>
        %{search_competition}
        <input id=\"competitions_search\" class=\"wca-autocomplete wca-autocomplete-only_one wca-autocomplete-competitions_search\"></input>
        <script>
          (function() {
            $('#competitions_search').wcaAutocomplete();
            $('#competitions_search')[0].selectize.on('change', function(competitionId) {
              location.href = \"/competitions/\" + competitionId;
            });
          })();
        </script>
      </div>" % { search_competition: t('faq.search_for_competition') },
}
%>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <%
    @questions = []
    def add_answer(question, &block)
      @questions << question
      render layout: "faq_item", locals: { question: question }, &block
    end
  %>
  <% @answers_markup = capture do %>
    <ul id="faq-list" class="list-group">


      <% t('faq.answers').values.each do |faq| %>
        <%= add_answer faq[:title] do %>
          <% faq[:content].values.each do |paragraph| %>
            <p>
              <%= raw paragraph % faq_variables %>
            </p>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>

  <ul>
    <% @questions.each do |question| %>
       <li><%= link_to question, anchor: question.parameterize %></li>
    <% end %>
  </ul>

  <%= @answers_markup %>

  <p>
    <%= t('faq.contact_html', contact_us: link_to(t('faq.contact_us'), contact_path)) %>
  </p>
</div>
