<% provide(:title, t('regional_organizations.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('regional_organizations.content') %></p>

  <div class="organizations-list">
    <% @organizations_info.each do |organization_info| %>
      <div class="organization-box">
        <%= link_to organization_info[:url], target: "_blank", class: "hide-new-window-icon" do %>
          <% if organization_info[:logo] %>
            <%= image_tag "organizations/#{organization_info[:logo]}" %>
          <% end %>
          <div class="organization-info <% if organization_info[:logo] %>hide-until-hover<% end %>">
            <div class="country">
              <%= organization_info[:country] %>
            </div>
            <div class="name">
              <%= organization_info[:name] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2><%= t('regional_organizations.how_to.title') %></h2>
  <p><%= t('regional_organizations.how_to.description') %></p>

  <h3><%= t('regional_organizations.requirements.title') %></h3>
  <ol>
    <% # We want to iterate through the *English* entries: so that if the translation doesn't have it, it will fall back to English. %>
    <% t('regional_organizations.requirements.list', locale: :en).each do |key, en_value| %>
      <li><%= t("regional_organizations.requirements.list.#{key}") %></li>
    <% end %>
  </ol>

  <h3><%= t('regional_organizations.application_instructions.title') %></h3>
  <p><%= t('regional_organizations.application_instructions.description_html') %></p>
</div>
