<% provide(:title, t("organizer_guidelines.title")) %>
<div class="container">
  <h1><%= yield(:title)  %></h1>
  
  <p><%= t('full_organizer_guidelines.description') %></p>
  <p><%= t('full_organizer_guidelines.disclaimer_html') %></p>
  
  <p><%= t('full_organizer_guidelines.essential.description') %></p>
  <div class="list-group">
    <%= link_to "/edudoc/organizer-guidelines/finding-venue.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.finding-venue') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/orga-team-delegate.pdf"", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.orga-team-delegate') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/budget.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.budget') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/schedule.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.schedule') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/checklist.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.checklist') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/registration.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.registration') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/venue-setup.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.venue-setup') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/work-during-comp.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.essential.work-during-comp') %>
    <% end %>
  </div>
  <p><%= t('full_organizer_guidelines.recommended.title') %></p>
  <div class="list-group">
    <%= link_to "/edudoc/organizer-guidelines/staff.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.recommended.staff') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/emails.pdf"", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.recommended.emails') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/running-systems.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.recommended.running-systems') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/new-competitors.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.recommended.new-competitors') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/enhancing-experience.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.recommended.enhancing-experience') %>
    <% end %>
    <%= link_to "/edudoc/organizer-guidelines/reflection.pdf", class: "list-group-item" do %>
      <%= ui_icon("file alt") %>
      <%= t('full_organizer_guidelines.recommended.reflection') %>
    <% end %>
  </div>
  
  <%
    def translate_with_structure(key)
      data_english = t(key, locale: :en)
      data_localized = t(key)

      render_item(data_english.deep_merge(data_localized))
    end

    def render_items(items)
      items.map { |item| content_tag(:li, render_item(item)) }.xss_aware_join
    end

    def render_item(item)
      return item.html_safe unless item.is_a? Hash

      "".html_safe.tap do |result|
        item.each do |key, content|
          key = key.to_s
          if key.start_with?("olist")
            result << content_tag(:ol, render_items(content.values))
          elsif key.start_with?("alist")
            result << content_tag(:ol, render_items(content.values), type: "a")
          elsif key.start_with?("list")
            result << content_tag(:ul, render_items(content.values))
          elsif key.start_with?("title")
            result << content_tag(:h4, content)
          else
            result << render_item(content)
          end
        end
      end
    end
  %>

  <%= translate_with_structure("organizer_guidelines") %>
</div>
