<% provide(:title, t("organizer_guidelines.title")) %>
<div class="container">
  <h1><%= yield(:title)  %></h1>
  <% guidelines_in_english = t("organizer_guidelines", locale: :en) %>
  <% localized_guidelines = t("organizer_guidelines") %>
  <% guidelines_in_english.deep_merge(localized_guidelines).each do |key, paragraph| %>
    <% next if key == :title %>
    <% paragraph.each do |item, content| %>
      <% if item.to_s.start_with?("olist") %>
        <ol>
          <% content.each do |_, elem| %>
            <li><%= raw(elem) %></li>
          <% end %>
        </ol>
      <% elsif item.to_s.start_with?("list") %>
        <ul>
          <% content.each do |_, elem| %>
            <li><%= raw(elem) %></li>
          <% end %>
        </ul>
      <% elsif item.to_s.start_with?("title") %>
        <h4><%= content %></h4>
      <% else %>
        <%= raw(content) %><br/>
      <% end %>
    <% end %>
  <% end %>

</div>
