<% provide(:title, t('regional_organizations.title')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('regional_organizations.content') %></p>

  <% organizations_info = [
       {
         country: "Africa",
         name: "African Cubing Association",
         url: "http://www.africancubing.org",
         logo: "aca.jpg",
       },
       {
         country: "Australia",
         name: "Speedcubing Australia",
         url: "http://www.speedcubing.com.au",
         logo: "Cube_FA_RGB_pos.png",
       },
       {
         country: "Brazil",
         name: "Associação Brasileira de Cubo Mágico",
         url: "http://abcubomagico.com.br",
         logo: "abcm.png",
       },
       {
         country: "Canada",
         name: "Canadian Cubing",
         url: "http://www.canadiancubing.com",
         logo: "canada_cubing.jpg",
       },
       {
         country: "China",
         name: "Cubing China",
         url: "https://cubingchina.com",
         logo: "cubing_china.png",
       },
       {
         country: "Denmark",
         name: "Dansk Speedcubing Forening",
         url: "http://speedcubing.dk",
       },
       {
         country: "Estonia",
         name: "Eesti Kuubik",
         url: "http://www.estonianopen.eu/eng/kontakt.php",
         logo: "estonian_open.png",
       },
       {
         country: "France",
         name: "Association Française de Speedcubing",
         url: "http://www.speedcubingfrance.org",
         logo: "france.svg",
       },
       {
         country: "Hong Kong",
         name: "Hong Kong Rubik's Cube Union",
         url: "http://hkrcu.net",
         logo: "hong-kong.png",
       },
       {
         country: "Indonesia",
         name: "Nusantara Speedcubing Association",
         url: "https://www.facebook.com/groups/61748791004/",
         logo: "nsa.jpg",
       },
       {
         country: "Italy",
         name: "Cubing Italy",
         url: "http://www.cubingitaly.org",
         logo: "cubing_italy.png",
       },
       {
         country: "Japan",
         name: "Japan Rubik's Cube Association",
         url: "http://jrca.cc/main.html",
         logo: "jrca.jpg",
       },
       {
         country: "Korea",
         name: "Korea Cube Culture United",
         url: "http://kccu.co.kr/xe/",
         logo: "korea.png",
       },
       {
         country: "New Zealand",
         name: "Speedcubing New Zealand",
         url: "http://www.speedcubing.nz",
       },
       {
         country: "Norway",
         name: "Norges kubeforbund",
         url: "http://www.kubing.no",
       },
       {
         country: "Paraguay",
         name: "Club de SpeedCubing Paraguay",
         url: "http://www.pol.una.py/csc/",
         logo: "paraguay.png",
       },
       {
         country: "Philippines",
         name: "Philippine Cube Association",
         url: "http://philippinecubersassociation.weebly.com",
         logo: "philippines.jpg",
       },
       {
         country: "Poland",
         name: "Polish Speedcubing Federation",
         url: "http://www.kostkarubika.org",
         logo: "pss.jpg",
       },
       {
         country: "Romania",
         name: "Asociaţia Română de Speedcubing",
         url: "http://www.speedcubing.ro",
         logo: "romania.png",
       },
       {
         country: "Russia",
         name: "Speedcubing.ru",
         url: "http://www.speedcubing.ru",
         logo: "speedcubing.ru.png",
       },
       {
         country: "Spain",
         name: "Asociación Española del cubo de Rubik",
         url: "http://www.asociacionrubik.es",
         logo: "spain.png",
       },
       {
         country: "Slovenia",
         name: "Rubik klub Slovenija",
         url: "http://www.rubik.si",
         logo: "slovenia.png",
       },
       {
         country: "Switzerland",
         name: "Swisscubing",
         url: "https://swisscubing.ch",
         logo: "swisscubing.png",
       },
       {
         country: "Tunisia",
         name: "Tunisia Cubing",
         url: "http://tunisiancubing.net",
         logo: "tunisia_cubing.png",
       },
       {
         country: "Turkey",
         name: "CubingTR",
         url: "http://www.cubingtr.com",
         logo: "cubingtr.png",
       },
       {
         country: "Ukraine",
         name: "Cubing Ukraine",
         url: "http://cubing.com.ua",
         logo: "ukraine.png",
       },
       {
         country: "United Kingdom",
         name: "UK Cube Association",
         url: "http://ukca.org",
         logo: "ukcalogo.jpg",
       },
       {
         country: "United States",
         name: "Cubing USA",
         url: "http://www.cubingusa.com",
         logo: "cubing_usa.svg",
       },
  ] %>

  <div class="organizations-list">
    <% organizations_info.each do |organization_info| %>
      <div class="organization-box">
        <%= link_to organization_info[:url], target: "_blank", class: "hide-new-window-icon" do %>
          <% if organization_info[:logo] %>
            <%= image_tag "organizations/#{organization_info[:logo]}" %>
          <% end %>
          <div class="organization-info <% if organization_info[:logo] %>hide-until-hover<% end %>">
            <div class="country">
              <%= organization_info[:country] %>
            </div>
            <div class="name">
              <%= organization_info[:name] %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2><%= t('regional_organizations.how_to.title') %></h2>
  <p><%= t('regional_organizations.how_to.description') %></p>

  <h3><%= t('regional_organizations.requirements.title') %></h3>
  <ol>
    <% # We want to iterate through the *English* entries: so that if the translation doesn't have it, it will fall back to English. %>
    <% t('regional_organizations.requirements.list', locale: :en).each do |key, en_value| %>
      <li><%= t("regional_organizations.requirements.list.#{key}") %></li>
    <% end %>
  </ol>

  <h3><%= t('regional_organizations.application_instructions.title') %></h3>
  <p><%= t('regional_organizations.application_instructions.description') %></p>
  <ol>
    <% # We want to iterate through the *English* entries: so that if the translation doesn't have it, it will fall back to English. %>
    <% t('regional_organizations.application_instructions.list', locale: :en).each do |key, en_value| %>
      <li><%= t("regional_organizations.application_instructions.list.#{key}") %></li>
    <% end %>
  </ol>
</div>
