<% provide(:title, t('speedcubing_history.title')) %>

<div class="ui container" id="speedcubing-history">
  <h1 class="ui header">
    <%= t('speedcubing_history.title') %>
  </h1>

  <p>
    The Rubik’s Cube is a twisty puzzle invented by Ernő Rubik in the spring of 1974, becoming commercially available towards the end of 1977, gradually gaining popularity towards the end of the decade. The cubing community back then was relatively unknown as this was a time when email services and the internet were still in their early stages. The earliest archived cubing exchanges can be traced to July 1980 when the MIT Cube Lovers mailing list was set up, on which early solving methods and puzzle theory were main topics of interest.<sup>1</sup>
  </p>

  <div class="image-container">
    <img class="ui big image" src=<%= asset_url("speedcubing_history/mit_email.jpg") %> />
    <div class="image-description">
      Screenshot of the first message in the MIT Cube Lovers archive.
    </div>
  </div>

  <p>
    Throughout this period, media coverage of the puzzle grew to include books, newsletters, and even a TV show. Cubing tournaments then began to appear in different regions, becoming a platform where cube enthusiasts could display their speedsolving abilities. This eventually led to the organization of the World Rubik’s Cube Championship in 1982 (WC1982), making it the very first major competition. In line with this, a well known means of promoting cubing within the community was via the Cubic Circular quarterly newsletter created by mathematician and puzzle enthusiast David Singmaster. Besides reporting results from various competitions, including WC1982, the newsletter also discussed puzzle theory and shared cubing-related stories.<sup>2</sup>
  </p>

  <div class="image-container">
    <img class="ui medium image" src=<%= asset_url("speedcubing_history/cubic_circular.jpg") %> />
    <div class="image-description">
      All issues of David Singmaster’s Cubic Circular.
    </div>
  </div>

  <p>
    Unfortunately, competitions came to a halt after 1983 as the cube craze subsided despite occasional puzzle releases. This so-called ‘dark age’ lasted until the mid-1990s, when the internet started becoming a regular part of households, marking a new age of communication. From 1996 onwards, the rise of personalized websites became an accessible platform for cubers to provide all sorts of cubing resources and tutorials. This, alongside the launch of the Rubik’s Games CD-ROM game in 1999, sparked a revival in the cubing scene among many puzzle enthusiasts. In June 2000, Chris Hardwick created the Yahoo! Speedsolving Rubik’s Cube Group, an online forum where cubers could engage in discussion and compare times. A month after, Ron van Bruchem launched speedcubing.com, an online hub that displayed unofficial records, rankings, notable cubing news, and other media at the time.<sup>3</sup>
  </p>

  <p>
    In 2001, plans to organise a World Championship in New York were underway but it unfortunately had to be called off due to safety concerns at the time. In 2003, Ron managed to get in touch with Dan Gosbee to organize a speedcubing World Championship in Toronto, Canada. The team managed to secure sponsors and get extensive media coverage for the event. With 89 competitors in total alongside a team of competition staff, the World Rubik’s Games Championship 2003 (WC2003) took place and was a major success, marking an incredible milestone since WC1982.<sup>4</sup> Ron went on to organize Dutch Open 2003, getting in touch with other European cubers with plans to organize competitions in other regions as well as a Continental Championship in 2004. The second half of 2003 was also when Tyson Mao entered the cubing scene and got in contact with Shotaro Makisumi to discuss the idea of hosting cubing events in California. Eventually, the first US competitions, Caltech Winter 2004 and Caltech Spring 2004 became a reality.
  </p>

  <div class="image-container">
    <img class="ui large image" src=<%= asset_url("speedcubing_history/ron_wc2003.jpg") %> />
    <div class="image-description">
      Ron van Bruchem at WC2003.
    </div>
  </div>

  <p>
    With a growing interest in physical competitions, discussions began on the Yahoo! Speedsolving Group about the idea of a speedcubing committee to better oversee competitions and consistently track records. In August 2004, the first version of the WCA regulations was  released and the World Cube Association (WCA) was formed with Tyson and Ron as its co-founders. The initial WCA website was created by Ron while the WCA database was created shortly after by Stefan Pochmann with the help of Clément Gallet and Josef Jelínek. Over time under the guidance and training of early WCA Board Members, more Delegates were recruited to officiate competitions and guide other passionate cubers from the organizational aspect. The regulations that govern official competitions were in place to standardize all results and records, making this a monumental point in speedcubing.
  </p>

  <div class="image-container">
    <img class="ui huge image" src=<%= asset_url("speedcubing_history/tyson_mao_forum_message.jpg") %> />
    <div class="image-description">
      Screenshot of an archived forum message sent by Tyson Mao in early discussions, dated 26th April 2004.
    </div>
  </div>

  <p>
    The WCA logo was the result of a design contest in January 2005, where Justin Eastman was credited with the winning design. In July 2005, the first official WCA competition in Asia was held in Kyoto, Japan. In 2006, Patrick Kelly launched the SpeedSolving Forums which soon overtook the Yahoo Speedsolving Group to become the most active platform for English-speaking speedcubers.<sup>5</sup> The competitive nature of speedcubing continued its spread, reaching South America, Oceania and Africa in 2007, 2009 and 2014 respectively. The addition of WCA Delegates and Staff was essential in maintaining the growing demand for competitions, making it more accessible for more competitors throughout the years that followed.
  </p>

  <p>
    Since WC2003, the speedcubing community has decided to switch between World Championships and Continental Championships every year, giving opportunities to different countries across the globe to bid for championships they hope to host. These major competitions have become a highlight that many cubers look forward to with excitement alongside regular competitions. To adapt to the constant growth, the WCA has also been through many structural changes with the addition of more teams and committees, each with their own roles important in running the association. Even so, the WCA remains a fully volunteer-led organization with Staff from all walks of life, coming together in the spirit of contributing to the speedcubing community.
  </p>

  <p>
    Technological advancements from the mid-2000s to the late 2010s have been a big part of improving the quality of competitions and creating more connections between speedcubers across the globe. From improved speedcubing hardware to the rise of social media and live streaming technology, all these have allowed the cubing scene to thrive with records still being broken and competitions being more accessible than ever. Since October 2018, the WCA has been officially recognized as a non-profit organization, adding further legitimacy and status. A WCA Forum was also launched in April 2020 as a communication platform for the community to voice their thoughts and suggestions. As of the time of writing, the WCA has over 140,000 registered cubers from 143 countries having competed in almost 7,000 competitions, with the cubing community still going strong!
  </p>

  <blockquote>
    <p>
      It’s amazing to see that the WCA is recognized as the governing body for speedcubing and it started out of this idea that there should be a way to recognize official results.
    </p>
    <footer>
      Bob Burton, WCA Executive Director 2020
    </footer>
  </blockquote>

  <h3 class="ui header">
    References
  </h3>

  <ol class="ui list">
    <li>
      <a href="http://www.math.rwth-aachen.de/~Martin.Schoenert/Cube-Lovers/Index_by_Date.html">
        Cube Lovers: Index by Date
      </a>
    </li>
    <li>
      <a href="https://www.jaapsch.net/puzzles/cubic.htm">
        Cubic Circular magazine
      </a>
    </li>
    <li>
      <a href="http://www.speedcubing.com/">
        speedcubing.com
      </a>
    </li>
    <li>
      <a href="https://www.worldcubeassociation.org/competitions/WC2003">
        worldcubeassociation.org/competitions/WC2003
      </a>
    </li>
    <li>
      <a href="https://www.speedsolving.com/forums/">
        speedsolving.com/forums
      </a>
    </li>
  </ol>
</div>
