<% provide(:title, 'WCA Teams and Committees') %>

<div class="container">
  <h1>WCA Teams and Committees</h1>

  <p><%= t("about.structure.committees") %></p>

  <h3>WCA Officers</h3>
  <p>The officers of the WCA handle tasks relating to the non-profit status of the WCA. These officers are elected by the WCA Board. The Executive Director is the Chief Executive Officer of the WCA, the Chair presides over all Board meetings, the Secretary maintains the organization\'s documents, and the Treasurer manages financial matters of the WCA.</p>
  <br />
  <% @officers.each do |wca_id, position| %>
    <% user = (Person.find_by wca_id: wca_id).user %>
    <div class="badge team-member-badge officer-badge">
        <%= render "shared/user_avatar", user: user %>
        <div class="team-member-name"><%= user.name %>
          <br />
          <span class="team-leader-subtext"><%= position %></span>
        </div>
      </div>
  <% end %>

  <% Team.all_official.each do |team| %>
    <h3><%= team.name %> <%= team != Team.board ? "(" + team.acronym + ")" : "" %> <span class="badge team-email"><%= mail_to team.email %></span></h3>
    <p><%= t("about.structure.#{team.friendly_id}.description") %></p>
    <br />

    <% team.current_members.includes(:user).order(team_leader: :desc).order("users.name asc").each do |tm| %>
      <div class="badge team-member-badge <%= tm.team_leader ? "team-leader-badge" : "" %>">
        <%= render "shared/user_avatar", user: tm.user %>
        <div class="team-member-name"><%= tm.user.name %>
          <% if tm.team_leader %>
            <br />
            <span class="team-leader-subtext">Leader</span>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
