<% provide(:title, t("about.structure.teams_committees_councils")) %>

<div class="container">
  <h1><%= t("about.structure.teams_committees_councils") %></h1>

  <p><%= t("about.structure.committees") %></p>

  <h3 id="officers"><%= t("about.structure.officers.name") %></h3>
  <p><%= t("about.structure.officers.description") %></p>
  <br />

  <div class="officer-container">
    <% @officers.each do |user| %>
      <div class="badge team-member-badge officer-badge">
        <%= render "shared/user_avatar", user: user %>
        <%= format_team_member_content(user) do %>
          <%= subtext_for_officer(user) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% ([Team.board] + Team.all_official + Team.all_councils).each do |team| %>
    <h3 id="<%= team.acronym %>"><%= team.name %> <%= team != Team.board ? "(" + team.acronym + ")" : "" %> <span class="badge team-email"><%= mail_to team.email %></span></h3>
    <p><%= t("about.structure.#{team.friendly_id}.description") %></p>
    <br />

    <% team.current_members.includes(:user).order(team_leader: :desc).order(team_senior_member: :desc).order("users.name asc").each do |tm| %>
      <div class="badge team-member-badge <%= badge_for_member(tm) %>">
        <%= render "shared/user_avatar", user: tm.user %>
        <%= format_team_member_content(tm.user) do %>
          <%= subtext_for_member(tm) %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
