<% provide(:title, t('workbook_assistant.title')) %>

<style>
  img.wa-howto-image {
    display: block;
    margin: auto;
    box-shadow: 5px 5px 2px #888888;
  }
</style>

<div class="container">
  <h1><%= yield(:title) %></h1>
  <div class="text-center">
    <a href="/files/wca-workbook-assistant-2.3.jar"><%= t('workbook_assistant.download') %></a><br/><br/>
    <span><%= t('workbook_assistant.last_update') %>: April 7, 2015</span><br/>
    (<%= link_to t('workbook_assistant.version_history'), wca_workbook_assistant_versions_path %>)
  </div>
  <br/>
  <h2><%= t('workbook_assistant.header') %></h2>
  <br/>
  <h3><%= t('workbook_assistant.step1.title') %></h3>
  <p><%= raw t('workbook_assistant.step1.content') %></p>
  <%= image_tag "WA/open-workbook.gif", class: "wa-howto-image" %>

  <h3><%= t('workbook_assistant.step2.title') %></h3>
  <p><%= raw t('workbook_assistant.step2.content') %></p>
  <%= image_tag "WA/add-scrambles.gif", class: "wa-howto-image" %>
  <p><%= t('workbook_assistant.step2.content2') %></p>
  <%= image_tag "WA/scrambles-added.gif", class: "wa-howto-image" %>

  <h3><%= t('workbook_assistant.step3.title') %></h3>

  <p><%= raw t('workbook_assistant.step3.content') %></p>
  <p><%= raw t('workbook_assistant.step3.content2') %></p>
  <%= image_tag "WA/match-scrambles.gif", class: "wa-howto-image" %>
  <p><%= raw t('workbook_assistant.step3.content3') %></p>
  <%= image_tag "WA/edit-groups.gif", class: "wa-howto-image" %>
  <%= raw t('workbook_assistant.step3.content4') %>
  <%= image_tag "WA/extra-group.gif", class: "wa-howto-image" %>
  <%= raw t('workbook_assistant.step3.content5') %>
  <%= image_tag "WA/group-moved.gif", class: "wa-howto-image" %>

  <h3><%= t('workbook_assistant.step4.title') %></h3>
  <p><%= raw t('workbook_assistant.step4.content') %></p>
  <%= image_tag "WA/validation-errors.gif", class: "wa-howto-image" %>

  <p><%= raw t('workbook_assistant.step4.content2') %></p>
  <%= image_tag "WA/validation-errors-detail.gif", class: "wa-howto-image" %>

  <p><%= raw t('workbook_assistant.step4.content3') %></p>
  <%= image_tag "WA/refresh-workbook.gif", class: "wa-howto-image" %>

  <h3><%= t('workbook_assistant.step5.title') %></h3>
  <p><%= raw t('workbook_assistant.step5.content') %></p>
  <%= image_tag "WA/select-competition-ID-button.gif", class: "wa-howto-image" %>

  <p><%= raw t('workbook_assistant.step5.content2') %></p>
  <%= image_tag "WA/select-competition-ID-dialog.gif", class: "wa-howto-image" %>

  <p><%= raw t('workbook_assistant.step5.content3') %></p>
  <%= image_tag "WA/select-competition-ID-filter.gif", class: "wa-howto-image" %>

  <%= raw t('workbook_assistant.step5.content4') %>
  <%= image_tag "WA/select-competition-ID-show-all.gif", class: "wa-howto-image" %>

  <h3><%= t('workbook_assistant.step6.title') %></h3>
  <p><%= raw t('workbook_assistant.step6.content') %></p>
  <%= image_tag "WA/export-JSON.gif", class: "wa-howto-image" %>

  <h3><%= t('workbook_assistant.step7.title') %></h3>
  <p><%= raw t('workbook_assistant.step7.content') %></p>
</div>
