<% provide(:title, t('media_and_instagram.page_title')) %>

<div class="container">

  <h2><%= t 'media_and_instagram.general_media_submission.title' %></h2>
  <p><%= t 'media_and_instagram.general_media_submission.body_html' %></p>

  <h2><%= t 'media_and_instagram.instagram_submission.title' %></h2>
  <p><%= t 'media_and_instagram.instagram_submission.paragraph1_html' %></p>
  <p><%= t 'media_and_instagram.instagram_submission.paragraph2' %></p>
  <ul>
    <li><%= t 'media_and_instagram.instagram_submission.photo_quality' %></li>
    <li><%= t 'media_and_instagram.instagram_submission.photo_interest' %></li>
    <li><%= t 'media_and_instagram.instagram_submission.wca_related' %></li>
  </ul>
  <a class="btn btn-primary btn" href="https://docs.google.com/forms/d/1bS5K_Ou0W0e7x_x6XKsS5n80kE1TVfKSakcAU33_cJc" role="button"><%= t 'media_and_instagram.instagram_submission.submit_instagram_content' %></a>

  <h2><%= t 'media_and_instagram.instagram_hosting.title' %></h2>
  <p><%= t 'media_and_instagram.instagram_hosting.paragraph1_html' %></p>
  <p><%= t 'media_and_instagram.instagram_hosting.paragraph2' %> <p>
  <p><%= t 'media_and_instagram.instagram_hosting.paragraph3' %></p>

  <ul>
    <li><%= t 'media_and_instagram.instagram_hosting.short_intro' %></li>
    <li><%= t 'media_and_instagram.instagram_hosting.venue_feel' %></li>
    <li><%= t 'media_and_instagram.instagram_hosting.people_solving' %></li>
    <li><%= t 'media_and_instagram.instagram_hosting.mini_interviews' %></li>
    <li><%= t 'media_and_instagram.instagram_hosting.pictures_too' %></li>
  </ul>

  <p><%= t 'media_and_instagram.instagram_hosting.paragraph4' %></p>
  <a class="btn btn-primary btn" href="https://docs.google.com/forms/d/11zbKPnhZI70pl2_NCrTGMgZ_CmvLTiquuP5TIm_P_mI" role="button"><%= t 'media_and_instagram.instagram_hosting.apply_to_host' %></a>

  <h2><%= t 'media_and_instagram.other_suggestions.title' %></h2>
  <p><%= t 'media_and_instagram.other_suggestions.body_html' %></p>

</div>
