<% provide(:title, t("organizer_guidelines.title")) %>
<div class="container">
  <h1><%= yield(:title)  %></h1>

  <p><%= t('full_organizer_guidelines.description') %></p>
  <p><%= t('full_organizer_guidelines.disclaimer_html') %></p>

  <p><%= t('full_organizer_guidelines.essential.description') %></p>
  <div class="list-group">
    <% %w(finding-venue orga-team-delegate budget schedule checklist registration venue-setup work-during-comp).each do |doc| %>
      <%= link_to "https://documents.worldcubeassociation.org/edudoc/organizer-guidelines/#{doc}.pdf", class: "list-group-item" do %>
        <%= ui_icon("file alt") %>
        <%= t("full_organizer_guidelines.essential.#{doc}") %>
      <% end %>
    <% end %>
  </div>

  <p><%= t('full_organizer_guidelines.recommended.title') %></p>
  <div class="list-group">
    <% %w(staff emails running-systems new-competitors enhancing-experience reflection).each do |doc| %>
      <%= link_to "https://documents.worldcubeassociation.org/edudoc/organizer-guidelines/#{doc}.pdf", class: "list-group-item" do %>
        <%= ui_icon("file alt") %>
        <%= t("full_organizer_guidelines.recommended.#{doc}") %>
      <% end %>
    <% end %>
  </div>

  <%
    def translate_with_structure(key)
      data_english = t(key, locale: :en)
      data_localized = t(key)

      render_item(data_english.deep_merge(data_localized))
    end

    def render_items(items)
      items.map { |item| content_tag(:li, render_item(item)) }.xss_aware_join
    end

    def render_item(item)
      return item.html_safe unless item.is_a? Hash

      "".html_safe.tap do |result|
        item.each do |key, content|
          key = key.to_s
          if key.start_with?("olist")
            result << content_tag(:ol, render_items(content.values))
          elsif key.start_with?("alist")
            result << content_tag(:ol, render_items(content.values), type: "a")
          elsif key.start_with?("list")
            result << content_tag(:ul, render_items(content.values))
          elsif key.start_with?("title")
            result << content_tag(:h4, content)
          else
            result << render_item(content)
          end
        end
      end
    end
  %>

  <%= translate_with_structure("organizer_guidelines") %>
</div>
