<% provide(:title, t('.title')) %>

<div class="container">
  <h1 class="text-center"><%= yield(:title) %></h1>
  <% real_user = User.find(@user.id) %>
  <% if real_user.person %>
    <%= t '.already_have_html', wca_id: wca_id_link(real_user.wca_id) %>
  <% elsif real_user.unconfirmed_person && real_user.delegate_to_handle_wca_id_claim %>
    <%= t '.already_claimed_html',
          wca_id: wca_id_link(real_user.unconfirmed_wca_id),
          delegate: mail_to(real_user.delegate_to_handle_wca_id_claim.email,
                           real_user.delegate_to_handle_wca_id_claim.name,
                           target: "_blank") %>
  <% else %>
    <p>
      <%= t '.info_competed_before' %>
    </p>
    <p>
      <%= t '.info_never_competed_html', comp:link_to(t('.competition'), competitions_path) %>
    </p>

    <%= simple_form_for @user do |f| %>
      <% @user.claiming_wca_id = true %>
      <%= f.hidden_field :claiming_wca_id %>

      <%= render "claim_wca_id_selector", f: f %>
      <%= f.button :submit, t('.submit_value'), id: "claim-wca-id-button", class: "btn-primary" %>
    <% end %>
  <% end %>
</div>
