<% provide(:title, @user.name) %>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Enter your current password to confirm changes.
    </div>
    <div class="panel-body">
      <%= simple_form_for @user do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <% current_user.editable_fields_of_user(@user).each do |field| %>
          <% if params["user"].include?(field.to_s) %>
            <%= f.hidden_field field %>
          <% end %>
        <% end %>
        <%= f.input :current_password, autofocus: true %>

        <%= f.submit 'Confirm', class: "btn btn-primary center-block" %>
      <% end %>
    </div>
  </div>
</div>
