<% provide(:title, @user.name) %>

<div class="container">
  <h1><%= yield(:title) %> (<%= mail_to @user.email %>)</h1>

  <%= simple_form_for @user, html: { class: 'form-horizontal' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.input :name, disabled: !current_user.editable_other_user_fields.include?(:name) %>
    <%= f.input :wca_id, as: :wca_id, disabled: !current_user.editable_other_user_fields.include?(:wca_id) %>
    <% UsersController.WCA_ROLES.each do |role| %>
      <%= f.input role, disabled: !current_user.editable_other_user_fields.include?(role) %>
    <% end %>
    <%= f.input :delegate_status, collection: User.delegate_statuses.keys, label_method: lambda { |k| k.titleize }, disabled: !current_user.editable_other_user_fields.include?(:senior_delegate_id) %>
    <%= f.association :senior_delegate, disabled: !current_user.editable_other_user_fields.include?(:senior_delegate_id) %>
    <%= f.input :region, disabled: !current_user.editable_other_user_fields.include?(:region) %>
    <%= f.submit 'Save', class: "btn btn-primary" %>
  <% end %>
</div>
