<% provide(:title, @user.name) %>

<div class="container">
  <h1 class="text-center"><%= yield(:title) %> (<%= mail_to @user.email %>)</h1>
  <% unless @user.confirmed_at %>
    <%= alert :warning, t('.unconfirmed_email', email: @user.email) %>
  <% end %>
  <% if @user.unconfirmed_wca_id.present? %>
    <% mail_to_delegate = mail_to(@user.delegate_to_handle_wca_id_claim.email, @user.delegate_to_handle_wca_id_claim.name, target: "_blank") %>
    <% link_id = wca_id_link(@user.unconfirmed_wca_id) %>
    <% message = @user.confirmed_at ? '.pending_claim_confirmation_html' : '.pending_claim_mail_confirmation_html' %>
    <% # i18n-tasks-use t('.pending_claim_confirmation_html') #<- useful because the previous line tricks i18n-tasks %>
    <% # i18n-tasks-use t('.pending_claim_mail_confirmation_html') %>
    <%= alert :warning, t(message, delegate: mail_to_delegate, wca_id: link_id) %>
  <% end %>
  <% if @user.unconfirmed_email %>
    <%= alert :warning, t('.pending_mail_confirmation', email: @user.unconfirmed_email) %>
  <% end %>
  <% if @user.pending_avatar? %>
    <%= alert :warning do %>
      <%= t '.pending_avatar_confirmation' %>
      <%= link_to users_pending_avatar_thumbnail_edit_path(@user) do %>
        <%= render "shared/user_avatar", user: @user, show_pending: true, title: t('.edit_thumbnail'), break_cache: true %>
      <% end %>
      <% if current_user.can_admin_results? %>
        <%= link_to t('.manage_pending'), admin_avatars_path %>
      <% end %>
    <% end %>
  <% end %>
  <% if @user.dummy_account? %>
    <%= alert :warning do %>
      This account is a dummy account. It serves as a placeholder because the competitor
      uploaded a profile picture before the website supported WCA accounts. This
      acount will be automatically deleted when another user is assigned WCA
      id <%= @user.wca_id %>.
      See <%= link_to "this commit", "https://github.com/thewca/worldcubeassociation.org/commit/32624f95b2c9e68967f8680ffa3ed7aefccd5319", target: "_blank" %> for more details.
    <% end %>
  <% end %>
  <% if @user.cannot_register_for_competition_reasons.length > 0 %>
    <%= alert :warning do %>
      <%= t '.please_fix_profile' %>
      <ul>
        <% @user.cannot_register_for_competition_reasons.each do |reason| %>
          <li><%= reason %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <% if current_user.cannot_edit_data_reason_html(@user) %>
    <%= alert :warning, current_user.cannot_edit_data_reason_html(@user) %>
  <% end %>

  <% editable_fields = current_user.editable_fields_of_user(@user) %>

  <ul class="nav nav-tabs nav-justified">
    <li><a href="#general" data-toggle="tab"><%= t '.general' %></a></li>
    <% if @user == current_user %>
      <li><a href="#email" data-toggle="tab"><%= t '.email' %></a></li>
      <li><a href="#preferences" data-toggle="tab"><%= t '.preferences' %></a></li>
      <li><a href="#password" data-toggle="tab"><%= t '.password' %></a></li>
    <% end %>
    <% if current_user.can_change_users_avatar?(@user) %>
      <li><a href="#avatar" data-toggle="tab">Avatar</a></li>
    <% end %>
  </ul>

  <div class="tab-content" id="edit-user-tabs">
    <div class="tab-pane" id="general">
      <%= simple_form_for @user, html: { class: 'are-you-sure' } do |f| %>
        <%= hidden_field_tag "section", "general" %>

        <%= f.input :name, disabled: !editable_fields.include?(:name) %>
        <%= f.input :dob, as: :date_picker, disabled: !editable_fields.include?(:dob) %>
        <%= f.input :gender, disabled: !editable_fields.include?(:gender) %>
        <%= f.input :country_iso2, collection: Country.all_sorted_by(I18n.locale, real: true), value_method: lambda { |c| c.iso2 }, label_method: lambda { |c| c.name }, disabled: !editable_fields.include?(:country_iso2) %>

        <% if current_user.can_view_all_users? %>
          <div class="row" id="wca_id">
            <div class="col-xs-6">
              <% if @user.unconfirmed_wca_id.present? %>
                <div class="form-group wca_id optional user_unconfirmed_wca_id">
                  <label class="wca_id optional control-label" for="user_unconfirmed_wca_id">
                    <%= t 'activerecord.attributes.user.unconfirmed_wca_id' %>
                  </label>
                  <div class="input-group">
                    <%= f.input_field :unconfirmed_wca_id, as: :wca_id, disabled: !editable_fields.include?(:unconfirmed_wca_id), class: "form-control" %>
                    <span class="input-group-addon">
                      <a href="#" id="unconfirmed-wca-id-profile" target="_blank">
                        <%= t '.profile' %>
                      </a>
                    </span>
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default" id="approve-wca-id">
                        <%= t '.approve' %>
                      </button>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-xs-6">
              <%= f.input :wca_id, as: :wca_id, disabled: !editable_fields.include?(:wca_id) %>
            </div>
          </div>
        <% else %>
          <p>
            <% if @user.wca_id.blank? %>
              <%= t '.have_no_wca_id_html', here: link_to(t('common.here'), profile_claim_wca_id_path) %>
            <% else %>
              <%= t '.have_wca_id_html', link_id: wca_id_link(@user.wca_id) %>
            <% end %>
          </p>
        <% end %>

        <% if current_user.can_view_all_users? %>
          <%= f.input :delegate_status, disabled: !editable_fields.include?(:senior_delegate_id) %>
          <%= f.association :senior_delegate, disabled: !editable_fields.include?(:senior_delegate_id) %>
          <%= f.input :region, disabled: !editable_fields.include?(:region) %>

          <% if @user.any_kind_of_delegate? %>
            <h3>Additional delegate information</h3>
            <%= f.input :location_description, disabled: !editable_fields.include?(:location_description) %>
            <%= f.input :phone_number, disabled: !editable_fields.include?(:phone_number) %>
            <%= f.input :notes, as: :text, disabled: !editable_fields.include?(:notes) %>
          <% end %>
        <% end %>

        <% unless @user.current_teams.empty? %>
          <div class="form-group">
            <label><%= t '.member_of' %></label>
            <% @user.current_teams.each do |team| %>
              <%= link_to team.name, edit_team_path(team), class: "btn btn-xs btn-info #{"disabled" unless current_user.can_edit_team?(team)}" %>
            <% end %>
          </div>
        <% end %>

        <% if current_user.can_view_all_users? && @user.staff? %>
          <%= f.input :receive_delegate_reports, disabled: !editable_fields.include?(:receive_delegate_reports) %>
        <% end %>

        <%= f.submit t('.save'), class: "btn btn-primary" %>
      <% end %>
    </div>

    <% if @user == current_user %>
      <div class="tab-pane active" id="email">
        <%= simple_form_for @user do |f| %>
          <%= hidden_field_tag "section", "email" %>
          <%= f.input :email, disabled: !editable_fields.include?(:email), hint: t('.confirm_new_email') %>

          <%= f.input :current_password %>

          <%= f.submit t('.save'), class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="tab-pane active" id="preferences">
        <%= simple_form_for @user do |f| %>
          <%= hidden_field_tag "section", "preferences" %>

          <%= render "shared/associated_events_picker", form_builder: f, disabled: !editable_fields.include?(:preferred_events),
                                                        events_association_name: :user_preferred_events, selected_events: @user.preferred_events %>
          <span class="help-block"><%= t '.preferred_events_desc' %></span>

          <%= label_tag :notifications, t('layouts.navigation.notifications') %>
          <div id="notifications">
            <%= f.input :results_notifications_enabled %>
          </div>

          <%= f.submit t('.save'), class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="tab-pane active" id="password">
        <%= simple_form_for @user do |f| %>
          <%= hidden_field_tag "section", "password" %>
          <%= f.input :password, autocomplete: "off", class: "form-control" %>
          <%= f.input :password_confirmation, class: "form-control"  %>

          <%= f.input :current_password %>

          <%= f.submit t('.save'), class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>

    <% if current_user.can_change_users_avatar?(@user) %>
      <div class="tab-pane active" id="avatar">
        <div class="row">
          <div class="col-sm-6">
            <%= simple_form_for @user, html: { multipart: true, class: 'are-you-sure', id: "upload-avatar-form" } do |f| %>
              <%= hidden_field_tag "section", "avatar" %>
              <div class="well">
                <h3><%=t '.guidelines' %></h3>
                <ul>
                  <% t('.avatar_guidelines').values.each do |guideline| %>
                    <li><%= guideline %></li>
                  <% end %>
                </ul>
                <% if @user.any_kind_of_delegate? %>
                  <br /><strong><%= t('.delegate_avatar_guidelines.title') %></strong>
                  <ul>
                    <% t('.delegate_avatar_guidelines.paragraphs').values.each do |guideline| %>
                      <li><%= guideline %></li>
                    <% end %>
                  </ul>
                <% end %>
              </div>
              <%= f.input :pending_avatar, as: :file, disabled: !editable_fields.include?(:pending_avatar) %>
              <%= f.hidden_field :pending_avatar_cache %>
              <div>
                <input type="checkbox" name="guidelines-confirmation" id="guidelines-confirmation" data-alert="<%= t '.confirm_guidelines' %>">
                <label for="guidelines-confirmation"><%= t '.guidelines_confirmation' %></label>
              </div>
              <%= f.submit t('.save'), class: "btn btn-primary" %>
              <% if @user.avatar? && editable_fields.include?(:remove_avatar)  %>
                <%= link_to t('.remove_avatar'), user_path(@user, user: { remove_avatar: true }), method: :patch,
                                                 class: "btn btn-danger", data: { confirm: t('.remove_avatar_confirm') } %>
              <% end %>
            <% end %>
          </div>
          <div class="col-sm-6 text-center">
            <div class="image-preview-container" data-input-selector="#user_pending_avatar" data-max-height="400" data-orientation="true">
              <%= image_tag @user.avatar.url, class: "img-responsive center-block", id: "avatar-img" %>
            </div>
            <% if @user.avatar? %>
              <h4><%= t('.your_thumbnail') %></h4>
              <%= link_to users_avatar_thumbnail_edit_path(@user) do %>
                <%= render "shared/user_avatar", user: @user, title: "Click to edit thumbnail", break_cache: true %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <script>
    $('a[href="#<%=j params[:section] %>"]').tab('show');
  </script>
</div>
