<% pending_avatar = defined? @pending_avatar %>
<% avatar_sym = pending_avatar ? :pending_avatar : :avatar %>
<%
  def crop_sym(type)
    :"saved_#{((defined? @pending_avatar) ? :pending_avatar : :avatar)}_crop_#{type}"
  end
%>
<% provide(:title, (pending_avatar ? "Pending " : "") + "Avatar Thumbnail | #{@user.name}") %>

<div class="container">
  <%= alert :warning do %>
    <%= t '.cdn_explanation' %>
    <br>
    <b><%= t '.cdn_warning' %></b>
  <% end %>
  <%= simple_form_for @user, html: { class: 'are-you-sure' } do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.cropbox avatar_sym %>
        <div id="cropbox-data" data-crop-x="<%= @user.send(crop_sym :x) %>" data-crop-y="<%= @user.send(crop_sym :y) %>" data-crop-w="<%= @user.send(crop_sym :w) %>" data-crop-h="<%= @user.send(crop_sym :h) %>"></div>
      </div>
      <div class="col-md-6">
        <h2><%= t '.current' %></h2>
        <%= react_component("UserAvatar", {
          avatar: pending_avatar ? @user.pending_avatar : @user.avatar,
          size: "large",
          breakCache: true
        }) %>
        <h2><%= t '.new' %></h2>
        <%= f.previewbox avatar_sym %>

        <br>
        <% if EnvConfig.WCA_LIVE_SITE? %>
          <%= f.submit t('.save'), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
