<% provide(:title, @user.name) %>

<div class="container">
  <h1 class="text-center"><%= yield(:title) %> (<%= mail_to @user.email %>)</h1>
  <%= simple_form_for @user, html: { multipart: true, class: 'are-you-sure' } do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% unless @user.confirmed_at %>
      <div class="alert alert-warning">
        This account's email address (<%= @user.email %>) is not confirmed.
      </div>
    <% end %>
    <% if @user.unconfirmed_email %>
      <div class="alert alert-warning">
        This account is pending confirmation of new email address <%= @user.unconfirmed_email %>.
      </div>
    <% end %>
    <% if @user.pending_avatar? %>
      <div class="alert alert-warning">
        This account is pending confirmation of a new avatar.
        <%= link_to users_pending_avatar_thumbnail_edit_path(@user) do %>
          <%= render "shared/user_avatar", user: @user, show_pending: true, title: "Click to edit thumbnail", break_cache: true %>
        <% end %>
        <% if current_user.can_admin_results? %>
          <%= link_to "Manage pending avatars", admin_avatars_path %>
        <% end %>
      </div>
    <% end %>
    <% if @user.dummy_account? %>
      <div class="alert alert-warning">
        This account is a dummy account. It serves as a placeholder because the competitor
        uploaded a profile picture before the website supported WCA accounts. This
        acount will be automatically deleted when another user is assigned WCA
        id <%= @user.wca_id %>.
        See <%= link_to "this commit", "https://github.com/cubing/worldcubeassociation.org/commit/32624f95b2c9e68967f8680ffa3ed7aefccd5319", target: "_blank" %> for more details.
      </div>
    <% end %>
    <% if @user.cannot_register_for_competition_reasons.length > 0 %>
      <div class="alert alert-warning">
        In order to register for competitions, you need to fix the following problems:
        <ul>
          <% @user.cannot_register_for_competition_reasons.each do |reason| %>
            <li><%= reason %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if current_user.cannot_edit_data_reason_html(@user) %>
      <div class="alert alert-warning">
        <%= current_user.cannot_edit_data_reason_html(@user) %>
      </div>
    <% end %>

    <% editable_fields = current_user.editable_fields_of_user(@user) %>

    <% if @user.wca_id.present? %>
      <div class="row">
        <% if @user.avatar? %>
          <div class="col-sm-6">
            <%= image_tag @user.avatar.url, class: "img-responsive center-block" %>
          </div>
        <% end %>
        <div class="col-sm-6">
          <% if @user.avatar? %>
            <%= f.input :remove_avatar, as: :boolean, disabled: !editable_fields.include?(:remove_avatar) %>
            <p>Your account thumbnail:</p>
            <%= link_to users_avatar_thumbnail_edit_path(@user) do %>
              <%= render "shared/user_avatar", user: @user, title: "Click to edit thumbnail", break_cache: true %>
            <% end %>
          <% end %>

          <%= f.input :pending_avatar, as: :file, disabled: !editable_fields.include?(:pending_avatar), label: "Upload new avatar", hint: "After uploading a new avatar, you will have to wait for the Board to approve it." %>
          <%= f.hidden_field :pending_avatar_cache %>
        </div>
      </div>
    <% end %>

    <%= f.input :name, disabled: !editable_fields.include?(:name) %>
    <%= f.input :dob, as: :date_picker, disabled: !editable_fields.include?(:dob), hint: "Enter your date of birth in the format YYYY-MM-DD" %>
    <%= f.input :gender, collection: User::ALLOWABLE_GENDERS, label_method: lambda { |g| { m: "Male", f: "Female", o: "Other" }[g] }, disabled: !editable_fields.include?(:gender) %>
    <%= f.input :country_iso2, collection: Country.all.map(&:iso2), label_method: lambda { |iso2| Country.find_by_iso2(iso2).name }, disabled: !editable_fields.include?(:country_iso2) %>

    <% if @user == current_user %>
      <%= f.input :email, disabled: !editable_fields.include?(:email), hint: "Changing your email will require confirming the new email." %>
      <div class="panel panel-default">
        <% show_change_password = @user.errors.messages.has_key?(:password_confirmation) || @user.errors.messages.has_key?(:password) %>
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#collapse-change-password" class="<% unless show_change_password %>collapsed<% end %>">
              <span>Change password</span>
              <span class="collapse-indicator"></span>
            </a>
          </h3>
        </div>

        <div id="collapse-change-password" class="panel-collapse collapse <% if show_change_password %>in<% end %>">
          <div class="panel-body">
            <div class="form-group">
              <%= f.label :password, "New password" %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
              <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password" %><br />
              <%= f.password_field :password_confirmation, class: "form-control"  %>
            </div>
          </div>
        </div>
      </div>

      <p>
        <% if @user.wca_id.blank? %>
          You do not have a WCA ID assigned yet. If you have competed before,
          request to have your WCA ID connected to your account
          <%= link_to "here", profile_claim_wca_id_path %>!
        <% else %>
          Your WCA ID is <%= render "shared/wca_id", wca_id: @user.wca_id -%>.
        <% end %>
      </p>
    <% end %>

    <% if current_user.can_edit_users? %>
      <div class="row" id="wca_id">
        <div class="col-xs-6">
          <% if @user.unconfirmed_wca_id.present? %>
            <div class="form-group wca_id optional user_unconfirmed_wca_id">
              <label class="wca_id optional control-label" for="user_unconfirmed_wca_id">
                Unconfirmed WCA ID
              </label>
              <div class="input-group">
                <%= f.input_field :unconfirmed_wca_id, as: :wca_id, disabled: !editable_fields.include?(:unconfirmed_wca_id), class: "form-control" %>
                <span class="input-group-addon">
                  <a href="#" id="unconfirmed-wca-id-profile" target="_blank">
                    Profile
                  </a>
                </span>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default" id="approve-wca-id">
                    Approve
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6">
          <%= f.input :wca_id, as: :wca_id, disabled: !editable_fields.include?(:wca_id) %>
        </div>
      </div>

      <% UsersController.WCA_TEAMS.each do |role| %>
        <%= f.input role, disabled: !editable_fields.include?(role) %>
        <% leader_role = :"#{role}_leader" %>
        <%= f.input leader_role, disabled: !editable_fields.include?(leader_role) %>
      <% end %>
      <%= f.input :delegate_status, collection: User.delegate_statuses.keys, label_method: lambda { |k| k.titleize }, disabled: !editable_fields.include?(:senior_delegate_id) %>
      <%= f.association :senior_delegate, disabled: !editable_fields.include?(:senior_delegate_id) %>
      <%= f.input :region, disabled: !editable_fields.include?(:region) %>
    <% end %>

    <%= f.submit 'Save', class: "btn btn-primary" %>
  <% end %>
</div>
