<% provide(:title, 'Competitions') %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <%= form_tag admin_comps_path, method: :get, remote: true, class: "competition-select form-inline", id: "competition-query-form" do %>
    <%= render 'admin_index_form' %>
  <% end %>

  <div id="search-results" class="row competitions-<%= params[:display] == "list" ? "list" : "map" %>">
    <div id="loading">
      <div class="spinner-wrapper"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
    </div>
    <div id="competitions-list">
      <%= render 'admin_index_competitions_list', competitions: @competitions %>
    </div>
  </div>
</div>
