<% provide(:title, 'Translations Status') %>
<div class="container">
  <h1><%= yield(:title) %></h1>
  <%= link_to "Update Translation", translations_edit_path, class: "btn btn-info update-translation" %>
  <% (I18n.available_locales - [:en]).sort.each do |locale| %>
    <%
      bad_keys_by_type = @bad_i18n_keys[locale]
      bad_keys_for_locale = bad_keys_by_type.values.flatten(1)
      class_heading = bad_keys_for_locale.empty? ? "" : "heading-as-link"
      class_panel = bad_keys_for_locale.empty? ? "success" : "warning"
    %>

    <div class="panel panel-<%= class_panel %>">
      <div class="panel-heading <%= class_heading %>" data-toggle="collapse" data-target="#collapse-<%= locale %>">
        <h3 class="panel-title">
          <span class="label label-<%= class_panel %>">i18n</span>
          <span class="label label-<%= class_panel %>"><%= locale %></span>
          <span class="badge"><%= bad_keys_for_locale.size %></span>
          <%= bad_keys_for_locale.empty? ? "All good" : "Needs attention" %>
          <% unless bad_keys_for_locale.empty? %>
            <span class="collapse-indicator"></span>
          <% end %>
        </h3>
      </div>

      <% unless bad_keys_for_locale.empty? %>
        <div id="collapse-<%= locale.to_s %>" class="panel-collapse collapse panel-body row">
          <% bad_keys_by_type.each do |type_of_bad_keys, bad_keys| %>
            <div class="col-md-6">
              <div class="panel panel-<%= bad_keys.empty? ? "success" : "danger" %>">
                <div class="panel-heading panel-title text-center">
                  <%= type_of_bad_keys.capitalize %>
                  <span class="badge"><%= bad_keys.size %></span>
                </div>
                <% unless bad_keys.empty? %>
                  <div class="panel-body">
                    <ul class="list-group row locale-list-keys">
                      <% bad_keys.each do |key| %>
                        <div class="col-md-6">
                          <li class="list-group-item"><%= key.join(" > ") %></li>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
