<% provide(:title, 'Approve Avatars') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <div class="well">
      <h3>Guidelines</h3>
      <ul>
        <% t('users.edit.avatar_guidelines').values.each do |guideline| %>
          <li><%= guideline %></li>
        <% end %>
      </ul>
      <h4>Additional guidelines for Staff Members</h4>
      <ul>
        <% t('users.edit.staff_avatar_guidelines.paragraphs').values.each do |guideline| %>
          <li><%= guideline %></li>
        <% end %>
      </ul>
    </div>

    <%= form_tag admin_avatars_path, class: 'are-you-sure' do |f| %>
      <% @users.each do |user| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to user.name, edit_user_path(user) %>
              <% if user.staff? %>
                (<strong>Staff Members</strong> - see guidelines above)
              <% end %>
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">

              <div class="col-sm-6">
                <div class="pending-avatar">
                  <%= link_to image_tag(user.pending_avatar.url), user.pending_avatar.url, target: "_blank", class: "hide-new-window-icon" %>
                  <div class="btn-group actions" data-toggle="buttons">
                    <% name = "avatars[#{user.wca_id}][action]" %>
                    <label class="btn btn-default btn-success">
                      <%= radio_button_tag(name, "approve") %> Approve
                    </label>
                    <label class="btn btn-default btn-danger">
                      <%= radio_button_tag(name, "reject") %> Reject
                    </label>
                    <label class="btn btn-default active">
                      <%= radio_button_tag(name, "defer", checked: true) %> Defer
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-sm-6">
                <% carousel_avatars = user.old_avatar_files.reverse.map { |file| file.public_url } %>
                <% if user.avatar? %>
                  <% carousel_avatars.unshift(user.avatar.url) %>
                <% end %>
                <% if carousel_avatars.empty? %>
                  <h3>This user has no previous pictures.</h3>
                <% else %>
                  <div id="carousel-<%= user.id %>-old-avatars" class="carousel slide old-avatars" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <% (0...carousel_avatars.length).each do |i| %>
                        <li data-target="#carousel-<%= user.id %>-old-avatars" data-slide-to="<%= i %>" class="<%= i == 0 ? "active" : "" %>"></li>
                      <% end %>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <% carousel_avatars.each_with_index do |url, i| %>
                        <div class="item <%= i == 0 ? "active" : "" %>">
                          <%= image_tag(url) %>
                          <div class="carousel-caption">
                            <% if user.avatar? && i == 0 %>
                              Current profile picture for
                            <% else %>
                              Old profile picture for
                            <% end %>
                            <%= user.name %>
                          </div>
                        </div>
                      <% end %>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-<%= user.id %>-old-avatars" role="button" data-slide="prev">
                      <span class="chevron left icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-<%= user.id %>-old-avatars" role="button" data-slide="next">
                      <span class="chevron right icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                <% end %>
              </div>
              <div class="col-sm-6">
                <%= text_area_tag "avatars[#{user.wca_id}][rejection_reason]", "",
                                  class: "form-control rejection-reason",
                                  placeholder: "Please provide the reason for rejection" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <% if @users.length > 0 %>
        <%= submit_tag "Submit", class: "btn btn-primary" %>
      <% else %>
        <p>No new pictures have been submitted.</p>
      <% end %>
    <% end %>
  <% end %>
</div>
