<div class="container">
  <% @nodes.each do |node| %>
    <div class="panel <%= node.sticky? ? "panel-primary" : "panel-default" %>">
      <div class="panel-heading">
        <h3 class="panel-title"><%= node.title %></h3>
      </div>
      <div class="panel-body">
        <div>
          <em>Submitted by <%= node.author.name %> on <%= local_time(Time.at(node.created)) %></em>
        </div>
        <%= node.field_data_body.body_value.html_safe %>
      </div>
    </div>
  <% end %>
  <%= will_paginate @nodes %>
</div>
