<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t '.sign_up' %></h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'are-you-sure no-submit-on-enter' }) do |f| %>
        <%= f.input :name, required: true %>
        <%= f.input :dob, as: :date_picker, required: true %>
        <%= f.input :gender, required: true %>
        <%= f.input :country_iso2, collection: Country.all_sorted_by(I18n.locale, real: true), value_method: lambda { |c| c.iso2 }, label_method: lambda { |c| c.name }, required: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :should_claim_wca_id %>
        <%= recaptcha_tags %>
        <br>
        <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
