<% already_has_submitted_result ||= false %>
<% action ||= competition_upload_results_json_path %>
<% upload_json ||= UploadJson.new %>
<% panel_style = class_for_panel(error: upload_json.errors.any?,
                                 warning: !already_has_submitted_result) %>

<div class="panel panel-<%= panel_style %>">
  <div class="panel-heading heading-as-link <%= "collapsed" if upload_json.errors.empty? && already_has_submitted_result %>" data-toggle="collapse" data-target="#collapse-submit-json">
    <h3 class="panel-title">
      Upload a JSON file
      <span class="collapse-indicator"></span>
    </h3>
  </div>
  <div id="collapse-submit-json" class="panel-body collapse <%= "in" unless already_has_submitted_result && upload_json.errors.empty? %>">
    <% if already_has_submitted_result %>
      <div class="alert alert-info">Some results are already there, uploading a new (valid) JSON will override all of them!</div>
    <% else %>
      <p>Please start by selecting a JSON file to import.</p>
    <% end %>
    <%= simple_form_for upload_json, url: action do |f| %>
      <%= f.input :results_file, as: :file, input_html: { accept: 'application/json' }, label: "Results JSON file" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
