<tfoot>
  <tr>
    <td colspan="4">
      <%= render "registration_info_people", registrations: registrations %>
    </td>
    <% country_count = registrations.map(&:countryId).uniq.length %>
    <td><%= country_count %> <%= "country".pluralize(country_count) %></td>
    <td></td>
    <% @competition.events.each do |event| %>
      <td><%= registrations.select { |r| r.events.include?(event) }.length %></td>
    <% end %>
    <td></td>
    <td>
      <% if @competition.guests_enabled? %>
        <%= registrations.sum :guests %>
      <% end %>
    </td>
    <td colspan="3"></td>
  </tr>
</tfoot>
