<% add_to_packs("auto_numeric") %>
<%= horizontal_simple_form_for :payment, url: "", html: { id: :form_payment } do |f| %>
  <%= f.input :fees_paid, label: t('registrations.payment_form.labels.fees_paid'), hint: false do %>
    <p class="form-control-static"><%= format_money(@registration.paid_entry_fees) %></p>
  <% end %>
  <%= f.input :fees_remaining, label: t('registrations.payment_form.labels.fees_remaining'), hint: false do %>
    <p class="form-control-static"><%= format_money(@registration.outstanding_entry_fees) %></p>
  <% end %>

  <% if @competition.enable_donations %>
    <%= f.input :show_donation, as: :boolean, label: t('registrations.payment_form.labels.show_donation'), hint: false, input_html: { id: 'toggle-show-donation' } %>
    <%= f.input :donation, as: :money_amount, currency: @competition.currency_code, value: "0", label: t('registrations.payment_form.labels.donation'), hint: t('registrations.payment_form.hints.donation'), wrapper_html: { id: 'donation-amount-wrapper' } %>
  <% end %>

  <%= f.input :ajax_error, label: t('registrations.payment_form.labels.ajax_error'), hint: false, wrapper_html: { id: 'wca-error-wrapper', class: 'text-danger' } do %>
    <p class="form-control-static" id="wca-ajax-error"></p>
  <% end %>

  <div id="payment-elements">
    <%= f.input :payment_information, label: t("registrations.payment_form.labels.payment_information"), hint: false, wrapper_html: { id: 'payment-element-wrapper' } do %>
      <div id="payment-element"></div>
    <% end %>
    <%= f.input :payment_error, label: t('registrations.payment_form.labels.payment_service_error'), hint: false, wrapper_html: { id: 'payment-error-wrapper', class: 'text-danger' } do %>
      <p class="form-control-static" id="payment-service-error"></p>
    <% end %>
  </div>

  <hr/>
  <%= f.input :subtotal, label: t('registrations.payment_form.labels.subtotal'), hint: false do %>
    <p class="form-control-static" id="money-subtotal"></p>
  <% end %>
  <%= f.input :payment_button, label: t('registrations.payment_form.labels.payment_button'), hint: t("registrations.payment_form.hints.payment_button") do %>
    <%= f.button :button, t('registrations.payment_form.button_text'), id: 'payment-button', class: 'btn btn-primary' %>
  <% end %>

  <%= render "stripe_payment_form" if @competition.stripe_connected? %>
  <%= render "paypal_payment_form" if @competition.paypal_connected? %>

<% end %>
