<% add_to_packs("auto_numeric") %>
<%= horizontal_simple_form_for :payment, url: "", html: { id: :form_payment } do |f| %>
  <%= render 'entry_fee', f: f, label: t('registrations.payment_form.labels.fees_paid'), money_amount: @registration.paid_entry_fees %>
  <%= render 'entry_fee', f: f, label: t('registrations.payment_form.labels.fees_remaining'), money_amount: @registration.outstanding_entry_fees %>
  <% if @competition.enable_donations %>
    <%= f.input :show_donation, as: :boolean, label: t('registrations.payment_form.labels.show_donation'), hint: false, input_html: { id: 'toggle-show-donation' } %>
    <%= f.input :donation, as: :money_amount, currency: @registration.outstanding_entry_fees.currency.iso_code, value: "0", label: t('registrations.payment_form.labels.donation'), hint: t('registrations.payment_form.hints.donation'), wrapper_html: { id: 'donation-amount-wrapper' } %>
  <% end %>
  <%= f.input :ajax_error, label: t('registrations.payment_form.labels.ajax_error'), hint: false, wrapper_html: { id: 'wca-error-wrapper', class: 'text-danger' } do %>
    <p class="form-control-static" id="wca-ajax-error"></p>
  <% end %>
  <div id="stripe-elements">
    <%= f.input :payment_information, label: t("registrations.payment_form.labels.payment_information"), hint: false, wrapper_html: { id: 'payment-element-wrapper' } do %>
      <div id="payment-element"></div>
    <% end %>
    <%= f.input :stripe_error, label: t('registrations.payment_form.labels.stripe_error'), hint: false, wrapper_html: { id: 'stripe-error-wrapper', class: 'text-danger' } do %>
      <p class="form-control-static" id="stripe-sdk-error"></p>
    <% end %>
    <%= f.input :payment_button, label: t('registrations.payment_form.labels.payment_button'), hint: t("registrations.payment_form.hints.payment_button") do %>
      <%= f.button :button, t('registrations.payment_form.button_text'), id: 'payment-button', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    // From https://stripe.com/docs/js/appendix/supported_locales
    var supported_locales = ['ar', 'bg', 'cs', 'da', 'de', 'el', 'en', 'en-GB', 'es', 'es-419', 'et', 'fi', 'fil', 'fr', 'fr-CA', 'he', 'hr', 'hu', 'id', 'it', 'ja', 'ko', 'lt', 'lv', 'ms', 'mt', 'nb', 'nl', 'pl', 'pt-BR', 'pt', 'ro', 'ru', 'sk', 'sl', 'sv', 'th', 'tr', 'vi', 'zh', 'zh-HK', 'zh-TW'];
    var wca_locale = '<%= I18n.locale %>';
    var stripe = Stripe('<%= EnvVars.STRIPE_PUBLISHABLE_KEY %>', {
      locale: supported_locales.includes(wca_locale) ? wca_locale : 'auto',
      stripeAccount: '<%= @competition.connected_stripe_account_id %>',
    });

    // deferred payment (show the PaymentElement without pre-loading a PaymentIntent)
    // as per https://stripe.com/docs/payments/accept-a-payment-deferred?type=payment
    var elements = stripe.elements({
      mode: 'payment',
      amount: <%= StripeTransaction.amount_to_stripe(@registration.outstanding_entry_fees.cents, @competition.currency_code) %>,
      currency: '<%= @competition.currency_code.downcase %>',
      appearance: { theme: 'flat' }
    });

    const paymentElement = elements.create("payment");
    paymentElement.mount("#payment-element");

    var $paymentButton = $('#payment-button');
    $paymentButton.on('click', function(e) {
      e.preventDefault();

      toggleSaving(true);
      createAndSubmitPaymentIntent();
    });

    var $ajaxErrorRow = $('#wca-error-wrapper');
    $ajaxErrorRow.hide();

    var $stripeErrorRow = $('#stripe-error-wrapper');
    $stripeErrorRow.hide();

    var $paymentElementRow = $('#payment-element-wrapper');
    $paymentElementRow.removeClass("has-error");

    var $donationFormRow = $('#donation-amount-wrapper');
    $donationFormRow.hide();

    var $donationToggle = $('#toggle-show-donation');

    // we use a custom RubyMoney input that works with JS auto_numeric
    // unfortunately, it doesn't support simple_form's usual input_html options
    // and I am too afraid to change it (at the risk of breaking other parts of the website)
    // so we resort to manually fetching the input and its backing money field
    var $donationAmountField = $('input[name="payment[donation]"]');
    var $donationInputField = $(`input[data-target="#${$donationAmountField.attr('id')}"]`);

    function toggleSaving(saving) {
      $paymentButton.prop("disabled", saving);
      $paymentButton.toggleClass("saving", saving);

      $donationInputField.prop("disabled", saving);
      $donationInputField.toggleClass("saving", saving);

      if (saving) {
        $ajaxErrorRow.hide();
        $stripeErrorRow.hide();

        $paymentElementRow.removeClass("has-error");
      }
    }

    async function createAndSubmitPaymentIntent() {
      var amount = getCurrentRubyAmount();

      if (isNaN(amount)) {
        alert('<%= t("registrations.payment_form.alerts.not_a_number") %>');
      } else {
        // Trigger form validation and wallet collection
        const { error } = await elements.submit();

        if (error) {
          handleStripeError(error);
        } else {
          // Fetches a payment intent and captures the client secret
          window.wca.cancelPendingAjaxAndAjax('load-payment-intent', {
            url: '<%= registration_payment_intent_path(@registration) %>',
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            data: JSON.stringify({ amount: amount }),
            success: submitPaymentIntent,
            error: handleAjaxError,
          });
        }
      }
    }

    async function submitPaymentIntent(data) {
      const { client_secret: clientSecret } = data;

      const { error } = await stripe.confirmPayment({
        elements,
        clientSecret,
        confirmParams: {
          return_url: '<%= registration_payment_completion_url(@registration, host: EnvVars.ROOT_URL) %>',
        }
      });

      if (error) {
        handleStripeError(error);
      }
    }

    async function handleAjaxError(errorData) {
      toggleSaving(false);

      var $ajaxErrorDiv = $('#wca-ajax-error');

      var requestId = errorData.getResponseHeader('X-Request-Id');
      $ajaxErrorDiv.text(`${errorData.statusText}: ${requestId}`);

      $ajaxErrorRow.show();
    }

    function handleStripeError(error) {
      toggleSaving(false);

      $paymentElementRow.addClass("has-error");

      var $stripeErrorDiv = $('#stripe-sdk-error');

      if (error.type === 'card_error' || error.type === 'validation_error') {
        $stripeErrorDiv.text(error.message);
      } else {
        $stripeErrorDiv.text('<%= t("registrations.payment_form.errors.stripe_failed") %>');
      }

      $stripeErrorRow.show();
    }

    function getCurrentRubyAmount() {
      var registration_fees_to_pay = parseInt('<%= @registration.outstanding_entry_fees.cents %>');

      if ($donationToggle.is(':checked')) {
        var donation = parseInt($donationAmountField.val() || 0);

        return registration_fees_to_pay + donation;
      }

      return registration_fees_to_pay;
    }

    $donationToggle.on('change', function() {
      $donationFormRow.slideToggle(this.checked);
    });

    $donationAmountField.on('change', function() {
      var amount = getCurrentRubyAmount();
      var currencyIso = '<%= @registration.outstanding_entry_fees.currency.iso_code %>';

      window.wca.cancelPendingAjaxAndAjax('refresh-stripe-amount', {
        url: '<%= registration_stripe_denomination_path %>',
        data: { amount: amount, currency_iso: currencyIso },
        success: function (data) {
          const { stripe_amount: stripeAmount } = data;

          elements.update({ amount: stripeAmount });
        },
        error: handleAjaxError,
      });
    });
  </script>
<% end %>
