<% disabled = !current_user.can_edit_registration?(@registration) %>
<% url = @registration.new_record? ? competition_registrations_path(@competition)
                                   : registration_path(@registration) %>
<%= horizontal_simple_form_for @registration, url: url, html: { class: 'are-you-sure no-submit-on-enter' } do |f| %>
  <%= render "shared/associated_events_picker", form_builder: f, disabled: disabled,
             events_association_name: :registration_competition_events,
             allowed_events: @competition.events,
             selected_events: @selected_events,
             disabled_events: @competition.ineligible_events(current_user),
             disabled_tooltip: t('registrations.not_qualified'),
             hint: notify_of_preferred_events(@registration) %>

  <% if @competition.guests_enabled? %>
    <%= f.input :guests, disabled: disabled %>
  <% end %>

  <%= f.input :comments, disabled: disabled, input_html: { class: "char-counter",  maxlength: 280 } %>

  <%# If the user has to pay fee here, this information will already be in the payment form %>
  <%# If there are no entry fees, no need to display this information %>
  <% unless @registration.show_payment_form? || !@competition.has_fees? %>
    <% fees_hint, hint_context = fees_hint_and_context(@registration) %>
    <% if @registration.entry_fee %>
      <%= f.input :entry_fees, label: t('registrations.payment_form.labels.entry_fees'), hint: fees_hint do %>
        <p class="form-control-static"><span class="<%= "text-#{hint_context} bg-#{hint_context}" %>"><%= format_money(@registration.entry_fee) %></span></p>
      <% end %>
    <% end %>
  <% end %>

  <% if @competition.part_of_competition_series? %>
    <%= alert :warning do %>
      <%= t('competitions.competition_info.part_of_a_series') %>
      <br>
      <%= t('competitions.competition_info.series_registration_warning_html') %>
    <% end %>
  <% end %>

  <% unless disabled %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <% if @registration.new_or_deleted? %>
          <%= f.submit t('registrations.register'), class: "btn btn-success" %>
        <% else %>
          <%= f.hidden_field :status, value: @registration.checked_status %>
          <% if current_user.can_delete_registration?(@registration) %>
            <%= link_to t('registrations.delete'), registration_path(@registration, user_is_deleting_theirself: true), method: :delete, class: "btn btn-danger", data: { confirm: t('registrations.delete_confirm'), toggle: "tooltip" }, title: t('registrations.delete_registration') %>
          <% end %>
          <%= f.submit t('registrations.update'), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
