<% provide(:title, I18n.t('registrations.list.title', comp: @competition.name)) %>

<%= render layout: 'nav' do %>

  <%= form_for @competition, url: competition_registrations_do_actions_for_selected_path(@competition), remote: true do |f| %>
    <% [:pending, :accepted, :deleted].each do |status| %>
      <% if :pending == status %>
        <h2><%= t 'registrations.list.waiting_list' %></h2>
      <% elsif :accepted == status %>
        <h2><%= t 'registrations.list.approved_registrations' %></h2>
      <% else %>
        <h2><%= t 'registrations.list.deleted_registrations' %></h2>
      <% end %>
      <% registrations = @competition.registrations.public_send(status).includes(:user, :events) %>
      <%= wca_table table_class: "registrations-table #{status}",
                    data: { toggle: "table", sort_name: "registration-date", select_item_name: "selected_registrations[]", click_to_select: "true" } do %>
        <thead>
          <tr>
            <th data-checkbox="true"></th>
            <th></th>
            <th class="wca-id" data-sortable="true"><%= t 'common.user.wca_id' %></th>
            <th class="name" data-sortable="true"><%= t 'activerecord.attributes.registration.name' %></th>
            <th class="countryId" data-sortable="true"><%= t 'common.user.citizen_of' %></th>
            <th class="birthday" data-sortable="true"><%= t 'activerecord.attributes.registration.birthday' %></th>
            <% @competition.events.each do |event| %>
              <th>
                <span title="<%= event.name %>"
                      class="cubing-icon event-<%= event.id %>"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body">
                </span>
              </th>
            <% end %>
            <th class="registration-date" data-sortable="true" data-field="registration-date"><%= t 'registrations.list.registered' %></th>
            <th class="guests"><%= t 'activerecord.attributes.registration.guests' %></th>
            <th class="comments"><%= t 'activerecord.attributes.registration.comments' %></th>
            <th></th>

            <!-- Extra column for .table-greedy-last-column -->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% registrations.each do |registration| %>
            <tr id="registration-<%= registration.id %>" class="registration-<%= registration.checked_status %>">
              <td></td>

              <td>
                <%= link_to t('registrations.list.edit'), edit_registration_path(registration) %>
              </td>

              <td class="wca-id">
                <% if registration.wca_id %>
                  <%= render "shared/wca_id", wca_id: registration.wca_id %>
                <% end %>
              </td>

              <td class="name"><%= registration.name %></td>
              <td class="countryId"><%= registration.country.name %></td>
              <td class="birthday"><%= registration.birthday %></td>
              <% @competition.events.each do |event| %>
                <td>
                  <% if registration.events.include?(event) %>
                    <span title="<%= event.name %>"
                          class="cubing-icon event-<%= event.id %>"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          data-container="body">
                    </span>
                  <% end %>
                </td>
              <% end %>
              <td>
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.created_at %>">
                  <%= registration.created_at.to_date %>
                </span>
              </td>
              <td class="guests">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.guests %>">
                  <%= registration.guests %>
                </span>
              </td>
              <td class="comments">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.comments %>">
                  <%= registration.comments %>
                </span>
              </td>
              <td>
                <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
                  <span class="glyphicon glyphicon-envelope"></span>
                <% end %>
              </td>

              <!-- Extra column for .table-greedy-last-column -->
              <td></td>
            </tr>
          <% end %>
        </tbody>

        <%= render "edit_registrations_table_footer", registrations: registrations %>
      <% end %>
    <% end %>

    <div id="registrations-actions" class="btn-group" role="group">
      <button type="submit" class="btn btn-info selected-registrations-actions" name="registrations_action" value="export-selected">
        <%= icon 'download', t('registrations.list.export_csv') %>
      </button>
      <a href="#" id="email-selected" target="_blank" class="btn btn-info selected-registrations-actions">
        <%= icon 'envelope', t('registrations.list.email') %>
      </a>
      <button type="submit" class="btn btn-success selected-pending-deleted-registrations-actions" name="registrations_action" value="accept-selected">
        <%= icon 'check', t('registrations.list.approve') %>
      </button>
      <button type="submit" class="btn btn-warning selected-approved-deleted-registrations-actions" name="registrations_action" value="reject-selected">
        <%= icon 'times', t('registrations.list.reject') %>
      </button>
      <button type="submit" class="btn btn-danger selected-pending-approved-registrations-actions" name="registrations_action" value="delete-selected">
        <%= icon 'trash', t('registrations.list.delete') %>
      </button>
    </div>
  <% end %>

<% end %>
