<% provide(:title, "Registrations for #{@competition.name}") %>

<%= render layout: 'nav' do %>

  <%= form_for @competition, url: competition_registrations_update_all_path(@competition) do |f| %>
    <% [:pending, :accepted].each do |status| %>
      <% if :pending == status %>
        <h2>Waiting list</h2>
      <% else %>
        <h2>Approved registrations</h2>
      <% end %>
      <% registrations = @competition.registrations.send(status) %>
      <%= wca_table table_class: "registrations-table", data: { toggle: "table", sort_name: "registration-date-#{status}"  , select_item_name: "selected_registrations[]", click_to_select: "true" } do %>
        <thead>
          <tr>
            <th data-checkbox="true"></th>
            <th></th>
            <th class="wca-id" data-sortable="true" data-field="wca-id-<%= status %>">WCA ID</th>
            <th class="name" data-sortable="true" data-field="name-<%= status %>">Name</th>
            <th class="countryId" data-sortable="true" data-field="countryId-<%= status %>">Citizen of</th>
            <th class="registration-date" data-sortable="true" data-field="registration-date-<%= status %>">Registrated</th>
            <th class="birthday" data-sortable="true" data-field="birthday-<%= status %>">Birthday</th>
            <% @competition.events.each do |event| %>
              <th>
                <span title="<%= event.name %>"
                      class="cubing-icon icon-<%= event.id %>"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body">
                </span>
              </th>
            <% end %>

            <th class="guests">Guests</th>
            <th class="comments">Comments</th>
            <th></th>

            <!-- Extra column for .table-greedy-last-column -->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% registrations.each do |registration| %>
            <tr id="registration-<%= registration.id %>" class="<%= registration.pending? ? "registration-pending" : "" %> <%= registration.accepted? ? "registration-accepted" : "" %>">
              <td></td>

              <td>
                <%= link_to "Edit", edit_registration_path(registration) %>
              </td>

              <td class="wca-id">
                <% if registration.wca_id %>
                  <%= render "shared/wca_id", wca_id: registration.wca_id %>
                <% end %>
              </td>

              <td class="name"><%= registration.name %></td>
              <td class="countryId"><%= registration.countryId %></td>
              <td>
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.created_at %>">
                  <%= registration.created_at.to_date %>
                </span>
              </td>
              <td class="birthday"><%= registration.birthday %></td>
              <% @competition.events.each do |event| %>
                <td>
                  <% if registration.events.include?(event) %>
                    <span title="<%= event.name %>"
                          class="cubing-icon icon-<%= event.id %>"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          data-container="body">
                    </span>
                  <% end %>
                </td>
              <% end %>
              <td class="guests">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.guests %> <%= registration.guests_old %>">
                  <%= registration.guests %>
                  <% #https://github.com/cubing/worldcubeassociation.org/issues/403 %>
                  <%= registration.guests_old %>
                </span>
              </td>
              <td class="comments">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.comments %>">
                  <%= registration.comments %>
                </span>
              </td>
              <td>
                <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
                  <span class="glyphicon glyphicon-envelope"></span>
                <% end %>
              </td>

              <!-- Extra column for .table-greedy-last-column -->
              <td></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <td colspan="4">
              <%= render "registration_info_people", registrations: registrations %>
            </td>
            <% country_count = registrations.map(&:countryId).uniq.length %>
            <td><%= country_count %> <%= "country".pluralize(country_count) %></td>
            <td></td>
            <% @competition.events.each do |event| %>
              <td><%= registrations.select { |r| r.events.include?(event) }.length %></td>
            <% end %>
            <td>
              <% if @competition.guests_enabled? %>
                <%= registrations.map(&:guests).reduce { |sum, guests| sum + guests } %>
              <% end %>
            </td>
            <td colspan="3"></td>
          </tr>
        </tfoot>
      <% end %>
    <% end %>

    <div id="registrations-actions" class="btn-group" role="group">
      <a href="<%= competition_edit_registrations_path(format: :csv) %>" class="btn btn-info">
        <span class="glyphicon glyphicon-floppy-save"></span>
        Export to CSV
      </a>
      <a href="#" id="email-selected" target="_blank" class="btn btn-info selected-registrations-actions">
        <span class="glyphicon glyphicon-envelope"></span>
        Email
      </a>
      <button type="submit" class="btn btn-success selected-pending-registrations-actions" name="registrations_action" value="accept-selected">
        <span class="glyphicon glyphicon-ok"></span>
        Approve
      </button>
      <button type="submit" class="btn btn-warning selected-approved-registrations-actions" name="registrations_action" value="reject-selected">
        <span class="glyphicon glyphicon-remove"></span>
        Reject
      </button>
      <button type="submit" class="btn btn-danger selected-registrations-actions" name="registrations_action" value="delete-selected">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      </button>
    </div>
  <% end %>

<% end %>
