<% provide(:title, "Registrations for #{@competition.name}") %>

<%= render layout: 'nav', locals: { fluid: true } do %>

  <%= form_for @competition, url: competition_registrations_update_all_path(@competition) do |f| %>
    <% [:pending, :accepted].each do |status| %>
      <% if :pending == status %>
        <h2>Waiting list</h2>
      <% else %>
        <h2>Approved registrations</h2>
      <% end %>
      <% registrations = @competition.registrations.send(status).order(created_at: :asc, id: :asc) %>
      <%= wca_selectable_table_for registrations, extra_table_class: "registrations-table" do |table| %>
        <% table.column :data => "Edit", link_url: lambda { |registration| edit_registration_path(registration) } %>
        <% table.column :data => "" do |registration| %>
          <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
            <span class="glyphicon glyphicon-envelope"></span>
          <% end %>
        <% end %>

        <% table.column :wca_id %>
        <% table.column :name %>
        <% table.column :countryId %>
        <% table.column :birthday %>
        <% table.column :guests do |registration| %>
          <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.guests %>">
            <%= registration.guests %>
          </span>
        <% end %>
        <% table.column :comments do |registration| %>
          <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.comments %>">
            <%= registration.comments %>
          </span>
        <% end %>
        <% @competition.events.each do |event| %>
          <% table.column event.id.to_s %>
        <% end %>
      <% end %>
    <% end %>

    <div id="registrations-actions" class="btn-group" role="group">
      <a href="<%= competition_edit_registrations_path(format: :csv) %>" class="btn btn-info">
        <span class="glyphicon glyphicon-floppy-save"></span>
        Export to CSV
      </a>
      <a href="#" id="email-selected" target="_blank" class="btn btn-info selected-registrations-actions">
        <span class="glyphicon glyphicon-envelope"></span>
        Email
      </a>
      <button type="submit" class="btn btn-success selected-pending-registrations-actions" name="registrations_action" value="accept-selected">
        <span class="glyphicon glyphicon-ok"></span>
        Approve
      </button>
      <button type="submit" class="btn btn-warning selected-approved-registrations-actions" name="registrations_action" value="reject-selected">
        <span class="glyphicon glyphicon-remove"></span>
        Reject
      </button>
      <button type="submit" class="btn btn-danger selected-registrations-actions" name="registrations_action" value="delete-selected">
        <span class="glyphicon glyphicon-trash"></span>
        Delete
      </button>
    </div>
  <% end %>

<% end %>
