<% provide(:title, I18n.t('registrations.list.title', comp: @competition.name)) %>

<%= render layout: 'nav' do %>
  <p>
    <% if @show_events %>
      <%= link_to competition_edit_registrations_path(@competition, show_events: "false", show_full_emails: @show_full_emails.to_s, show_birthdays: @show_birthdays.to_s), class: "btn btn-primary" do %>
        <%= ui_icon("minus") %> Hide Events
      <% end %>
    <% else %>
      <%= link_to competition_edit_registrations_path(@competition, show_events: "true", show_full_emails: @show_full_emails.to_s, show_birthdays: @show_birthdays.to_s), class: "btn btn-primary" do %>
        <%= ui_icon("plus") %> Show Events
      <% end %>
    <% end %>

    <% if @show_full_emails %>
      <%= link_to competition_edit_registrations_path(@competition, show_events: @show_events.to_s, show_full_emails: "false", show_birthdays: @show_birthdays.to_s), class: "btn btn-primary" do %>
        <%= ui_icon("minus") %> Hide Emails
      <% end %>
    <% else %>
      <%= link_to competition_edit_registrations_path(@competition, show_events: @show_events.to_s, show_full_emails: "true", show_birthdays: @show_birthdays.to_s), class: "btn btn-primary" do %>
        <%= ui_icon("plus") %> Show Emails
      <% end %>
    <% end %>

    <% if @show_birthdays %>
      <%= link_to competition_edit_registrations_path(@competition, show_events: @show_events.to_s, show_full_emails: @show_full_emails.to_s, show_birthdays: "false"), class: "btn btn-primary" do %>
        <%= ui_icon("minus") %> Hide Birthdays
      <% end %>
    <% else %>
      <%= link_to competition_edit_registrations_path(@competition, show_events: @show_events.to_s, show_full_emails: @show_full_emails.to_s, show_birthdays: "true"), class: "btn btn-primary" do %>
        <%= ui_icon("plus") %> Show Birthdays
      <% end %>
    <% end %>
  </p>

  <% if @competition.series %>
    <% format_description = Registration::SERIES_SIBLING_DISPLAY_STATUSES.map { |st| t("simple_form.options.registration.status.#{st}") }.join(" + ") %>
    <p class="text-right"><%= t 'registrations.list.series_registrations_hint_html', description: format_description %></p>
  <% end %>

  <%= form_for @competition, url: competition_registrations_do_actions_for_selected_path(@competition), remote: true do |f| %>
    <% [:pending, :accepted, :deleted].each do |status| %>
      <% if :pending == status %>
        <h2><%= t 'registrations.list.waiting_list' %></h2>
      <% elsif :accepted == status %>
        <h2><%= t 'registrations.list.approved_registrations' %></h2>
      <% else %>
        <h2><%= t 'registrations.list.deleted_registrations' %></h2>
      <% end %>
      <% registrations = @registrations.public_send(status) %>
      <%= wca_table table_class: "registrations-table #{status}",
                    data: { toggle: "table", sort_name: "registration-date", select_item_name: "selected_registrations[]", click_to_select: "true" } do %>
        <thead>
          <tr>
            <th data-checkbox="true"></th>
            <th></th>
            <th class="wca-id" data-sortable="true"><%= t 'common.user.wca_id' %></th>
            <th class="name" data-sortable="true"><%= t 'activerecord.attributes.registration.name' %></th>
            <th class="countryId" data-sortable="true"><%= t 'common.user.citizen_of' %></th>
            <% if @show_birthdays %>
              <th class="birthday" data-sortable="true"><%= t 'activerecord.attributes.registration.birthday' %></th>
            <% end %>
            <% if @show_events %>
              <% @competition.events.each do |event| %>
                <th>
                  <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "bottom", container: "body" }, title: event.name %>
                </th>
              <% end %>
            <% end %>
            <th class="registration-date" data-sortable="true" data-sorter="comparePaymentDate" data-field="registration-date">
              <%= @competition.using_stripe_payments? ? t('registrations.list.registered.with_stripe') : t('registrations.list.registered.without_stripe') %>
            </th>
            <% if @competition.series %>
              <th class="series"><%= t 'registrations.list.series_registrations' %></th>
            <% end %>
            <th class="events" data-sortable="true"><%= t 'registrations.list.n_events' %></th>
            <th class="guests"><%= t 'activerecord.attributes.registration.guests' %></th>
            <th class="comments"><%= t 'activerecord.attributes.registration.comments' %></th>
            <% if @competition.using_stripe_payments? %>
              <th class="paid"><%= t 'activerecord.attributes.registration.paid_entry_fees' %></th>
            <% end %>
            <th class="email"><%= t 'activerecord.attributes.registration.email' %></th>

            <!-- Extra column for .table-greedy-last-column -->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% registrations.each do |registration| %>
            <tr id="registration-<%= registration.id %>" class="registration-<%= registration.checked_status %>">
              <td></td>

              <td>
                <%= link_to t('registrations.list.edit'), edit_registration_path(registration) %>
              </td>

              <td class="wca-id">
                <%= wca_id_link registration.wca_id %>
              </td>

              <td class="name"><%= registration.name %></td>
              <td class="countryId"><%= registration.country.name %></td>
              <% if @show_birthdays %>
                <td class="birthday"><%= registration.birthday %></td>
              <% end %>
              <% if @show_events %>
                <% @competition.events.each do |event| %>
                  <td>
                    <% if registration.events.include?(event) %>
                      <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "bottom" }, title: event.name %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
              <td class="text-center">
                <% registered_date, date_tooltip = registration_date_and_tooltip(@competition, registration) %>
                <span data-toggle="tooltip" data-placement="left" title="<%= date_tooltip %>" data-paid-date="<%= registration.last_payment_date %>" data-registered-at="<%= registration.created_at %>">
                  <%= registered_date %>
                </span>
              </td>
              <td class="series"><%= registration.series_registration_info %></td>
              <td class="events"><%= registration.events.length %></td>
              <td class="guests">
                <%= registration.guests %>
              </td>
              <td class="comments">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.comments %>">
                  <%= registration.comments %>
                </span>
              </td>
              <% if @competition.using_stripe_payments? %>
                <td class="entry_fee">
                  <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.last_payment_date %>">
                    <%= format_money registration.paid_entry_fees %>
                  </span>
                </td>
              <% end %>
              <td>
              <% if @show_full_emails %>
                <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
                  <%= registration.email %>
                <% end %>
              <% else %>
                <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
                  <%= ui_icon("envelope") %>
                <% end %>
              <% end %>
              </td>

              <!-- Extra column for .table-greedy-last-column -->
              <td></td>
            </tr>
          <% end %>
        </tbody>

        <%= render "edit_registrations_table_footer", registrations: registrations %>
      <% end %>
    <% end %>

    <div id="registrations-actions" class="btn-group" role="group">
      <button type="submit" class="btn btn-info selected-registrations-actions" name="registrations_action" value="export-selected">
        <%= ui_icon 'download' %> <%= t('registrations.list.export_csv') %>
      </button>
      <a href="#" id="email-selected" target="_blank" class="btn btn-info selected-registrations-actions">
        <%= ui_icon 'envelope' %> <%= t('registrations.list.email') %>
      </a>
      <button type="submit" class="btn btn-success selected-pending-deleted-registrations-actions" name="registrations_action" value="accept-selected">
        <%= ui_icon 'check' %> <%= t('registrations.list.approve') %>
      </button>
      <button type="submit" class="btn btn-warning selected-approved-deleted-registrations-actions" name="registrations_action" value="reject-selected">
        <%= ui_icon 'times' %> <%= t('registrations.list.reject') %>
      </button>
      <button type="submit" class="btn btn-danger selected-pending-approved-registrations-actions" name="registrations_action" value="delete-selected">
        <%= ui_icon 'trash' %> <%= t('registrations.list.delete') %>
      </button>
    </div>
  <% end %>

<% end %>
