<% provide(:title, "Registrations for #{@competition.name}") %>

<%= render layout: 'nav' do %>

  <%= form_for @competition, url: competition_registrations_do_actions_for_selected_path(@competition), remote: true do |f| %>
    <% [:pending, :accepted].each do |status| %>
      <% if :pending == status %>
        <h2>Waiting list</h2>
      <% else %>
        <h2>Approved registrations</h2>
      <% end %>
      <% registrations = @competition.registrations.send(status) %>
      <%= wca_table table_class: "registrations-table #{status}",
                    data: { toggle: "table", sort_name: "registration-date", select_item_name: "selected_registrations[]", click_to_select: "true" } do %>
        <thead>
          <tr>
            <th data-checkbox="true"></th>
            <th></th>
            <th class="wca-id" data-sortable="true">WCA ID</th>
            <th class="name" data-sortable="true">Name</th>
            <th class="countryId" data-sortable="true">Citizen of</th>
            <th class="registration-date" data-sortable="true" data-field="registration-date">Registered</th>
            <th class="birthday" data-sortable="true">Birthday</th>
            <% @competition.events.each do |event| %>
              <th>
                <span title="<%= event.name %>"
                      class="cubing-icon icon-<%= event.id %>"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body">
                </span>
              </th>
            <% end %>

            <th class="guests">Guests</th>
            <th class="comments">Comments</th>
            <th></th>

            <!-- Extra column for .table-greedy-last-column -->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% registrations.each do |registration| %>
            <tr id="registration-<%= registration.id %>" class="<%= registration.pending? ? "registration-pending" : "" %> <%= registration.accepted? ? "registration-accepted" : "" %>">
              <td></td>

              <td>
                <%= link_to "Edit", edit_registration_path(registration) %>
              </td>

              <td class="wca-id">
                <% if registration.wca_id %>
                  <%= render "shared/wca_id", wca_id: registration.wca_id %>
                <% end %>
              </td>

              <td class="name"><%= registration.name %></td>
              <td class="countryId"><%= registration.countryId %></td>
              <td>
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.created_at %>">
                  <%= registration.created_at.to_date %>
                </span>
              </td>
              <td class="birthday"><%= registration.birthday %></td>
              <% @competition.events.each do |event| %>
                <td>
                  <% if registration.events.include?(event) %>
                    <span title="<%= event.name %>"
                          class="cubing-icon icon-<%= event.id %>"
                          data-toggle="tooltip"
                          data-placement="bottom"
                          data-container="body">
                    </span>
                  <% end %>
                </td>
              <% end %>
              <td class="guests">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.guests %> <%= registration.guests_old %>">
                  <%= registration.guests %>
                  <% #https://github.com/cubing/worldcubeassociation.org/issues/403 %>
                  <%= registration.guests_old %>
                </span>
              </td>
              <td class="comments">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.comments %>">
                  <%= registration.comments %>
                </span>
              </td>
              <td>
                <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
                  <span class="glyphicon glyphicon-envelope"></span>
                <% end %>
              </td>

              <!-- Extra column for .table-greedy-last-column -->
              <td></td>
            </tr>
          <% end %>
        </tbody>

        <%= render "edit_registrations_table_footer", registrations: registrations %>
      <% end %>
    <% end %>

    <div id="registrations-actions" class="btn-group" role="group">
      <button type="submit" class="btn btn-info selected-registrations-actions" name="registrations_action" value="export-selected">
        <%= icon 'download', 'Export to CSV' %>
      </button>
      <a href="#" id="email-selected" target="_blank" class="btn btn-info selected-registrations-actions">
        <%= icon 'envelope', 'Email' %>
      </a>
      <button type="submit" class="btn btn-success selected-pending-registrations-actions" name="registrations_action" value="accept-selected">
        <%= icon 'check', 'Approve' %>
      </button>
      <button type="submit" class="btn btn-warning selected-approved-registrations-actions" name="registrations_action" value="reject-selected">
        <%= icon 'times', 'Reject' %>
      </button>
      <button type="submit" class="btn btn-danger selected-registrations-actions" name="registrations_action" value="delete-selected">
        <%= icon 'trash', 'Delete' %>
      </button>
    </div>
  <% end %>

<% end %>
