<% provide(:title, I18n.t('registrations.list.title', comp: @competition.name)) %>

<%= render layout: 'nav' do %>
  <% if @show_events %>
    <%= link_to icon("minus", "Hide events"), competition_edit_registrations_path(@competition), class: "btn btn-primary" %>
  <% else %>
    <%= link_to icon("plus", "Show events"), competition_edit_registrations_path(@competition, show_events: "true"), class: "btn btn-primary" %>
  <% end %>

  <%= form_for @competition, url: competition_registrations_do_actions_for_selected_path(@competition), remote: true do |f| %>
    <% [:pending, :accepted, :deleted].each do |status| %>
      <% if :pending == status %>
        <h2><%= t 'registrations.list.waiting_list' %></h2>
      <% elsif :accepted == status %>
        <h2><%= t 'registrations.list.approved_registrations' %></h2>
      <% else %>
        <h2><%= t 'registrations.list.deleted_registrations' %></h2>
      <% end %>
      <% registrations = @registrations.public_send(status) %>
      <%= wca_table table_class: "registrations-table #{status}",
                    data: { toggle: "table", sort_name: "registration-date", select_item_name: "selected_registrations[]", click_to_select: "true" } do %>
        <thead>
          <tr>
            <th data-checkbox="true"></th>
            <th></th>
            <th class="wca-id" data-sortable="true"><%= t 'common.user.wca_id' %></th>
            <th class="name" data-sortable="true"><%= t 'activerecord.attributes.registration.name' %></th>
            <th class="countryId" data-sortable="true"><%= t 'common.user.citizen_of' %></th>
            <th class="birthday" data-sortable="true"><%= t 'activerecord.attributes.registration.birthday' %></th>
            <% if @show_events %>
              <% @competition.events.each do |event| %>
                <th>
                  <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "bottom", container: "body" }, title: event.name %>
                </th>
              <% end %>
            <% end %>
            <th class="registration-date" data-sortable="true" data-sorter="comparePaymentDate" data-field="registration-date">
              <%= @competition.using_stripe_payments? ? t('registrations.list.registered.with_stripe') : t('registrations.list.registered.without_stripe') %>
            </th>
            <th class="guests"><%= t 'activerecord.attributes.registration.guests' %></th>
            <th class="comments"><%= t 'activerecord.attributes.registration.comments' %></th>
            <th class="paid"><%= t 'activerecord.attributes.registration.paid_entry_fees' %></th>
            <th></th>

            <!-- Extra column for .table-greedy-last-column -->
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% registrations.each do |registration| %>
            <tr id="registration-<%= registration.id %>" class="registration-<%= registration.checked_status %>">
              <td></td>

              <td>
                <%= link_to t('registrations.list.edit'), edit_registration_path(registration) %>
              </td>

              <td class="wca-id">
                <%= wca_id_link registration.wca_id %>
              </td>

              <td class="name"><%= registration.name %></td>
              <td class="countryId"><%= registration.country.name %></td>
              <td class="birthday"><%= registration.birthday %></td>
              <% if @show_events %>
                <% @competition.events.each do |event| %>
                  <td>
                    <% if registration.events.include?(event) %>
                      <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "bottom" }, title: event.name %>
                    <% end %>
                  </td>
                <% end %>
              <% end %>
              <td class="text-center">
                <% registered_date, date_tooltip = registration_date_and_tooltip(@competition, registration) %>
                <span data-toggle="tooltip" data-placement="left" title="<%= date_tooltip %>" data-paid-date="<%= registration.last_payment_date %>" data-registered-at="<%= registration.created_at %>">
                  <%= registered_date %>
                </span>
              </td>
              <td class="guests">
                <%= registration.guests %>
              </td>
              <td class="comments">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.comments %>">
                  <%= registration.comments %>
                </span>
              </td>
              <td class="entry_fee">
                <span data-toggle="tooltip" data-placement="left" data-container="body" title="<%= registration.last_payment_date %>">
                  <%= humanized_money_with_symbol registration.paid_entry_fees %>
                </span>
              </td>
              <td>
                <%= mail_to registration.email, target: "_blank", class: "hide-new-window-icon" do %>
                  <span class="glyphicon glyphicon-envelope"></span>
                <% end %>
              </td>

              <!-- Extra column for .table-greedy-last-column -->
              <td></td>
            </tr>
          <% end %>
        </tbody>

        <%= render "edit_registrations_table_footer", registrations: registrations %>
      <% end %>
    <% end %>

    <div id="registrations-actions" class="btn-group" role="group">
      <button type="submit" class="btn btn-info selected-registrations-actions" name="registrations_action" value="export-selected">
        <%= icon 'download', t('registrations.list.export_csv') %>
      </button>
      <a href="#" id="email-selected" target="_blank" class="btn btn-info selected-registrations-actions">
        <%= icon 'envelope', t('registrations.list.email') %>
      </a>
      <button type="submit" class="btn btn-success selected-pending-deleted-registrations-actions" name="registrations_action" value="accept-selected">
        <%= icon 'check', t('registrations.list.approve') %>
      </button>
      <button type="submit" class="btn btn-warning selected-approved-deleted-registrations-actions" name="registrations_action" value="reject-selected">
        <%= icon 'times', t('registrations.list.reject') %>
      </button>
      <button type="submit" class="btn btn-danger selected-pending-approved-registrations-actions" name="registrations_action" value="delete-selected">
        <%= icon 'trash', t('registrations.list.delete') %>
      </button>
    </div>
  <% end %>

<% end %>
