<% provide(:title, "#{@registration.name} for #{@competition.name}") %>

<%= render layout: 'nav' do %>
  <%= horizontal_simple_form_for @registration, html: { class: 'are-you-sure' } do |f| %>
    <%= hidden_field_tag :from_admin_view, "1" %>
    <%= f.hidden_field :updated_at %>

    <% if @registration.user %>
      <%= alert :info do %>
        This person registered with an account. You can edit their personal information <%= link_to "here", edit_user_path(@registration.user) %>.
      <% end %>
      <%= @registration.name %>
    <% else %>
      <%= alert :info, "This person did not register with an account. You can edit their personal information below." %>

      <%# We can remove this code once competitions only have registrations with accounts. See https://github.com/cubing/worldcubeassociation.org/issues/275 %>
      <%= f.input :name %>
      <%= f.input :birthday, as: :date_picker %>
      <%= f.input :gender, collection: User::ALLOWABLE_GENDERS, label_method: lambda { |g| { m: "Male", f: "Female", o: "Other" }[g] } %>
      <%= f.input :countryId, collection: Country.all_real, value_method: :id, label_method: :name %>
    <% end %>

    <%= render "shared/associated_events_picker", form_builder: f, events_association_name: :registration_events, allowed_events: @competition.events.order(:rank), selected_events: @registration.event_picker_events %>

    <% if @competition.guests_enabled? %>
      <%= f.input :guests %>
    <% end %>

    <%= f.input :comments %>

    <%= f.input :status, as: :radio_buttons, collection: [:a, :p], checked: @registration.accepted? ? :a : :p, include_blank: false %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit class: "btn btn-default" %>
        <%= link_to "Delete", registration_path(@registration), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete #{@registration.name}'s registration?", toggle: "tooltip" }, title: "Delete registration. This will email #{@registration.name} at #{@registration.email}." %>
      </div>
    </div>
  <% end %>

<% end %>
