<% provide(:title, I18n.t('registrations.list.title', comp: @competition.name)) %>

<%= render layout: "nav" do %>
  <%# Simplified cache key to see if this helps us with performance issues.
    # See https://github.com/thewca/worldcubeassociation.org/issues/1434.
  %>
  <% cache ["registrations_index", @competition.id, I18n.locale], expires_in: 5.minutes do %>
    (<%= t 'common.last_updated_html', last_updated: wca_local_time(Time.now) %>)
    <%= wca_table data: { toggle: "table" } do %>
      <thead>
        <tr>
          <th class="name" data-sortable="true" data-field="name"><%= t 'activerecord.attributes.registration.name' %></th>
          <th class="country" data-sortable="true"><%= t 'common.user.citizen_of' %></th>

          <% @competition.events.each do |event| %>
            <th class="<%= event.id %>">
              <span title="<%= event.name %>"
                    class="cubing-icon event-<%= event.id %>"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    data-container="body">
              </span>
            </th>
          <% end %>

          <th class="event-count" data-sortable="true"><%= t 'registrations.list.total' %></th>
          <!-- Extra column for .table-greedy-last-column -->
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @registrations.each do |registration| %>
          <tr>
            <td class="name">
              <% if registration.wca_id.present? %>
                <% @returners += 1 %>
                <%= link_to registration.name, "#{root_url}results/p.php?i=#{registration.wca_id}" %>
              <% else %>
                <% @newcomers += 1 %>
                <%= registration.name %>
              <% end %>
            </td>
            <td class="country"><%= registration.country.name %></td>

            <% @competition.events.each do |event| %>
              <td class="<%= event.id %>">
                <% if registration.events.include?(event) %>
                  <% @count_by_event[event.id] += 1 %>
                  <span title="<%= event.name %>"
                        class="cubing-icon event-<%= event.id %>"
                        data-toggle="tooltip"
                        data-placement="bottom"
                        data-container="body">
                  </span>
                <% end %>
              </td>
            <% end %>

            <td class="event-count">
              <%= registration.events.length %>
            </td>
            <!-- Extra column for .table-greedy-last-column -->
            <td></td>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td>
            <%= @newcomers %> <%= t('.newcomer', count: @newcomers) %> +
            <%= @newcomers %> <%= t('.returner', count: @newcomers) %> =
            <%= @newcomers + @returners %> <%= t('.person', count: @newcomers + @returners) %>
          </td>
          <% country_count = @registrations.map(&:country).uniq.length %>
          <td><%= t('registrations.list.country_plural', count: country_count) %></td>
          <% @competition.events.each do |event| %>
            <td><%= @count_by_event[event.id] %></td>
          <% end %>

          <!-- Extra column for .table-greedy-last-column -->
          <td></td>
        </tr>
      </tfoot>
    <% end %>
  <% end %>
<% end %>
