<% provide(:title, "Registrations for #{@competition.name}") %>

<%= render layout: "nav" do %>
  <%= wca_table do %>
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="wca-id">WCA ID</th>
        <th class="country">Citizen of</th>

        <% @competition.events.each do |event| %>
          <th class="<%= event.id %>">
            <span title="<%= event.name %>"
                  class="cubing-icon icon-<%= event.id %>"
                  data-toggle="tooltip"
                  data-placement="bottom"
                  data-container="body">
            </span>
          </th>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td class="name"><%= registration.name %></td>
          <td class="wca-id"><%= render "shared/wca_id", wca_id: registration.wca_id %></td>
          <td class="country"><%= registration.countryId %></td>

          <% @competition.events.each do |event| %>
            <td class="<%= event.id %>">
              <% if registration.events.include?(event) %>
                <span title="<%= event.name %>"
                      class="cubing-icon icon-<%= event.id %>"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-container="body">
                </span>
              <% end %>
            </td>
          <% end %>

          <!-- Extra column for .table-greedy-last-column -->
          <td></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td colspan="2">
          <%= render "registration_info_people", registrations: @registrations %>
        </td>
        <% country_count = @registrations.map(&:countryId).uniq.length %>
        <td><%= country_count %> <%= "country".pluralize(country_count) %></td>
        <% @competition.events.each do |event| %>
          <td><%= @registrations.select { |r| r.events.include?(event) }.length %></td>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <td></td>
      </tr>
    </tfoot>
  <% end %>
<% end %>
