<% provide(:title, "Registrations for #{@competition.name}") %>

<pre>
  TODO - actually edit registrations!
    - easy implementation might be to have rows of forms with ajax. can this be integrated into wicegrid?
    - ajax seems easy, but need to handle errors somehow...
  TODO - email everyone...
  TODO - export to excel and csv? wahhhhhhh
  TODO - paginate/filter/sort... pure js? wicegrid doesn't seem like a great choice here
</pre>

<table class="table">
  <thead>
    <tr>
      <th>WCA id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Country</th>
      <th>Gender</th>
      <th>Birthday</th>
      <th>Guests</th>
      <th>Comments</th>
      <th>IP</th>
      <th>Status</th>
      <th>Events</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @competition.registrations.each do |registration| %>
      <tr>
        <%= form_for registration do |f| %>
          <td>
            <%= f.text_field :personId, class: "form-control" %>
          </td>
          <td>
            <%= f.text_field :name, class: "form-control" %>
          </td>
          <td>
            <%= f.email_field :email, class: "form-control" %>
          </td>
          <td>
            <%= f.text_field :countryId, class: "form-control" %>
          </td>
          <td>
            <%= f.text_field :gender, class: "form-control" %>
          </td>
          <td>
            <%= f.text_field :birthday, class: "form-control" %>
          </td>
          <td>
            <%= registration.guests %>
          </td>
          <td>
            <%= registration.comments %>
          </td>
          <td>
            <%= registration.ip %>
          </td>
          <td>
            <%# TODO %>
            <%= f.text_field :status, class: "form-control" %>
          </td>
          <td>
            <%# TODO %>
            <%= f.text_field :eventIds, class: "form-control" %>
          </td>
          <td>
            <%= f.submit "Save", class: "btn btn-default" %>
          </td>
        <% end %>
      <tr>
    <% end %>
  </tbody>
</table>
