<% provide(:title, "#{@event.name} Psych Sheet for #{@competition.name}") %>

<%= render layout: "nav" do %>
  <h2>
    <span class="cubing-icon icon-<%= @event.id %>"></span> <%= @event.name %> Psych Sheet
  </h2>

  <%= wca_table table_class: "wca-results wca-results-sort-by-#{@preferred_format.sort_by.to_s}" do %>
    <thead>
      <tr>
        <th class="pos">#</th>
        <th class="name">Name</th>
        <th class="wca-id">WCA ID</th>
        <th class="country">Citizen of</th>

        <th class="average">Average</th>
        <th class="world-rank-average">WR</th>

        <th class="single">Single</th>
        <th class="world-rank-single">WR</th>

        <!-- Extra column for .table-greedy-last-column -->
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td class="pos <%= registration.tied_previous ? "tied-previous" : "" %>">
            <%= registration.pos %>
          </td>
          <td class="name"><%= registration.name %></td>
          <td class="wca-id">
            <% if registration.wca_id.present? %>
              <%= render "shared/wca_id", wca_id: registration.wca_id %>
            <% end %>
          </td>
          <td class="country"><%= registration.countryId %></td>

          <td class="average"><%= registration.best_solve(@event, :average).clock_format %></td>
          <td class="world-rank-average"><%= registration.world_rank(@event, :average) %></td>

          <td class="single"><%= registration.best_solve(@event, :single).clock_format %></td>
          <td class="world-rank-single"><%= registration.world_rank(@event, :single) %></td>

          <!-- Extra column for .table-greedy-last-column -->
          <td></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
<% end %>
