<% provide(:title, "Register for #{@competition.name}") %>

<%= render layout: "nav" do %>
  <% opens_in_days = distance_of_time_in_words_to_now(@competition.registration_open) %>
  <% closes_in_days = distance_of_time_in_words_to_now(@competition.registration_close) %>
  <% unless @competition.registration_opened? %>
    <% if @competition.registration_not_yet_opened? %>
      <%= alert :info, t('.registration.will_open_html', days: opens_in_days, time: wca_local_time(@competition.registration_open)) %>
    <% end %>
    <% if @competition.registration_past? %>
      <%= alert :danger, t('.registration.closed_html', days: closes_in_days, time: wca_local_time(@competition.registration_close)) %>
    <% end %>
  <% else %>
    <%= alert :info, t('.registration.will_close_html', days: closes_in_days, time: wca_local_time(@competition.registration_close)) %>
  <% end %>

  <% unless current_user %>
    <% if @competition.registration_past? %>
      <%= t '.registration.please_sign_in_past_html',
        sign_in: link_to(t('.registration.sign_in'), competition_register_require_sign_in_path(@competition)),
        here: link_to(t('common.here'), new_user_registration_path, target: "_blank") %>
    <% elsif @competition.registration_not_yet_opened? %>
      <%= t '.registration.please_sign_in_not_yet_open_html',
        sign_in: link_to(t('.registration.sign_in'), competition_register_require_sign_in_path(@competition)),
        here: link_to(t('common.here'), new_user_registration_path, target: "_blank") %>
    <% else %>
      <%= t '.registration.please_sign_in_html',
        sign_in: link_to(t('.registration.sign_in'), competition_register_require_sign_in_path(@competition)),
        comp: @competition.name,
        here: link_to(t('common.here'), new_user_registration_path, target: "_blank") %>
    <% end %>
  <% else %>

    <% if @competition.registration_opened? %>
      <% if current_user.preferred_events.empty? %>
        <div class="alert alert-info">
          To speed up registration in the future, you can set your preferred events <%= link_to "here", profile_edit_path(current_user, section: :preferences) %>.
        </div>
      <% end %>
      <p>
      <%= t '.registration.greeting', name: current_user.name %>
      </p>

      <% if current_user.cannot_register_for_competition_reasons.length > 0 %>
        <div class="alert alert-danger">
          <%= t '.registration.please_fix_profile_html', comp: @competition.name,
                profile: link_to(t('.registration.profile'), profile_edit_path) %>
          <ul>
            <% current_user.cannot_register_for_competition_reasons.each do |reason| %>
              <li><%= reason %></li>
            <% end %>
          </ul>
        </div>
      <% else %>
        <div>
          <% if @registration.new_record? %>
            <%= t '.registration.can_register', comp: @competition.name %>
          <% else %>
            <%= t '.registration.have_registered', comp: @competition.name %>

            <% if !current_user.can_edit_registration?(@registration) %>
              <%= t '.registration.contact_organizer' %>
            <% end %>

            <% if @registration.pending? %>
              <% waiting_list_info = @registration.waiting_list_info %>
              <%= alert :warning, t('.registration.waiting_list', i: waiting_list_info.index + 1, n: waiting_list_info.length) %>
            <% else %>
              <%= alert :success, t('.registration.accepted') %>
            <% end %>
          <% end %>
        </div>

        <%= simple_form_for @registration, url: @registration.new_record? ? competition_registrations_path(@competition) : registration_path(@registration), html: { class: 'form-horizontal are-you-sure no-submit-on-enter' }, wrapper: :horizontal_form,
          wrapper_mappings: {
            check_boxes: :horizontal_radio_and_checkboxes,
            radio_buttons: :horizontal_radio_and_checkboxes,
            file: :horizontal_file_input,
            boolean: :horizontal_boolean
        }  do |f| %>

          <% selected_events = @registration.events.empty? ? @registration.user.preferred_events : @registration.events %>
          <%= render "shared/associated_events_picker", form_builder: f, disabled: !current_user.can_edit_registration?(@registration),
                      events_association_name: :registration_events, allowed_events: @competition.events, selected_events: selected_events %>

          <% if @competition.guests_enabled? %>
            <%= f.input :guests, disabled: !current_user.can_edit_registration?(@registration) %>
          <% end %>

          <%= f.input :comments, disabled: !current_user.can_edit_registration?(@registration) %>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <% if @registration.new_record? %>
                <%= f.submit t('.registration.register'), class: "btn btn-success" %>
              <% elsif current_user.can_edit_registration?(@registration) %>
                <%= f.submit t('.registration.update'), class: "btn btn-success" %>
                <%= link_to t('.registration.delete'), registration_path(@registration, user_is_deleting_theirself: true), method: :delete, class: "btn btn-danger", data: { confirm: t('.registration.delete_confirm'), toggle: "tooltip" }, title: t('.registration.delete_registration') %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

    <% end %>
  <% end %>
<% end %>
