<% add_to_packs("markdown_editor") %>

<%= simple_form_for @competition_tab, url: submit_url, html: { class: "competition-tab-form" } do |f| %>
  <%= f.input :name %>
  <%= f.input :content, input_html: { class: "markdown-editor markdown-editor-image-upload" } %>

  <div class="buttons">
    <div class="buttons-left">
      <%= f.submit submit_text, class: "btn btn-primary" %>
    </div>
    <div class="buttons-right">
      <%= link_to  competition_tabs_path, class: "btn btn-default" do %>
        <%= ui_icon("undo") %> <%= t('competition_tabs.form_elements.back_to_tabs') %>
      <% end %>
      <%= buttons if defined?(buttons) %>
    </div>
  </div>
<% end %>
