<% provide(:title, t(".tabs_list_title")) %>

<%= render layout: 'competitions/nav' do %>
  <%= t 'competition_tabs.index.tabs_introduction_text' %>

  <h3><%= t 'competition_tabs.headers.tabs' %></h3>
  <% unless @competition_tabs.empty? %>
    <table id="competition-tabs" class="table">
      <thead>
        <tr>
          <th><%= t 'competition_tabs.headers.name' %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @competition_tabs.each do |tab| %>
          <tr>
            <th><%= tab.name %></th>
            <th>
              <%= link_to edit_competition_tab_path(@competition, tab), class: "btn btn-xs btn-success" do %>
                <%= ui_icon("edit") %>
                <%= t('competition_tabs.form_elements.edit') %>
              <% end %>
            </th>
            <th>
              <%= link_to competition_tab_path(@competition, tab),
                method: :delete,
                class: "btn btn-xs btn-danger",
                data: { confirm: t('competition_tabs.form_elements.confirm_delete', tab_name: tab.name) } do %>
                <%= ui_icon("trash") %>
                <%= t('competition_tabs.form_elements.delete') %>
              <% end %>
            </th>
            <th><%= link_to ui_icon("arrow up"), competition_tab_reorder_path(@competition, tab, direction: "up"), remote: true, class: "reorder-up" %></th>
            <th><%= link_to ui_icon("arrow down"), competition_tab_reorder_path(@competition, tab, direction: "down"), remote: true, class: "reorder-down" %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to new_competition_tab_path, class: "btn btn-primary" do %>
    <%= ui_icon("plus") %>
    <%= t('competition_tabs.form_elements.new_tab') %>
  <% end %>
<% end %>
