<% provide(:title, 'Disciplinary Committee') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <% if current_user&.can_view_banned_competitors? %>
    <h2>Banned competitors</h2>

    <% if current_user.can_edit_team?(Team.banned) %>
      <%= link_to "Edit banned competitors", edit_team_path(Team.banned) %>
    <% end %>

    <%= alert :info, "This list is not publicly visible." %>
    <ul>
      <% Team.banned.current_members.includes(:user).order("users.name asc").map do |team_member| %>
        <li>
          <%= team_member.user.name %>
          <%= link_to team_member.user.wca_id, person_path(team_member.user.wca_id) if team_member.user.wca_id %>
          <p>
            Banned until:
            <%= team_member.end_date || "unlimited or conditional" %>
          </p>
        </li>
      <% end %>
    </ul>
  <% end %>

  <h2>Posts</h2>
  <%= render @posts, render_permalink: true, render_teaser: true, render_toc: false %>
  <%= paginate @posts %>
</div>
