<div class="container">
  <h1><%= t('.heading') %></h1>

  <p><%= t('.description') %></p>

  <dl>
    <dt>
      SQL: <a href="/export/results/<%= @sql_filename %>"><%= @sql_filename %></a> (<%= number_to_human_size @sql_filesize %>)
      <small>(<a href="/export/results/<%= "#{DatabaseController::SQL_PERMALINK_FILE}" %>"><%= t('.permalink') %></a>)</small>
    </dt>
    <dd><%= t('.file_formats.sql') %></dd>

    <dt>
      TSV: <a href="/export/results/<%= @tsv_filename %>"><%= @tsv_filename %></a> (<%= number_to_human_size @tsv_filesize %>)
      <small>(<a href="/export/results/<%= "#{DatabaseController::TSV_PERMALINK_FILE}" %>"><%= t('.permalink') %></a>)</small>
    </dt>
    <dd><%= t('.file_formats.tsv') %></dd>
  </dl>

  <p><%= t('.hint_readme_html', readme_filename: content_tag('code', DatabaseController::README_FILENAME)) %></p>

  <pre><%= DatabaseController.render_readme(self, DateTime.now) %></pre>
</div>
