<tr class="member <%= f.object.current_member? ? '' : 'past-member'%>">
  <td><%= f.input :user_id, required: true, as: :user_ids, only_one: true, label: false %></td>
  <td><%= f.input :start_date, as: :date_picker, required: true, label: false %></td>
  <td><%= f.input :end_date, as: :date_picker, label: false %></td>
  <td class="team-leader"><%= f.input :team_leader, label: false %></td>
  <td class="team-senior-member"><%= f.input :team_senior_member, label: false %></td>
  <td></td> <!-- Extra column for .table-greedy-last-column -->
</tr>
