<div class="nested-fields">
  <%= f.label :user_id %>
  <%= f.text_field :user_id, class: 'form-control', required: true %>

  <%= f.label :start_date %>
  <%= f.text_field :start_date, class: 'form-control', as: :date_picker %>

  <%= f.label :end_date %>
  <%= f.text_field :end_date, class: 'form-control', as: :date_picker %>
</div>
