<% provide(:title, "Editing team #{@team.friendly_id}") %>

<div class="container">

  <h3><%= yield(:title) %></h3>

  <%= simple_form_for @team, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' }, wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :friendly_id, label: "Friendly id" %>
    <%= f.input :name %>
    <%= f.input :description %>

    <div class="panel panel-default">
      <div class="panel-heading">
        Members
      </div>
      <div class="panel-body">
        <%#= f.fields_for :team_members do |members_form| %>
        <%= f.simple_fields_for :team_members do |t| %>
          <%#= render 'team_member_fields', f: members_form %>
          <%= t.input :user_id, class: 'form-control', required: true %>

          <%= t.input :start_date, class: 'form-control date_picker' %>

          <%= t.input :end_date, class: 'form-control date_picker' %>

          <%= t.input :team_leader, class: 'form-control' %>
        <% end %>

        <div class="links">
          <%= link_to_add_association button_tag('Add member', type: "button", class: "btn btn-primary"), f, :team_members %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, class: "btn-primary" %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Back to Teams', teams_path, class: "polls-home" %>

</div>
