<% provide(:title, "Editing #{@team.name} members") %>

<div class="container">
  <h3><%= yield(:title) %></h3>
  <%= alert(:info, "This team is hidden") if @team.hidden? %>

  <p>
    <b>Please note:</b> This UI is a bit tricky.
    The <b>only</b> situation where you should be editing existing rows is to
    fix mistakes, or to change someone's "End date" from unset to set. If you
    run into a situation you don't know how to handle, do not hesitate to reach
    out to the WCA Software Team!
  </p>

  <p>
    We want to store historical data of team
    membership <b>and</b> roles. Consider the situation where leadership of a
    team is changing from Joe to Jane, and Joe is stepping down from the team.
    It's tempting to uncheck Joe's "Leader" checkbox, and check the "Leader"
    checkbox from Jane. However, this causes us to lost track of the fact that
    Joe was a leader for a period of time, and it makes it look like Jane was
    leader for her entire time on the team. Instead, you should mark both Joe's
    leadership row and Jane's non-leadership rows as ending today, and create
    two new rows starting tomorrow where Joe is not leader and Jane is leader.
  </p>


  <%= horizontal_simple_form_for @team, html: { class: 'are-you-sure no-submit-on-enter' } do |f| %>
    <div class="team-members-wrapper">
      <%= wca_table table_class: "team-members", hover: false, striped: false do %>
        <thead>
          <tr>
            <th>User</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Leader</th>
            <th>Senior Member</th>
            <th></th> <!-- Extra column for .table-greedy-last-column -->
          </tr>
        </thead>
        <tbody>
        <% # We need to use `sort_by` instead of `order` to keep the new builded, unsaved objects.
           team_members = @team.team_members.sort_by do |m|
             # We call `to_s` on the dates to avoid an exception when one of them is nil.
             [(m.end_date.nil? ? 1 : 0), m.end_date&.to_fs, m.start_date.to_fs]
           end.reverse!
        %>
        <%= f.simple_fields_for :team_members, team_members do |t| %>
          <%= render "team_member_fields", f: t %>
        <% end %>
        </tbody>
      <% end %>

      <div class="links">
        <%= link_to_add_association(
          button_tag(raw("#{ui_icon("plus")} Add member"), type: "button", class: "btn btn-primary add"),
          f,
          :team_members,
          data: { association_insertion_node: '.team-members:not(.floatThead-table)', association_insertion_method: 'append' }) %>
      </div>
    </div>

    <div class="form-group form-actions">
      <%= link_to teams_path, class: "btn btn-default teams-home" do %>
        <%= ui_icon("undo") %> Back to Teams
      <% end %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
$(".team-members-wrapper").on('cocoon:after-insert', function() {
  $('input.wca-autocomplete').wcaAutocomplete();

  window.wca.datetimepicker();
});
</script>
