<% provide(:title, "Editing team #{@team.friendly_id}") %>

<div class="container">

  <h3><%= yield(:title) %></h3>

  <%= simple_form_for @team, html: { class: 'form-horizontal are-you-sure no-submit-on-enter' }, wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :friendly_id, label: "Friendly ID" %>
    <%= f.input :name %>
    <%= f.input :description %>

    <div class="panel panel-default">
      <div class="panel-heading">
        Members
      </div>
      <div class="panel-body">
        <%= f.simple_fields_for :team_members do |t| %>
          <div class="duplicate">
            <%= t.input :user_id, required: true %>
            <%= t.input :start_date, as: :date_picker, required: true %>
            <%= t.input :end_date, as: :date_picker %>
            <%= t.input :team_leader %>
          </div>
        <% end %>

        <div class="links">
          <%= link_to_add_association button_tag('Add member', type: "button", class: "btn btn-primary"), f, :team_members %>
          <%#= button_tag('Add member', type: "button", class: "btn btn-primary new_member") %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit, class: "btn-primary" %>
      </div>
    </div>
  <% end %>
  <%= link_to 'Back to Teams', teams_path, class: "teams-home" %>

</div>

<script>
// From http://davidlesches.com/blog/rails-nested-forms-using-jquery-and-simpleform
$(function() {
  if($(".duplicate").length) {
    nestedForm = $(".duplicate").last().clone();
  }
});

$(".new_member").click(function() {
  lastNestedForm = $('.duplicate').last();
  newNestedForm = $(nestedForm).clone();
  formsOnPage = $('.duplicate').length;

  $(newNestedForm).find('select, input').each(function() {
    oldName = $(this).attr('name');
    newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "["+formsOnPage+"]");
    $(this).attr('name', newName);
    $(this).val('');
  });

  $(newNestedForm).insertAfter(lastNestedForm);

  console.log(formsOnPage);

  $hidden = $("input[name$='][id]']").last().clone();
  $newId = $hidden.clone();
  oldHiddenName = $newId.attr('name');
  newHiddenName = oldHiddenName.replace(new RegExp(/\[[0-9]+\]/), "["+formsOnPage+"]");
  $newId.attr('name', newHiddenName);
  $newId.val((parseInt(formsOnPage)+1));
  oldId = $newId.attr('id');
  newId = oldId.replace(new RegExp(/_[0-9]+_/), "_"+formsOnPage+"_");
  $newId.attr('id', newId);

  $newId.insertBefore(".links");
  console.log($hidden);
  console.log($newId);
});
</script>
