<p>The role has been changed for <%= @role.user.name %> in <%= @group_type_name %> on <%= @today_date %>.</p>
<p>The change has been executed by <%= @user_who_made_the_change.name %>.</p>
<p>Change made:</p>
<% @changes.each do |change| %>
  <p><%= change['changed_parameter'] %>: <%= change['previous_value'] %> -> <%= change['new_value'] %></p>
<% end %>
<% if @metadata.present? %>
  <p>More details of the role are:</p>
  <ul>
    <% @metadata.each do |key, value| %>
      <li><%= I18n.t("user_roles.email.role_metadata.#{key}" , locale: 'en') %>: <%= value %></li>
    <% end %>
  </ul>
<% end %>
<p>Messages to recipients:</p>
<% @to_list.each do |recipient| %>
  <li><%= recipient.name %>: <%= recipient.message %></li>
<% end %>
