<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Acknowledged since</th>
      <th>Acknowledged until</th>
      <th></th>
    </tr>
    <% regional_organizations.each do |ro| %>
      <tr>
        <td><%= ro.name %></td>
        <td><%= ro.country %></td>
        <td><%= ro.start_date %></td>
        <td><%= ro.end_date %></td>
        <td>
          <%= link_to edit_regional_organization_path(ro), class: "btn btn-success" do %>
            <%= ui_icon("edit") %> Manage
          <% end %>
        </td>
        <td>
        <% if ro.is_pending? %>
            <%= button_to regional_organization_path(ro),
                          title: t('common.delete'),
                          class: "btn btn-danger",
                          method: :delete,
                          data: { confirm: t('regional_organizations.delete.confirm_delete') } do
            %>
              <%= ui_icon("delete") %>
              <%= t('common.delete') %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
