<% provide(:title, "Incident: #{@incident.title}") %>

<%= render layout: "nav" do %>
  <h1><%= yield(:title) %></h1>

  <div>
    <strong>Status:</strong>
    <% if @incident.resolved_at %>
      <span class="text-success">Resolved</span>
    <% else %>
      <span class="text-warning">Pending</span>
    <% end %>
  </div>

  <p>
    <% @incident.tags_array.each do |t| %>
      <%= render "incident_tag", tag: t %>
    <% end %>
  </p>
  <p>
    <% @incident.incident_competitions.each do |incident_competition| %>
      <%= render "competition_tag", incident_competition: incident_competition %>
    <% end %>
  </p>
  <% warning_text = "" %>
  <% unless @incident.resolved_at %>
    <% warning_text += "This incident is pending, a final ruling and public description may not be available.<br/>" %>
  <% end %>
  <% if current_user&.can_manage_incidents? %>
    <% if @incident.digest_missing? %>
      <% warning_text += "This incident should be sent in a digest" %>
      <% unless @incident.resolved_at %>
        <% warning_text += " after being resolved" %>
      <% end %>
      <% warning_text += ".<br/>" %>
    <% end %>
  <% end %>
  <% unless warning_text.blank? %>
    <%= alert :warning do %>
      <%= raw(warning_text) %>
    <% end %>
  <% end %>

  <div>
    <strong>Incident description and resolution:</strong>
    <%=md @incident.public_summary %>
  </div>

  <% if current_user&.can_view_delegate_matters? %>
    <div>
      <strong>Description (private to Delegates):</strong>
      <%=md @incident.private_description %>
    </div>
  <% end %>

  <% if current_user&.can_view_incident_private_sections?(@incident) %>
    <div>
      <strong>WRC Decision (private to Delegates):</strong>
      <%=md @incident.private_wrc_decision %>
    </div>
  <% end %>

  <% if current_user&.can_manage_incidents? %>
    <% if @incident.digest_missing? && @incident.resolved_at %>
      <%= link_to 'Sent in a digest', incident_mark_as_path(@incident.id, "sent"), class: "btn btn-success", method: :patch, data: { confirm: "You are about to mark this incident as sent in a digest, are you sure?" } %>
    <% end %>
    <% unless @incident.resolved_at %>
      <%= link_to 'Mark as resolved', incident_mark_as_path(@incident.id, "resolved"), class: "btn btn-success", method: :patch, data: { confirm: "You are about to mark this incident as resolved, are you sure?" } %>
    <% end %>
    <%= link_to 'Edit', edit_incident_path(@incident), class: "btn btn-primary" %>
    <%= link_to 'Destroy', incident_path(@incident), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this incident?" } %>
  <% end %>

  <hr/>
  <div>
    This incident was created on <%= wca_local_time(@incident.created_at) %>.
  </div>
  <% if @incident.digest_sent? %>
    <div>
      This incident was marked as sent to Delegates in a WRC digest on <%= wca_local_time(@incident.digest_sent_at) %>.
    </div>
  <% end %>
<% end %>
