<%# Generate round informations for the competition %>
<% rounds_by_wcif_id = Hash[competition.rounds.map { |r| [r.wcif_id, r.to_string_map] }] %>
<% add_to_packs("show_schedule") %>
<% add_fullcalendar_to_packs %>

<div class="tab-content" id="schedule-tab">
  <ul class="nav nav-pills nav-justified venue-pills">
    <% competition.competition_venues.each_with_index do |venue, index| %>
    <li class="<%= (index == 0) ? "active" : "" %> venue-pill">
      <a href="#schedule-venue-<%= venue.id %>" data-toggle="pill">
        <%= venue.name %>
      </a>
    </li>
    <% end %>
  </ul>
  <% competition.competition_venues.each_with_index do |venue, index| %>
    <%
      activities = venue.top_level_activities.sort_by(&:start_time)
      min_time, max_time = first_and_last_time_from_activities(activities, venue.timezone_id)
      activities.map!{ |a| a.to_event(rounds_by_wcif_id) }
    %>
    <script>
      window.wca.registerVenueData("<%= venue.id %>", {
        events: <%= raw(activities.to_json) %>,
        minTime: "<%= min_time %>",
        maxTime: "<%= max_time %>",
      });
    </script>
    <div class="tab-pane <%= (index == 0) ? "active" : "" %>" id="schedule-venue-<%= venue.id %>" data-venue="<%= venue.id %>">
      <p>
        <%= t("competitions.schedule.venue_information_html", venue_name: link_to_google_maps_place(venue.name, venue.latitude_degrees, venue.longitude_degrees)) %>
        <br />
        <%= t("competitions.schedule.timezone_message", timezone: venue.timezone_id) %>
        <br />
        <%= t("competitions.competition_info.add_to_calendar") %>
        <%= link_to(ui_icon("calendar plus"), competition_path(competition, format: :ics),
            title: t("competitions.competition_info.add_to_calendar"),
            data: {
              toggle: "tooltip",
              placement: "top",
              container: "body",
            }) %>
        <% if competition.competition_venues.size > 1 %>
          <br />
          <%= t("competitions.schedule.multiple_venues_available") %>
        <% end %>
      </p>
      <% venue_rooms = venue.venue_rooms %>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <%= t("competitions.schedule.display_as.label") %>
          <div class="list-group">
            <a class="list-group-item active schedule-table-link" data-venue="<%= venue.id %>" href="#">
              <%= t("competitions.schedule.display_as.table") %>
            </a>
            <a class="list-group-item schedule-calendar-link" data-venue="<%= venue.id %>" href="#">
              <%= t("competitions.schedule.display_as.calendar") %>
            </a>
          </div>
        </div>
        <%# We want to keep these elements in the html for the event filter. %>
        <div class="col-xs-12 col-md-6 <%= "hidden" if venue.venue_rooms.size <= 1 %>">
          <%= t("competitions.schedule.display_for_room") %>
          <div class="list-group" id="room-list-<%= venue.id %>">
            <% venue_rooms.each do |r| %>
              <a class="list-group-item room-entry selected toggle-room"
                 href="#" data-room="<%= r.id %>" data-venue="<%= venue.id %>">
                 <div class="room-checkbox">
                   <div class="room-checkbox-bg" style="background-color:<%= r.color %>;"></div>
                 </div>
                 <div class="room-name">
                  <%= r.name %>
                 </div>
              </a>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="panel panel-default panel-events-filter">
            <div class="panel-body">
              <div class="events-filter" data-venue="<%= venue.id %>">
                <div class="event-all selected">ALL</div>
                <% competition.events.each do |e| %>
                  <%= cubing_icon(e.id, class: "selected", data: { event: e.id }) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="schedule_table_container">
        <%= render "competition_schedule_for_venue_table", competition: competition, rounds_by_wcif_id: rounds_by_wcif_id, activities: activities %>
      </div>
      <div class="schedule_calendar_container" style="display: none;">
        <div id="calendar-venue-<%= venue.id %>"></div>
      </div>
    </div>
  <% end %>
</div>

<script>
  let roundsByWcifId = <%= raw(rounds_by_wcif_id.to_json) %>;
  function popoverContentFromData(eventData) {
    let roundId = `${eventData.activityDetails.event_id}-r${eventData.activityDetails.round_number}`;
    let roundData = roundsByWcifId[roundId];
    let content = `<div class="row"><div class="col-xs-12 room-name">${eventData.roomName}</div></div>`;
    if (!roundData) {
      return null;
    }
    // If we have round data, format and time limit are mandatory
    content += `<div class="row"><div class="col-xs-4"><%= t("competitions.events.format") %></div><div class="col-xs-8"><strong>${roundData.format_name}</strong></div></div>`;
    let time_limit_text = roundData.time_limit;
    if (roundData.cumulative_round_ids.length == 1) {
      time_limit_text += `<%= link_to "*", "#cumulative-time-limit" %>`;
    } else if (roundData.cumulative_round_ids.length > 1) {
      time_limit_text += `<%= link_to "**", "#cumulative-across-rounds-time-limit" %>`;
    }
    content += `<div class="row"><div class="col-xs-4"><%= t("competitions.events.time_limit") %></div><div class="col-xs-8"><strong>${time_limit_text}</strong></div></div>`;
    if (roundData.cutoff.length > 0) {
      content += `<div class="row"><div class="col-xs-4"><%= t("competitions.events.cutoff") %></div><div class="col-xs-8"><strong>${roundData.cutoff}</strong></div></div>`;
    }
    if (roundData.advancement.length > 0) {
      content += `<div class="row"><div class="col-xs-4"><%= t("competitions.events.proceed") %></div><div class="col-xs-8"><strong>${roundData.advancement}</strong></div></div>`;
    }
    return content;
  }

  $(() => {
    window.wca.setupCalendarAndFilter(popoverContentFromData, "<%= I18n.locale %>",
        "<%= competition.start_date %>",
        <%= competition.number_of_days %>);
  });
</script>
