<ul class="list-group">
  <li class="list-group-item"><strong><%= "#{title} (#{competitions.count})" %></strong></li>
  <% competitions.each_with_index do |competition, index| %>
    <% if index > 0 && competition.start_date.year != competitions[index - 1].start_date.year && params[:event_ids].empty? && !@by_announcement_selected %>
      <li class="list-group-item break"><%= competition.start_date.year %></li>
    <% end %>
    <% li_classes = ["list-group-item"] %>
    <% li_classes << (competition.is_probably_over? ? "past" : "not-past") %>
    <% li_classes << "cancelled" if competition.cancelled? %>
    <li class="<%= li_classes.join(' ') %>">
      <span class="date">
        <% if competition.is_probably_over? %>
          <% if competition.results_posted? %>
            <%= ui_icon('check circle', title: t('competitions.index.tooltips.hourglass.posted'), class: "results-posted-indicator", data: { toggle: "tooltip" }) %>
          <% else %>
            <%= ui_icon('hourglass end', title: t('competitions.index.tooltips.hourglass.ended', days: t('common.days', count:(Date.today - competition.end_date).to_i)), data: { toggle: "tooltip" }) %>
          <% end %>
        <% elsif competition.in_progress? %>
          <%= ui_icon('hourglass half', title: t('competitions.index.tooltips.hourglass.in_progress'), data: { toggle: "tooltip" }) %>
        <% elsif @by_announcement_selected %>
          <%= ui_icon('hourglass start', title: t('competitions.index.tooltips.hourglass.announced_on', announcement_date: competition.announced_at.strftime(" %F %H:%M:%S")), data: { toggle: "tooltip" }) %>
        <% elsif @show_registration_status %>
          <%= registration_status_icon(competition) %>
        <% else %>
          <%= ui_icon('hourglass start', title: t('competitions.index.tooltips.hourglass.starts_in', days: t('common.days', count:(competition.start_date - Date.today).to_i)), data: { toggle: "tooltip" }) %>
        <% end %>
        <%= wca_date_range(competition.start_date, competition.end_date) %>
      </span>
      <span class="competition-info">
        <div class="competition-link">
          <%= flag_icon competition.country.iso2 %>
          <%= link_to competition.display_name(short: true), competition_path(competition) %>
        </div>
        <div class="location">
          <strong><%= competition.country.name %></strong>, <%= competition.cityName %>
        </div>
        <div class="venue-link">
          <%=md(competition.venue, target_blank: true) %>
        </div>
      </span>
    </li>
  <% end %>
</ul>

<script>
  <%# Tooltips have to be initialized manually after each Ajax response in order to work. %>
  $('[data-toggle="tooltip"]').tooltip();
</script>
