<% label ||= "undefined" %>
<% md_size ||= "1" %>
<div class="col-xs-4 col-sm-3 visible-xs visible-sm <%= "hidden-xs hidden-sm" if empty %>">
  <%= label %>
</div>
<div class="col-xs-8 col-sm-3 responsive-cell-content col-md-<%= md_size %> bolded-xs-sm <%= "hidden-xs hidden-sm" if empty %>">
  <%= yield %>
</div>
<% unless empty %>
  <div class="clearfix visible-xs"></div>
<% end %>
