<div class="container">
  <h1>
    Sanity Check Results
  </h1>
  <% @categories.each do |category| %>
    <% latest_results = category.latest_results %>
    <h2>Category: <%= category.name %></h2>
      <% latest_results.each do |result| %>
      <h3><%= result.topic %></h3>
      <h5><%= result.comments %></h5>
      <h4> Query results:</h4>
      <code> <%= result.query_results %></code>
      <h4> Exclusions: <%= result.sanity_check_exclusions.count %></h4>
      <table></table>
    <% end %>
  <% end %>
</div>
