<% provide(:title, @omni_query) %>

<div class="container">
  <%= wca_omni_search %>

  <% if @omni_query.blank? %>
    <h3>Try searching for something!</h3>
  <% else %>
    <% query_parts = @omni_query.split %>
    <% if @competitions.present? %>
      <h2><%= anchorable t('.competitions') %></h2>
      <table class="table table-nonfluid">
        <tbody>
          <% @competitions.each do |competition| %>
            <tr>
              <td>
                <%= competition.start_date %>
              </td>
              <td>
                <%= link_to competition_path(competition) do %>
                  <%= wca_highlight(competition.name, query_parts) %>
                <% end %>
              </td>
              <td>
                <%= wca_highlight(competition.countryId, query_parts) %>,
                <%= wca_highlight(competition.cityName, query_parts) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @competitions, param_name: :competitions_page, params: { anchor: "competitions" } %>
    <% end %>

    <% if @persons.present? %>
      <h2>
        <%= anchorable t('.people') %> |
        <%= link_to persons_path(search: params[:q]), class: "advanved-search" do %>
          <%= ui_icon("search") %>
          <%= t('.advanced_search') %>
        <% end %>
      </h2>
      <table class="table table-nonfluid table-vertical-align-middle">
        <tbody>
          <% @persons.includes(:user).each do |person| %>
            <tr>
              <td>
                <%= react_component("UserAvatar", {
                  avatar: (person.user || User.new).avatar,
                  size: "small"
                }) %>
              </td>
              <td>
                <span class="wca-id"><%= wca_highlight(person.wca_id, query_parts) %></span>
              </td>
              <td>
                <%= link_to person_path(person.wca_id) do %>
                  <%= wca_highlight(person.name, query_parts) %>
                <% end %>
              </td>
              <td>
                <%= person.countryId %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @persons, param_name: :people_page, params: { anchor: "people" } %>
    <% end %>

    <% if @posts.present? %>
      <h2><%= anchorable t('.posts') %></h2>
      <% @posts.each do |post| %>
        <div>
          <%= link_to post_path(post.slug) do %>
            <h4><%= wca_highlight(post.title, query_parts) %></h4>
          <% end %>
          <blockquote>
            <%= wca_excerpt(md(post.body), query_parts) %>
          </blockquote>
        </div>
      <% end %>
      <%= paginate @posts, param_name: :posts_page, params: { anchor: "posts" } %>
    <% end %>

    <% if @regulations.present? %>
      <h2><%= anchorable t('.regulations_and_guidelines') %></h2>
      <% @regulations.each do |reg| %>
        <div>
          <%= link_to reg["url"] do %>
            <h4><%= wca_highlight(reg["id"], query_parts) %></h4>
          <% end %>
          <blockquote>
            <%= wca_highlight(reg["content_html"], query_parts) %>
          </blockquote>
        </div>
      <% end %>
      <%= paginate @regulations, param_name: :regulations_page, params: { anchor: "regulations-and-guidelines" } %>
    <% end %>

    <% if @incidents.present? %>
      <h2><%= anchorable t('.incidents') %></h2>
      <% @incidents.each do |incident| %>
        <div>
          <%= link_to incident.url do %>
            <h4><%= wca_highlight(incident.title, query_parts) %></h4>
          <% end %>
          <blockquote>
            <%= wca_highlight(md(incident.public_summary), query_parts) %>
          </blockquote>
        </div>
      <% end %>
      <%= paginate @incidents, param_name: :incidents_page, params: { anchor: "competitions" } %>
    <% end %>

    <% if @competitions.empty? %>
      <h2><%= t '.not_found.competitions' %> <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
    <% if @persons.empty? %>
      <h2><%= t '.not_found.people' %> <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
    <% if @posts.empty? %>
      <h2><%= t '.not_found.posts' %> <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
    <% if @regulations.empty? %>
      <h2><%= t '.not_found.regulations_and_guidelines' %> <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
    <% if @incidents.empty? %>
      <h2><%= t '.not_found.incidents' %> <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
  <% end %>
</div>
