<% provide(:title, @omni_query) %>

<div class="container">
  <%= wca_omni_search %>

  <% if @omni_query.blank? %>
    <h3>Try searching for something!</h3>
  <% else %>
    <% if !@competitions.empty? %>
      <h2><%= anchorable "Competitions" %></h2>
      <table class="table table-nonfluid">
        <tbody>
          <% @competitions.each do |competition| %>
            <tr>
              <td>
                <%= competition.start_date %>
              </td>
              <td>
                <%= link_to competition_path(competition) do %>
                  <%= wca_highlight(competition.name, @omni_query) %>
                <% end %>
              </td>
              <td>
                <%= wca_highlight(competition.countryId, @omni_query) %>,
                <%= wca_highlight(competition.cityName, @omni_query) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @competitions, param_name: :competitions_page, params: { anchor: "competitions" } %>
    <% end %>

    <% if !@persons.empty? %>
      <h2><%= anchorable "People" %></h2>
      <table class="table table-nonfluid table-vertical-align-middle">
        <tbody>
          <% @persons.each do |person| %>
            <tr>
              <td>
                <%= render "shared/user_avatar", user: (person.user || User.new) %>
              </td>
              <td>
                <span class="wca-id"><%= wca_highlight(person.wca_id, @omni_query) %></span>
              </td>
              <td>
                <%= link_to "/results/p.php?i=#{person.wca_id}" do %>
                  <%= wca_highlight(person.name, @omni_query) %>
                <% end %>
              </td>
              <td>
                <%= person.countryId %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @persons, param_name: :people_page, params: { anchor: "people" } %>
    <% end %>

    <% if !@posts.empty? %>
      <h2><%= anchorable "Posts" %></h2>
      <% @posts.each do |post| %>
        <div>
          <%= link_to post_path(post.slug) do %>
            <h4><%= wca_highlight(post.title, @omni_query) %></h4>
          <% end %>
          <blockquote>
            <%= wca_excerpt(md(post.body), @omni_query) %>
          </blockquote>
        </div>
      <% end %>
      <%= paginate @posts, param_name: :posts_page, params: { anchor: "posts" } %>
    <% end %>

    <% if @competitions.empty? %>
      <h2>No competitions found for <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
    <% if @persons.empty? %>
      <h2>No people found for <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
    <% if @posts.empty? %>
      <h2>No posts found for <%= wca_highlight(@omni_query, @omni_query) %></h2>
    <% end %>
  <% end %>
</div>
