<% provide(:title, t('about_regulations.title')) %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('about_regulations.panel1.title') %></h3>
    </div>
    <div class="panel-body">
      <%= t('about_regulations.panel1.content1_html') %>
      <%= t('about_regulations.panel1.content2_html') %>
      <%= t('about_regulations.panel1.content3_html') %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('about_regulations.panel2.title') %></h3>
    </div>
    <div class="panel-body">
      <%= t('about_regulations.panel2.content1_html') %><br/>
      <%= t('about_regulations.panel2.content2_html') %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('about_regulations.panel3.title') %></h3>
    </div>
    <div class="panel-body">
      <%= t('about_regulations.panel3.content1_html') %>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t('about_regulations.panel4.title') %></h3>
    </div>
    <div class="panel-body">
      <%= t('about_regulations.panel4.content1_html') %><br />
      <%= t('about_regulations.panel4.content2_html') %>
    </div>
  </div>
</div>
