<% provide(:title, 'WCA Regulations History') %>
<div class="container">
  <h1>WCA Regulations and Guidelines</h1>
  <h2>Older Versions of the Regulations</h2>
  <p>Until 2011, the Regulations were maintained by Ron van Bruchem and the WCA Board. Since then, the <%= mail_to "wrc@worldcubeassociation.org", "WCA Regulations Committee" %> is in charge of them.<br />For the 2013 release, the Regulations were split into two documents: the Regulations and the Guidelines.</p>
  <p>Here are all past and current versions of the Regulations.</p>
  <ul>
    <li><%= link_to "2023-08-01", "./official/2023-08-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2023-02-01...official-2023-08-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-august-2023" %>)</li>
      <u1>
        <li><%= link_to "2023-02-01", "./official/2023-02-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2022-06-01...official-2023-02-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-february-2023" %>)</li>
      </u1>
    <li><%= link_to "2022-06-01", "./official/2022-06-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2022-01-01...official-2022-06-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-june-2022" %>)
      <ul>
        <li><%= link_to "2022-01-01", "./official/2022-01-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2021-05-01...official-2022-01-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-january-2022" %>)</li>
      </ul>
    </li>
    <li><%= link_to "2021-05-01", "./official/2021-05-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2020-08-01...official-2021-05-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-may-2021" %>)
    <li><%= link_to "2020-08-01", "./official/2020-08-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2020-01-01...official-2020-08-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-august-2020" %>)
      <ul>
        <li><%= link_to "2020-01-01", "./official/2020-01-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2019-05-01...official-2020-01-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-january-2020" %>)</li>
      </ul>
    </li>
    <li><%= link_to "2019-05-01", "./official/2019-05-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2018-01-01...official-2019-05-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-may-2019" %>)</li>
    <li><%= link_to "2018-01-01", "./official/2018-01-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2017-06-19...official-2018-01-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-january-2018" %>)</li>
    <li><%= link_to "2017-06-19", "./official/2017-06-19/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2016-04-18...official-2017-06-19#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/changes-of-countries-recognized-by-the-wca" %>)</li>
    <li><%= link_to "2016-04-18", "./official/2016-04-18/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2015-07-01...official-2016-04-18#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-april-2016" %>)</li>
    <li><%= link_to "2015-07-01", "./official/2015-07-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2014-04-03...official-2015-07-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-july-2015" %>)</li>
    <li><%= link_to "2014-04-03", "https://regulations.worldcubeassociation.org/history/files/2014-04-03/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2014-01-01...official-2014-04-03#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/regulations-and-guidelines-april-3-2014" %>)
      <ul>
        <li><%= link_to "2014-01-01", "https://regulations.worldcubeassociation.org/history/files/2014-01-01/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/diff-base-2013...official-2014-01-01#files_bucket" %>, <%= link_to "Summarized Changes", "https://www.worldcubeassociation.org/posts/wca-regulations-and-guidelines-2014" %>)</li>
      </ul>
    </li>
    <li><%= link_to "2013-05-21", "https://regulations.worldcubeassociation.org/files/history/2013-05-21/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2013-05-10...official-2013-05-21#files_bucket" %>)
      <ul>
        <li><%= link_to "2013-05-10", "https://regulations.worldcubeassociation.org/historyfiles/2013-05-10/" %> (<%= link_to "Changes", "https://github.com/thewca/wca-regulations/compare/official-2013-01-01...official-2013-05-10#files_bucket" %>)</li>
        <li><%= link_to "2013-01-01", "https://regulations.worldcubeassociation.org/historyfiles/2013-01-01/" %></li>
      </ul>
    </li>
    <li>2012: No new Regulations</li>
    <li>2011: No new Regulations</li>
    <li><%= link_to "2010", "https://regulations.worldcubeassociation.org/history/files/regulations2010.html" %> (<%= link_to "Changes", "https://regulations.worldcubeassociation.org/files/regulations_history2010.html" %>)</li>
    <li><%= link_to "2009", "https://regulations.worldcubeassociation.org/history/files/regulations2009.html" %> (<%= link_to "Changes", "https://regulations.worldcubeassociation.org/files/regulations_history2009.html" %>)</li>
    <li><%= link_to "2008", "https://regulations.worldcubeassociation.org/history/files/regulations2008.html" %> (<%= link_to "Changes", "https://regulations.worldcubeassociation.org/files/regulations_history2008.html" %>)</li>
    <li><%= link_to "2007", "https://regulations.worldcubeassociation.org/history/files/regulations2007.html" %></li>
    <li><%= link_to "2006 v2", "https://regulations.worldcubeassociation.org/history/files/regulations2006v2.html" %>
      <ul>
        <li><%= link_to "2006", "https://regulations.worldcubeassociation.org/history/files/regulations2006.html" %></li>
      </ul>
    </li>
    <li><%= link_to "2005", "https://regulations.worldcubeassociation.org/history/files/regulations2005.html" %></li>
    <li><%= link_to "2004", "https://regulations.worldcubeassociation.org/history/files/regulations2004.html" %></li>
  </ul>
  <p>Current updates to the Regulations and Guidelines are available <%= link_to "on GitHub", "https://github.com/thewca/wca-regulations/" %>.</p>
</div>
