<% provide(:title, 'Delegates panel') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <ul>
    <li>
      <%= link_to "Crash course", delegate_crash_course_path %>
    </li>
    <li>
      <%= link_to "Delegates", delegates_stats_path %>
    </li>
    <li>
      <%= link_to "WR Submission Form", "https://docs.google.com/forms/d/e/1FAIpQLSeJwf6b7yGGyWFhU0xfKSF3ki_nITyIKXVFRP86unb9EYRtHQ/viewform" %>
    </li>
  </ul>

  <% if current_user&.can_view_senior_delegate_material? %>
    <h1>Senior Delegates panel</h2>

    <ul>
      <li>
        <%= link_to "Senior Delegate forms", "https://docs.google.com/document/d/12oyMQTC6hBhiil8CFvYuIT-iZfLO48urap4yq0w4xkg/" %>
      </li>
      <li>
        <%= link_to "Pending claims for your subordinate Delegates", pending_claims_path %>
      </li>
    </ul>
  <% end %>

  <% if current_user&.board_member? %>
    <h1>Board panel</h2>

    <ul>
      <li>
        <%= link_to "List of Senior Delegates", delegate_seniors_path %>
      </li>
    </ul>
  <% end %>
</div>
