<p>
  <%= @registration.name %>
  <% if @registration.user.wca_id %>
    (<%= wca_id_link @registration.user.wca_id -%>)
  <% end %>
  just registered for <%= @registration.competition.name %>.
</p>

<% user = @registration.user %>
<% bans = user.past_bans %>

<p>User has been banned <%= bans.count %> time(s), with the following scopes and reasons:</p>

<ul>
  <% bans.each do |ban| %>
    <li>Scope: <%= ban.scope %>, reason: <%= ban.ban_reason %></li>
  <% end %>
</ul>

<p>If you have any questions regarding the competitor's disciplinary history, please reach out to the WIC by replying to this email.</p>
