<p>
  <%= @registration.name %>
  <% if @registration.user.wca_id %>
    (<%= wca_id_link @registration.user.wca_id -%>)
  <% end %>
  just registered for <%= @registration.competition.name %>.
</p>

<p>
  Guests: <%= @registration.guests %>
</p>

<p>
  Comments: <%= @registration.comments %>
</p>

<p>
  You can approve or delete this registration
  <%= link_to "here", @registration.competition.uses_new_registration_service? ?
                        edit_registration_v2_url(competition_id: @registration.competition.id, user_id: @registration.user.id) :
                        edit_registration_url(@registration) %>.
</p>

<p>
  You can opt out of receiving registration emails
  <%= link_to "here", edit_competition_url(@registration.competition), anchor: "opt-out-registration-email" %>.
</p>
