<% @competition = @registration.competition %>

<p>
  <%= t 'registrations.mailer.pending.moved_html', comp_name: link_to(@competition.name, competition_url(@competition)) %>
</p>

<ul>
  <li>
    <%= t 'registrations.mailer.pending.causes.accepted' %>
  </li>
  <li>
    <%= t 'registrations.mailer.pending.causes.withdrawal' %>
  </li>
</ul>

<p>
  <%= t 'registrations.mailer.pending.email_if_error' %>
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
