<% @competition = @registration.competition %>

<p>
  <%= t 'registrations.mailer.deleted.message_html', comp_name: link_to(@competition.name, competition_url(@competition)) %>
</p>

<ul>
  <li>
    <%= t 'registrations.mailer.deleted.causes.missing_info' %>
  </li>
  <li>
    <%= t 'registrations.mailer.pending.causes.withdrawal' %>
  </li>
  <li>
    <%= t 'registrations.mailer.deleted.causes.incomplete' %>
  </li>
  <li>
    <%= t 'registrations.mailer.deleted.causes.registrations_full' %>
  </li>
  <li>
    <%= t 'registrations.mailer.deleted.causes.multiple_registrations' %>
  </li>
  <li>
    <%= t 'registrations.mailer.deleted.causes.competition_canceled' %>
  </li>
</ul>

<p>
  <%= t 'registrations.mailer.pending.email_if_error' %>
</p>

<%= render partial: 'organizers_or_delegates_signature' %>
