<% link_id = wca_id_link(@user.unconfirmed_wca_id, target: "_blank") %>
<% if !@user.unconfirmed_person %>
  <p>
    <% if @user.unconfirmed_wca_id.present? %>
      <%= t '.unknown_wca_id_html', link_id: link_id %>
    <% end %>
  </p>
<% elsif @user.unconfirmed_person.user && !@user.unconfirmed_person.user.dummy_account? %>
  <p>
    <%= t '.already_assigned_html', link_id: link_id, link_delegate: delegates_path %>
  </p>
<% elsif !@user.unconfirmed_person.dob %>
  <p>
    <%= t '.missing_dob_html', link_id: link_id, dob_form_path: contact_dob_path %>
  </p>
<% else %>
  <p>
    <%= t '.select_delegate_html', link_delegate: delegates_path %>
  </p>

  <div class="form-group radio_buttons optional">
    <% found_delegate = false %>
    <% @user.unconfirmed_person.likely_delegates.each do |delegate| %>
      <span class="radio">
        <label>
          <% is_selected_delegate = @user.delegate_id_to_handle_wca_id_claim == delegate.id %>
          <% if is_selected_delegate %>
            <% found_delegate = true %>
          <% end %>
          <%= radio_button_tag "user[delegate_id_to_handle_wca_id_claim]", delegate.id, is_selected_delegate, class: "radio_buttons center-vertically", checked: is_selected_delegate %>
          <div class="wca-user">
            <%= react_component("UserAvatar", {
              avatar: delegate.avatar,
              size: "small",
            }, class: 'avatar-thumbnail') %>
            <div class="info">
              <div class="name"><%= delegate.name %></div>
              <% if delegate.wca_id %>
                <div class="wca-id"><%= delegate.wca_id %></div>
              <% end %>
            </div>
          </div>
        </label>
      </span>
    <% end %>

    <span class="radio">
      <!-- We don't want focusing the autocomplete to focus the radio button, so we
           make sure it doesn't focus anything by setting the wrapping label to
           focus nothing -->
      <label class="full-width" for="nonexistant-id">
        <% chose_extra_delegate = !found_delegate && @user.delegate_to_handle_wca_id_claim %>
        <input class="radio_buttons optional center-vertically"
               type="radio"
               value="<%= chose_extra_delegate ? @user.delegate_to_handle_wca_id_claim.id : '' %>"
               name="user[delegate_id_to_handle_wca_id_claim]" <%= chose_extra_delegate ? 'checked' : '' %> />

        <% input_data = {} %>
        <% value = "" %>
        <% if chose_extra_delegate %>
          <% delegate = @user.delegate_to_handle_wca_id_claim %>
          <% input_data[:data] = [delegate].to_json %>
          <% value = @user.delegate_to_handle_wca_id_claim.id %>
        <% end %>
        <%= text_field_tag "", value,
                           id: "nearby-delegate-search",
                           class: "optional form-control wca-autocomplete wca-autocomplete-users_search wca-autocomplete-only_staff_delegates wca-autocomplete-only_one",
                           data: input_data %>

      </label>
    </span>
  </div>
  <script>
    (function() {
      // Make dob verification field visible.
      $("div.user_dob_verification").toggle(true);
    })();
  </script>
<% end %>
