<script src="https://www.paypal.com/sdk/js?client-id=<%= AppSecrets.PAYPAL_CLIENT_ID%>&merchant-id=95XC2UKUP2CFW&currency=<%= @registration.outstanding_entry_fees.currency.iso_code %>"></script>
<script>
  // ----------
  // Init PayPal PaymentElement
  // ----------

  paypal.Buttons({
      // Order is created on the server and the order id is returned
      createOrder: (data, actions) => {
        return fetch("/registration/<%= @registration.id %>/create-paypal-order/", {
          method: "post",
          body: JSON.stringify({ competition_id: '<%= @competition.id %>' }),
          headers: {
            'Content-Type': 'application/json' // Set the content type to JSON
          }
      })
      .then((response) => response.json())
      .then((order) => order.id);
      },

      // Finalize the transaction on the server after payer approval
      onApprove: (data, actions) => {
        return fetch(`/registration/<%= @registration.id %>/capture-paypal-payment/${data.orderID}`, {
          method: "post",
          body: JSON.stringify({ competition_id: '<%= @competition.id %>' }),
          headers: {
            'Content-Type': 'application/json' // Set the content type to JSON
          }
      })
      .then((response) => response.json())
      .then((orderData) => {
          // Successful capture! For dev/demo purposes:
          console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          const transaction = orderData.purchase_units[0].payments.captures[0];
          alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);

          // When ready to go live, remove the alert and show a success message within this page. For example:
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
      });
      }
  }).render('#payment-element');
</script>


