<p>
  Competition Announcement Team,
</p>

<p>
  <strong><%= @confirmer.name %> has confirmed <%= link_to @competition.name, competition_url(@competition) %> in <%= @competition.cityName %>, <%= @competition.country.name %>.</strong>
</p>

<p class="<%= 'alert' if (@competition.start_date - Time.now.to_date).to_i <= 30 %>">
  The competition will take place on <%= wca_date_range(@competition.start_date, @competition.end_date) %> in <%= (@competition.days_until).to_i %> days.
  <% if (@competition.days_until).to_i <= 30 %>
    There are less than 48 hours remaining for the competition to be announced. @<%= "Delegate".pluralize(@competition.delegates.count) %>: please respond to any WCAT concerns as soon as possible to ensure that the competition becomes announced. If the competition becomes less than 28 days away, the WCAT cannot announce it.
  <% end %>
</p>

<% if @competition.championships.present? %>
  <p class="alert">
    This competition is marked as <%= @competition.championships.sort.map(&:name).to_sentence %>.
  </p>
<% end %>
<% @competition.championship_warnings.each do |key, warning| %>
  <h2 class="alert"><%= warning %></h2>
<% end %>

<% @competition.delegates.map do |delegate| %>
  <% if Team.probation.current_members.map { |member| member.user_id }.include?(delegate.id) %>
    <p class="alert">
      <%= delegate.name %> is currently on probation. Please check the <%= link_to "Delegates on Probation spreadsheet", "https://docs.google.com/spreadsheets/d/1ZU1lk0niGn-vjmbiDkoROU8qjmdHkNebZ2GCFHm6vvA/edit#gid=1887522006" %> for more details.
      You can view the Delegate's currently announced competitions <%= link_to "here", competitions_url(delegate: delegate.id) %>.
    </p>
  <% end %>
<% end %>

<% @competition.nearby_competitions_warning.each do |c| %>
  <% if @competition.dangerously_close_to?(c) %>
    <% days_difference = (@competition.start_date - c.start_date).to_i %>
    <% days_sentence = days_difference > 0 ? "#{days_difference} days before" : "#{-days_difference} days after" %>
    <p class="alert">
      This competition has a potential proximity conflict with
      <%= link_to c.name, admin_edit_competition_url(c) %>
      which is <%= days_sentence %> and <%= @competition.kilometers_to(c).round(2) %> km away.
    </p>
  <% end %>
<% end %>

<p>
  <% if @competition.remarks.present? %>
    <%= @confirmer.name %> says: "<%= @competition.remarks %>".
    <br>
  <% end %>

  <% if @competition.name_reason? %>
    The competition name is because "<%= @competition.name_reason %>".
    <br>
  <% end %>

  <% if @competition.competitor_limit_enabled? %>
    <span class="<%= 'alert' if @competition.competitor_limit < 50 %>">
      There is a competitor limit of <%= @competition.competitor_limit %> because "<%= @competition.competitor_limit_reason %>".
    </span>
    <br>
  <% end %>
</p>

<p>
  <% if @competition.early_puzzle_submission? %>
    The <%= "Delegate".pluralize(@competition.delegates.count) %> requested for competitors to <b>submit puzzles early</b> because "<%= @competition.early_puzzle_submission_reason %>".
    <br>
  <% end %>

  <% if @competition.uses_qualification? %>
    The <%= "Delegate".pluralize(@competition.delegates.count) %> requested the adoption of <b>qualification results</b> because "<%= @competition.qualification_results_reason %>".
  <% end %>

  <% if @competition.event_restrictions? %>
    The <%= "Delegate".pluralize(@competition.delegates.count) %> requested the adoption of <b>event restrictions</b> because "<%= @competition.event_restrictions_reason %>".
  <% end %>

  <% if @competition.events_per_registration_limit_enabled? %>
    The <%= "Delegate".pluralize(@competition.delegates.count) %> requested an <b>events per registration limit of <%= @competition.events_per_registration_limit %></b>.
  <% end %>
</p>

<p>
  @WCAT: You can manage this competition <%= link_to "here", admin_edit_competition_url(@competition) %>. For a complete list of confirmed but unannounced competitions see your <%= link_to "notifications", notifications_url %>.
</p>

<p>
  Regards,
  <br>
  <%= @competition.delegates.sort_by { |d| d.name }.map { |d| d.name }.to_sentence %>
</p>
