<p>Results Team,</p>

<p>
  <%= @submitter_user.name %> has uploaded the results for <%= link_to @competition.name, competition_url(@competition) %>.
  You can check and preview the uploaded results <%= link_to "here", competition_admin_upload_results_edit_url(@competition) %>, or you can go ahead with the posting process through <%= link_to "Posting Dashboard", panel_wrt_url + "#posting-dashboard" %> (<%= link_to "Link to import-results-page", competition_admin_import_results_url(@competition) %> for reference).
  <br>
  The latest uploaded json by the Delegate is attached.
</p>

<p>
  The competition schedule is available on the WCA website <%= link_to "here", link_to_competition_schedule_tab(@competition) %>.
  <br>
  The Delegate has confirmed the competition's events page and the competition's schedule page reflect what happened during the competition.
</p>

<p>
  <% unless @results_submission.results_validator.has_warnings? %>
    The competition results had no warning.
  <% else %>
    Please find below the list of warnings for the competition's results:
    <% @results_submission.results_validator.warnings.group_by(&:kind).each do |type, warnings| %>
      <% if warnings.any? %>
        <br/>Warnings detected in <%= type %>
        <ul>
          <% warnings.each do |warning| %>
            <li><%= warning %></li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  <% end %>
</p>

<p>Here's a message from <%= @submitter_user.name %>:</p>

<blockquote><%= md @results_submission.message %></blockquote>
