<p>Results Team,</p>

<p><%= @submitter_user.name %> has uploaded the results for <%= @competition.name %>. You can upload them <%= link_to "here", "https://www.worldcubeassociation.org/results/admin/upload_results.php?competitionId=#{@competition.id}" %>.</p>

<p>The competition schedule is available at <%= link_to @results_submission.schedule_url, @results_submission.schedule_url %>.</p>

<p>Here's a message from <%= @submitter_user.name %>:</p>

<blockquote><%= md @results_submission.message %></blockquote>
