<p>
  Dear <%= "Delegate".pluralize(@competition.delegates.count) %> of <%= @competition.name %>,
</p>

<p>
  This is an automated reminder on behalf of the WCA Board.
</p>

<p>
  <%= @competition.name %> took place <%= (DateTime.now.utc.to_date - @competition.end_date).to_i %> days ago and
  the Delegate report must have been submitted to the
  WCA Board within one week of the end of the competition according to Regulation <a href="https://www.worldcubeassociation.org/regulations/#1c1">1c1)</a>.
  Irrespective of if you are available to send in your report any time soon,
  <span style="text-decoration: underline; font-weight: bold; font-size: larger;">please reply to
  this email to update us on the situation of this missing report</span>. Then submit the report as fast
  as possible <%= link_to "here", delegate_report_url(@competition) %>.
</p>

<p>
  @Senior Delegate: You can view the <%= "history".pluralize(@competition.delegates.count) %> of these <%= "Delegate".pluralize(@competition.delegates.count) %> here:
  <ul>
    <% @competition.delegates.each do |delegate| %>
      <li><%= link_to "#{delegate.name}", competitions_url(display: "admin", years: "all", delegate: delegate.id), target: "_blank" %></li>
    <% end %>
  </ul>
</p>

<p>
  Regards,
  The WCA Board.
</p>
