<% if f.object&.errors&.any? %>
  <div id="error_explanation">
    <%= alert :danger do %>
      <%= t 'wca.errors.messages.form_error', count: f.object.errors.count %>
      <ul>
        <% f.object.errors.each do |error| %>
          <li>
            <% if f.generated_attribute_inputs&.include?(error.attribute) %>
              <a href="#<%= f.field_id(error.attribute) %>"><strong><%= f.object.class.human_attribute_name(error.attribute) %></strong></a>
            <% else %>
              <strong><%= f.object.class.human_attribute_name(error.attribute) %></strong>
            <% end %>
            <%= error.message %>
        </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
