<%= wca_table table_class: "wca-results" do %>
  <thead>
    <tr>
      <th class="pos"> # </th>
      <th class="name"> <%= t("results.table_elements.name") %> </th>
      <th class="result"> <%= t("results.table_elements.result") %> </th>
      <th class="country"> <%= t("results.table_elements.representing") %> </th>
      <th class="competition"> <%= t("results.table_elements.competition") %> </th>
      <% if @is_average %>
        <th class="solves" colspan="5"> <%= t("results.table_elements.solves") %> </th>
      <% end %>

      <!-- Extra column for .table-greedy-last-column -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% previous_value = 0 %>
    <% previous_rank = 0 %>
    <% @rows.each_with_index do |row, i| %>
      <% result = LightResult.new(row) %>
      <% competition = @competitions_by_id[row["competitionId"]] %>
      <% value = row["value"] %>
      <% rank = value == previous_value ? previous_rank : i+1 %>
      <% tied_previous = rank == previous_rank %>

      <tr>
        <td class="pos <%= tied_previous ? "tied-previous" : "" %>"> <%= rank %> </td>
        <td class="name"> <%= link_to result.personName, person_path(result.personId) %> </td>
        <td class="result"> <%= SolveTime.new(params[:event_id], @is_average ? :average : :single, value).clock_format %> </td>
        <td class="country"> <%= flag_icon result.country.iso2 %> <%= result.country.name %> </td>
        <td class="competition"> <%= flag_icon competition.country.iso2 if competition.country.real? %> <%= link_to competition.cellName, competition_path(competition.id) %> </td>
        <% if @is_average %>
          <%= solve_tds_for_result(result) %>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <td></td>
      </tr>

      <% previous_value = value %>
      <% previous_rank = rank %>
    <% end %>
  </tbody>
<% end %>
