<% rows_to_display, first_continent_index, first_country_index = compute_rankings_by_region(@rows, @continent, @country) %>
<%= wca_table table_class: "wca-results" do %>
  <thead>
    <tr>
      <% columns_number = 5 %>
      <th class="region"> <%= t("results.table_elements.region") %> </th>
      <th class="result"> <%= t("results.table_elements.result") %> </th>
      <th class="name"> <%= t("results.table_elements.name") %> </th>
      <th class="competition"> <%= t("results.table_elements.competition") %> </th>
      <% if @is_average %>
        <% columns_number += 5 %>
        <th class="solves" colspan="5"> <%= t("results.table_elements.solves") %> </th>
      <% end %>

      <!-- Extra column for .table-greedy-last-column -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% shown = {} %>
    <% rows_to_display.each_with_index do |row, i| %>
      <% result = LightResult.new(row) %>
      <% competition = @competitions_by_id[row["competitionId"]] %>
      <% value = row["value"] %>
      <% if i < first_continent_index %>
        <% tied_previous = shown["World"] %>
        <% show = t("results.table_elements.world") %>
        <% shown["World"] = true %>
      <% elsif i >= first_continent_index && i < first_country_index %>
        <% tied_previous = shown[result.country.continent.id] %>
        <% show = result.country.continent.name %>
        <% shown[result.country.continent.id] = true %>
      <% else %>
        <% tied_previous = shown[result.country.id] %>
        <% show = result.country.name %>
        <% flag = flag_icon result.country.iso2 %>
        <% shown[result.country.id] = true %>
      <% end %>
      <tr>
        <td class="region <%= tied_previous ? "tied-previous" : "" %>"> <%= flag if flag.present? %> <%= show %> </td>
        <td class="result"> <%= SolveTime.new(params[:event_id], @is_average ? :average : :single, value).clock_format %> </td>
        <td class="name"> <%= link_to result.personName, person_path(result.personId) %> </td>
        <td class="competition"> <%= flag_icon competition.country.iso2 if competition.country.real? %> <%= link_to competition.cell_name, competition_path(competition.id) %> </td>
        <% if @is_average %>
          <%= solve_tds_for_result(result) %>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <td></td>
      </tr>

      <!-- To visually separate the results between world, continents, and countries -->
      <% if i+1 == first_continent_index || (i+1 == first_country_index && @continent.nil?) %>
        <tr>
          <td class="blank-row" colspan="<%= columns_number %>"><br></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
<% end %>
