<% title = Country::WCA_STATES["title"] %>
<% version = Country::WCA_STATES["version"] %>
<% version_hash = Country::WCA_STATES["version_hash"] %>
<% preamble = Country::WCA_STATES["text"] %>
<% states_lists = Country::WCA_STATES["states_lists"] %>
<% provide(:title, title) %>
<div class="container">
  <h1><%= title %></h1>
  <div class="version"><%= version %><br/>[<code><a href="https://github.com/thewca/wca-regulations/tree/official/">official</a>:<a href="https://github.com/thewca/wca-regulations/commits/<%= version_hash %>"><%= version_hash %></a></code>]</div>
  <br/>
  <p><%= preamble %></p>
  <% states_lists.each do |list| %>
    <% unless list["title"].blank? %>
      <h3 id="<%= list["title"].downcase.tr(' ', '-') %>"><%= list["title"] %></h3>
    <% end %>
    <ul>
      <% list["states"].each do |state| %>
        <li><strong><%= state["name"] %></strong>
          <% unless state["info"].blank? %>
            <p><%= state["info"] %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
