  <%= bootstrap_devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}') %></h4>
    </div>
    <div class="panel-body">
      <% if resource.wca_id.blank? %>
        You do not have a WCA id assigned yet. Contact your local <%= link_to "WCA delegate", delegates_path %> to get yours assigned.
      <% else %>
        Your WCA id is <code><%= link_to resource.wca_id, "/results/p.php?i=#{resource.wca_id}" %></code>.
      <% end %>
      <%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div>
      <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %></div>
  <% end %>
  </div>
</div>
