<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t '.sign_up' %></h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'are-you-sure no-submit-on-enter' }) do |f| %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true %>
        <%= f.input :password_confirmation, required: true %>


        <ul class="nav nav-tabs nav-justified" id="have-you-competed-nav" role="tablist">
          <li role="presentation">
            <a href="#have-competed" aria-controls="have-competed" role="tab" data-toggle="tab">
              <%= t 'wca.devise.have_competed' %>
            </a>
          </li>
          <li role="presentation">
            <a href="#never-competed" aria-controls="never-competed" role="tab" data-toggle="tab">
              <%= t 'wca.devise.have_never_competed' %>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="unknown-competed">
            <%= t 'wca.devise.let_us_know' %>
          </div>

          <div role="tabpanel" class="tab-pane" id="have-competed">
            <p>
              <%= t 'wca.devise.welcome_back' %>
            </p>

            <%= render "users/claim_wca_id_selector", f: f %>
          </div>

          <div role="tabpanel" class="tab-pane" id="never-competed">
            <p>
            <%= t 'wca.devise.welcome_html' %>
            </p>

            <%# Copied from app/views/users/edit.html.erb %>
            <%= f.input :name %>
            <%= f.input :dob, as: :date_picker %>
            <%= f.input :gender %>
            <%= f.input :country_iso2, collection: Country.all_sorted_by(I18n.locale, real: true), value_method: lambda { |c| c.iso2 }, label_method: lambda { |c| c.name } %>

          </div>
        </div>
        <%= f.hidden_field :claiming_wca_id %>
        <%= recaptcha_tags %>
        <br>
        <%= f.submit t('.sign_up'), class: "btn btn-primary", disabled: true %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(function() {
    var $claiming_wca_id = $('#user_claiming_wca_id');
    $('#have-you-competed-nav a').on('shown.bs.tab', function() {
      // Leave the "Sign up" button disabled until the user tells us if they
      // have competed before.
      $('input[type="submit"]').attr('disabled', false);
    });

    $('.tab-pane').find("input").attr("disabled", true);
    $('.nav-tabs').on('hidden.bs.tab', function(e) {
      var $hiddenPanel = $("#" + $(e.target).attr("aria-controls"));
      // Disable all <input>s in the just hidden panel.
      $hiddenPanel.find("input").attr("disabled", true);
    });
    $('.nav-tabs').on('shown.bs.tab', function(e) {
      var $shownPanel = $("#" + $(e.target).attr("aria-controls"));
      // Enable all <input>s in the just shown panel.
      $shownPanel.find("input").attr("disabled", false);
    });

    var $haveCompetedLink = $('#have-you-competed-nav a[href="#have-competed"]');
    if($claiming_wca_id.val() === "true") {
      $haveCompetedLink.tab('show');
    }
    $haveCompetedLink.on('shown.bs.tab', function() {
      $claiming_wca_id.val('true');
    });

    var $neverCompetedLink = $('#have-you-competed-nav a[href="#never-competed"]');
    if($claiming_wca_id.val() === "false") {
      $neverCompetedLink.tab('show');
    }
    $neverCompetedLink.on('shown.bs.tab', function() {
      $claiming_wca_id.val('false');
    });
  });
</script>
