<div class="container">
  <%= bootstrap_devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t('.sign_up', :default => "Sign up") %></h4>
    </div>
    <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: user_registration_path, html: { role: "form" }) do |f| %>
        <%= f.input :email %>
        <%= f.input :name %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

        <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
