<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'wca.ico' %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src='//maps.google.com/maps/api/js?libraries=places'></script>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, rss_url(format: :xml)) %>
  <% if ENVied.WCA_LIVE_SITE %>
    <script>
      // See http://blog.ruigomes.me/google-universal-analytics-tracking-with-rails-4/
      (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");
      ga("create", "UA-41256017-1", "auto");
      ga("set", "anonymizeIp", true);
    </script>
  <% end %>
  <script>
    // Some globals for use in our javascript codebase.
    var wca = wca || {};
    (function() {
      wca.competitions = <%= (@js_competitions || []).to_json.html_safe %>;
      wca.competitionById = {};
      _.each(wca.competitions, function(competition) {
        wca.competitionById[competition.id] = competition;
      });
      wca.users = <%= (@js_users || []).to_json.html_safe %>;
      wca.userById = {};
      _.each(wca.users, function(user) {
        wca.userById[user.id] = user;
      });
    })();
  </script>
</head>
<body data-rails-controller-name="<%= controller_name %>" data-rails-controller-action-name="<%= action_name %>">

  <!-- Static navbar -->
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a href="/"><%= image_tag "wca_logo.svg" %></a>
        <a href="/"><span>World Cube Association</span></a></div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse disabled">
        <ul class="nav navbar-nav">
          <li class="dropdown <%= params[:controller] == 'static_pages' || params[:controller] == 'posts' ? 'active' : '' %>">
            <a href="/" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">Information <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About the WCA</a></li>
              <li><a href="/delegates">WCA Delegates</a></li>
              <li><a href="/organisations">National Organisations</a></li>
              <li><a href="/contact">Contact Information</a></li>
              <li><a href="/score-tools">Score Tools</a></li>
              <li><a href="/logo">Logo</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/results/" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">Results <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/results/competitions.php">Competitions</a></li>
              <li><a href="/results/events.php">Rankings</a></li>
              <li><a href="/results/regions.php">Records</a></li>
              <li><a href="/results/persons.php">Persons</a></li>
              <li class="divider"></li>
              <li><a href="/results/statistics.php">Statistics</a></li>
              <li><a href="/results/media.php">Multimedia</a></li>
              <li><a href="/results/misc.php">Miscellaneous</a></li>
              <li><a href="/results/misc/export.html">Database Export</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/regulations/" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">Regulations <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/regulations/">Regulations</a></li>
              <li><a href="/regulations/guidelines.html">Guidelines</a></li>
              <li><a href="/regulations/scrambles/">Scrambles</a></li>
              <li class="divider"></li>
              <li><a href="/regulations/history/">History</a></li>
              <li><a href="/regulations/translations/">Translations</a></li>
            </ul>
          </li>
          <li><a href="/forum/" class="top-nav">Forum</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">
              <% if current_user %>
                <%= current_user.email %>
              <% else %>
                Sign in
              <% end %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <% if user_signed_in? %>
                <li><%= link_to "Edit account", edit_user_registration_path %></li>
                <% if current_user.can_edit_users? %>
                  <li class="divider"></li>
                  <li role="presentation" class="dropdown-header">
                    Administration
                  </li>
                  <li><%= link_to "Manage users", users_path %></li>
                <% end %>

                <% if current_user.can_admin_results? %>
                  <li class="divider"></li>
                  <li role="presentation" class="dropdown-header">
                    Results team
                  </li>
                  <li><%= link_to "Admin", "/results/admin/" %></li>
                  <li><%= link_to "New post", new_post_path %></li>
                <% end %>

                <li class="divider"></li>
                <li><%= link_to('Sign out', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to('Sign in', new_user_session_path, class: "top-nav") %></li>
                <li class="divider"></li>
                <li><%= link_to t('.didn_t_receive_confirmation_instructions', :default => "Didn't receive confirmation instructions?"), new_user_confirmation_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div class="container">
    <% flash.each do |message_type, message| %>
      <div class="alert <%= bootstrap_class_for message_type %> alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <% end %>
  </div>
  <%= yield %>

  <% if ENVied.WCA_LIVE_SITE %>
    <script>
      // See http://blog.ruigomes.me/google-universal-analytics-tracking-with-rails-4/
      ga('send', 'pageview', '<%= request.path %>');
    </script>
  <% end %>
</body>
</html>
