<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= favicon_link_tag 'wca.ico' %>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="icon" href='<%= asset_path("android-touch-icon.png") %>'/>
  <link rel="apple-touch-icon" href='<%= asset_path("apple-touch-icon.png") %>'/>

  <meta name="og:image" content='<%= asset_url("og-wca_logo.png") %>'/>

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= stylesheet_pack_tag 'application' %>
  <%= javascript_pack_tag 'application' %>

  <% if content_for :include_markdown_editor %>
    <%= stylesheet_pack_tag 'markdown_editor' %>
    <%= javascript_pack_tag 'markdown_editor' %>
  <% end %>

  <% if content_for :include_auto_numeric %>
    <%= javascript_pack_tag 'auto_numeric' %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:rss, rss_url(format: :xml)) %>
  <% if ENVied.WCA_LIVE_SITE %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41256017-1', 'auto');
      ga("set", "anonymizeIp", true);
      ga('send', 'pageview');
    </script>
  <% end %>
</head>
<body data-rails-controller-name="<%= controller_name %>" data-rails-controller-action-name="<%= action_name %>">

  <% hide_wca_navbars = yield(:hide_wca_navbars).present? %>
  <% if !hide_wca_navbars %>
    <%= render 'layouts/navigation' %>
  <% end %>

  <%= render 'layouts/flash' %>
  <%= yield %>

  <% if !hide_wca_navbars %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>
