<div class="personal-records">
  <h3 class="text-center"><%= t 'persons.show.personal_records' %></h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="event"><%= t 'competitions.results_table.event' %></th>
          <th class="country-rank">NR</th>
          <th class="continent-rank">CR</th>
          <th class="world-rank">WR</th>
          <th class="single"><%= t 'common.single' %></th>
          <th class="average"><%= t 'common.average' %></th>
          <th class="world-rank">WR</th>
          <th class="continent-rank">CR</th>
          <th class="country-rank">NR</th>
        </tr>
      </thead>
      <tbody>
        <% @ranks_single.sort_by { |rank_single| rank_single.event.rank } .each do |rank_single| %>
          <% rank_average = @ranks_average.find { |rank| rank.event_id == rank_single.event_id } %>
          <tr>
            <td class="event">
              <%= cubing_icon rank_single.event.id %>
              <%= t "events.#{rank_single.event.id}" %>
            </td>
            <%= rank_td rank_single, "country" %>
            <%= rank_td rank_single, "continent" %>
            <%= rank_td rank_single, "world" %>
            <td class="single"><%= rank_single %></td>
            <td class="average"><%= rank_average %></td>
            <%= rank_td rank_average, "world" %>
            <%= rank_td rank_average, "continent" %>
            <%= rank_td rank_average, "country" %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
