<div class="wc-podiums">
  <h3 class="text-center"><%= title %></h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="event"><%= t 'competitions.results_table.event' %></th>
          <th class="place"><%= t 'persons.show.place' %></th>
          <th class="single"><%= t 'common.single' %></th>
          <th class="average"><%= t 'common.average' %></th>
          <th class="solves" colspan="5"><%= t 'common.solves' %></th>
        </tr>
      </thead>
      <tbody>
        <% results.group_by(&:competition).each do |competition, results| %>
          <tr>
            <td colspan="9">
              <%= link_to competition.name, competition, class: "competition-link" %>
            </td>
          </tr>
          <% results.each do |result| %>
            <tr class="result">
              <td class="event">
                <%= cubing_icon result.event_id %>
                <%= t "events.#{result.event_id}" %>
              </td>
              <td class="place"><%= result.pos %></td>
              <td class="single"><%= result.best_solve.clock_format %></td>
              <td class="average"><%= result.average_solve.clock_format %></td>
              <%= solve_tds_for_result(result) %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
