<% provide(:title, t('layouts.navigation.persons')) %>

<div class="container" id="persons-index">
  <h2><%= yield(:title) %></h2>

  <div id="persons-query-fields" class="form-inline bs-table-query-fields">
    <div class="form-group">
      <%= select_tag(:region, region_option_tags(selected_id: params[:region], real_only: true), class: "form-control") %>
    </div>
    <div id="search-box" class="form-group">
      <div class="input-group">
        <%= content_tag :span, ui_icon("search"), class: "input-group-addon" %>
        <%= text_field_tag :search, params[:search], placeholder: t('.name_or_wca_id'), class: "form-control" %>
      </div>
    </div>
  </div>

  <%= wca_table table_class: "persons-table", floatThead: false,
                data: { toggle: "table", pagination: true, side_pagination: "server", url: persons_path,
                        query_params: "personsTableAjax.queryParams", mobile_responsive: true, ajax: "personsTableAjax.doAjax" } do %>
    <thead>
      <tr>
        <th class="name" data-field="name"><%=t '.name' %></th>
        <th class="wca-id" data-field="wca_id"><%=t 'common.user.wca_id' %></th>
        <th class="country" data-field="country"><%=t '.country' %></th>
        <th class="competitions-count" data-field="competitions_count"><%=t 'layouts.navigation.competitions' %></th>
        <th class="podiums-count" data-field="podiums_count"><%=t '.podiums' %></th>
      </tr>
    </thead>
  <% end %>
</div>

<script>
  $(function() {
    $('.persons-table').bootstrapTable('getOptions').formatNoMatches = function() {
      return '<%=j t('.no_persons_found') %>';
    }
  });
</script>
