<% provide(:title, @person.name) %>

<div class="container" id="person">
  <%= render "details" %>
  <%= render "personal_records" %>
  <%= render "world_championship_podiums" if @world_championship_podiums.any? %>
  <%= render "medal_collection" if @medals[:total] > 0 %>
  <%= render "record_collection" if @records[:total] > 0 %>
  <%= render "results_by_event" %>
  <%= render "competitions_map" %>
</div>
