<% provide(:title, @person.name) %>
<% add_to_packs("wca_maps") %>

<div class="container" id="person">
  <% cache [@person, "details", I18n.locale] do %>
    <%= render "details" %>
  <% end %>
  <% cache [@person.wca_id, @rank_single, @rank_average, "personal_records", I18n.locale] do %>
    <%= render "personal_records" %>
  <% end %>
  <div class="row">
    <% cache [@person.wca_id, @medals, @records, "collection", I18n.locale] do %>
      <%= render "medal_collection" if @medals[:total] > 0 %>
      <%= render "record_collection" if @records[:total] > 0 %>
    <% end %>
  </div>

  <div>
    <ul class="nav nav-tabs nav-justified">
      <li><a href="#results-by-event" data-toggle="tab"><%= t '.results' %></a></li>
      <% if @records[:total] > 0 %>
        <li><a href="#records" data-toggle="tab"><%= t '.records' %></a></li>
      <% end %>
      <% if @championship_podiums.values.flatten.any? %>
        <li><a href="#championship-podiums" data-toggle="tab"><%= t '.championship_podiums' %></a></li>
      <% end %>
      <li><a href="#map" data-toggle="tab"><%= t '.competitions_map' %></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="results-by-event">
        <% cache [@person.wca_id, @results, "results_by_event", I18n.locale] do %>
          <%= render "results_by_event" %>
        <% end %>
      </div>
      <% if @records[:total] > 0 %>
        <div class="tab-pane" id="records">
          <% cache [@person.wca_id, @records, "records", I18n.locale] do %>
            <%= render "records" %>
          <% end %>
        </div>
      <% end %>
      <% if @championship_podiums.values.flatten.any? %>
        <div class="tab-pane" id="championship-podiums">
          <% cache [@person.wca_id, @championship_podiums, "podiums", I18n.locale] do %>
            <%= render "championship_podiums" %>
          <% end %>
        </div>
      <% end %>
      <div class="tab-pane" id="map">
        <% cache [@person.wca_id, @results, "map", I18n.locale] do %>
          <%= render "competitions_map" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
