<% provide(:title, t('.title')) %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('.description') %></p>

  <%= simple_form_for @contact, url: contact_dob_path, html: { multipart: true } do |f| %>
    <%= f.input :name %>
    <%= f.input :your_email %>
    <%= f.input :wca_id %>
    <%= f.input :dob, as: :date_picker %>

    <strong><%= t('.important_message_html') %></strong>

    <%= f.input :document, as: :file %>
    <%= recaptcha_tags %>
    <div>
      </br>
      <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
