<table class="table polls-list">
  <% polls.each do |poll| %>
    <tr class="<%= !poll.confirmed? ? "danger" : "" %>" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= !poll.confirmed? ? "This poll is not confirmed" : "" %>">
      <td><%=md poll.question %></td>
      <td>
        <% if poll.user_already_voted?(current_user) %>
          <span class="icon check circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-container="body" title="You have already voted in this poll"></span>
        <% end %>
      </td>
      <td>
        <% if poll.over? %>
          <%= link_to "Results", polls_results_path(poll), class: "btn btn-xs btn-info" %>
        <% else %>
          <% if poll.user_already_voted?(current_user) %>
            <%= link_to "Edit vote", polls_vote_path(poll), class: "btn btn-xs btn-info" %>
          <% else %>
            <%= link_to "Vote", polls_vote_path(poll), class: "btn btn-xs btn-info" %>
          <% end %>
        <% end %>
      </td>
      <% if current_user.can_create_poll? %>
        <td><%= link_to "Edit", edit_poll_path(poll), class: "btn btn-xs btn-success" %></td>
      <% end %>
      <td>
        <%= poll.over? ? "Voting closed on" : "Open until" %> <%= wca_local_time(poll.deadline) %>
      </td>
    </tr>
  <% end %>
</table>
