<% provide(:title, 'Polls') %>

<div class="container">
  <h1>
    <%= yield(:title) %>

    <% if current_user.can_create_poll? %>
      <%= link_to new_poll_path, class: "btn btn-primary" do %>
        <%= ui_icon("plus") %> New
      <% end %>
    <% end %>
  </h1>

  <% if @polls.empty? %>
    <%= alert :warning, "There are currently no polls." %>
  <% else %>
    <h4>Open polls</h4>
    <%= render 'polls_list', polls: @open_polls %>

    <h4>Closed polls</h4>
    <%= render 'polls_list', polls: @closed_polls %>
  <% end %>
</div>
