<% provide(:title, 'Create poll') %>

<div class="container new-poll">
  <h1><%= yield(:title) %></h1>

  <%= horizontal_simple_form_for @poll, html: { class: 'are-you-sure no-submit-on-enter' } do |f| %>
    <%= f.input :question, required: true, autofocus: true %>

    <%= link_to polls_path, class: "btn btn-default" do %>
      <%= ui_icon("undo") %> Back to Polls
    <% end %>
    <button type="submit" class="btn btn-success">Create poll</button>
  <% end %>
</div>
