<% provide(:title, t('.title')) %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('.description_html', contact_path: contact_path) %></p>

  <%= simple_form_for @contact, url: contact_website_path, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name %>
    <%= f.input :your_email %>
    <%= f.input :message, as: :text %>
    <%= recaptcha_tags %>
    <div>
      </br>
      <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
