<% provide(:title, t('.title')) %>
<div class="container">
  <h1><%= yield(:title) %></h1>
  <div class="alert alert-info">
      Before making an inquiry, you may wish to take a look at our <%= link_to 'Frequently Asked Questions', '/faq' %>! If you wish to contact a specific committee or team, you can find their contact information on our <%= link_to 'about page', '/about' %>.
  </div>
  <%= simple_form_for @contact, url: contact_website_path do |f| %>
    <% options = [
      [t('.inquiries.competition'), "competition"],
      [t('.inquiries.competitions_in_general'), "competitions_in_general"],
      [t('.inquiries.wca_id_or_profile'), "wca_id_or_profile"],
      [t('.inquiries.media'), "media"],
      [t('.inquiries.software'), "software"],
      [t('.inquiries.different'), "different"],
    ] %>
    <%= f.input :inquiry, as: :radio_buttons, collection: options %>
    <%= f.input :competition_id, as: :competition_id, only_one: true, wrapper_html: { id: "target_competition" } %>
    <%= f.input :name %>
    <%= f.input :your_email %>
    <%= f.input :message, as: :text %>
    <%= recaptcha_tags %>
    <div>
      </br>
      <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  /* Show competition input when competition radio is selected. */
  $('input[type="radio"][name="website_contact[inquiry]"]').on('change', function() {
    $('#target_competition').toggle($('#website_contact_inquiry_competition').is(':checked'));
  }).trigger('change');
</script>
