<% provide(:title, 'WCA Website Contact Form') %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <p>
    Use this form for website questions, comments, and suggestions only.
    <%= link_to "Other inquiries", contact_path %> should be sent to the
    appropriate party.
    Items with a star (*) are required.
  </p>

  <%= simple_form_for @contact, url: contact_website_path, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :your_email, required: true %>
    <%= f.input :message, as: :text, required: true %>
    <%= recaptcha_tags %>
    <div>
      </br>
      <%= f.button :submit, 'Send message', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
