<% provide(:title, t('.title')) %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t('.description_html', contact_path: contact_path) %></p>

  <%= simple_form_for @contact, url: contact_website_path do |f| %>
    <% competition_input = f.input :competition_id, as: :competition_id, only_one: true, label: false, wrapper_html: { id: "target_competition" } %>
    <% options = [
      [t('.inquiries.competition').html_safe + competition_input, "competition"],
      [t('.inquiries.competitions_in_general'), "competitions_in_general"],
      [t('.inquiries.wca_id_or_profile'), "wca_id_or_profile"],
      [t('.inquiries.media'), "media"],
      [t('.inquiries.different'), "different"],
    ] %>
    <%= f.input :inquiry, as: :radio_buttons, collection: options %>
    <%= f.input :name %>
    <%= f.input :your_email %>
    <%= f.input :message, as: :text %>
    <%= recaptcha_tags %>
    <div>
      </br>
      <%= f.button :submit, t('.submit'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  /* Focus competition input whenever the corresponding radio button is clicked. */
  $('#target_competition').siblings('input[type="radio"]').on('click', function() {
    $('#target_competition').find('input[type="text"]').focus();
  });
</script>
