<div class="container">
  <h1>WCA Regulations Committee (WRC) Contact Form</h1>

  <p>
    You can send the WRC a message using the contact form below. Items with a star
    (<span style="color: #FFAE00;">*</span>) are required. This form should be
    used for questions and concerns about the WCA Regulations only.
    <%= link_to "Other inquiries", contact_path %> should be sent to the
    appropriate party.
  </p>

  <%= simple_form_for @contact, url: contact_wrc_path, html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :your_email, required: true %>
    <%= f.input :message, as: :text, required: true %>
    <%= recaptcha_tags %>
    <div>
      </br>
      <%= f.button :submit, 'Send message', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
