<%= wca_table table_class: "wca-results" do %>
  <thead>
    <tr>
      <th class="event"> <%= t("results.table_elements.event") %> </th>
      <th class="result"> <%= t("results.table_elements.result") %> </th>
      <th class="name"> <%= t("results.table_elements.name") %> </th>
      <th class="country"> <%= t("results.table_elements.representing") %> </th>
      <th class="competition"> <%= t("results.table_elements.competition") %> </th>
      <% is_single = type == "single" %>
      <% unless is_single %>
        <th class="solves" colspan="5"> <%= t("results.table_elements.solves") %> </th>
      <% end %>

      <!-- Extra column for .table-greedy-last-column -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% shown_event = {} %>
    <% rows.each do |row| %>
      <% result = LightResult.new(row) %>
      <% value = row["value"] %>
      <% competition = @competitions_by_id[row["competition_id"]] %>

      <tr>
        <% if !shown_event[result.event.id] %>
          <td class="event">
            <%= link_to rankings_path(result.event.id, type) do %>
              <%= cubing_icon result.event.id %>
              <%= result.event.name %>
            <% end %>
          </td>
          <% shown_event[result.event.id] = true %>
        <% else %>
          <td class="event tied-previous"> <%= cubing_icon result.event.id %> <%= result.event.name %> </td>
        <% end %>
        <td class="result"> <%= SolveTime.new(result.event.id, type.to_sym, value).clock_format %> </td>
        <td class="name"> <%= link_to result.person_name, person_path(result.person_id) %> </td>
        <td class="country"> <%= flag_icon result.country.iso2 %> <%= result.country.name %> </td>
        <td class="competition"> <%= flag_icon competition.country.iso2 if competition.country.real? %> <%= link_to competition.name, competition_path(competition.id) %> </td>
        <% unless is_single %>
          <%= solve_tds_for_result(result) %>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <td></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
