<%= wca_table table_class: "wca-results", floatThead: false do %>
  <thead>
    <tr>
      <th class="type"> <%= t("results.table_elements.type_options.type") %> </th>
      <th class="name"> <%= t("results.table_elements.name") %> </th>
      <th class="result"> <%= t("results.table_elements.result") %> </th>
      <th class="country"> <%= t("results.table_elements.representing") %> </th>
      <th class="competition"> <%= t("results.table_elements.competition") %> </th>
      <% unless rows.first["event_id"] == "333mbf" %>
        <th class="solves" colspan="5"> <%= t("results.table_elements.solves") %> </th>
      <% end %>

      <!-- Extra column for .table-greedy-last-column -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% previous_type = nil %>
    <% previous_value = 0 %>
    <% rows.each do |row| %>
      <% result = LightResult.new(row) %>
      <% competition = @competitions_by_id[row["competition_id"]] %>
      <% type = row["type"] %>
      <% value = row["value"] %>
      <% tied_previous = (type == previous_type && value == previous_value) %>
      <% is_average = type == "average" %>

      <tr>
        <td class="type <%= tied_previous ? "tied-previous" : "" %>"> <%= t("results.table_elements.type_options.#{type}") %> </td>
        <td class="name"> <%= link_to result.person_name, person_path(result.person_id) %> </td>
        <td class="result"> <%= SolveTime.new(result.event.id, type.to_sym, value).clock_format %> </td>
        <td class="country"> <%= flag_icon result.country.iso2 %> <%= result.country.name %> </td>
        <td class="competition"> <%= flag_icon competition.country.iso2 if competition.country.real? %> <%= link_to competition.name, competition_path(competition.id) %> </td>
        <% if is_average %>
          <%= solve_tds_for_result(result) %>
        <% elsif !is_average && result.event.id != "333mbf" %>
          <td class="blank-cell" colspan="5"><br></td>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <td></td>
      </tr>

      <% previous_type = type %>
      <% previous_value = value %>
    <% end %>
  </tbody>
<% end %>
