<%= wca_table table_class: "wca-results" do %>
  <thead>
    <tr>
      <th class="date"> <%= t("results.table_elements.date_circa") %> </th>
      <% if @is_mixed_history %>
        <th class="event"> <%= t("results.table_elements.event") %> </th>
      <% end %>
      <% unless params[:region] == "world" %>
        <th class="record"> <%= t("results.table_elements.record") %> </th>
      <% end %>
      <th class="single"> <%= t("results.table_elements.type_options.single") %> </th>
      <% unless @is_history && (rows.first["event_id"] == "333mbf" || rows.first["event_id"] == "333mbo") %>
        <th class="average"> <%= t("results.table_elements.type_options.average") %> </th>
      <% end %>
      <th class="name"> <%= t("results.table_elements.name") %> </th>
      <th class="country"> <%= t("results.table_elements.representing") %> </th>
      <th class="competition"> <%= t("results.table_elements.competition") %> </th>
      <% unless @is_history && (rows.first["event_id"] == "333mbf" || rows.first["event_id"] == "333mbo") %>
        <th class="solves" colspan="5"> <%= t("results.table_elements.solves") %> </th>
      <% end %>

      <!-- Extra column for .table-greedy-last-column -->
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <% result = LightResult.new(row) %>
      <% competition = @competitions_by_id[row["competition_id"]] %>
      <% is_average = row["type"] == 'average' %>
      <% value = row["value"] %>
      <% date = Date.new(row["year"], row["month"], row["day"]) %>

      <tr>
        <td class="date"> <%= l(date, format: "%b %d, %Y") %> </td>
        <% if @is_mixed_history %>
          <td class="event">
            <%= link_to rankings_path(result.event.id, (is_average ? "average" : "single")) do %>
              <%= cubing_icon result.event.id %>
              <%= result.event.name %>
            <% end %>
          </td>
        <% end %>
        <% unless params[:region] == "world" %>
          <td class="record"> <%= row["record_name"] %> </td>
        <% end %>
        <% if !is_average %>
          <td class="single"> <%= SolveTime.new(result.event.id, :single, value).clock_format %> </td>
          <% unless @is_history && (rows.first["event_id"] == "333mbf" || rows.first["event_id"] == "333mbo") %>
            <td class="blank-cell"><br></td>
          <% end %>
        <% else %>
          <% unless @is_history && (rows.first["event_id"] == "333mbf" || rows.first["event_id"] == "333mbo") %>
            <td class="blank-cell"><br></td>
            <td class="average"> <%= SolveTime.new(result.event.id, :average, value).clock_format %> </td>
          <% end %>
        <% end %>
        <td class="name"> <%= link_to result.person_name, person_path(result.person_id) %> </td>
        <td class="country"> <%= flag_icon result.country.iso2 %> <%= result.country.name %> </td>
        <td class="competition"> <%= flag_icon competition.country.iso2 if competition.country.real? %> <%= link_to competition.name, competition_path(competition.id) %> </td>
        <% if is_average %>
          <%= solve_tds_for_result(result) %>
        <% elsif !is_average || (@is_history && (result.event.id != "333mbf" || result.event.id != "333mbo")) %>
          <td class="blank-cell" colspan="5"><br></td>
        <% end %>

        <!-- Extra column for .table-greedy-last-column -->
        <td></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
