<%
  show_rankings_options ||= false
  show_records_options ||= false
%>

<div class="form-group">
  <%= label_tag(t("results.selector_elements.events_selector.event")) %>
  <div id="event">
    <% if show_records_options %>
      <a href="<%= url_for(request.params.merge(event_id: "all events")) %>"><span class="event-radio all-events <%= (params[:event_id] == "all events" ? " active" : "") %>"
                                                                                   id="cubing-icon" data-toggle="tooltip" data-placement="top"
                                                                                   title="<%= t("results.selector_elements.events_selector.all_events") %>">ALL</span></a>
    <% end %>
    <% Event.official.each do |event| %>
      <span class="event-radio">
        <%= link_to cubing_icon(event.id),
                    request.params.merge(event_id: event.id),
                    class: (event.id == params[:event_id] ? " active" : ""),
                    id: "cubing-icon",
                    data: {
                      toggle: "tooltip",
                      placement: "top"
                    },
                    title: event.name %>
      </span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= label_tag(t("results.selector_elements.region")) %>
  <%= select_tag(:region, region_option_tags(selected_id: params[:region], real_only: true, use_world: true), class: "form-control") %>
</div>

<br>

<% unless params[:event_id] == "333mbf" || show_records_options %>
  <div class="form-group">
    <%= label_tag(t("results.selector_elements.type_selector.type")) %>
    <div id="type" class="btn-group">
      <% @types.each do |type| %>
        <%= link_to t("results.selector_elements.type_selector.#{type}"),
                      request.params.merge(type: type),
                      class: "btn btn-primary" + (type == params[:type] ? " active" : "") %>
      <% end %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= label_tag(t("results.selector_elements.years_selector.years")) %>
  <div id="years" class="btn-group">
    <%= link_to t("results.selector_elements.years_selector.all_years"), request.params.merge(years: "all years"), class: "btn btn-info" + (@is_all_years ? " active" : "") %>
    <div class="btn-group">
      <ul class="dropdown-menu years-only">
        <% @years.each do |year| %>
          <li title="WST is working on a more permanent solution" class="disabled only <%= (@is_only && year.to_s == @year ? " active" : "") %>"><%= link_to year.to_s, request.params.merge(years: "only #{year}") %></li>
        <% end %>
      </ul>
      <label id="only-years" class="btn btn-info <%= @is_only ? " active" : "" %>" data-toggle="dropdown">
        <span class="caption">
          <% if @is_only %>
            <%= t("results.selector_elements.years_selector.only_html", year: @year) %>
          <% else %>
            <%= t("results.selector_elements.years_selector.only") %>
          <% end %>
        </span>
      </label>
    </div>
    <div class="btn-group">
      <ul class="dropdown-menu years-until">
        <% @years.each do |year| %>
          <li title="WST is working on a more permanent solution" class="disabled until <%= (@is_until && year.to_s == @year ? " active" : "") %>"><%= link_to year.to_s, request.params.merge(years: "until #{year}") %></li>
        <% end %>
      </ul>
      <label id="until-years" class="btn btn-info <%= @is_until ? " active" : "" %>" data-toggle="dropdown">
        <span class="caption">
          <% if @is_until %>
            <%= t("results.selector_elements.years_selector.until_html", year: @year) %>
          <% else %>
            <%= t("results.selector_elements.years_selector.until") %>
          <% end %>
        </span>
      </label>
    </div>
  </div>
</div>

<% if show_rankings_options %>
  <div class="form-group">
    <%= label_tag(t("results.selector_elements.gender_selector.gender")) %>
    <div id="gender" class="btn-group">
      <%= link_to t("results.selector_elements.gender_selector.gender_all"), request.params.merge(gender: "All"), class: "btn btn-info" + (@gender == "All" ? " active" : "") %>
      <%= link_to t("results.selector_elements.gender_selector.male"), request.params.merge(gender: "Male"), class: "btn btn-info" + (@gender == "Male" ? " active" : "") %>
      <%= link_to t("results.selector_elements.gender_selector.female"), request.params.merge(gender: "Female"), class: "btn btn-info" + (@gender == "Female" ? " active" : "") %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag(t("results.selector_elements.show_selector.show")) %>
    <div id="show" class="btn-group">
      <div class="btn-group">
        <label id="persons" class="btn btn-info <%= @is_persons ? " active" : "" %>" data-toggle="dropdown">
          <span class="caption">
            <% if @is_persons %>
              <%= t("results.selector_elements.show_selector.persons_html", quantity: @show) %>
            <% else %>
              <%= t("results.selector_elements.show_selector.persons") %>
            <% end %>
          </span>
        </label>
        <ul class="dropdown-menu show-persons">
          <% @quantities.each do |quantity| %>
            <li title="<%= (quantity.to_s != @quantities[0] ? "WST is working on a more permanent solution" : "") %>" class="persons <%= (@is_persons && quantity.to_s == @show ? " active" : "") %> <%= (quantity.to_s != @quantities[0] ? " disabled" : "") %>"><%= link_to quantity.to_s, request.params.merge(show: "#{quantity} persons") %></li>
          <% end %>
        </ul>
      </div>
      <div class="btn-group">
        <label id="results" class="btn btn-info <%= @is_results ? " active" : "" %>" data-toggle="dropdown">
          <span class="caption">
            <% if @is_results %>
              <%= t("results.selector_elements.show_selector.results_html", quantity: @show) %>
            <% else %>
              <%= t("results.selector_elements.show_selector.results") %>
            <% end %>
          </span>
        </label>
        <ul class="dropdown-menu show-results">
          <% @quantities.each do |quantity| %>
            <%# querying more than 100 single ranking rows fries our DB, so we block it both here and in the controller until we figure out a more permanent solution %>
              <li title="<%= (quantity.to_s != @quantities[0] ? "WST is working on a more permanent solution" : "") %>" class="results <%= (@is_results && quantity.to_s == @show ? " active" : "") %> <%= (quantity.to_s != @quantities[0] ? " disabled" : "") %>">
                <%= link_to quantity.to_s, request.params.merge(show: "#{quantity} results")  %>
              </li>
          <% end %>
        </ul>
      </div>
      <%= link_to t("results.selector_elements.show_selector.by_region"), request.params.merge(show: "by region"), class: "btn btn-info" + (@is_by_region ? " active" : "") %>
    </div>
  </div>
<% elsif show_records_options %>
  <div class="form-group">
    <%= label_tag(t("results.selector_elements.show_selector.show")) %>
    <div id="show" class="btn-group">
      <% @shows.each do |show| %>
        <%= link_to t("results.selector_elements.show_selector.#{show.tr(" ", "_")}"),
                      request.params.merge(show: show),
                      class: "btn btn-primary" + (show == params[:show] ? " active" : "") %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  $(function() {
    $('#region').bind('change', function () {
      var params = window.wca.getUrlParams();
      params.region = $(this).val();
      window.location.search = $.param(params);
    });
  });
</script>
