<% job ||= nil %>
<% trigger_link ||= nil %>

<h2><%= "Controls for #{job.name}" %></h2>

<%= yield %>

<% if job.respond_to?(:reason_not_to_run) && job.reason_not_to_run %>
  <%= alert :warning, job.reason_not_to_run %>
<% else %>
  <% if job.in_queue? %>
    <%= alert :info, "The job is still in queue." %>
  <% elsif job.in_progress? %>
    <%= alert :info do %>
      The job started <%= time_ago_in_words job.start_date %> ago
      and is still running. Thanks for checking =)
    <% end %>
  <% elsif job < TimedApplicationJob %>
    <% if job.finished? %>
      <%= alert :success do %>
        Job was last completed <%= time_ago_in_words job.end_date %> ago
        and took <%= distance_of_time_in_words job.start_date, job.end_date %>
      <% end %>
    <% else %>
      <%= alert :danger, "Oh dear! The job has never been run!" %>
    <% end %>
  <% end %>
  <% unless job.in_progress? %>
    <div>
      <%= link_to "Do it!", trigger_link, class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
