<div id="fix-results-selector">
  <%= simple_form_for @result_selector, url: @edit_result_path, method: :get, html: { id: "fix-selector-form" } do |f| %>
    <%= f.input :person_id, as: :string, input_html: { id: "validators" } %>

    <% if @result_selector.person # NOT querying person_id here, to make sure that user input exists %>
      <% if @result_selector.eligible_competitions.any? %>
        <%= f.input :competition_id, collection: @result_selector.eligible_competitions, value_method: :id, label_method: :name %>
      <% end %>

      <% if @result_selector.eligible_events.any? %>
        <%= f.input :event_id, collection: @result_selector.eligible_events, value_method: :id, label_method: :name %>
      <% end %>

      <% if @result_selector.eligible_round_types.any? %>
        <%= f.input :round_type_id, collection: @result_selector.eligible_round_types, value_method: :id, label_method: :name %>
      <% end %>

      <% if @result_selector.selected_result %>
        <%= f.button :submit, value: "Edit result", class: "btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <script>
    function reloadForm(ignoreCompetitionData = false) {
      var obj = $("#fix-selector-form").serializeJSON();

      if (ignoreCompetitionData) {
        // remove all competition details, relevant if person ID changed
        // because we might suddenly load a person that has not attended the same competition.
        delete obj['fix_results_selector[competition_id]'];
        delete obj['fix_results_selector[event_id]'];
        delete obj['fix_results_selector[round_type_id]'];
      }

      window.wca.cancelPendingAjaxAndAjax('fix_results_selector', {
        url: '<%= admin_fix_results_ajax_path %>',
        data: obj,
        success: function (data) {
          $("#fix-results-selector").html(data)
        }
      });
    }

    $('input[name="fix_results_selector[person_id]"]').on('input', function() {
      // only using a simple, naive WCA ID regex because this feature will be used by WRT members who know what they're doing
      if (this.value.match(/^\d{4}\w{4}\d{2}$/)) {
        reloadForm(true);
      }
    });

    $('select[name="fix_results_selector[competition_id]"]').on('click', function() {
      reloadForm();
    });

    $('select[name="fix_results_selector[event_id]"]').on('click', function() {
      reloadForm();
    });

    $('select[name="fix_results_selector[round_type_id]"]').on('click', function() {
      reloadForm();
    });
  </script>
</div>
