<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <% competitions_view = "/competitions"
         competitions_view += "?display=admin" if current_user.can_see_admin_competitions? %>
      <% [
        { text: "List competitions", path: competitions_view, fa_icon: "list" },
        { text: "Delegates", path: delegates_stats_path, fa_icon: "sitemap" },
        { text: "Edit teams", path: teams_path, fa_icon: "users" },
        { text: "Upload results", path: "/results/admin/upload_results.php", fa_icon: "upload" },
        { text: "Check results", path: "/results/admin/check_results.php", fa_icon: "check" },
        { text: "Check existing people", path: "/results/admin/persons_check_finished.php", fa_icon: "check" },
        { text: "Create newcomers", path: "/results/admin/persons_finish_unfinished.php", fa_icon: "user plus" },
        { text: "Check rounds", path: "/results/admin/check_rounds.php", fa_icon: "check" },
        { text: "Check records", path: "/results/admin/check_regional_record_markers.php", fa_icon: "trophy" },
        { text: "Compute auxiliary data", path: admin_compute_auxiliary_data_path, fa_icon: "cogs" },
        { text: "Export public", path: "/results/admin/export_public.php", fa_icon: "cloud upload alt" },
        { text: "Fix results", path: "/results/admin/fix_results.php", fa_icon: "pencil alt" },
        { text: "Edit person", path: admin_edit_person_path, fa_icon: "user" },
        { text: "Merge people", path: admin_merge_people_path, fa_icon: "code branch" },
        { text: "Anonymize person", path: admin_anonymize_person_path, fa_icon: "id card" },
        { text: "Reassign connected wca id", path: admin_reassign_wca_id_path, fa_icon: "code branch" },
        { text: "Approve pictures", path: admin_avatars_path, fa_icon: "camera", notification_count: @pending_avatars_count },
        { text: "Approve media", path: validate_media_path, fa_icon: "image", notification_count: @pending_media_count },
        { text: "WCA all voting members", path: eligible_voters_path, fa_icon: "download" },
        { text: "WCA leaders and seniors", path: leader_senior_voters_path, fa_icon: "download" },
        { text: "Server status", path: server_status_path, fa_icon: "info" },
      ].each do |nav_item| %>
        <%= link_to nav_item[:path], class: "list-group-item" + (current_page?(nav_item[:path]) ? ' active' : '') do %>
          <%= ui_icon(nav_item[:fa_icon]) %> <%= nav_item[:text] %>
          <% if nav_item[:notification_count] %>
            <span class="pull-right label <%= nav_item[:notification_count] > 0 ? "label-danger" : "label-success" %>"><%= nav_item[:notification_count] %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <%= yield %>
  </div>
</div>
