<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="list-group">
      <% competitions_view = "/competitions"
         competitions_view += "?display=admin" if current_user.can_see_admin_competitions? %>
      <% [
        { text: "Upload results", path: "/results/admin/upload_results.php", fa_icon: "upload" },
        { text: "Create competition", path: new_competition_path, fa_icon: "plus" },
        { text: "List competitions", path: competitions_view, fa_icon: "list" },
        { text: "Edit person", path: admin_edit_person_path, fa_icon: "user" },
        { text: "Merge people", path: admin_merge_people_path, fa_icon: "code-fork" },
        { text: "Fix results", path: "/results/admin/fix_results.php", fa_icon: "pencil-square-o" },
        { text: "Approve pictures", path: admin_avatars_path, fa_icon: "camera", notification_count: @pending_avatars_count },
        { text: "Approve media", path: "/results/admin/validate_media.php", fa_icon: "picture-o", notification_count: @pending_media_count },

        { text: "Check results", path: "/results/admin/check_results.php", fa_icon: "check" },
        { text: "Create newcomers", path: "/results/admin/persons_finish_unfinished.php", fa_icon: "user-plus" },
        { text: "Check existing people", path: "/results/admin/persons_check_finished.php", fa_icon: "check" },
        { text: "Check rounds", path: "/results/admin/check_rounds.php", fa_icon: "check" },
        { text: "Check records", path: "/results/admin/check_regional_record_markers.php", fa_icon: "trophy" },
        { text: "Compute auxiliary data", path: "/results/admin/compute_auxiliary_data.php", fa_icon: "cogs" },
        { text: "Update statistics", path: "/results/statistics.php?update8392=1", fa_icon: "area-chart" },
        { text: "Export public", path: "/results/admin/export_public.php", fa_icon: "cloud-upload" },
        { text: "Edit teams", path: teams_path, fa_icon: "users" },
      ].each do |nav_item| %>
        <%= link_to nav_item[:path], class: "list-group-item" + (current_page?(nav_item[:path]) ? ' active' : '') do %>
          <i class="fa fa-fw fa-<%= nav_item[:fa_icon] %>"></i> <%= nav_item[:text] %>
          <% if nav_item[:notification_count] %>
            <span class="pull-right label <%= nav_item[:notification_count] > 0 ? "label-danger" : "label-success" %>"><%= nav_item[:notification_count] %></span>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <%= yield %>
  </div>
</div>
