<div id="result-inbox-steps">
  <div class="progress">
    <% inbox_step_num = (AdminController::RESULTS_POSTING_STEPS.index(@inbox_step) || AdminController::RESULTS_POSTING_STEPS.length) + 1 %>
    <% number_of_steps = AdminController::RESULTS_POSTING_STEPS.length + 1 # count Sanity Checks as additional step %>

    <% progress_percent = inbox_step_num.to_f / number_of_steps * 100 %>

    <div class="progress-bar <%= "progress-bar-success" unless @inbox_step.present? %>" role="progressbar" style="width: <%= progress_percent %>%">
      <% if @inbox_step.present? %>
        Step <%= inbox_step_num %>/<%= number_of_steps %>
      <% else %>
        All steps completed!
      <% end %>
    </div>
  </div>

  <% if @inbox_step.present? %>
    <% AdminController::RESULTS_POSTING_STEPS.each do |step| %>
      <%= render 'inbox_import_step', render_step: step %>
    <% end %>
  <% else %>
    <p>All inbox data has been imported. You should consider the following steps next:</p>
    <ul>
      <%# TODO: Redo link pending other PR %>
      <li><%= link_to "Check record markers", "/results/admin/check_regional_record_markers.php?competitionId=#{@competition.id}&show=Show", target: '_blank' %></li>
      <li><%= link_to "Run CAD", admin_compute_auxiliary_data_path, target: '_blank' %></li>
    </ul>
    <p>You can also visit the following pages as sanity checks:</p>
    <ul>
      <li><%= link_to "View the public competition page", competition_results_all_path(@competition, event: 'all') %></li>
      <li><%= link_to "Post the results", admin_edit_competition_path(@competition) %></li>
    </ul>
  <% end %>

  <script>
    $("a.inbox-trigger").on('click', function(e) {
      e.preventDefault();
      var $el = $(this);

      var httpMethod = $el.data('jquery-method') || 'GET';

      var confirmationMessage = $el.data('jquery-confirm');
      var userConfirms = !confirmationMessage || confirm(confirmationMessage);

      if (userConfirms) {
        var progressBar = $('div.progress-bar')
        progressBar.removeClass('progress-bar-danger').addClass('progress-bar-striped active');

        window.wca.cancelPendingAjaxAndAjax('inbox-trigger', {
          url: $el.attr('href'),
          method: httpMethod.toUpperCase(),
          success: function(html) {
            $('#result-inbox-steps').replaceWith(html);
          },
          error: function(response) {
            progressBar.removeClass('progress-bar-success active').addClass('progress-bar-danger');

            var requestId = response.getResponseHeader('X-Request-Id');
            progressBar.text(`An error occured! Request ID ${requestId}`)
          }
        });
      }
    });
  </script>
</div>
