<% backend_url ||= nil %>
<% lock_selection = defined? @competition %>
<div class="panel panel-default">
  <div class="panel-heading">Configure validations to run</div>
  <div class="panel-body">
    <%= simple_form_for @result_validation, url: backend_url do |f| %>
      <%= f.input :validator_classes, as: :string, label: false, hint: false, input_html: { id: "validators" } %>
      <%= f.input :apply_fixes, as: :boolean, label: "Apply fix when possible", hint: "List of validators with automated fix: #{ResultValidationForm::VALIDATOR_WITH_FIX_NAMES.join(",")}." %>
      <% unless lock_selection %>
        <%= f.input :competition_selection, collection: ResultValidationForm::COMP_VALIDATION_MODES, as: :radio_buttons, label: "Competition selection", hint: "WARNING: Running multiple validations on all competitions can take a long time." %>
      <% end %>
      <div id="selectize-competition-ids">
        <%= f.input :competition_ids, as: :competition_id, hint: false, label: "Competition ID(s)", input_html: { class: lock_selection ? "wca-autocomplete-input_lock" : "" } %>
      </div>
      <div id="datetime-start-range">
        <%= f.input :competition_count, as: :integer, hint: "Warning: Setting this number too high can lead to timeouts. Use at your own risk!", label: "Number of competitions to check" %>
        <%= f.input :competition_start_date, as: :date_picker, hint: "This will encompass at most #{ResultValidationForm::ALL_COMPETITIONS_MAX} competitions.", label: "Start date for checking" %>
      </div>
      <%= f.button :submit, value: "Run validators", class: "btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  $('#validators').selectize({
    persist: false,
    maxItems: null,
    valueField: 'name',
    labelField: 'name',
    searchField: ['name'],
    plugins: ['remove_button'],
    options: <%= raw(ResultsValidators::Utils::ALL_VALIDATORS.map(&:serialize).to_json) %>,
  });

  $('input[name="result_validation_form[competition_selection]"][type=radio]').on('change', function() {
    var isChecked = $(this).is(':checked')

    if (isChecked) {
      var isManualRadio = this.value === "<%= ResultValidationForm::COMP_VALIDATION_MANUAL %>"
      $('#selectize-competition-ids').toggle(isManualRadio);

      var isAllRadio = this.value === "<%= ResultValidationForm::COMP_VALIDATION_ALL %>"
      $('#datetime-start-range').toggle(isAllRadio);
    }
  }).trigger('change');

  var $compStartDate = $('input[name="result_validation_form[competition_start_date]"]');
  var $compCount = $('input[name="result_validation_form[competition_count]"]');

  function fetchEndDate() {
    var startDate = $compStartDate.val();
    var count = $compCount.val();

    if (startDate && count) {
      window.wca.cancelPendingAjaxAndAjax('competition-range-end-date', {
        url: '<%= admin_validation_end_date_path %>',
        data: {
          'start_date': startDate,
          'count': count
        },
        success: function(data) {
          var { endDate } = data;

          $('#datetime-start-range p.help-block').html(`The checks will run up to and including <b>${endDate}</b>`);
        }
      });
    }
  }

  $compStartDate.on('dp.change', fetchEndDate);
  $compCount.on('change', fetchEndDate);
</script>
