<% backend_url ||= nil %>
<% lock_selection = defined? @competition %>
<div class="panel panel-default">
  <div class="panel-heading">Configure validations to run</div>
  <div class="panel-body">
    <%= simple_form_for @result_validation, url: backend_url do |f| %>
      <%= f.input :validator_classes, as: :string, label: false, hint: false, input_html: { id: "validators" } %>
      <%= f.input :apply_fixes, as: :boolean, label: "Apply fix when possible", hint: "List of validators with automated fix: #{ResultValidationForm::VALIDATOR_WITH_FIX_NAMES.join(",")}." %>
      <% unless lock_selection %>
        <%= f.input :competition_selection, collection: ResultValidationForm::COMP_VALIDATION_MODES, as: :radio_buttons, label: "Competition selection", hint: "WARNING: Running multiple validations on all competitions can take a long time." %>
      <% end %>
      <div id="selectize-competition-ids">
        <%= f.input :competition_ids, as: :competition_id, hint: false, label: "Competition ID(s)", input_html: { class: lock_selection ? "wca-autocomplete-input_lock" : "" } %>
      </div>
      <%= f.button :submit, value: "Run validators", class: "btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  $('#validators').selectize({
    persist: false,
    maxItems: null,
    valueField: 'name',
    labelField: 'name',
    searchField: ['name'],
    plugins: ['remove_button'],
    options: <%= raw(ResultsValidators::Utils::ALL_VALIDATORS.map(&:serialize).to_json) %>,
  });

  $('input[name="result_validation_form[competition_selection]"]').on('change', function() {
    $('#selectize-competition-ids').toggle(this.value === "<%= ResultValidationForm::COMP_VALIDATION_MANUAL %>");
  }).trigger('change');
</script>
