<% backend_url ||= nil %>
<% lock_selection = defined? @competition %>
<div class="panel panel-default">
  <div class="panel-heading">Configure validations to run</div>
  <div class="panel-body">
    <%= simple_form_for @result_validation, url: backend_url do |f| %>
      <%= f.input :validator_classes, as: :string, label: false, hint: false, input_html: { id: "validators" } %>
      <%= f.input :apply_fixes, as: :boolean, label: "Apply fix when possible", hint: "List of validators with automated fix: #{ResultValidationForm::VALIDATOR_WITH_FIX_NAMES.join(",")}." %>
      <% unless lock_selection %>
        <%= f.input :competition_selection, collection: ResultValidationForm::COMP_VALIDATION_MODES, as: :radio_buttons, label: "Competition selection", hint: "WARNING: Running multiple validations on all competitions can take a long time." %>
      <% end %>
      <div id="selectize-competition-ids">
        <%= f.input :competition_ids, as: :competition_id, hint: false, label: "Competition ID(s)", input_html: { class: lock_selection ? "wca-autocomplete-input_lock" : "" } %>
      </div>
      <div id="datetime-start-range" style="margin-bottom: 20px;">
        <%= f.input :competition_count, as: :integer, hint: "Warning: Setting this number too high can lead to timeouts. Use at your own risk!", label: "Number of competitions to check" %>
        <%= f.input :competition_start_date, as: :date_picker, hint: "Please pick a date above to update this label with information on the time span.", label: "Start date for checking" %>

        <div class="progress" style="margin-top: 5px; display: none;">
          <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width: 100%;">
            <span class="sr-only">LOADING</span>
          </div>
        </div>
      </div>
      <%= f.button :submit, value: "Run validators", class: "btn-primary" %>
    <% end %>
  </div>
</div>
<script>
  $('#validators').selectize({
    persist: false,
    maxItems: null,
    valueField: 'name',
    labelField: 'name',
    searchField: ['name'],
    plugins: ['remove_button'],
    options: <%= raw(ResultsValidators::Utils::ALL_VALIDATORS.map(&:serialize).to_json) %>,
  });

  $('input[name="result_validation_form[competition_selection]"][type=radio]').on('change', function() {
    var isChecked = $(this).is(':checked')

    if (isChecked) {
      var isManualRadio = this.value === "<%= ResultValidationForm::COMP_VALIDATION_MANUAL %>"
      $('#selectize-competition-ids').toggle(isManualRadio);

      var isAllRadio = this.value === "<%= ResultValidationForm::COMP_VALIDATION_ALL %>"
      $('#datetime-start-range').toggle(isAllRadio);
    }
  }).trigger('change');

  var $compStartDate = $('input[name="result_validation_form[competition_start_date]"]');
  var $compCount = $('input[name="result_validation_form[competition_count]"]');

  function fetchEndDate() {
    var startDate = $compStartDate.val();
    var count = $compCount.val();

    var $progressDiv = $('div.progress');
    var $progressBar = $('div.progress-bar');

    var $datePickerHint = $('#datetime-start-range .result_validation_form_competition_start_date p.help-block');

    if (startDate && count) {
      $datePickerHint.hide();

      $progressDiv.show();
      $progressBar.removeClass('progress-bar-danger').addClass('progress-bar-success active');
      $progressBar.html('<span class="sr-only">LOADING</span>');

      window.wca.cancelPendingAjaxAndAjax('competition-range-end-date', {
        url: '<%= admin_validation_end_date_path %>',
        data: {
          'start_date': startDate,
          'count': count
        },
        success: function(data) {
          var { endDate } = data;

          $datePickerHint.html(`The checks will run for competitions with an <code>end_date</code> up to and including <b>${endDate}</b>`);
          $datePickerHint.show();

          $progressDiv.hide();
        },
        error: function(response) {
          var $progressBar = $('div.progress-bar');
          $progressBar.removeClass('progress-bar-success active').addClass('progress-bar-danger');

          var requestId = response.getResponseHeader('X-Request-Id');
          $progressBar.text(`An error occured! Request ID ${requestId}`);
        }
      });
    }
  }

  $compStartDate.on('dp.change', fetchEndDate);
  $compCount.on('input', fetchEndDate);
</script>

<style>
  div.form-group.result_validation_form_competition_start_date {
    margin-bottom: 0;
  }
</style>
