<% provide(:title, 'Compute Auxiliary Data') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h2><%= yield(:title) %></h2>
    <div>
      <h4>This script:</h4>
      <ul class="list-group">
        <li class="list-group-item">Calculates means for 3x3x3 BLD</li>
        <li class="list-group-item">Computes some auxiliary tables in the database (ConciseSingleResults, ConciseAverageResults, RanksSingle and RanksAverage).</li>
        <li class="list-group-item">Clears some cache files (living on the PHP side)</li>
      </ul>
    </div>
    <% if @auxiliary_data_start.date.nil? %>
      <%= alert :danger, "Oh dear! The data has never been computed!" %>
    <% elsif @auxiliary_data_end.date.nil? %>
      <%= alert :info, "The data is being computed. Thanks for checking =)" %>
    <% else %>
      <%= alert :success, "Data was last computed #{time_ago_in_words @auxiliary_data_end.date} ago and took #{distance_of_time_in_words @auxiliary_data_start.date, @auxiliary_data_end.date}" %>
    <% end %>
    <% unless @auxiliary_data_start.date.present? && @auxiliary_data_end.date.nil? # Show unless the data is being computed. %>
      <div>
        <%= link_to "Do it!", admin_compute_auxiliary_data_path, method: :post, class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
