<% provide(:title, 'Get Database Login Token') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <p>
      You can use this token to log into the database PHPMyAdmin Panel with the username <b><%= EnvConfig.DATABASE_WRT_USER %></b> <br/>
      This token is valid for 15 minutes
    </p>

    <pre>
      <code id="token-content"><%= @default_token %></code>
    </pre>

    <label for="dbs">Choose a database:</label>

    <select id="dbs">
      <% @db_endpoints.each do |key, url| %>
        <% db_token = @db_tokens[key] %>

        <option value="<%= key %>" data-wrt-token="<%= db_token %>"><%= url %></option>
      <% end %>
    </select>

    <br />

    <label id="clipboard" class="btn btn-primary">
      Copy to clipboard
    </label>

    <script>
      document.getElementById("dbs").addEventListener("change", handleDataBaseOptions);

      function handleDataBaseOptions(event) {
        const selectedOption = event.target.options[event.target.selectedIndex];
        const selectedToken = selectedOption.dataset.wrtToken;

        const tokenBox = document.getElementById('token-content');
        tokenBox.innerText = selectedToken;
      }

      document.getElementById("clipboard").addEventListener("click", copySelectedToClipboard);

      function copySelectedToClipboard() {
        const tokenBox = document.getElementById('token-content');
        navigator.clipboard.writeText(tokenBox.textContent);
      }
    </script>

    <%= link_to t('layouts.navigation.results_database'), '/results/database/', class: 'btn btn-primary', target: '_blank' %>
  <% end %>
</div>
