<% provide(:title, 'Get Database Login Token') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <p>
      You can use this token to log into the database PHPMyAdmin Panel with the username <b><%= EnvConfig.DATABASE_WRT_USER %></b> <br/>
      This token is valid for 15 minutes
    </p>

    <% @db_tokens.each do |key, token| %>
      <% pre_selected = key == @default_token %>

      <pre class="token" data-value="<%= key %>" data-wrt-selected="<%= pre_selected %>" style="display: <%= pre_selected ? 'block' : 'none' %>">
        <code><%= token %></code>
      </pre>
    <% end %>

    <label for="dbs">Choose a database:</label>

    <select id="dbs">
      <% @db_endpoints.each do |key, url| %>
        <option value="<%= key %>"><%= url %></option>
      <% end %>
    </select>

    <br />

    <label id="clipboard" class="btn btn-primary">
      Copy to clipboard
    </label>

    <script>
      document.getElementById("dbs").addEventListener("change", handleDataBaseOptions);

      function handleDataBaseOptions(event) {
        document.querySelectorAll('.token').forEach((el) => {
          const isSelectedBox = el.getAttribute('data-value') === event.target.value;

          el.style.display = isSelectedBox ? 'block' : 'none';
        });
      }

      document.getElementById("clipboard").addEventListener("click", copySelectedToClipboard);

      function copySelectedToClipboard() {
        const tokenPre = document.querySelector('.token[data-wrt-selected="true"]');
        const tokenContent = tokenPre.querySelector('code');

        navigator.clipboard.writeText(tokenContent.textContent);
      }
    </script>

    <%= link_to t('layouts.navigation.results_database'), '/results/database/', class: 'btn btn-primary', target: '_blank' %>
  <% end %>
</div>
