<% provide(:title, 'Get Database Login Token') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <p>
      You can use this token to log into the database PHPMyAdmin Panel with the username <b><%= EnvConfig.DATABASE_WRT_USER %></b> <br/>
      This token is valid for 15 minutes
    </p>

    <pre class="token" data-value="main">
      <code><%= @main_token %></code>
    </pre>
    <pre class="token" data-value="replica" style="display: none">
      <code><%= @replica_token %></code>
    </pre>

    <label for="dbs">Choose a database:</label>

    <select id="dbs">
      <option value="main"><%= EnvConfig.DATABASE_HOST %></option>
      <option value="replica"><%= EnvConfig.READ_REPLICA_HOST %></option>
    </select>
    <br />
    <br />

    <label class="btn btn-primary" onclick="navigator.clipboard.writeText('<%= @token %>');">
      Copy to clipboard
    </label>

    <script>
      document.getElementById("dbs").addEventListener("change", handleDataBaseOptions)
      function handleDataBaseOptions(event){
        document.querySelectorAll('.token').forEach((el) => {
          if(el.getAttribute('data-value') === event.target.value){
            el.style.display = 'block'
          }else{
            el.style.display = 'none'
          }
        })
      }
    </script>

    <%= link_to t('layouts.navigation.results_database'), '/results/database/', class: 'btn btn-primary', target: '_blank' %>
  <% end %>
</div>
