<% provide(:title, "Post competition results & scrambles") %>
<%= render layout: 'competitions/nav' do %>
  <h1><%= yield(:title) %></h1>

  <% if @existing_data.values.all?(&:zero?) %>
    <%= alert :info do %>
      This competition has no data yet. <%= link_to "Upload something", competition_admin_upload_results_edit_path(@competition.id) %> to get started.
    <% end %>
  <% else %>
    <% if @existing_data[:inbox_result] > 0 || @existing_data[:inbox_person] > 0 %>
      <%= alert :info do %>
        <p>This competition is in the process of having data uploaded. If necessary, you can:</p>
        <ul>
          <% if @existing_data[:inbox_result] > 0 %>
            <li>clear <%= link_to "InboxResults", competition_admin_delete_inbox_results_path(@competition.id), method: :delete, data: { confirm: "You're about to remove #{@existing_data[:inbox_result]} entries from -->InboxResults<--\n\nPlease confirm below if you're sure." } %></li>
          <% end %>
          <% if @existing_data[:inbox_person] > 0 %>
            <li>clear <%= link_to "InboxPersons", competition_admin_delete_inbox_persons_path(@competition.id), method: :delete, data: { confirm: "You're about to remove #{@existing_data[:inbox_person]} entries from -->InboxPersons<--\n\nPlease confirm below if you're sure." } %></li>
          <% end %>
        </ul>
        <p>You can also always
          run <%= link_to "validators", competition_admin_check_existing_results_path(@competition.id) %> and return to
          this page later. Your progress will be saved.</p>
      <% end %>
    <% end %>

    <% if @existing_data[:inbox_result] > 0 %>
      <p><%= link_to "Finish importing", competition_admin_import_inbox_results_path(@competition.id), method: :post %> results</p>

      <p>There are a total of <b><%= @existing_data[:inbox_result] %></b> InboxResults pending.</p>
      <p>There are a total of <b><%= @existing_data[:result] %></b> rows inserted into the Results table.</p>

      <%# Small hack because I want to reuse the existing results preview panel, but it expects a @results_validator. %>
      <%# So we just create one on the fly and "run" the checks without actually checking anything. %>
      <% results_validator = ResultsValidators::CompetitionsResultsValidator.new %>
      <% results_validator.validate [@competition.id] %>

      <%= render "results_submission/results_preview_panel", results_validator: results_validator %>
    <% elsif @existing_data[:inbox_person] > 0 %>
      <%# TODO: Redo link pending other PR %>
      <p><%= link_to "Assign WCA IDs", '/results/admin/persons_finish_unfinished.php?check=+Check+now+' %> to
        newcomers</p>

      <p>There are a total of <b><%= @existing_data[:inbox_person] %></b> InboxPersons pending</p>

      <ul>
        <li><b><%= @existing_data[:newcomer_person] %></b> entries from InboxPersons are newcomers.</li>
        <li>
          <b style="color:<%= @existing_data[:newcomer_result] == 0 ? "#0B0" : "#F00" %>"><%= @existing_data[:newcomer_result] %></b>
          newcomers in the Results table are still pending.
        </li>
      </ul>

      <% if @existing_data[:newcomer_result] == 0 %>
        <p>You can <%= link_to "delete", competition_admin_delete_inbox_persons_path(@competition.id), method: :delete, data: { confirm: "You're about to remove #{@existing_data[:inbox_person]} entries from -->InboxPersons<--\n\nPlease confirm below if you're sure." } %> the inbox data,
          as all rows seem to have been fully imported.</p>
      <% end %>
    <% else %>
      <p>All inbox data has been imported. You should consider the following steps next:</p>
      <ul>
        <%# TODO: Redo link pending other PR %>
        <li><%= link_to "Check record markers", "/results/admin/check_regional_record_markers.php?competitionId=#{@competition.id}&show=Show", target: '_blank' %></li>
        <li><%= link_to "Run CAD", admin_compute_auxiliary_data_path, target: '_blank' %></li>
      </ul>
      <p>You can also visit the following pages as sanity checks:</p>
      <ul>
        <li><%= link_to "View the public competition page", competition_results_all_path(@competition, event: 'all') %></li>
        <li><%= link_to "Post the results", admin_edit_competition_path(@competition) %></li>
      </ul>
    <% end %>

    <% if @existing_data[:result] > 0 || @existing_data[:scramble] > 0 %>
      <hr/>

      <p>Here is a table detailing the import progress for Results and Scrambles:</p>
      <%= wca_table striped: false, floatThead: false, greedy: false, table_class: "center-block" do %>
        <thead>
        <tr>
          <th class="event text-right">Event</th>
          <th class="round-format">Round</th>
          <th class="text-center">Fully imported Results</th>
          <th class="text-center">Fully imported Scrambles</th>
        </tr>
        </thead>
        <tbody>
        <% rounds_by_event = @competition.rounds.group_by(&:event) %>

        <% @competition.events.sort_by(&:rank).each do |e| %>
          <% announced_event = false %>

          <% rounds_by_event[e].sort_by { |r| r.round_type.rank }.each do |r| %>
            <tr>
              <td class="text-right <%= "active" unless announced_event %>" style="padding-left: 30px;"><%= e.name unless announced_event %></td>
              <td class="<%= "active" unless announced_event %>" style="padding-right: 30px;"><%= r.round_type.name %></td>

              <% [Result, Scramble].each do |model| %>
                <% assoc_count = model.where(competitionId: @competition.id, eventId: e.id, roundTypeId: r.round_type.id).count %>
                <% has_assoc = assoc_count > 0 %>

                <td class="text-center <%= has_assoc ? "success" : "warning" %>">
                  <% if has_assoc %>
                    <span style="margin-inline: 10px">Yes</span>(<%= link_to "X", competition_admin_delete_results_data_path(@competition.id, model: model.name, event_id: e.id, round_type_id: r.round_type.id), method: :delete, data: { confirm: "You're about to delete #{assoc_count} entries from -->#{model.name}<--\n\nPlease confirm below if you're sure." } %>)
                  <% else %>
                    Nope.
                  <% end %>
                </td>
              <% end %>
            </tr>

            <% announced_event = true %>
          <% end %>
        <% end %>
        </tbody>
      <% end %>
      <p>
        <strong style='color: #900'>Please be careful removing data! Data in the above table is live.</strong><br/>
        Remove all results and scrambles only, does not affect
        persons: <%= link_to "X ALL", competition_admin_delete_results_data_path(@competition.id, model: 'All'), method: :delete, data: { confirm: "You're about to delete ALL Results and Scrambles for #{@competition.id}.\nTHIS ACTION CANNOT BE UNDONE!\n\nPlease confirm below if you're sure." } %>
      </p>
    <% end %>

    <% if @existing_data[:result] > 0 %>
      <%= alert :warning, note: true do %>
        This competition has result data imported. Uploading more data may cause duplicate entries.
      <% end %>
    <% end %>

    <% if @existing_data[:scramble] > 0 %>
      <%= alert :warning, note: true do %>
        This competition has scramble data uploaded. Uploading more data may cause duplicate entries.
        You may remove scrambles using the interface above.
      <% end %>
    <% end %>
  <% end %>
<% end %>
