<% provide(:title, 'Reassign Connected WCA ID') %>

<div class="container">
  <%= render layout: "nav" do %>
    <h1><%= yield(:title) %></h1>

    <p>
      Reassigns the WCA ID from Account 1 to Account 2. All related roles (teams, organizer, delegate) will be transferred from
      Account 1 to Account 2.

      Note: Only Accounts with confirmed email addresses will appear when searching.
    </p>

    <% if !@reassign_wca_id_validated %>
      <%= simple_form_for @reassign_wca_id, url: admin_validate_reassign_wca_id_path, method: :get do |form| %>
        <div class="row">
          <div class="col-sm-6">
            <%= form.input :account1, as: :user_ids, users_table: true, only_one: true, label: "Account 1" %>
          </div>
          <div class="col-sm-6">
            <%= form.input :account2, as: :user_ids, users_table: true, only_one: true, label: "Account 2" %>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">
          Validate
        </button>
      <% end %>
    <% else %>
      <%= simple_form_for @reassign_wca_id, url: admin_reassign_wca_id_path do |form| %>
        <div class="row">
          <div class="col-sm-6">
            <%= form.input :account1, as: :user_ids, users_table: true, only_one: true, label: "Account 1" %>
            <div><b>Account:</b> <%=  @reassign_wca_id.account1_user.id.to_s %></div>
            <div><b>Name:</b> <%= @reassign_wca_id.account1_user.name %></div>
            <div><b>WCA ID:</b> <%= @reassign_wca_id.account1_user.wca_id.to_s %></div>
            <div>
              <% if @reassign_wca_id.account1_user.any_kind_of_delegate? %>
                <b>Delegate:</b> <%= @reassign_wca_id.account1_user.delegate_status %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account1_user.teams.any? %>
                <b>Teams:</b>
                <% @reassign_wca_id.account1_user.team_members.each do |team| %>
                  <div><%= team.team.name + " " + (team.team_leader? ? "Leader ": "")  + (team.team_senior_member? ? "Senior ": "") + team.start_date.to_fs + " - " + (team.end_date ? team.end_date.to_fs : "NULL") %></div>
                <% end %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account1_user.organized_competitions.any? %>
                <b>Organized Competitions:</b>
                <%= @reassign_wca_id.account1_user.organized_competitions.map(&:name).join(",") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account1_user.delegated_competitions.any? %>
                <b>Delegated Competitions:</b>
                <%= @reassign_wca_id.account1_user.delegated_competitions.map(&:name).join(",") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account1_user.trainee_delegated_competitions.any? %>
                <b>Delegated Competitions:</b>
                <%= @reassign_wca_id.account1_user.trainee_delegated_competitions.map(&:name).join(",") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account1_user.competitions_announced.any? %>
                <b>Announced Competitions:</b>
                <%= @reassign_wca_id.account1_user.competitions_announced.map(&:name).join(",") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account1_user.competitions_results_posted.any? %>
                <b>Posted Results for Competitions:</b>
                <%= @reassign_wca_id.account1_user.competitions_results_posted.map(&:name).join(",") %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6">
            <%= form.input :account2, as: :user_ids, users_table: true, only_one: true, label: "Account 2"  %>
            <div><b>Account:</b> <%=  @reassign_wca_id.account2_user.id.to_s %></div>
            <div><b>Name:</b> <%= @reassign_wca_id.account2_user.name %></div>
            <div><b>WCA ID:</b> <%= @reassign_wca_id.account2_user.wca_id.to_s %></div>
            <div>
              <% if @reassign_wca_id.account2_user.any_kind_of_delegate? %>
                <b>Delegate:</b> <%= @reassign_wca_id.account2_user.delegate_status %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account2_user.teams.any? %>
                <b>Teams:</b>
                <% @reassign_wca_id.account2_user.team_members.each do |team| %>
                  <div><%= team.team.name + " " + (team.team_leader? ? "Leader ": "")  + (team.team_senior_member? ? "Senior ": "") + team.start_date.to_fs + " - " + (team.end_date ? team.end_date.to_fs : "NULL") %></div>
                <% end %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account2_user.organized_competitions.any? %>
                <b>Organized Competitions:</b>
                <%= @reassign_wca_id.account2_user.organized_competitions.map(&:name).join(", ") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account2_user.delegated_competitions.any? %>
                <b>Delegated Competitions:</b>
                <%= @reassign_wca_id.account2_user.delegated_competitions.map(&:name).join(", ") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account2_user.trainee_delegated_competitions.any? %>
                <b>Delegated Competitions:</b>
                <%= @reassign_wca_id.account2_user.trainee_delegated_competitions.map(&:name).join(", ") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account2_user.competitions_announced.any? %>
                <b>Announced Competitions:</b>
                <%= @reassign_wca_id.account2_user.competitions_announced.map(&:name).join(",") %>
              <% end %>
            </div>
            <div>
              <% if @reassign_wca_id.account2_user.competitions_results_posted.any? %>
                <b>Posted Results for Competitions:</b>
                <%= @reassign_wca_id.account2_user.competitions_results_posted.map(&:name).join(",") %>
              <% end %>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success" data-confirm="Are you sure you want to reassign the WCA ID to Account 2? This will transfer all roles associated with Account 1 to Account 2.">
          <%= ui_icon("code branch") %> Reassign WCA ID
        </button>
      <% end %>
    <% end %>
  <% end %>
</div>
