<% provide(:title, 'API v0') %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <h2>OAuth</h2>
  <p>
    Go to <%= link_to oauth_applications_path, oauth_applications_path %> to
    manage your OAuth applications.
  </p>
  <p>
    Here is an example, using curl, of obtaining an access token using an Application ID, Client Secret, your WCA email, and your password:
  </p>
<pre><code>curl <%= oauth_token_url %> -X POST -F grant_type=password -F client_id=APP_ID -F client_secret=APP_SECRET -F username=YOUR_EMAIL -F password=YOUR_PASSWORD

{"access_token":"1d6c95446cab947224286b7bec4382d898c664c7a3cafb16d3d110a3044cf4dc","token_type":"bearer","expires_in":7200,"created_at":1430788134}
</code></pre>
  <p>
    An OAuth access token can be used, until it expires, to make authorized API requests. For example, to access information about your account:
  </p>
<pre><code>
> curl -H "Authorization: Bearer 1d6c95446cab947224286b7bec4382d898c664c7a3cafb16d3d110a3044cf4dc" <%= api_v0_me_url %>

{"me":{"id":1,"email":"wca@worldcubeassociation.org","created_at":"2015-05-05T00:57:11.788Z","updated_at":"2015-05-05T00:57:12.072Z"}}
</code></pre>

  <h2>Legal TNoodle version</h2>
  <%= link_to api_v0_scramble_program_path, api_v0_scramble_program_path %>

</div>
