<% provide(:title, "Report for #{@competition.name}") %>
<% provide(:editing_delegate_report, true) %>

<% add_to_packs("markdown_editor") %>

<%= render layout: 'nav' do %>
  <h2>Editing Delegate Report for <%= @competition.name%></h2>
  <%= simple_form_for @delegate_report, url: delegate_report_path(@competition.id),
                                        html: { class: "delegate-report" } do |f| %>
    <%= f.hidden_field :updated_at %>

    <% if @delegate_report.posted? %>
      <%= f.input :discussion_url %>
    <% end %>
    <% @competition.delegate_report.schedule_url = link_to_competition_schedule_tab(@competition) if @competition.has_schedule? %>
    <%= f.input :schedule_url, readonly: @competition.has_schedule? %>

    <%= f.input :equipment, input_html: { class: "markdown-editor markdown-editor-image-upload" } %>
    <%= f.input :venue, input_html: { class: "markdown-editor markdown-editor-image-upload" } %>
    <%= f.input :organization, input_html: { class: "markdown-editor markdown-editor-image-upload" } %>
    <%= f.input :incidents, input_html: { class: "markdown-editor markdown-editor-image-upload" } %>
    <%= f.input :wrc_feedback_requested, as: :boolean %>
    <%= f.input :wrc_incidents %>
    <%= f.input :wdc_feedback_requested, as: :boolean %>
    <%= f.input :wdc_incidents %>
    <%= f.input :remarks, input_html: { class: "markdown-editor markdown-editor-image-upload" } %>

    <%= f.button :submit, class: "btn-primary" %>
    <% can_see_delegate_report_submit_button = @delegate_report.can_see_submit_button?(@current_user) %>
    <% can_submit_delegate_report = @delegate_report.can_submit?(@current_user) %>
    <% if can_see_delegate_report_submit_button %>
      <%= button_tag(type: 'submit',
                     name: "delegate_report[posted]",
                     value: true,
                     disabled: !can_submit_delegate_report,
                     class: "btn btn-danger",
                     data: { confirm: "You are about to post your report, are you sure you want to do this? Once posted, a report cannot be changed." },
                     title: can_submit_delegate_report ? "" : "You must first submit results before you can post the report.") do %>
        Post the report
      <% end %>
    <% end %>
  <% end %>
<% end %>
