<% provide(:title, "Report for #{@competition.name}") %>

<%= render layout: 'nav' do %>

  <% if @delegate_report.posted? %>
    <p>
      <strong>Posted at:</strong>
      <%= wca_local_time(@delegate_report.posted_at) %>
    </p>
  <% elsif !@competition.user_should_post_delegate_report?(current_user) %>
    <%= alert :warning, note: true do %>
      This report has not been posted yet.
    <% end %>
  <% end %>

  <% if @delegate_report.posted? %>
    <% if @delegate_report.discussion_url.present? %>
      <%= alert :info do %>
        View the discussion for this delegate report
        <%= link_to "here", @delegate_report.discussion_url, target: "_blank" %>
      <% end %>
    <% else %>
      <%= alert :warning do %>
        This delegate report is missing a discussion url.
      <% end %>
    <% end %>
  <% end %>

  <%= render @delegate_report %>

  <% if current_user.can_edit_delegate_report?(@competition.delegate_report) %>
    <%= link_to delegate_report_edit_path(@competition), class: "btn btn-default" do %>
      <%= ui_icon("pencil alt") %> Edit Report
    <% end %>
  <% end %>
<% end %>
