<% provide(:title, t("regulations_translations.title")) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <p><%= t("regulations_translations.paragraph1") %></p>
  <p><%= t("regulations_translations.paragraph2") %></p>

  <h2><%= t("regulations_translations.translations") %></h2>

  <h3><%= t("regulations_translations.current") %></h3>
  <div class="regulations-translations-table-container">
    <%= render 'regulations/translations/index_table', translations: current_reg_translations %>
  </div>

  <h3><%= t("regulations_translations.old") %></h3>
  <div class="regulations-translations-table-container">
    <%= render 'regulations/translations/index_table', translations: outdated_reg_translations %>
  </div>

  <h2><%= t("regulations_translations.translating") %></h2>
  <p><%= t("regulations_translations.paragraph3_html") %></p>
</div>
