<% provide(:title, 'WCA Translations') %>

<div class="container">
  <h1>WCA Regulations and Guidelines: Translations</h1>

  <h2>Available Translations</h2>
  <p>Note: Even though these translations are provided on the WCA website, they are not official versions: they may be useful to you, but they do not come with any guarantees. If there is a difference between a translation and the (current official) English version, the English version must be used.</p>
  <ul>
    <li><%= link_to "Belarusian - 2014", "./belarusian/" %>
    <ul>
      <li>By <%= link_to "Anatolii Kalinin", "/results/p.php?i=2011KALI01" %> and <%= link_to "Ilya Tereshko", "/results/p.php?i=2012TERE01" %>.</li>
    </ul></li>
    <li><%= link_to "Chinese - 2016-04-18", "./chinese/" %>
    <ul>
      <li>By <%= link_to "Shuang Chen", "/results/p.php?i=2008CHEN27" %>.</li>
    </ul></li>
    <li><%= link_to "Chinese, Traditional - 2015-07-01", "./chinese-traditional/" %>
    <ul>
      <li>By <%= link_to "Rui-Jun Liu (劉睿鈞)", "/results/p.php?i=2011LIUR02" %> and <%= link_to "Chia-Leo Lin (林珈樂)", "/results/p.php?i=2006LINC01" %>. (Previous contributions from <%= link_to "David Guo", "/results/p.php?i=2008GUOJ01" %> and <%= link_to "Han Wu", "/results/p.php?i=2008WUHA01" %>.)</li>
    </ul></li>
    <li><%= link_to "Croatian (Hrvatski) - 2016-04-18", "./croatian/" %>
    <ul>
      <li>By <%= link_to "David Vujasić", "/results/p.php?i=2015VUJA01" %>.</li>
    </ul></li>
    <li><%= link_to "Finnish (Suomi) - 2016-04-18", "./finnish/" %>
    <ul>
      <li>By <%= link_to "Niko Ronkainen", "/results/p.php?i=2010RONK01" %> and <%= link_to "Kim Jokinen", "/results/p.php?i=2013JOKI01" %>.</li>
    </ul></li>
    <li><%= link_to "French (Français) - 2016-04-18", "./french/" %>
    <ul>
      <li>By <%= link_to "Philippe Virouleau", "/results/p.php?i=2008VIRO01" %>.</li>
    </ul></li>
    <li><%= link_to "German (Deutsch) - 2016-04-18", "./german/" %>
    <ul>
      <li>By <%= link_to "Sébastien Auroux", "/results/p.php?i=2008AURO01" %>, <%= link_to "Laura Ohrndorf", "/results/p.php?i=2009OHRN01" %>, and <%= link_to "Gregor Billing", "/results/p.php?i=2012BILL01" %>.</li>
    </ul></li>
    <li><%= link_to "Hungarian (magyar) - 2016-04-18", "./hungarian/" %>
    <ul>
      <li>By <%= link_to "Niki Placskó", "/results/p.php?i=2008PLAC01" %> and <%= link_to "Perge Olivér", "/results/p.php?i=2007PERG01" %>.</li>
    </ul></li>
    <li><%= link_to "Korean - 2013", "./korean/" %>
    <ul>
      <li>By Park Si-Woo (박시우), Kim Ah-Young (김아영), <%= link_to "Chae Ji-Seok (채지석)", "/results/p.php?i=2008JISE02" %>, and <%= link_to "Yeom Seok-Hoon (염석훈)", "/results/p.php?i=2007SEOK01" %>.</li>
    </ul></li>
    <li><%= link_to "Indonesian (Bahasa) - 2013", "./indonesian/" %>
    <ul>
      <li>By Ardianto Satriawan, Cendy Cahyo Rahmat, Jonathan Irvin Gunawan, Muhammad Jihan Khalilurrahman, Nathan Azaria, Stephen Adhisaputra, Vincent Hartanto Utomo, and Yohanes Theda.</li>
    </ul></li>
    <li><%= link_to "Italian (Italiano) - 2013", "./italian/" %>
    <ul>
      <li>By <%= link_to "Lorenzo Vigani Poli", "/results/p.php?i=2007POLI01" %>, <%= link_to "Filippo Brancaleoni", "/results/p.php?i=2008BRAN01" %>, <%= link_to "Lorenzo Gravina", "/results/p.php?i=2009GRAV01" %>, and <%= link_to "Matteo Colombo", "/results/p.php?i=2009COLO03" %>.</li>
    </ul></li>
    <li><%= link_to "Japanese - 2016-04-18", "./japanese/" %>
    <ul>
      <li>By <%= link_to "Kotaro Terada (寺田晃太朗)", "/results/p.php?i=2010TERA01" %>, <%= link_to "Kentaro Nishi (西賢太郎)", "/results/p.php?i=2006NISH01" %>, <%= link_to "Sinpei Araki (荒木慎平)", "/results/p.php?i=2006ARAK01" %>, and <%= link_to "Akihiro Ishida (石田朗大)", "/results/p.php?i=2009ISHI01" %>.</li>
    </ul></li>
    <li><%= link_to "Portuguese, Brazilian (Português do Brasil) - 2016-04-18", "./portuguese-brazilian/" %>
    <ul>
      <li>By <%= link_to "João Gabriel de Aguiar Milani", "/results/p.php?i=2011MILA02" %>, <%= link_to "Marlon de Vasconcelos Marques", "/results/p.php?i=2014MARQ02" %>, and <%= link_to "Pedro Santos Guimarães", "/results/p.php?i=2007GUIM01" %>.</li>
    </ul></li>
    <li><%= link_to "Portuguese, European (Português Europeu) - 2015-07-01", "./portuguese-european/" %>
    <ul>
      <li>By António Gomes.</li>
    </ul></li>
    <li><%= link_to "Russian - 2016-04-18", "./russian/" %>
    <ul>
      <li>By <%= link_to "Anton Rostovikov", "/results/p.php?i=2009ROST01" %> and <%= link_to "Oleg Gritsenko", "/results/p.php?i=2011GRIT01" %> (with the help of <%= link_to "Oksana Ruzaeva", "/results/p.php?i=2010RUZA01" %>, <%= link_to "Anton Goryachikh", "/results/p.php?i=2009GORY01" %> and <%= link_to "Dmitry Aniskin", "/results/p.php?i=2011ANIS01" %>).</li>
    </ul></li>
    <li><%= link_to "Spanish, American (Español Americano) - 2015-07-01", "./spanish-american/" %>
    <ul>
      <li>By Daniela Maldonado Hernández.</li>
    </ul></li>
    <li><%= link_to "Spanish, European (Español de España) - 2015-07-01", "./spanish-european/" %>
    <ul>
      <li>By <%= link_to "Luis J. Iáñez", "/results/p.php?i=2009PARE02" %>, <%= link_to "Carlos Méndez García-Barroso", "/results/p.php?i=2010GARC02" %>, <%= link_to "Raúl Morales", "/results/p.php?i=2013MORA02" %>, and <%= link_to "Federico Sánchez Motellón", "/results/p.php?i=2009SANC01" %>.</li>
    </ul></li>
  </ul>
  <h2>Translating the Regulations</h2>
  <p>If you're interested in adding/updating a translation, please view <%= link_to "the instructions on the GitHub repository for translations", "https://github.com/thewca/wca-regulations-translations#translation-instructions" %>.</p>
</div>
