<p>
  Job <%= @job.job_id %> (provider ID <%= @job.provider_job_id %>) failed.
  <%= @exception.inspect %>
</p>

<h2>Handler</h2>
<pre><%= @job.inspect %></pre>

<h2>Backtrace</h2>
<pre><%= @exception.backtrace.join("\n") %></pre>
