<%= render layout: "nav" do %>

  <div class="page-header">
    <h1><%= t('oauth.applications.your_apps') %></h1>
  </div>

  <p><%= link_to t('oauth.applications.new'), new_oauth_application_path, class: 'btn btn-success' %></p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('oauth.applications.name') %></th>
      <th><%= t('oauth.applications.callback_url') %></th>
      <th><%= t('oauth.applications.owner') %></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @applications.each do |application| %>
      <tr id="application_<%= application.id %>">
        <td><%= link_to application.name, oauth_application_path(application) %></td>
        <td><%= application.redirect_uri %></td>
        <td><%= link_to application.owner.name, edit_user_path(application.owner) %></td>
        <td><%= link_to t('doorkeeper.applications.buttons.edit'), edit_oauth_application_path(application), class: 'btn btn-link' %></td>
        <td><%= render 'delete_form', application: application %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
