<% provide(:title, "Edit Medium") %>

<div class="container">
  <%= link_to "Back to all media", media_validate_path %>

  <h2><%= yield(:title) %></h2>

  <%= horizontal_simple_form_for @medium, url: medium_path(@medium), html: { class: 'are-you-sure' } do |f| %>
    <%= f.input :competitionId, as: :competition_id, only_one: true %>
    <%= f.input :type, include_blank: false %>
    <%= f.input :text %>
    <%= f.input :uri %>
    <%= f.input :submitterName %>
    <%= f.input :submitterEmail %>
    <%= f.input :submitterComment %>
    <%= f.input :status, include_blank: false %>

    <%= f.button :submit %>
    <%= link_to medium_path(@medium), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this medium?" } do %>
      Delete <%= icon("trash") %>
    <% end %>
  <% end %>
</div>
