<% provide(:title, t('.title')) %>

<div class="container">
  <%= link_to t('.validate_media_page'), validate_media_path %>

  <h2><%= yield(:title) %></h2>

  <%= render "approval_guidelines" %>

  <%= horizontal_simple_form_for @medium, url: medium_path(@medium), html: { class: 'are-you-sure' } do |f| %>
    <%= f.input :competition_id, as: :competition_id, only_one: true %>
    <%= f.input :media_type, include_blank: false %>
    <%= f.input :text %>
    <%= f.input :uri %>
    <%= f.input :submitter_name %>
    <%= f.input :submitter_email %>
    <%= f.input :submitter_comment %>
    <%= f.input :status, include_blank: false %>

    <%= f.button :submit %>
    <%= link_to medium_path(@medium),
                method: :delete,
                class: "btn btn-danger",
                data: { confirm: t('media.common.confirm_delete') } do %>
      <%= ui_icon("trash") %> <%= t('common.delete') %>
    <% end %>
  <% end %>
</div>
