<% provide(:title, "Submit Medium") %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <p>
    All media will be reviewed before being listed on the <%= link_to "all media page", media_path %>.
  </p>

  <%= horizontal_simple_form_for @medium, url: media_path, html: { class: 'are-you-sure' } do |f| %>
    <%= f.input :competitionId, as: :competition_id, only_one: true %>
    <%= f.input :type, include_blank: false %>
    <%= f.input :text %>
    <%= f.input :uri %>
    <%= f.input :submitterComment %>

    <%= f.button :submit %>
  <% end %>
</div>
