<% provide(:title, t('.title')) %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <p>
    <%= t('.review_warning_html') %>
  </p>

  <div class="well">
    <h3><%= t '.guidelines' %></h3>
    <ul>
      <% t('.media_guidelines').values.each do |guideline| %>
        <li><%= guideline %></li>
      <% end %>
    </ul>
  </div>

  <%= horizontal_simple_form_for @medium, url: media_path, html: { class: 'are-you-sure' } do |f| %>
    <%= f.input :competition_id, as: :competition_id, only_one: true %>
    <%= f.input :media_type, include_blank: false %>
    <%= f.input :text %>
    <%= f.input :uri %>
    <%= f.input :submitter_comment %>

    <%= f.button :submit %>
  <% end %>
</div>
