<% provide(:title, "Incidents log") %>

<%= render layout: "nav" do %>
  <h1><%= yield(:title) %></h1>

  <div id="custom-search-toolbar">
    <input id="incident-tags" class="form-control" type="text" placeholder="Filter by tags">
  </div>
  <div class="incidents-log-table-container">
    <%= wca_table(table_class: "incidents-log-table", data: { toggle: "table", pagination: true, search: true, toolbar: "#custom-search-toolbar" }, floatThead: false, greedy: false) do %>
      <thead>
        <tr>
          <th>Title</th>
          <th class="tags-cell">Tags</th>
          <th class="comps-cell">Happened during</th>
          <th class="status-cell">Status</th>
        </tr>
      </thead>

      <tbody>
        <% @incidents.each do |incident| %>
          <tr>
            <td><%= link_to incident.title, incident %></td>
            <td data-tags="<%= incident.tags %>">
              <% incident.tags_array.each do |t| %>
                <%= render "incident_tag", tag: t, js_search: true %>
              <% end %>
            </td>
            <td data-competitions="<%= incident.competitions %>">
              <% incident.incident_competitions.each do |incident_competition| %>
                <%= render "competition_tag", incident_competition: incident_competition %>
              <% end %>
            </td>
            <% if incident.resolved_at %>
              <td class="text-success">Resolved</td>
            <% else %>
              <td class="text-warning">Pending</td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>

  <script>
    $(function() {
      var opts = wca.defaultSelectizeOptions(<%= all_to_options(IncidentTag) %>);
      wca.initIncidentsLogTable(opts, $('.incidents-log-table'), $('.search input'), $('input#incident-tags'));
    });
  </script>

  <br>
  <% if current_user&.can_manage_incidents? %>
    <%= link_to icon('plus', 'New Incident'), new_incident_path, class: "btn btn-success" %>
  <% end %>

<% end %>
