<% provide(:title, 'Server Status') %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <% if @everything_good && @all_translations_perfect %>
    <%= alert :success, "We're fine. We're all fine here, now, thank you. How are you?" %>
  <% elsif @everything_good %>
    <%= alert :warning, "The server is alright, but some translations would enjoy an update." %>
  <% else %>
    <%= alert :danger, "Check below, something may be wrong." %>
  <% end %>

  <% kind_class = @oldest_job_that_should_have_run_by_now ? "danger" : "success" %>
  <div class="panel panel-<%= kind_class %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="label label-<%= kind_class %>">Jobs</span>

        <% if @oldest_job_that_should_have_run_by_now %>
          Uh oh!
          Job <%= @oldest_job_that_should_have_run_by_now.id %> was created
          <%= time_ago_in_words @oldest_job_that_should_have_run_by_now.created_at %>
          ago and still has not run.
          <%= @jobs_that_should_have_run_by_now.count %>
          <%= "job".pluralize(@jobs_that_should_have_run_by_now.count) %>
          <%= "is".pluralize(@jobs_that_should_have_run_by_now.count) %>
          waiting to run.

        <% else %>
          Looking good!
        <% end %>
      </h3>
    </div>
  </div>

  <% kind_class = @regulations_load_error ? "danger" : "success" %>
  <div class="panel panel-<%= kind_class %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="label label-<%= kind_class %>">Regulations</span>
        <% if @regulations_load_error %>
          Error while loading regulations: <%= @regulations_load_error %>.
        <% else %>
          Looking good!
        <% end %>
      </h3>
    </div>
  </div>

  <% (I18n.available_locales - [:en]).each do |locale| %>
    <%
      bad_keys_by_type = @bad_i18n_keys[locale]
      bad_keys_for_locale = bad_keys_by_type.values.flatten
      class_heading = bad_keys_for_locale.empty? ? "" : "heading-as-link"
      class_panel = bad_keys_for_locale.empty? ? "success" : "warning"
    %>

    <div class="panel panel-<%= class_panel %>">
      <div class="panel-heading <%= class_heading %>" data-toggle="collapse" data-target="#collapse-<%= locale %>">
        <h3 class="panel-title">
          <span class="label label-<%= class_panel %>">i18n</span>
          <span class="label label-<%= class_panel %>"><i class="flag f16 <%= Locales::AVAILABLE[locale][:flag_id] %>"></i> <%= locale %></span> <%# this is all on one line for a reason. See http://stackoverflow.com/a/25879479 %>
          <span class="badge"><%= bad_keys_for_locale.size %></span>
          <%= bad_keys_for_locale.empty? ? "All good" : "Needs attention" %>
          <% unless bad_keys_for_locale.empty? %>
            <span class="collapse-indicator"></span>
          <% end %>
        </h3>
      </div>

      <% unless bad_keys_for_locale.empty? %>
        <div id="collapse-<%= locale.to_s %>" class="panel-collapse collapse panel-body row">
          <% bad_keys_by_type.each do |type_of_bad_keys, bad_keys| %>
            <div class="col-md-6">
              <div class="panel panel-<%= bad_keys.empty? ? "success" : "danger" %>">
                <div class="panel-heading panel-title text-center">
                  <%= type_of_bad_keys.capitalize %>
                  <span class="badge"><%= bad_keys.size %></span>
                </div>
                <% unless bad_keys.empty? %>
                  <div class="panel-body">
                    <ul class="list-group row locale-list-keys">
                      <% bad_keys.each do |key| %>
                        <div class="col-md-6">
                          <li class="list-group-item"><%= key %></li>
                        </div>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  <% end %>
  <%= link_to "Update Translation", edit_translation_path, class: "btn btn-default" %>
</div>
