<% provide(:title, 'Server Status') %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <h4>Page views by locale</h4>
  <ol>
    <% @locale_stats.each do |locale, count| %>
      <li>
        <% data = Locales::AVAILABLE[locale] %>
        <%= data[:name] %>
        <%= count %> views
      </li>
    <% end %>
  </ol>

  <h4>Diagnostics</h4>
  <% if @everything_good %>
    <%= alert :success, "We're fine. We're all fine here, now, thank you. How are you?" %>
  <% else %>
    <%= alert :danger, "Check below, something may be wrong." %>
  <% end %>

  <% @checks.each do |check| %>
    <% kind_class = check.is_passing? ? "success" : "danger" %>
    <div class="panel panel-<%= kind_class %>">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="label label-<%= check.status %>"><%= check.label %></span>
          <% if check.description %>
            <pre><%= check.description %></pre>
          <% else %>
            Looking good!
          <% end %>
        </h3>
      </div>
    </div>
  <% end %>

  <%= alert :info do
    {
        "PID": Process.pid,
        "Uptime": duration_to_s(Time.now - WcaOnRails::BOOTED_AT),
        "Git commit": link_to(EnvConfig.BUILD_TAG, "https://github.com/thewca/worldcubeassociation.org/commit/#{EnvConfig.BUILD_TAG}"),
        "IP Addresses": Socket.ip_address_list.select(&:ipv4_private?).map(&:ip_address).join(","),
    }.map { |key, value| "#{key}: #{value}" }.join(" #{ui_icon("circle")} ").html_safe
  end %>

  <%= link_to translations_status_path, class: "btn btn-primary" do %>
    <%= ui_icon("language") %> Translations status
  <% end %>
</div>
