<% provide(:title, 'Server Status') %>
<div class="container">
  <h1><%= yield(:title) %></h1>

  <% if @everything_good && @total_missing_outdated_unused == 0 %>
    <%= alert :success, "We're fine. We're all fine here, now, thank you. How are you?" %>
  <% elsif @everything_good %>
    <%= alert :warning, "The server is alright, but some translations would enjoy an update." %>
  <% else %>
    <%= alert :danger, "Check below, something may be wrong." %>
  <% end %>
  <% kind_class = @oldest_job_that_should_have_run_by_now ? "danger" : "success" %>
  <div class="panel panel-<%= kind_class %>">
    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="label label-<%= kind_class %>">Jobs</span>

        <% if @oldest_job_that_should_have_run_by_now %>
          Uh oh!
          Job <%= @oldest_job_that_should_have_run_by_now.id %> was created
          <%= time_ago_in_words @oldest_job_that_should_have_run_by_now.created_at %>
          ago and still has not run.
          <%= @jobs_that_should_have_run_by_now.count %>
          <%= "job".pluralize(@jobs_that_should_have_run_by_now.count) %>
          <%= "is".pluralize(@jobs_that_should_have_run_by_now.count) %>
          waiting to run.

        <% else %>
          Looking good!
        <% end %>
      </h3>
    </div>
  </div>
  <% (I18n.available_locales - [:en]).each do |locale| %>
    <% missing = @status_locales[locale][:missing] %>
    <% unused = @status_locales[locale][:unused] %>
    <% outdated = @status_locales[locale][:outdated] %>
    <% all_empty = (missing.empty? && unused.empty? && outdated.empty?) %>
    <% class_heading, class_panel, class_missing, class_unused, class_outdated, title = css_classes(missing.empty?, unused.empty?, outdated.empty?) %>
    <div class="panel panel-<%= class_panel %>">
      <div class="panel-heading <%= class_heading %>" data-toggle="collapse" data-target="#collapse-<%= locale %>">
        <h3 class="panel-title">
          <span class="label label-<%= class_panel %>">i18n</span>
          <span class="label label-<%= class_panel %>"><i class="flag f16 <%= Locales::AVAILABLE[locale][:flag_id] %>"></i> <%= locale %></span> <%# this is all on one line for a reason. See http://stackoverflow.com/a/25879479 %>
          <span class="badge"><%= missing.size + unused.size + outdated.size %></span>
          <%= title %>
          <% unless all_empty %>
            <span class="collapse-indicator"></span>
          <% end %>
        </h3>
      </div>
      <% unless all_empty %>
        <div id="collapse-<%= locale.to_s %>" class="panel-collapse collapse panel-body row">
          <div class="col-md-6">
            <div class="panel panel-<%= class_missing %>">
              <div class="panel-heading panel-title text-center">
                Missing
                <span class="badge"><%= missing.size %></span>
              </div>
              <% unless missing.empty? %>
                <div class="panel-body">
                  <ul class="list-group row locale-list-keys">
                    <% missing.each do |key| %>
                      <div class="col-md-6">
                        <li class="list-group-item"><%= key %></li>
                      </div>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-<%= class_unused %>">
              <div class="panel-heading panel-title text-center">
                Unused
                <span class="badge"><%= unused.size %></span>
              </div>
              <% unless unused.empty? %>
                <div class="panel-body">
                  <ul class="list-group row locale-list-keys">
                    <% unused.each do |key| %>
                      <div class="col-md-6">
                        <li class="list-group-item"><%= key %></li>
                      </div>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-<%= class_outdated %>">
              <div class="panel-heading panel-title text-center">
                Outdated
                <span class="badge"><%= outdated.size %></span>
                <!--
                  These keys are translated, but the English version has changed since the translation:
                -->
              </div>
              <% unless outdated.empty? %>
                <div class="panel-body">
                  <ul class="list-group row locale-list-keys">
                    <% outdated.each do |key| %>
                      <div class="col-md-6">
                        <li class="list-group-item"><%= key %></li>
                      </div>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= link_to "Update Translation", edit_translation_path, class: "btn btn-default" %>
</div>
