<% provide(:title, t('.title')) %>

<div class="container-fluid">
  <h2>
    <%= yield(:title) %>
    <% if current_user&.can_approve_media? %>
      <%= link_to validate_media_path, title: t('.validate_media') do %>
        <span class="badge"><%= CompetitionMedium.pending.count %></span>
      <% end %>
    <% end %>
  </h2>

  <%= t('.submit_media_html') %>
  <hr>

  <%= react_component("Media/MediaTable", {isValidate: false}) %>
</div>
