<div class="container">
  <%= render layout: "devise/conversion_message", locals: { user: resource } do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><%= t('devise.sessions.new.2fa.verify') %></h4>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }, method: :post) do |f| %>
          <%= f.input :remember_me, as: :hidden, value: resource_params.fetch(:remember_me, 0) %>
          <%= f.input :otp_attempt, autofocus: true, class: "form-control" %>
          <%= f.submit t('devise.sessions.new.2fa.confirm'), class: "btn btn-primary", tabindex: "3" %>
        <% end %>
        <h3><%= t("devise.sessions.new.2fa.email_authentication") %></h3>
        <p><%= t("devise.sessions.new.2fa.email_auth_desc") %></p>
        <%= link_to(t("devise.sessions.new.2fa.get_by_email"), "#", class: "btn btn-primary", id: "request_2fa_email") %>
      </div>
    </div>
  <% end %>
</div>
<script>
  function restoreButton() {
    $("#request_2fa_email").toggleClass("disabled", false);
  }

  function handleServerResponse(response) {
    response_json = response.responseJSON;
    if (response_json.error) {
      alert(response_json.error.message);
      restoreButton();
    } else if (response_json.status === "ok") {
      alert("<%= t('devise.sessions.new.2fa.email_sent') %>");
      setTimeout(restoreButton, 120000);
    } else {
      alert("<%= t('devise.sessions.new.2fa.errors.unknown') %>");
      restoreButton();
    }
  }

  $("#request_2fa_email").click(function(ev) {
    ev.preventDefault();
    $("#request_2fa_email").toggleClass("disabled", true);
    wca.cancelPendingAjaxAndAjax('get-2fa-backup', {
      url: '<%= users_generate_email_otp_path %>',
      method: 'POST',
      headers: { 'Content-Type': 'application/json', 'X-CSRF-Token': document.querySelector('meta[name=csrf-token]').content },
      complete: handleServerResponse,
    });
  });
</script>
