<% provide(:title, 'WCA Scrambles') %>
<div class="container">
  <h1>WCA Scrambles</h1>
  <% latest_version = "TNoodle-WCA-1.2.0" %>
  <% latest_jarfilename = "#{latest_version}.jar" %>
  <p>The current official scramble programs is <em><%= latest_version %></em>. It generates high-quality scramble sequences for all the events of a competition at once.</p>
  <center>
    <span style="font-size: 200%; line-height: 150%; padding: 0.5em;">
      Download the official scramble program:<br/>
      <strong><%= link_to latest_jarfilename, "./tnoodle/#{latest_jarfilename}" %></strong>
    </span>
    <br/>
    Last official change: December 31st, 2023
  </center>
  <h2>Important Notes for Delegates</h2>
  <ul>
    <li>Official competitions must always use a current version of the official scramble program (see <%= link_to "Regulation 4f", "../#4f" %>).</li>
    <li>Delegates should download TNoodle to run it on a computer. They should not use TNoodle running on a public server (for security reasons).</li>
    <li>Delegates must save all scramble sequences generated for an official competition, and send them with the results (see the <%= link_to "WCA Competition Requirements Policy", "/documents/policies/external/Competition%20Requirements.pdf" %>).</li>
  </ul>
  <h3 id="scramble-secrecy">Scramble Secrecy</h3>
    <ul>
      <li><b>Always</b> encrypt your scrambles in TNoodle with an unguessable password. The password must have nothing to do with the competition or personal data (name, birthdate) of any of the Delegates.</li>
      <li>If you are displaying scrambles on a digital device, only share <code>[Competition Name] - Computer Display PDFs.zip</code>.</li>
      <ul>
        <li>Make sure that only Delegates have access to any other files.</li>
        <li>If you are using a Delegate's computer, use the operating system to create a guest user account and share only the passcode-protected computer display PDFs with it.</li>
        <li>Give passcodes to scramblers when the corresponding groups begin but <b>not any earlier</b>. (In particular, do not give the passcodes for all the scramble sets in a round to scramblers at the beginning of that round.)</li>
        <li>Don't put someone else in charge of the passcodes unless absolutely necessary, and only give them the minimum amount of passcodes needed.</li>
      </ul>
      <li>Additional precautions are outlined in the <%= link_to "Scramble Accountability Policy", "/documents/policies/external/Scramble%20Accountability.pdf" %>.</li>
    </ul>
  <h2>Detailed Instructions for TNoodle</h2>
  <p>TNoodle requires <%= link_to "Java", "https://www.java.com/en/" %> to be installed on your computer.</p>
  <ol>
    <li>Run the <code><%= latest_jarfilename %></code> file on your computer.<br />It will open the page <%= link_to nil, "http://localhost:2014/scramble" %> in your browser.</li>
    <li>Enter the details for your competition (competition name, number of rounds for each event, details for each round).<br />
      If you would like to password protect the file, enter a password.</li>
    <li>Wait for the loading bar to finish and click the "Scramble!" button that appears.<br />
      A <code>.zip</code> file will download in your browser.</li>
  </ol>
  <h3>Notes</h3>
  <ul>
    <li>4x4x4 scramble sequences <strong>may take a few minutes</strong> to initialize and generate. If you are generating 4x4x4 scramble sequences, be patient while the loading bar may appear to be stuck.</li>
    <li>TNoodle creates a <code>tnoodle_resources</code> folder with a few MB of files (mostly cached tables) in the same folder it is run.<br />
      Keep this folder if you want to generate more 4x4x4 scramble sequences more quickly in the future, but feel free to delete it if you need to reclaim disk space.</li>
    <li>TNoodle performs scramble filtering according to regulation <a href="https://www.worldcubeassociation.org/regulations/#4b3">4b3</a>.</li>
  </ul>
  <h2>About TNoodle</h2>
  <p>TNoodle uses code developed or adapted by Jeremy Fleischman, Ryan Zheng, Cl&#233;ment Gallet, Shuang Chen, Bruce Norskog, and Lucas Garron. View the <%= link_to "TNoodle project on GitHub", "https://github.com/thewca/tnoodle" %> to view the source, report an issue, or contribute to its development.</p>
  <h2>History of Official Releases</h2>
  <p>Old versions must not be used without permission from the WCA Board. These are provided in case you want to check the behaviour of an older version.</p>
  <ul>
    <li><%= link_to "TNoodle-0.7.4", "./tnoodle/old/TNoodle-0.7.4.jar" %> (2013-01-01)</li>
    <li><%= link_to "TNoodle-0.7.5", "./tnoodle/old/TNoodle-0.7.5.jar" %> (2013-02-26)</li>
    <li><%= link_to "TNoodle-0.7.8", "./tnoodle/old/TNoodle-0.7.8.jar" %> (2013-04-26)</li>
    <li><%= link_to "TNoodle-0.7.12", "./tnoodle/old/TNoodle-0.7.12.jar" %> (2013-10-01)</li>
    <li><%= link_to "TNoodle-WCA-0.8.0", "./tnoodle/old/TNoodle-WCA-0.8.0.jar" %> (2014-01-13)</li>
    <li><%= link_to "TNoodle-WCA-0.8.1", "./tnoodle/old/TNoodle-WCA-0.8.1.jar" %> (2014-01-14)</li>
    <li><%= link_to "TNoodle-WCA-0.8.2", "./tnoodle/old/TNoodle-WCA-0.8.2.jar" %> (2014-01-28)</li>
    <li><%= link_to "TNoodle-WCA-0.8.4", "./tnoodle/old/TNoodle-WCA-0.8.4.jar" %> (2014-02-10)</li>
    <li><%= link_to "TNoodle-WCA-0.9.0", "./tnoodle/old/TNoodle-WCA-0.9.0.jar" %> (2015-03-30)</li>
    <li><%= link_to "TNoodle-WCA-0.10.0", "./tnoodle/old/TNoodle-WCA-0.10.0.jar" %> (2015-06-30)</li>
    <li><%= link_to "TNoodle-WCA-0.11.1", "./tnoodle/old/TNoodle-WCA-0.11.1.jar" %> (2016-04-04)</li>
    <li><%= link_to "TNoodle-WCA-0.11.3", "./tnoodle/old/TNoodle-WCA-0.11.3.jar" %> (2016-10-17)</li>
    <li><%= link_to "TNoodle-WCA-0.11.5", "./tnoodle/old/TNoodle-WCA-0.11.5.jar" %> (2016-12-12)</li>
    <li><%= link_to "TNoodle-WCA-0.12.0", "./tnoodle/old/TNoodle-WCA-0.12.0.jar" %> (2017-09-25)</li>
    <li><%= link_to "TNoodle-WCA-0.13.1", "./tnoodle/old/TNoodle-WCA-0.13.1.jar" %> (2018-01-29)</li>
    <li><%= link_to "TNoodle-WCA-0.13.2", "./tnoodle/old/TNoodle-WCA-0.13.2.jar" %> (2018-02-03)</li>
    <li><%= link_to "TNoodle-WCA-0.13.3", "./tnoodle/old/TNoodle-WCA-0.13.3.jar" %> (2018-02-05)</li>
    <li><%= link_to "TNoodle-WCA-0.13.4", "./tnoodle/old/TNoodle-WCA-0.13.4.jar" %> (2018-07-02)</li>
    <li><%= link_to "TNoodle-WCA-0.13.5", "./tnoodle/old/TNoodle-WCA-0.13.5.jar" %> (2018-10-08)</li>
    <li><%= link_to "TNoodle-WCA-0.14.0", "./tnoodle/old/TNoodle-WCA-0.14.0.jar" %> (2018-12-03)</li>
    <li><%= link_to "TNoodle-WCA-0.15.0", "./tnoodle/old/TNoodle-WCA-0.15.0.jar" %> (2019-07-14)</li>
    <li><%= link_to "TNoodle-WCA-0.15.1", "./tnoodle/old/TNoodle-WCA-0.15.1.jar" %> (2020-01-01)</li>
    <li><%= link_to "TNoodle-WCA-1.0.1", "./tnoodle/old/TNoodle-WCA-1.0.1.jar" %> (2020-08-17)</li>
    <li><%= link_to "TNoodle-WCA-1.1.0", "./tnoodle/old/TNoodle-WCA-1.1.0.jar" %> (2021-04-19)</li>
    <li><%= link_to "TNoodle-WCA-1.1.1", "./tnoodle/old/TNoodle-WCA-1.1.1.jar" %> (2021-07-07)</li>
    <li><%= link_to "TNoodle-WCA-1.1.2", "./tnoodle/old/TNoodle-WCA-1.1.2.jar" %> (2021-07-07)</li>
    <li><%= link_to "TNoodle-WCA-1.2.0", "./tnoodle/TNoodle-WCA-1.2.0.jar" %> (2023-12-31)</li>
  </ul>
</div>
