<p>Hey WRT,</p>
<p>
  <%= @resource.name %> reported that our information about them in our database is incorrect.
</p>
<h4>Data</h4>
<table>
  <body>
    <tr>
      <td>WCA ID</td>
      <td><%= @resource.wca_id %></td>
    </tr>
    <tr>
      <td>Correct name</td>
      <td><strong><%= @resource.name %></strong></td>
    </tr>
    <tr>
      <td>Correct gender</td>
      <td><strong><%= @resource.gender %></strong></td>
    </tr>
    <tr>
      <td>Correct birthdate</td>
      <td><strong><%= @resource.dob %></strong></td>
    </tr>
  </body>
</table>
<p>You can edit this person <%= link_to "here", admin_edit_person_url(person: { wca_id: @resource.wca_id }) %>.</p>
<p>A proof of identity is attached.</p>
