<%# i18n-tasks-use t('enums.user.delegate_status.trainee_delegate') %>
<%# i18n-tasks-use t('enums.user.delegate_status.candidate_delegate') %>
<%# i18n-tasks-use t('enums.user.delegate_status.delegate') %>
<%# i18n-tasks-use t('enums.user.delegate_status.senior_delegate') %>
<h1>
  <% old_status = User.delegate_statuses_i18n[@previous_delegate_status] || 'Registered Speedcuber' %>
  <% new_status = User.delegate_statuses_i18n[@new_delegate_status] || 'Registered Speedcuber' %>
  <%= @user_who_made_the_change.name %> has changed the Delegate status of <%= @user_whose_delegate_status_changed.name %> from <%= old_status %> to <%= new_status %>.
</h1>
<% unless @is_changed_by_senior_of_user %>
  <h2 class="alert">
    Warning: <%= @user_who_made_the_change.name %> is not <%= @user_whose_delegate_status_changed.name %>'s Senior Delegate.
  </h2>
<% end %>
<p>
  You can see additional information or make changes in the <%= link_to "Edit User", edit_user_url(@user_whose_delegate_status_changed) %> page.
</p>
