<%
  already_has_submitted_result ||= false
  has_errors ||= false
  results_submission ||= ResultsSubmission.new
  can_submit_results = already_has_submitted_result && !has_errors
%>
<div class="panel panel-default">
  <div class="panel-heading heading-as-link <%= "collapsed" unless can_submit_results %>" data-toggle="collapse" data-target="#collapse-submit-results">
    <h3 class="panel-title">
      Submit the results to the Results Team.
      <span class="collapse-indicator"></span>
    </h3>
  </div>
  <div id="collapse-submit-results" class="panel-body collapse <%= "in" if can_submit_results %>">
    <% if can_submit_results %>
      <p>Please enter the body of your email to the Results Team.</p>
      <p>
      Make sure to include a link to the competition schedule (and all time
      limits and cutoffs) and provide any changes to the provided schedule, as
      well as any other additional details required by the
      <%= link_to "'Submitting competition results' section of the delegate crash course",
        delegate_crash_course_path(anchor: "submitting-competition-results") %>.
      </p>

      <%= simple_form_for results_submission, url: submit_results_path do |f| %>
        <%= f.input :schedule_url %>
        <%= f.input :message, as: :text, input_html: { class: "markdown-editor" } %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <p>Please upload a JSON file and make sure the results don't contain any error.</p>
    <% end %>
  </div>
</div>
