<%
  has_errors ||= false
  results_submission ||= ResultsSubmission.new
  schedule_url_kwargs = {
    readonly: true,
    input_html: {
      value: link_to_competition_schedule_tab(competition),
    },
  }
%>
<div class="panel panel-default">
  <div class="panel-heading heading-as-link <%= "collapsed" if has_errors %>" data-toggle="collapse" data-target="#collapse-submit-results">
    <h3 class="panel-title">
      Submit the results to the Results Team.
      <span class="collapse-indicator"></span>
    </h3>
  </div>
  <div id="collapse-submit-results" class="panel-body collapse <%= "in" unless has_errors %>">
    <% unless has_errors %>
      <p>Please enter the body of your email to the Results Team.</p>
      <p>Make sure the schedule on the WCA website actually reflects what happened during the competition.</p>
      <p>
        Please also make sure to include any other additional details required by the
        <%= link_to "'Submitting competition results' section of the delegate crash course",
          panel_delegate_crash_course_path(anchor: "submitting-competition-results") %>.
      </p>

      <%= simple_form_for results_submission, url: competition_submit_results_path do |f| %>
        <%= f.input :schedule_url, **schedule_url_kwargs %>
        <%= f.input :message, as: :text, input_html: { class: "markdown-editor" } %>
        <%= f.input :confirm_information, as: :boolean, label: "I confirm the information displayed on the WCA website's events page and on the competition's schedule page reflect what happened during the competition." %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <p>Please upload a JSON file and make sure the results don't contain any errors.</p>
    <% end %>
  </div>
</div>
