<%# expect variables: results, persons %>
<%# FIXME: replace this by round.name when https://github.com/thewca/worldcubeassociation.org/pull/3018 is merged! %>
<% round_id = "#{round.event.id}-#{round.round_type_id}" %>
<h3><%= link_to "#{round.event.name} #{round.round_type.name}", "##{round_id}", "data-toggle": "collapse" %></h3>
<%= wca_table table_class: "wca-results collapse", floatThead: false, table_id: round_id do %>
  <thead>
    <tr>
      <th class="pos">#</th>

      <th class="name"><%= t 'competitions.results_table.name' %></th>

      <th class="single"><%= t 'common.best' %></th>

      <th class="average"><%= t 'common.average' %></th>

      <th class="country"><%= t 'common.user.citizen_of' %> </th>

      <th class="solves" colspan="5"><%= t 'common.solves' %></th>

      <% # Extra column for .table-greedy-last-column %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% results.each do |result| %>
      <tr>
        <td class="pos">
          <%= result.pos %>
        </td>
        <td class="name">
          <% person = persons_by_id[result.personId] %>
          <% unless person.wca_id.blank? %>
            <%= link_to person.name, person_path(person.wca_id) %>
          <% else %>
            <%= person.name %>
          <% end %>
        </td>
        <td class="single"><%= result.best_solve.clock_format %></td>
        <td class="average"><%= result.average_solve.clock_format %></td>
        <td class="country"><%= person.country.name %></td>
        <%= solve_tds_for_result(result) %>

        <% # Extra column for .table-greedy-last-column %>
        <td></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
