<%# expect variables: results, persons %>
<%# FIXME: replace this by round.name when https://github.com/thewca/worldcubeassociation.org/pull/3018 is merged! %>
<h3><%= "#{round.event.name} #{round.round_type.name}" %></h3>
<%= wca_table table_class: "wca-results", floatThead: false do %>
  <thead>
    <tr>
      <th class="pos">#</th>

      <th class="name"><%= t '.name' %></th>

      <th class="single"><%= t 'common.best' %></th>

      <th class="average"><%= t 'common.average' %></th>

      <%# <th class="country"><%= t 'common.user.citizen_of' </th>%>
      <th class="solves" colspan="5"><%= t 'common.solves' %></th>

      <% # Extra column for .table-greedy-last-column %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% results.each do |result| %>
      <tr>
        <td class="pos">
          <%= result.pos %>
        </td>
        <td class="name">
          <% person = persons_by_id[result.personId] %>
          <% unless person.wcaId.blank? %>
            <%= link_to person.name, person_path(person.wcaId) %>
          <% else %>
            <%= person.name %>
          <% end %>
        </td>
        <td class="single"><%= result.best_solve.clock_format %></td>
        <td class="average"><%= result.average_solve.clock_format %></td>
        <%# <td class="country"><%= result.country_id </td> %>
        <%= solve_tds_for_result(result) %>

        <% # Extra column for .table-greedy-last-column %>
        <td></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
