<%# Locals required: results_validator %>
<% display_competition ||= false %>
<p>
  <% if results_validator.validators == ResultsValidators::Utils::ALL_VALIDATORS %>
    All validators were ran.
  <% else %>
    The following validators were ran: <%= results_validator.validators.map(&:class_name).join(", ") %>.
  <% end %>
  The results of the validations are below.
</p>
<% if results_validator.has_infos? %>
  <%# NOTE: this can be only visible to the WRT when they apply automatic fixes. %>
  <h3>Infos</h3>
  <% results_validator.infos.group_by(&:kind).each do |type, infos| %>
    <% if infos.any? %>
      <h4>Information for <%= type %></h4>
      <ul>
        <% infos.each do |info| %>
          <li>
            <% if display_competition %>
              [<%= link_to info.competition_id, competition_path(info.competition_id) %>]
            <% end %>

            <%= info %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
<h3>Errors</h3>
<% if results_validator.has_errors? %>
  <p>Please fix the errors below:</p>
  <% results_validator.errors.group_by(&:kind).each do |type, errors| %>
    <% if errors.any? %>
      <h4>Errors detected in <%= type %></h4>
      <ul>
        <% errors.each do |error| %>
          <li>
            <% if display_competition %>
              [<%= link_to error.competition_id, competition_path(error.competition_id) %>]
            <% end %>

            <%= error %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% elsif !results_validator.has_results? %>
  <p class="text-danger">
  <% if results_validator.check_real_results? %>
    No results for the competition yet.
  <% else %>
    No results submitted yet.
  <% end %>
  </p>
<% else %>
  <p>No error detected in the results.</p>
<% end %>
<h3>Warnings</h3>
<% if results_validator.has_warnings? %>
  <p>
  Please pay attention to the warnings below.
  <% unless results_validator.check_real_results? %>
    You may need to add a comment about them when submitting these results to the WRT!
  <% end %>
  </p>
  <% results_validator.warnings.group_by(&:kind).each do |type, warnings| %>
    <% if warnings.any? %>
      <h4>Warnings detected in <%= type %></h4>
      <ul>
        <% warnings.each do |warning| %>
          <li>
            <% if display_competition %>
              [<%= link_to warning.competition_id, competition_path(warning.competition_id) %>]
            <% end %>

            <%= warning %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
<% elsif !results_validator.has_results? %>
  <p class="text-danger">
  <% if results_validator.check_real_results? %>
    No results for the competition yet.
  <% else %>
    No results submitted yet.
  <% end %>
  </p>
<% else %>
  <p>No warning detected in the results.</p>
<% end %>
