<% provide(:title, "Results submission") %>
<% provide(:include_markdown_editor, true) %>
<%= render layout: 'nav' do %>
  <h1><%= yield(:title) %></h1>

  <% if @competition.results_submitted? %>
    <p>The results have already been submitted. If you have any more questions or comments please reply to the email sent with the first results submission.</p>
  <% else %>
    <p>
      The result submission process has two steps:
      <ul>
        <li>Uploading a valid JSON to the website</li>
        <li>Then the website will run a number of checks. If everything is correct you'll be able to submit these results to the WRT.</li>
      </ul>
    </p>
    <%= render "submit_json_panel", upload_json: @upload_json, already_has_submitted_result: @inbox_results.any? %>

    <%= render "check_inbox_results_panel",
      already_has_submitted_result: @inbox_results.any?,
      total_errors: @total_errors,
      all_errors: @all_errors,
      total_warnings: @total_warnings,
      all_warnings: @all_warnings
    %>

    <%= render "results_submission_panel",
      already_has_submitted_result: @inbox_results.any?,
      has_errors: @total_errors != 0,
      results_submission: @results_submission
    %>
  <% end %>

<% end %>
