<% provide(:title, "Results submission") %>
<% add_to_packs("markdown_editor") %>

<%= render layout: 'nav' do %>
  <h1><%= yield(:title) %></h1>

  <% if @competition.results_submitted? %>
    <p>The results have already been submitted. If you have any more questions or comments please reply to the email sent with the first results submission.</p>
  <% else %>
    <p>
      The result submission process has two steps:
      <ul>
        <li>Uploading a valid JSON to the website</li>
        <li>Then the website will run a number of checks. If everything is correct you'll be able to submit these results to the WRT.</li>
      </ul>
    </p>
    <%= render "submit_json_panel", upload_json: @upload_json, already_has_submitted_result: @results_validator.has_results? %>

    <%= render "check_results_panel",
      results_validator: @results_validator,
      force_collapse: @results_submission
    %>
    <% if @current_user.can_submit_competition_results?(@competition) %>
      <%= render "results_submission_panel",
        competition: @competition,
        has_errors: @results_validator.has_errors?,
        results_submission: @results_submission
      %>
    <% end %>
  <% end %>

<% end %>
