<% provide(:title, "Results submission") %>
<%= render layout: 'nav' do %>
  <h1><%= yield(:title) %></h1>

  <p>Please enter the body of your email to the Results Team.</p>
  <p>
    Make sure to include a link to the competition schedule (and all time
    limits and cutoffs) and provide any changes to the provided schedule, as
    well as any other additional details required by the
    <%= link_to "'Submitting competition results' section of the delegate crash course",
                delegate_crash_course_path(anchor: "submitting-competition-results") %>.
  </p>

  <%= simple_form_for @results_submission, url: submit_results_path do |f| %>
    <%= f.input :message, as: :text, input_html: { class: "markdown-editor" } %>
    <%= f.input :results, as: :file, input_html: { accept: 'application/json' } %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
<% end %>
