<p>
  <%= t 'users.mailer.reset_password_instructions.greeting' %>
</p>

<p>
  <%= t 'users.mailer.reset_password_instructions.instruction1', user_email: @resource.email %>
</p>

<p>
  <%= t 'users.mailer.reset_password_instructions.instruction2' %>
</p>

<p>
  <%= edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %>
</p>

<p>
  <%= t 'users.mailer.reset_password_instructions.instruction3' %>
</p>

<p>
  <%= t 'users.mailer.reset_password_instructions.instruction4', contact_link: 'contact@worldcubeassociation.org' %>
</p>
