<h1>Fun Statistics</h1>

<p style="padding-left:20px;padding-right:20px;font-weight:bold">
  Here you see a selection of fun statistics, based on official WCA competition results.
</p>

<ul style="padding-left: 20px">
  <% @statistics.each do |statistic| %>
    <li style="padding-bottom: 5px">
      <%= link_to statistic.name, "##{statistic.id}", style: "color:#33C;font-weight:normal" %>
    </li>
  <% end %>
</ul>

<% @statistics.each do |statistic| %>
  <div id="<%= statistic.id %>">
    <div class="table-responsive">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="results table table-condensed">

        <tbody><tr><td colspan="9">&nbsp;<a name="13">&nbsp;</a></td></tr>

          <!-- Why is this part of the table? -->
          <tr>
            <td class="caption" colspan="9">
              <%= statistic.name %>
              <% if statistic.info %>
                (<a title="<%= statistic.info %>" style="color:#FC0" onclick='alert("<%=j statistic.info %>")'>info</a>)
              <% elsif statistic.subtitle %>
                <span style="color:#999">(<%= statistic.subtitle %>)</span>
              <% end %>
            </td>
          </tr>

          <!-- shouldn't this be in a thead? -->
          <tr>
            <% statistic.headers.each do |header| %>
              <% if header.respond_to?(:render) %>
                <%= header.render %>
              <% else %>
                <th><%= header %></th>
              <% end %>
            <% end %>
          </tr>

          <% statistic.rows.each do |p| %>
            <tr class="<%= cycle("", "e") %>">
              <% p.each do |r| %>
                <%= r.render %>
              <% end %>
            </tr>
          <% end %>

        </tbody>
      </table>
    </div>
  </div>
<% end %>
