<% competition = delegate_report.competition %>

<div class="delegate-report">
  <% if delegate_report.wrc_feedback_requested %>
    <p style="color: red; font-weight: bold">
      @WRC: Feedback requested on incidents: <%= delegate_report.wrc_incidents %>
    </p>
  <% end %>
  <% if delegate_report.wdc_feedback_requested %>
    <p style="color: red; font-weight: bold">
      @WDC: Feedback requested on incidents: <%= delegate_report.wdc_incidents %>
    </p>
  <% end %>

  <div>
    <strong>Date</strong>
    <%= wca_date_range(competition.start_date, competition.end_date, locale: :en) %>
    <% if delegate_report.schedule_url.present? %>
      (<%= link_to "Schedule", delegate_report.schedule_url %>)
    <% else %>
      (Schedule missing)
    <% end %>
  </div>

  <div>
    <strong>Location</strong>
    <%= competition.cityName %>, <%= competition.country.name_in(:en) %>
    <%= link_to_google_maps_place competition.venueAddress, competition.latitude_degrees, competition.longitude_degrees %>
  </div>

  <div>
    <strong>Competitors</strong>

    <% if competition.results_posted? %>
      <%= competition.competitors.count %>
    <% else %>
      Unknown, results are not posted yet.
    <% end %>
  </div>

  <div>
    <strong>Events</strong>
    (<%= competition.events.count %>)
    <%= competition.events.map(&:name).join(", ") %>
  </div>

  <div>
    <strong>Equipment</strong>
    <%=md delegate_report.equipment %>
  </div>

  <div>
    <strong>Delegates</strong>
    <%= competition.staff_delegates.pluck(:name).to_sentence %>
  </div>
  <% if competition.trainee_delegates.length > 0 %>
    <div>
      <strong>Trainee Delegates</strong>
      <%= competition.trainee_delegates.pluck(:name).to_sentence %>
    </div>
  <% end %>
  <% if competition.organizers.length > 0 %>
    <div>
      <strong>Organisers</strong>
      <%= competition.organizers.pluck(:name).to_sentence %>
    </div>
  <% end %>

  <div>
    <h2>Venue</h2>
    <%=md delegate_report.venue %>
  </div>

  <div>
    <h2>Organization</h2>
    <%=md delegate_report.organization %>
  </div>

  <div>
    <h2>Incidents</h2>
    <%=md delegate_report.incidents %>
  </div>

  <div>
    <h2>Remarks</h2>
    <%=md delegate_report.remarks %>
  </div>

  <% if delegate_report.posted_by_user %>
    <br>
    <div>
      Report submitted by <%= delegate_report.posted_by_user.name %>
    </div>
  <% end %>
</div>
