<% provide(:title, "Report for #{@competition.name}") %>

<%= render layout: 'nav' do %>
  <h2>Editing Delegate Report for <%= @competition.name%></h2>
  <%= simple_form_for(@delegate_report, url: delegate_report_path(@competition.id)) do |f| %>
    <%= render 'shared/error_messages', object: @delegate_report %>

    <%= f.hidden_field :updated_at %>

    <%= f.input :schedule_url %>

    <%= f.input :equipment, input_html: { class: "markdown-editor" } %>
    <%= f.input :venue, input_html: { class: "markdown-editor" } %>
    <%= f.input :organisation, input_html: { class: "markdown-editor" } %>
    <%= f.input :incidents, input_html: { class: "markdown-editor" } %>
    <%= f.input :remarks, input_html: { class: "markdown-editor" } %>

    <%= f.button :submit %>
    <%= button_tag(type: 'submit',
                   name: "delegate_report[posted]",
                   value: true,
                   class: "btn btn-danger",
                   data: { confirm: "You are about to post your report, are you sure you want to do this? Once posted, a report cannot be changed." }) do %>
      Post the report
    <% end %>
  <% end %>

<% end %>
