<%#
Variables:
 - form_builder
 - disabled
 - events_association_name -> name of the associated events relation
 - allowed_events -> a relation or an Array of Event objects that should be shown (all by default)
 - selected_events -> a relation or an Array of Event objects that would be marked as selected
 - hint -> a hint to be displayed under the picker
 - show_select_hint -> should the hint to show that the event buttons are selectable be shown (issue #6811)

Note: form_builder.object is the object having associated events.
%>

<%
  disabled ||= false
  hint ||= false
  show_select_hint ||= false
  allowed_events ||= Event.official
  disabled_events ||= []
  disabled_tooltip ||= false

  label = I18n.t("activerecord.attributes.#{form_builder.object.class.name.underscore}.#{events_association_name}")
  using_competition_events = events_association_name == :registration_competition_events
  all_events = form_builder.object.events_to_associated_events(allowed_events)
  errors = form_builder.object.errors.messages[events_association_name] || []

  # Only show the hint when it's allowed and there are no events already selected.
  # Note that the visibility of the hint is also controlled in JS when you select any event.
  show_select_hint = show_select_hint && (selected_events.length < 1) && (errors.length < 1)
%>

<div class="form-group <%= "has-error" unless errors.empty? %>">
  <%= label_tag events_association_name, class: "associated-events-label#{" has-top-hint" if show_select_hint}" do %>
    <%= label %> (<span class="events-selected-count"></span>)
    <% unless disabled %>
      <br />
      <button type="button" class="btn btn-primary btn-xs select-all-events"><%= t 'competitions.index.all_events' %></button>
      <button type="button" class="btn btn-default btn-xs clear-all-events"><%= t 'competitions.index.clear' %></button>
    <% end %>
  <% end %>
  <div id="<%= events_association_name %>" class="associated-events">
    <% if show_select_hint %>
      <div class="select-hint"><%= t 'competitions.index.select_hint' %></div>
    <% end %>

    <%= form_builder.simple_fields_for events_association_name, all_events do |f| %>
      <% event = f.object.event %>
      <% e_disabled = disabled_events.include?(event) %>
      <span class="event-checkbox <%= "disabled" if disabled || e_disabled %>">
        <% if using_competition_events %>
          <%= f.hidden_field :competition_event_id %>
        <% else %>
          <%= f.hidden_field :event_id %>
        <% end %>
        <%= label_tag "#{events_association_name}_#{event.id}" do %>
          <%= f.check_box "_destroy", { checked: selected_events.include?(event) && !e_disabled, id: "#{events_association_name}_#{event.id}", disabled: disabled || e_disabled }, "0", "1" %>
          <% tooltip = e_disabled ? disabled_tooltip : event.name %>
          <%= cubing_icon(event.id, data: { toggle: "tooltip", placement: "top" }, title: tooltip) %>
        <% end %>
        <% if e_disabled %>
          <%= f.hidden_field "_destroy", { value: "1" } %>
        <% end %>
        <%= f.hidden_field :id %>
      </span>
    <% end %>

    <% errors.each do |error| %>
      <span class="help-block">
        <%= error %>
      </span>
    <% end %>
    <% unless hint.blank? %>
      <p class="help-block"><%= hint %></p>
    <% end %>
  </div>
</div>
