<%#
Variables:
 - form_builder
 - disabled
 - events_association_name -> name of the associated events relation
 - allowed_events -> a relation or an Array of Event objects that should be shown (all by default)
 - selected_events -> a relation or an Array of Event objects that whould be marked as selected
 - hint -> a hint to be displayed under the picker

Note: form_builder.object is the object having associated events.
%>

<%
  disabled ||= false
  hint ||= false
  allowed_events ||= Event.official

  label = I18n.t("activerecord.attributes.#{form_builder.object.class.name.underscore}.#{events_association_name}")
  using_competition_events = events_association_name == :registration_competition_events
  all_events = form_builder.object.events_to_associated_events(allowed_events)
  errors = form_builder.object.errors.messages[events_association_name] || []
%>

<div class="form-group <%= "has-error" unless errors.empty? %>">
  <%= label_tag events_association_name, class: "associated-events-label" do %>
    <%= label %>
    <button type="button" class="btn btn-primary btn-xs select-all-events"><%= t 'competitions.index.all_events' %></button>
    <button type="button" class="btn btn-default btn-xs clear-all-events"><%= t 'competitions.index.clear' %></button>
  <% end %>
  <div id="<%= events_association_name %>" class="associated-events">
    <%= form_builder.simple_fields_for events_association_name, all_events do |f| %>
      <span class="event-checkbox <%= "disabled" if disabled %>">
        <% event = f.object.event %>
        <% if using_competition_events %>
          <%= f.hidden_field :competition_event_id %>
        <% else %>
          <%= f.hidden_field :event_id %>
        <% end %>
        <%= label_tag "#{events_association_name}_#{event.id}" do %>
          <%= f.check_box "_destroy", { checked: selected_events.include?(event), id: "#{events_association_name}_#{event.id}", disabled: disabled }, "0", "1" %>
          <%= content_tag(:span, "",
                          class: "cubing-icon event-#{event.id}",
                          data: { toggle: "tooltip", placement: "top" },
                          title: event.name
          ) %>
        <% end %>
        <%= f.hidden_field :id %>
      </span>
    <% end %>

    <% errors.each do |error| %>
      <span class="help-block">
        <%= error %>
      </span>
    <% end %>
    <% unless hint.blank? %>
      <p class="help-block"><%= hint %></p>
    <% end %>
  </div>
</div>
