<% provide(:title, 'Editing poll #' + @poll.id.to_s) %>

<div class="container">

  <h3><%= yield(:title) %></h3>

  <div class="container">
    <%= simple_form_for @poll, html: { class: 'form-horizontal are-you-sure no-submit-on-enter', id: 'edit-poll-form' }, wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    }  do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.input :question %>
      <%= f.input :multiple, label: "Allow multiple answers" %>
      <%= f.input :deadline, :as => :string, :input_html => { :class => 'date_picker' } %>

      <div class="panel panel-default">
        <div class="panel-heading">Options</div>
        <div class="panel-body">
          <%= f.fields_for :poll_options do |options_form| %>
            <%= render 'poll_option_fields', f: options_form %>
          <% end %>

          <div class="links">
            <%= link_to_add_association button_tag('Add option', type: "button", class: "btn btn-primary"), f, :poll_options %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.button :submit, class: "btn-success" %>
        </div>
      </div>

    <% end %>
  </div>

</div>

<script>
$("input.date_picker").datepicker({
  autoclose: true,
  format: 'yyyy-mm-dd'
});
</script>
