<% provide(:title, "Preview poll ##{@poll.id}") %>

<div class="container">

  <div class="alert alert-danger">This is just a preview!</div>

  <h3><%=md @poll.question %></h3>
  <h4><%=md @poll.comment %></h4>

  <% type = @poll.multiple ? "checkbox" : "radio" %>
  <% @poll.poll_options.each do |option| %>
    <span class="checkbox">
      <label>
        <%= tag("input", type: type,
                name: "vote[poll_option_ids][]",
                value: option.id) %>
        <%=md option.description %>
      </label>
    </span>
  <% end %>

  <%= link_to 'Back to editing', edit_poll_path(@poll), class: "polls-home" %>
</div>
