<% provide(:title, "Results for poll ##{@poll.id}") %>

<div class="container">

  <h3><%=md @poll.question %></h3>
  <h4><%=md @poll.comment %></h4>

  <% @vote = @poll.votes.find_by user_id: current_user %>

  <% if @poll.over? %>
    <table class="table" id="poll-results">
      <% @poll.poll_options.each do |option| %>
        <tr>
          <td>
            <% if @vote && option.id.in?(@vote.poll_option_ids) %>
              <%= ui_icon("check circle", data: { toggle: "tooltip", placement: "top", container: "body" }, title: "You voted for this option") %>
            <% end %>
          </td>
          <td><%= option.description %></td>
          <td><%= option.vote_options.count %></td>
          <% option_percentage = option.percentage %>
          <td><%= option_percentage %>%</td>
          <td class="bar">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= option_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= option_percentage %>%;">
              </div>
            </div></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td class="total">Total</td>
        <td class="total"><%= @poll.poll_options.map(&:vote_options).flatten.length %></td>
        <td></td>
        <td>
          <% if @poll.multiple %>
            (<%= @poll.votes.count %> people voted)
          <% end %>
        </td>
      </tr>
    </table>
  <% else %>
    <%= alert :warning do %>
      Voting is not closed yet. Please come back on <%= wca_local_time(@poll.deadline) %>,
      in <%= distance_of_time_in_words_to_now(@poll.deadline) %> to see the results.
    <% end %>
  <% end %>
  <%= link_to polls_path, class: "btn btn-default" do %>
    <%= ui_icon("undo") %> Back to Polls
  <% end %>
</div>
