<% provide(:title, 'Vote in poll #' + @poll.id.to_s) %>

<div class="container">

  <% if @poll.poll_is_over? %>
    <div class="alert alert-danger">Poll is closed</div>
  <% elsif !@poll.confirmed %>
    <div class="alert-alert-danger">Voting is not open</div>
  <% else %>

    <h3><%=md @poll.question %></h3>

    <% if @already_voted %>
      <div class="alert alert-warning"><p>You have already voted for this poll!</p><p>You can edit your vote below</p></div>
    <% end %>

    <%= simple_form_for @vote do |f| %>
      <%= f.input :poll_id, :as => :hidden, :input_html => { :value => @poll.id } %>
      <% if @poll.multiple %>
        <%= f.input :poll_option_id, label: false, collection: @poll.poll_options, as: :check_boxes, label_method: lambda { |c| md c.description }, value_method: lambda { |c| c.id }, checked: lambda { |c| @options && c.id.in?(@options) } %>
      <% else %>
        <%= f.input :poll_option_id, label: false, collection: @poll.poll_options, as: :radio_buttons, label_method: lambda { |c| md c.description }, value_method: lambda { |c| c.id } %>
      <% end %>
      <%= f.input :comment, required: false %>

      <button type="submit" class="btn btn-success">
      <%= @already_voted ? "Update vote" : "Vote" %>
      </button>

    <% end %>

  <% end %>
  <%= link_to 'Back to Polls', polls_path, class: "polls-home" %>

</div>