<% provide(:title, 'Vote in poll #' + @poll.id.to_s) %>

<div class="container">

  <% if @poll.poll_is_over? %>
    <div class="alert alert-danger">Poll is closed</div>
  <% elsif !@poll.confirmed %>
    <div class="alert-alert-danger">Voting is not open</div>
  <% else %>

    <h3><%=md @poll.question %></h3>

    <% if @already_voted %>
      <div class="alert alert-warning"><p>You have already voted for this poll!</p><p>You can edit your vote below</p></div>
    <% end %>

    <%= simple_form_for @vote do |f| %>
      <%= f.input :poll_id, :as => :hidden, :input_html => { :value => @poll.id } %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= f.fields_for :vote_options do |options_form| %>
            <%= f.input :vote_id, :as => :hidden, :input_html => { :value => @poll.id } %>
            <%= render 'vote_option_fields', f: options_form %>
          <% end %>
        </div>
      </div>
      <%= f.input :comment, required: false %>

      <button type="submit" class="btn btn-success">
      <%= @already_voted ? "Update vote" : "Vote" %>
      </button>

    <% end %>

  <% end %>
  <%= link_to 'Back to Polls', polls_path, class: "polls-home" %>
</div>