<%
  adjacent_competitions ||= []

  nearby_days ||= nil
  nearby_km ||= nil

  adjacent_desired ||= false
%>

<table class="table">
  <tr>
    <td><%= t 'competitions.adjacent_competitions.name' %></td>
    <td><%= t 'competitions.adjacent_competitions.delegates' %></td>
    <td><%= t 'competitions.adjacent_competitions.date' %></td>
    <td><%= t 'competitions.adjacent_competitions.location' %></td>
    <td><%= t 'competitions.adjacent_competitions.distance' %></td>
    <td><%= t 'competitions.adjacent_competitions.limit' %></td>
    <td><%= t 'competitions.adjacent_competitions.competitors' %></td>
    <td class="wca-adjacent-competitions-show-events"><%= t 'competitions.adjacent_competitions.events' %></td>
  </tr>
  <% adjacent_competitions.each do |c| %>
    <tr class="<%= (@competition.adjacent_to?(c, nearby_km, nearby_days) ^ adjacent_desired) ? "danger" : "warning" %>">
      <td class="text-nowrap">
        <%= if current_user.can_admin_results?
              link_to c.name, admin_edit_competition_path(c.id), target: "_blank"
            else
              link_to c.name, competition_path(c.id)
            end %>
        <% unless c.confirmed? %>
          <i class="fas fa-exclamation-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="This competition is not confirmed yet."></i>
        <% end %>
        <br/>
        <%= yield c %>
      </td>
      <td><%= users_to_sentence c.delegates %></td>
      <% days_until = @competition.days_until_competition?(c) %>
      <% tooltip_title = c.name + " " + (days_until < 0 ? t('competitions.adjacent_competitions.ends_on') + " " + c.end_date.to_fs : t('competitions.adjacent_competitions.starts_on') + " " + c.start_date.to_fs) %>
      <td data-toggle="tooltip" data-placement="top" data-container="body" title="<%= tooltip_title %>">
        <%= t('datetime.distance_in_words.x_days', count: days_until.abs) %> <%= days_until < 0 ? t('competitions.adjacent_competitions.before') : t('competitions.adjacent_competitions.after') %>
      </td>
      <td><%= c.cityName %>, <%= c.countryId %></td>
      <td class="text-nowrap text-right">
        <%= link_to_google_maps_dir "#{@competition.kilometers_to(c).round(2)} km", c.latitude_degrees, c.longitude_degrees, @competition.latitude_degrees, @competition.longitude_degrees %>
      </td>
      <td class="text-center"><%= c.competitor_limit if c.competitor_limit_enabled %></td>
      <td class="text-center"><%= c.competitors.count if c.is_probably_over? %></td>
      <td class="wca-adjacent-competitions-show-events">
        <% c.events.each do |event| %>
          <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "bottom", container: "body" }, title: event.name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
