<% unless competitions.empty? %>
  <div class="col-md-12" id="<%= id %>">
    <table class="table table-striped table-condensed admin-competitions">
      <thead>
        <tr class="admin-table-header">
          <th>
            <%= "#{title} (#{competitions.count})" %>
          </th>
          <th class="admin-delegate">
            Delegate(s)
          </th>
          <th class="admin-date">
            Date
          </th>
          <th class="admin-date">
            Announced
          </th>
          <th class="admin-date">
            Report posted
          </th>
          <th class="admin-date">
            Results submitted <%= ui_icon('exclamation circle', title: 'For competitions before January 2019, this is the date when results were posted', data: { toggle: "tooltip" }) %>
          </th>
          <th class="admin-button">
          </th>
        </tr>
      </thead>
      <tbody>
        <% competitions.each_with_index do |competition, index| %>
          <tr>
            <td>
              <%= flag_icon competition.country.iso2 %><%= link_to competition.display_name(short: true), competition_path(competition) %>
              <br /><strong><%= competition.country.name_in(:en) %></strong>, <%= competition.city_name %>
            </td>
            <td class="admin-delegate">
              <%= users_to_sentence competition.delegates %>
            </td>
            <td class="admin-date">
              <%= wca_date_range(competition.start_date, competition.end_date, locale: :en) %>
            </td>
            <%= content_tag :td, announced_content(competition), class: "admin-date #{announced_class(competition)}" %>
            <%= content_tag :td, report_content(competition), class: "admin-date #{report_class(competition)}" %>
            <%= content_tag :td, results_content(competition), class: "admin-date #{results_class(competition)}" %>
            <td>
              <% if current_user&.can_admin_results? %>
                <%= link_to "Edit", admin_edit_competition_path(competition), class: "btn btn-sm btn-primary", target: "_blank" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<script>
  <%# Tooltips have to be initialized manually after each Ajax response in order to work. %>
  $('[data-toggle="tooltip"]').tooltip();
</script>
