<% unless competitions.empty? %>
  <div class="col-md-12" id="<%= id %>">
    <table class="table table-striped table-condensed admin-competitions">
      <thead>
        <tr class="admin-table-header">
          <th>
            <%= "#{title} (#{competitions.count})" %>
          </th>
          <th class="admin-delegate">
            Delegate(s)
          </th>
          <th class="admin-date">
            Date
          </th>
          <th class="admin-date">
            Announced
          </th>
          <th class="admin-date">
            Report posted
          </th>
          <th class="admin-date">
            Results posted
          </th>
          <th class="admin-button">
          </th>
        </tr>
      </thead>
      <tbody>
        <% competitions.each_with_index do |competition, index| %>
          <% announced = competition.announced_at %>
          <% report = competition.delegate_report.posted_at %>
          <% results = competition.results_posted_at %>
          <tr>
            <td>
              <%= flag_icon competition.country.iso2, 16 %><%= link_to competition.cellName, competition_path(competition) %>
              <br /><strong><%= competition.country.name_in(:en) %></strong>, <%= competition.cityName %>
            </td>
            <td class="admin-delegate">
              <%= users_to_sentence competition.delegates %>
            </td>
            <td class="admin-date">
              <%= wca_date_range(competition.start_date, competition.end_date, locale: :en) %>
            </td>
            <% if announced
                days_announced = (competition.start_date - announced.to_date).to_i
                announced_class = announced_class(days_announced)
                announced_content = "#{pluralize(days_announced, "day")} before"
              end %>
            <%= content_tag :td, announced_content, class: "admin-date #{announced_class}" %>

            <% if report
                days_report = (report.to_date - competition.end_date).to_i
                report_class = report_and_results_class(days_report)
                report_content = "#{pluralize(days_report, "day")} after"
              else
                if competition.is_probably_over?
                  days_report = (Date.today - competition.end_date).to_i
                  report_class = report_and_results_class(days_report)
                  report_content = "pending"
                end
              end %>
            <%= content_tag :td, report_content, class: "admin-date #{report_class}" %>

            <% if results
               days_results = (results.to_date - competition.end_date).to_i
               results_class = report_and_results_class(days_results)
               results_content = "#{pluralize(days_results, "day")} after"
              else
                if competition.is_probably_over?
                  days_results = (Date.today - competition.end_date).to_i
                  results_class = report_and_results_class(days_results)
                  results_content = "pending"
                end
              end %>
            <%= content_tag :td, results_content, class: "admin-date #{results_class}" %>
            <td>
              <% if current_user&.can_admin_results? %>
                <%= link_to "Edit", admin_edit_competition_path(competition), class: "btn btn-sm btn-primary", target: "_blank" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<script>
  <%# Tooltips have to be initialized manually after each Ajax response in order to work. %>
  $('[data-toggle="tooltip"]').tooltip();
</script>
