<div class="row competition-info">
  <div class="col-md-6">
    <dl class="dl-horizontal compact">
      <dt><%= t '.date' %></dt>
      <dd>
        <%= wca_date_range(competition.start_date, competition.end_date) %>
        <%= link_to(ui_icon("calendar plus"), competition_path(competition, format: :ics),
                    title: t('.add_to_calendar'),
                    data: {
                      toggle: "tooltip",
                      placement: "top",
                      container: "body",
                    }) %>
      </dd>
      <dt><%= t '.city' %></dt>
      <dd><%= competition.city_and_country %></dd>

      <dt><%= t '.venue' %></dt>
      <dd><%=md competition.venue %></dd>

      <dt class="text-muted"><%= t '.address' %></dt>
      <dd><%= link_to_google_maps_place competition.venue_address, competition.latitude_degrees, competition.longitude_degrees %></dd>

      <% if competition.venue_details.present? %>
        <dt class="text-muted"><%= t '.details' %></dt>
        <dd><%=md competition.venue_details %></dd>
      <% end %>

      <% if competition.external_website %>
        <dt><%= t '.website' %></dt>
        <dd><%= link_to "#{competition.name} website", competition.website, target: "_blank" %></dd>
      <% end %>

      <dt><%= t '.contact' %></dt>
      <dd>
        <% if competition.contact.present? %>
          <%=md competition.contact %>
        <% else %>
          <%= link_to t('.organization_team'), contact_website_path(competitionId: competition.id) %>
        <% end %>
      </dd>

      <% if competition.organizers.length > 0 %>
        <dt><%= t('.organizer_plural', count: competition.organizers.length) %></dt>
        <dd>
          <%= users_to_sentence competition.organizers, include_profile: true %>
        </dd>
      <% end %>

      <dt><%= t('.delegate', count: competition.delegates.length) %></dt>
      <dd>
        <%= users_to_sentence competition.delegates, include_profile: true %>
      </dd>
    </dl>

    <% if @competition.has_schedule? %>
      <dl class="dl-horizontal">
        <dt><%= ui_icon("print") %></dt>
        <dd>
          <%= t("competitions.competition_info.pdf.download_html",
                here: link_to(t("common.here"),
                              competition_path(competition, format: :pdf),
                              target: :_blank, class: "hide-new-window-icon")) %>
        </dd>
      </dl>
    <% end %>
  </div>

  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt><%= t '.information' %></dt>
      <dd><%=md competition.information %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt><%= t '.events' %></dt>
      <dd class="competition-events-list">
        <% @competition.events.each do |event| %>
          <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "top", container: "body" }, title: event.name %>
        <% end %>
      </dd>

      <% main_event = @competition.main_event %>
      <% if main_event.present? %>
        <dt><%= t '.main_event' %></dt>
        <dd class="competition-events-list">
          <%= cubing_icon main_event.id, data: { toggle: "tooltip", placement: "top", container: "body" }, title: main_event.name %>
        </dd>
      <% end %>

      <% if competition.results_posted? %>
        <dt><%= t 'competitions.nav.menu.competitors' %></dt>
        <dd><%= @competition.competitors.count %></dd>
      <% end %>
    </dl>

    <% media = competition.media.accepted %>
    <% [:report, :article, :multimedia].each do |media_type| %>
      <% media_of_type = media.send(media_type).order(timestampDecided: :desc) %>
      <% if media_of_type.length > 0 %>

        <div class="panel panel-default">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-<%= media_type.to_s %>" class="collapsed">
                <%= media_type.to_s.capitalize.pluralize(media_of_type.length) %>
                <span class="badge"><%= media_of_type.length %></span>
                <span class="collapse-indicator"></span>
              </a>
            </h4>
          </div>

          <div id="collapse-<%= media_type.to_s %>" class="panel-collapse collapse">
            <ul class="list-group">
              <% media_of_type.each do |medium| %>
                <%= link_to medium.text, medium.uri, class: "list-group-item", target: "_blank" %>
              <% end %>
            </ul>
          </div>
        </div>

      <% end %>
    <% end %>

    <% unless competition.results_posted? %>
      <% if competition.competitor_limit_enabled %>
        <dl class="dl-horizontal">
          <dt><%= t '.competitor_limit' %></dt>
          <dd>
            <%= competition.competitor_limit %>
          </dd>
        </dl>
      <% end %>

      <dl class="dl-horizontal">
        <dt><%= t '.number_of_bookmarks' %></dt>
        <dd>
          <%= competition.bookmarked_users.length %>
        </dd>
      </dl>
    <% end %>
  </div>

  <div class="col-md-12">
    <dl class="dl-horizontal">
      <% if competition.registration_open.present? && competition.registration_close.present? %>
        <dt><%= t '.registration_period.label' %></dt>
        <dd>
          <p>
            <% if competition.registration_not_yet_opened? %>
              <%= t(".registration_period.range_future_html",
                  start_date_and_time: wca_local_time(competition.registration_open),
                  end_date_and_time: wca_local_time(competition.registration_close)) %>
            <% elsif competition.registration_past? %>
              <%= t(".registration_period.range_past_html",
                  start_date_and_time: wca_local_time(competition.registration_open),
                  end_date_and_time: wca_local_time(competition.registration_close)) %>
            <% else %>
              <%= t(".registration_period.range_ongoing_html",
                  start_date_and_time: wca_local_time(competition.registration_open),
                  end_date_and_time: wca_local_time(competition.registration_close)) %>
            <% end %>
          </p>
        </dd>
      <% end %>
      <dt><%= t '.registration_requirements' %></dt>
      <dd>
        <% collapse = @competition.is_probably_over? %>
        <% if collapse %>
          <div id="show_registration_requirements">
            <%= t('competitions.competition_info.click_to_display_requirements_html', link_here: link_to(t('common.here'), "#")) %>
          </div>
          <div id="hide_registration_requirements">
            <%= link_to(t('competitions.competition_info.hide_requirements'), "#") %>
          </div>
        <% end %>
        <div class="<%= collapse ? "collapse" : "" %>" id="registration_requirements_text">
          <%= render "registration_requirements", show_links_to_register_page: true %>
        </div>
      </dd>
      <% if competition.user_can_view_results?(current_user) %>
        <% records = records(competition) %>
        <% if main_event.present? || records.present? %>
          <dt><%= t '.highlights' %></dt>
          <dd>
            <div id="show_highlights">
              <%= t('.click_to_display_highlights_html', link_here: link_to(t('common.here'), "#")) %>
            </div>
            <div id="hide_highlights">
              <%= link_to(t('.hide_highlights'), "#") %>
            </div>
            <div class="collapse" id="highlights_text">
              <p><%= md(winners(competition, main_event)) if main_event.present? %></p>
              <p><%= md(records) %></p>
            </div>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
</div>

<% if collapse %>
  <script>
    $(function () {
      $("#registration_requirements_text").collapse({
        toggle: false
      });
      $("#show_registration_requirements a").click(function (e) {
        e.preventDefault();
        $("#registration_requirements_text").collapse("show");
        $("#show_registration_requirements").hide();
        $("#hide_registration_requirements").show();
      });
      $("#hide_registration_requirements a").click(function (e) {
        e.preventDefault();
        $("#registration_requirements_text").collapse("hide");
        $("#hide_registration_requirements").hide();
        $("#show_registration_requirements").show();
      });
    });
  </script>
<% end %>

<% if competition.user_can_view_results?(current_user) %>
  <script>
    $(function () {
      $("#highlights_text").collapse({
        toggle: true
      });
      $("#hide_highlights a").click(function (e) {
        e.preventDefault();
        $("#highlights_text").collapse("hide");
        $("#hide_highlights").hide();
        $("#show_highlights").show();
      });
      $("#show_highlights a").click(function (e) {
        e.preventDefault();
        $("#highlights_text").collapse("show");
        $("#show_highlights").hide();
        $("#hide_highlights").show();
      });
    });
  </script>
<% end %>
