<%# Local variables that must be passed: %>
<%#   - competition %>
<%#   - activities %>
<%#   - rounds_by_wcif_id %>

<% activities_by_day = activities.group_by { |a| a[:start].strftime("%Y-%m-%d") } %>

<% competition.start_date.upto(competition.end_date) do |date| %>
  <% activities_for_day = activities_by_day[date.to_fs] %>
  <% grouped_activities = activities_for_day.group_by { |activity| activity[:title] } %>
  <% if activities_for_day&.any? %>
    <h3><%= t("competitions.schedule.schedule_for_date", day_name: l(date, format: '%A'), full_date: l(date, format: :long)) %></h3>

    <div class="row hidden-xs hidden-sm schedule-table-header">
      <div class="col-md-1"><%= t("competitions.schedule.start") %></div>
      <div class="col-md-1"><%= t("competitions.schedule.end") %></div>
      <div class="col-md-3"><%= t("competitions.schedule.activity") %></div>
      <div class="col-md-2"><%= t("competitions.schedule.room") %></div>
      <div class="col-md-2"><%= t("competitions.events.format") %></div>
      <div class="col-md-1"><%= t("competitions.events.time_limit") %></div>
      <div class="col-md-1"><%= t("competitions.events.cutoff") %></div>
      <div class="col-md-1"><%= t("competitions.events.proceed") %></div>
    </div>
    <div class="schedule-table">
      <% grouped_activities.each do |title, activities| %>
        <% a = activities.first %>
        <% activity_code_without_attempt = "#{a[:activityDetails][:event_id]}-r#{a[:activityDetails][:round_number]}" %>
        <% round_data = rounds_by_wcif_id[activity_code_without_attempt] || {} %>
        <div class="row room-<%= a[:roomId] %> event-<%= round_data[:event_id] %> room-selected event-selected">
          <div class="col-xs-4 col-sm-4 col-md-1">
            <span class="visible-xs visible-sm"><%= t("competitions.schedule.range.from") %></span>
            <span class="bolded-xs-sm">
              <%= l(a[:start], format: time_format_for_current_locale) %>
            </span>
          </div>
          <div class="col-xs-4 col-sm-4 visible-xs visible-sm text-center schedule-event-icon">
            <%= cubing_icon round_data[:event_id] unless round_data.empty? %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-1 activity-end-time">
            <span class="visible-xs visible-sm"><%= t("competitions.schedule.range.to") %></span>
            <span class="bolded-xs-sm">
              <%= l(a[:end], format: time_format_for_current_locale) %>
            </span>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-3 bolded-xs-sm activity-name">
            <%= a[:title] %>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2 room-name">
            <%= activities.map { |a| "#{a[:roomName]}" }.join(", ") %>
          </div>
          <div class="clearfix visible-xs visible-sm"></div>
          <% round_format = round_data[:format_name] %>
          <%= render "schedule_table_responsive_cell", label: t("competitions.events.format"), empty: round_format.blank?, md_size: "2" do %>
            <%= round_format %>
          <% end %>
          <% round_time_limit = round_data[:time_limit] %>
          <%= render "schedule_table_responsive_cell", label: t("competitions.events.time_limit"), empty: round_time_limit.blank? do %>
            <%= round_time_limit %>
            <% cumulative_round_ids_length = round_data[:cumulative_round_ids]&.size || 0 %>
            <% if cumulative_round_ids_length == 1 %>
              <%= link_to "*", "#cumulative-time-limit" %>
            <% elsif cumulative_round_ids_length > 1 %>
              <%= link_to "**", "#cumulative-across-rounds-time-limit" %>
            <% end %>
          <% end %>
          <% unless round_time_limit.blank? %>
            <%# In "sm" viewport, we have two rows with two cells of information %>
            <%# The first cell is "format" and is always present if there is a time limit %>
            <%# To avoid misalignment we must clearfix here, but only in "sm" %>
            <div class="clearfix visible-sm"></div>
          <% end %>
          <% round_cutoff = round_data[:cutoff] %>
          <%= render "schedule_table_responsive_cell", label: t("competitions.events.cutoff"), empty: round_cutoff.blank? do %>
            <%= round_cutoff %>
          <% end %>
          <% round_advancement = round_data[:advancement] %>
          <%= render "schedule_table_responsive_cell", label: t("competitions.events.proceed"), empty: round_advancement.blank? do %>
            <%= round_advancement %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
