<%= wca_table table_class: "show-events-table" do %>
  <thead>
    <tr>
      <th><%= t("competitions.results_table.event") %></th>
      <th><%= t("competitions.results_table.round") %></th>
      <th><%= link_to t("competitions.events.format"), "#format" %></th>
      <th><%= link_to t("competitions.events.time_limit"), "#time-limit" %></th>
      <% if @competition.uses_cutoff? %>
        <th><%= link_to t("competitions.events.cutoff"), "#cutoff" %></th>
      <% end %>
      <th><%= t("competitions.events.proceed") %></th>
      <% if @competition.uses_qualification? %>
        <th><%= link_to t("competitions.events.qualification"), "#qualification" %></th>
      <% end %>
    </tr>
  <thead>

  <tbody>
    <% @competition.competition_events.sort_by { |ce| ce.event.rank }.each do |competition_event| %>
      <% competition_event.rounds.each do |round| %>
        <tr class="<%= round.final_round? ? "last-round" : "" %>">
          <td>
            <%= competition_event.event.name if round.number == 1 %>
          </td>
          <td><%= round.round_type.name %></td>
          <td>
            <%= round.full_format_name(with_short_names: true, with_tooltips: true) %>
          </td>
          <td>
            <%= round.time_limit_to_s %>
            <% if competition_event.event.can_change_time_limit? %>
              <% if round.time_limit.cumulative_round_ids.length == 1 %>
                <%= link_to "*", "#cumulative-time-limit" %>
              <% elsif round.time_limit.cumulative_round_ids.length > 1 %>
                <%= link_to "**", "#cumulative-across-rounds-time-limit" %>
              <% end %>
            <% end %>
          </td>
          <% if @competition.uses_cutoff? %>
            <td><%= round.cutoff_to_s %></td>
          <% end %>
          <td><%= round.advancement_condition_to_s %></td>
          <% if @competition.uses_qualification? %>
            <% if round.number == 1 %>
              <td><%= competition_event.qualification_to_s %></td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
<% end %>
