<table class="show-events-table">
  <thead>
    <tr>
      <th class="event-name"><%= t "competitions.results_table.event" %></th>
      <th class="round-name"><%= t "competitions.results_table.round" %></th>
      <th class="round-format"><%= t "competitions.events.format" %></th>
      <th class="round-time-limit"><%= t "competitions.events.time_limit" %></th>
      <th class="round-proceed"><%= t "competitions.events.proceed" %></th>
    </tr>
  </thead>
  <tbody>
    <% @competition.competition_events.sort_by { |ce| ce.event.rank }.each do |competition_event| %>
      <tr class="nobreak event-info">
        <td class="event-name">
          <%= cubing_icon competition_event.event.id %>
        </td>
        <td colspan="4" class="rounds-info">
          <%# Nested table trick to avoid page breaks within events %>
          <table>
            <% competition_event.rounds.each do |round| %>
              <tr class="<%= round.final_round? ? "last-round" : "" %>">
                <td class="round-name"><%= round.round_type.name %></td>
                <td class="round-format">
                  <%= round.full_format_name(with_short_names: true) %><br/>
                  <%= t "competitions.competition_info.pdf.cutoff", short_cutoff: round.cutoff_to_s(short: true) if round.cutoff  %>
                </td>
                <td class="round-time-limit"><%= round.time_limit_to_s %></td>
                <td class="round-proceed"><%= round.advancement_condition_to_s(short: true) %></td>
              </tr>
            <% end %>
          </table>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
