<div class="form-group">
  Event: <br /><%= select_tag(:event, options_for_select(@events, params[:event])) %>
</div>

<div class="form-group">
  Region: <br /><%= select_tag(:region, grouped_options_for_select(@regions, params[:region])) %>
</div>

<div class="form-group">
  Years: <br /><%= select_tag(:years, options_for_select(@years, params[:years])) %>
</div>

<div class="form-group">
  Name, City or Venue: <br /><%= text_field_tag "search" %></td>
</div>

<div class="form-group">
  <%= button_tag(type: 'submit', name: "display", value: "List", class: "btn btn-info") do %>
    <i class="glyphicon glyphicon-list"></i> List
  <% end %>
</div>

<div class="form-group">
  <%= button_tag(type: 'submit', name: "display", value: "Map", class: "btn btn-info") do %>
    <i class="glyphicon glyphicon-map-marker"></i> Map
  <% end %>
</div>
