<ul class="list-group">
  <li class="list-group-item"><strong><%= "#{title} (#{competitions.count})" %></strong></li>
  <% competitions.each_with_index do |competition, index| %>
    <% if index > 0 && competition.year != competitions[index - 1].year && params[:event_ids].empty? %>
      <li class="list-group-item break"><%= competition.year %></li>
    <% end %>
    <li class="list-group-item <%= competition.is_over? ? "past" : "not-past" %>">
      <span class="date">
        <% if competition.is_over? %>
          <% if competition.results_posted? %>
            <%= icon('check-circle', title: "Results are posted!", class: "results-posted-indicator", data: { toggle: "tooltip" }) %>
          <% else %>
            <%= icon('hourglass-end', title: "Ended #{ pluralize((Date.today - competition.end_date).to_i, "day") } ago", data: { toggle: "tooltip" }) %>
          <% end %>
        <% elsif competition.in_progress? %>
          <%= icon('hourglass-half', title: "In progress!", data: { toggle: "tooltip" }) %>
        <% else %>
          <%= icon('hourglass-start', title: "Starts in #{ pluralize((competition.start_date - Date.today).to_i, "day") }", data: { toggle: "tooltip" }) %>
        <% end %>
        <%= wca_date_range(competition.start_date, competition.end_date) %>
      </span>
      <span class="competition-info">
        <p class="competition-link">
          <i class="flag f16 <%= competition.country.iso2.downcase %>"></i>
          <%= link_to competition.cellName, competition_path(competition) %>
        </p>
        <p class="location">
          <strong><%= competition.country.name %></strong>, <%= competition.cityName %>
        </p>
        <div class="venue-link">
          <%=md(competition.venue, target_blank: true) %>
        </div>
      </span>
    </li>
  <% end %>
</ul>

<script>
  <%# Tooltips have to be initialized manually after each Ajax response in order to work. %>
  $('[data-toggle="tooltip"]').tooltip();
</script>
