<table class="table competitions-table table-striped table-hover">
  <tbody>
    <tr>
      <th colspan=2><%= title %></th>
    </tr>
    <% if competitions.length > 0 %>
      <% competitions.each_with_index do |competition, index| %>
        <tr class="<%= competition.is_over? ? "past" : "not-past" %>">
          <td><span style="white-space: nowrap;"><%= date_range(competition.start_date, competition.end_date, separator: '-', show_year: false) %></span>, <%= competition.year %></td>
          <td>
            <p>
              <%= link_to competition.name, competition_path(competition) %>
              <br /><span style="font-size: smaller;"><strong><%= competition.country.name %></strong>, <%= competition.cityName %>
              <br><%= competition.venue %></span>
            </p>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class="alert alert-warning">
        <td colspan=2>
          No competitions found!
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
