<div class="form-group">
  <%= label_tag "events" do %>
    Events
    <button type="button" id="select-all-events" class="btn btn-primary btn-xs">All</button>
    <button type="button" id="clear-all-events" class="btn btn-default btn-xs">Clear</button>
  <% end %>
  <div id="events">
    <% Event.all_official.each do |event| %>
    <span class="event-checkbox">
      <%= label_tag "checkbox-#{event.id}" do %>
        <%= check_box_tag "event_ids[]", event.id, params[:event_ids].include?(event.id), id: "checkbox-#{event.id}" %>
        <%= content_tag(:span, "", class: "cubing-icon icon-#{event.id}", data: { toggle: "tooltip", placement: "top" }, title: event.name ) %>
      <% end %>
    </span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:region) %>
  <%= select_tag(:region, region_option_tags(selected_id: params[:region]), class: "form-control") %>
</div>

<div class="form-group">
  <%= label_tag("Search") %>
  <div id="search-field">
    <div class="input-group">
      <span class="input-group-addon" data-toggle="tooltip" data-placement="top"
            title="Name, city, venue, delegate(s), country or month">
        <%= icon('search') %>
      </span>
      <%= text_field_tag "search", params[:search], class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:state) %>
  <div id="state" class="btn-group" data-toggle="buttons">
    <label id="present" class="btn btn-primary">
      <%= radio_button_tag "state", "present" %>
      <span class="caption">Present</span>
    </label>
    <label id="recent" class="btn btn-primary" data-toggle="tooltip" title="Last <%= Competition::RECENT_DAYS %> days">
      <%= radio_button_tag "state", "recent" %>
      <span class="caption">Recent</span>
    </label>
    <ul class="dropdown-menu years">
      <%= hidden_field_tag "year", params[:year] %>
      <% @years.each do |year| %>
        <li class="year"><%= link_to year.to_s.capitalize, "#", data: { year: year } %></li>
      <% end %>
    </ul>
    <label id="past" class="btn btn-primary" data-toggle="dropdown">
      <%= radio_button_tag "state", "past" %>
      <span class="caption">Past <%= "from #{params[:year]}" if @past_selected %></span>
    </label>
  </div>
</div>

<div class="form-group admin-selectors">
  <%= label_tag(:status) %>
  <div id="status" class="btn-group" data-toggle="buttons">
    <label id="all" class="btn btn-info">
      <%= radio_button_tag "status", "all" %>
      <span class="caption">All</span>
    </label>
    <label id="warning" class="btn btn-warning">
      <%= radio_button_tag "status", "warning" %>
      <span class="caption">Warning</span>
    </label>
    <label id="danger" class="btn btn-danger">
      <%= radio_button_tag "status", "danger" %>
      <span class="caption">Danger</span>
    </label>
  </div>
</div>

<div id="display" class="form-group">
  <div class="btn-group btn-group-justified" data-toggle="buttons">
    <label id="display-list" class="btn btn-info">
      <%= radio_button_tag "display", "list" %>
      <i class="glyphicon glyphicon-list"></i> List
    </label>
    <label id="display-map" class="btn btn-info">
      <%= radio_button_tag "display", "map" %>
      <i class="glyphicon glyphicon-map-marker"></i> Map
    </label>
    <% if current_user&.can_see_admin_competitions? %>
      <label id="display-admin" class="btn btn-info">
        <%= radio_button_tag "display", "admin" %>
        <i class="fa fa-user-secret fa-lg"></i> Admin
      </label>
    <% end %>
  </div>
</div>

<script>
  $('#<%= @past_selected ? "past" : "present" %>').button('toggle');
  $('#<%= @recent_selected ? "recent" : ""%>').button('toggle');

  $('#present').on('click', function() {
    $('#past .caption').html('Past');
  });

  $('#recent').on('click', function() {
    $('#past .caption').html('Past');
  });

  $('.years .year a').on('click', function(e) {
    e.preventDefault();
    var $past = $('#past');
    var year = $(this).data('year');
    $past.find('.caption').html('Past from ' + year);
    $('.years input[name="year"]').val(year);
    if($past.is('.active')) {
      $past.trigger('change');
    } else {
      // Also triggers 'change'
      $past.button('toggle');
    }
  });

  $('#display-<%= @display %>').button('toggle');

  // From http://stackoverflow.com/questions/901115/how-can-i-get-query-string-values-in-javascript/901144#901144
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  function display_selectors() {
    $(".admin-selectors, .map-selectors").hide();
    $display_class = "." + getParameterByName('display') + '-selectors';
    $($display_class).toggle();
    //$($display_class).css('display','inline-block');
  }

  $(function(){
    display_selectors();
  });

  // From http://stackoverflow.com/a/14038050/5656749
  $(document).ajaxStop(function(){
    display_selectors();
  });
</script>
