<% competitions.each_with_index do |competition, index| %>
  <tr class="<%= competition.is_over? ? "past" : "not-past" %>">
    <td><%= competition.year %></td>
    <td><%= date_range(competition.start_date, competition.end_date, separator: '-', show_year: false) %></td>
    <td>
      <%= link_to competition.name, competition_path(competition) %>
    </td>
    <td>
      <% if Result.exists?(competitionId: competition.id) %>
         <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-container="body" title="Results are up!"></span>
        <% end %>
    </td>
    <td><strong><%= competition.country.name %></strong>, <%= competition.cityName %></td>
    <td><%=md(competition.venue, target_blank: true) %></td>
    <td class="big-column"></td>
  </tr>
<% end %>