<div class="form-group same-line">
  Event: <br /<br /><%= select_tag(:event, options_for_select(@events, params[:event])) %>
</div>

<div class="form-group same-line">
  Region: <br /<br /><%= select_tag(:region, options_for_select(@regions, params[:region])) %>
</div>

<div class="form-group same-line">
  Years: <br /<br /><%= select_tag(:years, options_for_select(@years, params[:years])) %>
</div>

<div class="form-group same-line">
  Name, City or Venue: <br /<br /><%= text_field_tag "search" %></td>
</div>

<%= button_tag(type: 'submit', name: "commit", value: "List", class: "btn btn-info") do %>
  <i class="glyphicon glyphicon-list"></i> List
<% end %>
&nbsp;
<%= button_tag(type: 'submit', name: "commit", value: "Map", class: "btn btn-info") do %>
  <i class="glyphicon glyphicon-map-marker"></i> Map
<% end %>

