<div class="form-group">
  <%= label_tag "events" do %>
    Events
    <button type="button" id="select-all-events" class="btn btn-primary btn-xs">All</button>
    <button type="button" id="clear-all-events" class="btn btn-default btn-xs">Clear</button>
  <% end %>
  <div id="events">
    <% Event.all_official.each do |event| %>
    <span class="event-checkbox">
      <%= label_tag "checkbox-#{event.id}" do %>
        <%= check_box_tag "event_ids[]", event.id, params[:event_ids].include?(event.id), id: "checkbox-#{event.id}" %>
        <%= content_tag(:span, "", class: "cubing-icon icon-#{event.id}", data: { toggle: "tooltip", placement: "top" }, title: event.name ) %>
      <% end %>
    </span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= label_tag(:region) %>
  <%= select_tag(:region, content_tag(:option, "All", value: "all") + grouped_options_for_select(@regions, params[:region]), class: "form-control") %>
</div>

<div class="form-group">
  <%= label_tag("Name, City or Venue") %>
  <%= text_field_tag "search", params[:search], class: "form-control" %>
</div>

<div class="form-group">
  <%= label_tag(:state) %>
  <div id="state" class="btn-group" data-toggle="buttons">
    <label id="present" class="btn btn-primary">
      <%= radio_button_tag "state", "present" %>
      <span class="caption">Present</span>
    </label>
    <ul class="dropdown-menu years">
      <%= hidden_field_tag "year", params[:year] %>
      <% @years.each do |year| %>
        <li class="year"><%= link_to year.to_s.capitalize, "#", data: { year: year } %></li>
      <% end %>
    </ul>
    <label id="past" class="btn btn-primary" data-toggle="dropdown">
      <%= radio_button_tag "state", "past" %>
      <span class="caption">Past <%= "from #{params[:year]}" if @past_selected %></span>
    </label>
  </div>
</div>

<script>
  $('#<%= @past_selected ? "past" : "present" %>').button('toggle');

  $('#present').on('click', function() {
    $('#past .caption').html('Past');
  });

  $('.years .year a').on('click', function(e) {
    e.preventDefault();
    var year = $(this).data('year');
    $('#past .caption').html('Past from ' + year);
    $('.years input[name="year"]').val(year);
    $('#past').button('toggle');
  });
</script>

<<<<<<< 606aa1f110adc0f4a68166a43fc8c63e0c65e2c8
<div class="form-group">
  <%= label_tag("Name, City or Venue") %>
  <%= text_field_tag "search", params[:search], class: "form-control" %>
</div>

<div id="submit-buttons" class="form-group">
  <%= button_tag(type: 'submit', name: "display", value: "List", class: "btn btn-info") do %>
    <i class="glyphicon glyphicon-list"></i> List
  <% end %>

  <%= button_tag(type: 'submit', name: "display", value: "Map", class: "btn btn-primary") do %>
=======
<div id="submit-buttons" class="form-group">
  <%= button_tag(type: 'submit', name: "display", value: "list", class: "btn btn-info") do %>
    <i class="glyphicon glyphicon-list"></i> List
  <% end %>

  <%= button_tag(type: 'submit', name: "display", value: "map", class: "btn btn-primary") do %>
>>>>>>> Improve appearance of the form.
    <i class="glyphicon glyphicon-map-marker"></i> Map
  <% end %>
</div>
