<div class="form-group">
  <%= label_tag "events" do %>
    <%= t 'competitions.competition_form.events' %>
    <button type="button" id="select-all-events" class="btn btn-primary btn-xs"><%= t 'competitions.index.all_events' %></button>
    <button type="button" id="clear-all-events" class="btn btn-default btn-xs"><%= t 'competitions.index.clear' %></button>
  <% end %>
  <div id="events">
    <% Event.official.each do |event| %>
    <span class="event-checkbox">
      <%= label_tag "checkbox-#{event.id}" do %>
        <%= check_box_tag "event_ids[]", event.id, params[:event_ids].include?(event.id), id: "checkbox-#{event.id}" %>
        <%= cubing_icon event.id, data: { toggle: "tooltip", placement: "top" }, title: event.name %>
      <% end %>
    </span>
    <% end %>
  </div>
</div>

<div class="form-group">
  <%= label_tag(t('competitions.index.region')) %>
  <%= select_tag(:region, region_option_tags(selected_id: params[:region]), class: "form-control") %>
</div>

<div class="form-group">
  <%= label_tag(t('competitions.index.search')) %>
  <div id="search-field">
    <div class="input-group">
      <span class="input-group-addon" data-toggle="tooltip" data-placement="top"
            title="<%= t 'competitions.index.tooltips.search' %>">
        <%= icon("fas", 'search') %>
      </span>
      <%= text_field_tag "search", params[:search], class: "form-control" %>
    </div>
  </div>
</div>

<div class="form-group">
  <%= label_tag(t('competitions.index.state')) %>
  <div id="state" class="btn-group" data-toggle="buttons">
    <label id="present" class="btn btn-primary">
      <%= radio_button_tag "state", "present" %>
      <span class="caption"><%= t 'competitions.index.present' %></span>
    </label>
    <label id="recent" class="btn btn-primary" data-toggle="tooltip" title="<%= t 'competitions.index.tooltips.recent', count: Competition::RECENT_DAYS %>">
      <%= radio_button_tag "state", "recent" %>
      <span class="caption"><%= t 'competitions.index.recent' %></span>
    </label>
    <ul class="dropdown-menu years">
      <%= hidden_field_tag "year", params[:year] %>
      <% @years.each do |year| %>
        <% year_label = year_is_a_number?(year) ? year.to_s : t('competitions.index.all_years') %>
        <li class="year"><%= link_to year_label, "#", data: { year: year } %></li>
      <% end %>
    </ul>
    <label id="past" class="btn btn-primary" data-toggle="dropdown">
      <%= radio_button_tag "state", "past" %>
      <span class="caption">
        <% if @past_selected %>
          <% #Here params[:year] is a string, so we need regexp %>
          <%= year_is_a_number?(params[:year]) ? t('competitions.index.past_from', year: params[:year]) : t('competitions.index.past_all') %>
        <% else %>
          <%= t 'competitions.index.past' %>
        <% end %>
      </span>
    </label>
    <label id="by_announcement" class="btn btn-primary" data-toggle="tooltip" title="<%= t 'competitions.index.sort_by_announcement' %>">
      <%= radio_button_tag "state", "by_announcement" %>
      <span class="caption"><%= t 'competitions.index.by_announcement' %></span>
    </label>
    <label id="custom" class="btn btn-primary">
      <%= radio_button_tag "state", "custom" %>
      <span class="caption"><%= t 'competitions.index.custom' %></span>
    </label>
  </div>
</div>

<!-- These fields should be shown when "Custom" state is selected. -->
<div class="form-group custom-control">
  <%= label_tag(t('competitions.index.from_date')) %>
  <div class="input-group date datetimepicker">
    <%= text_field_tag "from_date", params[:from_date], class: "form-control date_picker", data: { date_options: DatePickerInput.date_options_base } %>
  </div>
</div>
<div class="form-group custom-control">
  <%= label_tag(t('competitions.index.to_date')) %>
  <div class="input-group date datetimepicker">
    <%= text_field_tag "to_date", params[:to_date], class: "form-control date_picker", data: { date_options: DatePickerInput.date_options_base } %>
  </div>
</div>

<div class="form-group admin-selectors">
  <%= label_tag(:status) %>
  <div id="status" class="btn-group" data-toggle="buttons">
    <label id="all" class="btn btn-info">
      <%= radio_button_tag "status", "all" %>
      <span class="caption">All</span>
    </label>
    <label id="warning" class="btn btn-warning">
      <%= radio_button_tag "status", "warning" %>
      <span class="caption">Warning</span>
    </label>
    <label id="danger" class="btn btn-danger">
      <%= radio_button_tag "status", "danger" %>
      <span class="caption">Danger</span>
    </label>
  </div>
</div>

<div id="delegate" class="form-group delegate-selector">
  <%= label_tag(t('layouts.navigation.delegate')) %>
  <%= text_field_tag "delegate", params[:delegate], class: "wca-autocomplete wca-autocomplete-only_one wca-autocomplete-only_delegates wca-autocomplete-users_search",
                                 data: { data: User.where(id: params[:delegate]).to_json } %>
</div>

<div id="display" class="form-group">
  <div class="btn-group btn-group-justified" data-toggle="buttons">
    <label id="display-list" class="btn btn-info">
      <%= radio_button_tag "display", "list" %>
      <i class="glyphicon glyphicon-list"></i> <%= t 'competitions.index.list' %>
    </label>
    <label id="display-map" class="btn btn-info">
      <%= radio_button_tag "display", "map" %>
      <i class="glyphicon glyphicon-map-marker"></i> <%= t 'competitions.index.map' %>
    </label>
    <% if current_user&.can_see_admin_competitions? %>
      <label id="display-admin" class="btn btn-info">
        <%= radio_button_tag "display", "admin" %>
        <%= icon("fas", "user-secret", "Admin") %>
      </label>
    <% end %>
  </div>
</div>

<script>
  $('#present').on('click', function() {
    $('#past .caption').html("<%= t('competitions.index.past') %>");
  });

  $('#recent').on('click', function() {
    $('#past .caption').html("<%= t('competitions.index.past') %>");
  });

  $('#by_announcement').on('click', function() {
    $('#past .caption').html("<%= t('competitions.index.past') %>");
  });

  $('.years .year a').on('click', function(e) {
    e.preventDefault();
    var $past = $('#past');
    var year = $(this).data('year');
    var past_from = "<%= t('competitions.index.past_from') %>";
    var past_all = "<%= t('competitions.index.past_all') %>";
    var caption = Number.isInteger(year) ? past_from.replace("%{year}", year) : past_all;
    $past.find('.caption').html(caption);
    $('.years input[name="year"]').val(year);
    if($past.is('.active')) {
      $past.trigger('change');
    } else {
      // Also triggers 'change'
      $past.button('toggle');
    }
  });

  $('#state').on('change', function(event) {
    $('.custom-control').toggle(event.target === $('#state_custom')[0]);
  });

  $('#<%= params[:state] %>').button('toggle');

  $('#display-<%= @display %>').button('toggle');
</script>
