<% if @display == "list" %>
  <% if competitions.empty? %>
    <%= render 'no_competitions_found' %>
  <% else %>
    <% if @past_selected %>
      <div class="col-md-12" id="past-comps">
        <% table_title = year_is_a_number?(params[:year]) ? t('competitions.index.titles.past', year: params[:year]) : t('competitions.index.titles.past_all') %>
        <%= render 'index_table', competitions: competitions, title: table_title %>
      </div>
    <% elsif @recent_selected %>
      <div class="col-md-12" id="past-comps">
        <%= render 'index_table', competitions: competitions, title: t('competitions.index.titles.recent', count: Competition::RECENT_DAYS) %>
      </div>
    <% elsif @custom_selected %>
      <div class="col-md-12" id="past-comps">
        <%= render 'index_table', competitions: competitions, title: t('competitions.index.titles.custom') %>
      </div>
    <% else %>
      <% in_progress_competitions, upcoming_competitions = competitions.partition(&:in_progress?) %>
      <% unless in_progress_competitions.empty? %>
        <div class="col-md-12" id="in-progress-comps">
          <%= render 'index_table', competitions: in_progress_competitions, title: t('competitions.index.titles.in_progress') %>
        </div>
      <% end %>
      <% unless upcoming_competitions.empty? %>
        <div class="col-md-12" id="upcoming-comps">
          <%= render 'index_table', competitions: upcoming_competitions, title: t('competitions.index.titles.upcoming') %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% elsif @display == "map" %>
  <script>
    $(function() {
      var competitions = <%= competitions_json_for_markers competitions %>;
      /* This file may be rendered in response to an Ajax request in order to replace the existing competitions list.
         We take this into account and prevent from creating the map twice. */
      if(wca._competitionsIndexMap === undefined) {
        wca._competitionsIndexMap = wca.createCompetitionsMapLeaflet('competitions-map');
      }
      wca.removeMapMarkersLeaflet(wca._competitionsIndexMap);
      wca.addCompetitionsToMapLeaflet(wca._competitionsIndexMap, competitions);
    });
  </script>
<% else %>
  <% if current_user&.can_see_admin_competitions? %>
    <% if competitions.empty? %>
      <%= render 'no_competitions_found' %>
    <% else %>
      <% if @past_selected %>
        <%= render 'admin_index_table', id: "distant-comps", competitions: competitions, title: "Past competitions" %>
      <% elsif @recent_selected %>
        <%= render 'admin_index_table', id: "recent-comps", competitions: competitions, title: "Competitions within the last #{Competition::RECENT_DAYS} days" %>
      <% else %>
        <%= render 'admin_index_table', id: "ongoing-and-upcoming-comps", competitions: competitions, title: "Ongoing and upcoming competitions" %>
      <% end %>
    <% end %>
  <% else %>
    <%= alert :warning do
      t 'competitions.index.no_access'
      end %>
  <% end %>
<% end %>
