<% if competitions.length < 1 %>
  <%= alert :info do %>
    <% if !past %>
      <%= t '.no_upcoming_competitions_html', link: link_to('competitions list', competitions_path) %>
    <% else %>
      <%= t '.no_past_competitions' %>
    <% end %>
  <% end %>
<% else %>
  <div class="table-responsive">
    <table class="table competitions-table floatThead <%= past ? "table-striped" : "" %>">
      <thead>
        <tr>
          <th><%= t 'competitions.nearby_competitions_table.name' %></th>
          <th><%= t 'competitions.nearby_competitions_table.location' %></th>
          <th><%= t 'competitions.nearby_competitions_table.date' %></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="big-column"></th>
        </tr>
      </thead>
      <tbody>
        <% competitions.each do |competition| %>
          <% registration = competition.registrations.find_by_user_id(current_user.id) %>
          <tr class="<%=[ competition.isConfirmed ? "confirmed" : "not-confirmed",
                          competition.showAtAll ? "visible" : "not-visible",
                          past ? "past" : "not-past" ].join(' ') %>"
              data-toggle="tooltip" data-placement="top" data-container="body"
              title="<%= competition_message_for_user(competition, current_user) unless past %>">
            <td><%= link_to competition.name, competition_path(competition) %></td>
            <td><%= competition.cityName %>, <%= competition.country.name %></td>
            <td><%= wca_date_range(competition.start_date, competition.end_date) %></td>
            <td>
              <% if registration %>
                <%= icon(registration.accepted? ? "calendar-check-o" : "hourglass-half") %>
              <% end %>
            </td>
            <td>
              <% if !past && current_user.can_manage_competition?(competition) %>
                <%= link_to t('.edit'), edit_competition_path(competition) %>
              <% elsif competition.results_posted? %>
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= t '.results_up' %>"></span>
              <% end %>
            </td>
            <td>
              <% if !past && competition.use_wca_registration? && current_user.can_manage_competition?(competition) %>
                <%= link_to t('.registrations'), competition_edit_registrations_path(competition) %>
              <% end %>
            </td>
            <td>
              <% if current_user.can_edit_delegate_report?(competition.delegate_report) %>
                <%= link_to t('.report'), delegate_report_path(competition) %>
              <% end %>
            </td>
            <td class="big-column"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
