<div class="container-fluid">
  <div class="row">
    <div id="competition-nav">
      <%
      nav_items = []
      if @competition.user_can_view_results?(current_user)
        nav_items << {
          text: t('.menu.results'),
          path: competition_path(@competition),
          fa_icon: "trophy",
          children: [
            { text: t('.menu.podiums'), path: competition_results_podiums_path(@competition), fa_icon: "cubes" },
            {
              text: t('.menu.all'),
              path: competition_results_all_path(@competition),
              fa_icon: "list",
              tiny_children: @competition.events.map do |event|
                { text: event.id, path: competition_results_all_path(@competition, anchor: "e#{event.id}"), cubing_icon: event.id, title: event.name }
              end
            },
            { text: t('.menu.by_person'), path: competition_results_by_person_path(@competition), fa_icon: "user" },
          ],
        }
      else
        nav_items << {
          text: t('.menu.info'),
          path: competition_path(@competition),
          fa_icon: "info-circle",
        }
      end
      if current_user&.can_manage_competition?(@competition)
        nav_items << {
          text: t('.menu.edit'),
          path: edit_competition_path(@competition),
          fa_icon: "lock",
          children: [
            { text: t('.menu.orga_view'), path: edit_competition_path(@competition), fa_icon: "lock" },
            { text: t('.menu.admin_view'), path: admin_edit_competition_path(@competition), fa_icon: "lock" },
            { text: t('.menu.tabs'), path: competition_tabs_path(@competition), fa_icon: "align-left" },
          ]
        }
        if @competition.use_wca_registration?
          nav_items << {
            text: t('.menu.registration'),
            path: competition_edit_registrations_path(@competition),
            fa_icon: "list-ul",
            notification_count: @competition.registrations.pending.count,
            children: [{
              hidden: true,
              is_active: lambda do
                controller.is_a?(RegistrationsController) && ["edit", "update"].include?(action_name)
              end,
            }],
          }
        end
      end
      if current_user&.can_create_competitions?
        nav_items << {
          text: t('.menu.clone'),
          path: clone_competition_path(@competition),
          fa_icon: "clone",
        }
      end
      if current_user && current_user.can_view_delegate_report?(@competition.delegate_report)
        nav_items << {
          text: t('.menu.delegate_report'),
          path: delegate_report_path(@competition),
          fa_icon: "pencil-square-o"
        }
      end
      if @competition.use_wca_registration? && !@competition.results_posted?
        nav_items += [
          { text: t('.menu.register'), path: competition_register_path(@competition), fa_icon: "sign-in" },
          {
            text: t('.menu.competitors'),
            path: competition_registrations_path(@competition),
            fa_icon: "users",
            tiny_children: @competition.events.map do |event|
              { text: event.id, path: competition_psych_sheet_event_path(@competition, event.id), cubing_icon: event.id, title: event.name }
            end
          },
        ]
      end
      nav_items = process_nav_items(nav_items)
      %>

      <% blocks.define :nav_list do |nav_items| %>
        <div class="list-group list-group-root">
          <% nav_items.each do |nav_item| %>
            <%= blocks.render :nav_list_item, nav_item %>
          <% end %>
        </div>
      <% end %>

      <% blocks.define :nav_icon do |nav_item| %>
        <% if nav_item[:fa_icon] %>
          <span class="fa fa-fw fa-<%= nav_item[:fa_icon] %>"></span>
        <% end %>
        <% if nav_item[:cubing_icon] %>
          <span class="cubing-icon fa-fw icon-<%= nav_item[:cubing_icon] %>"></span>
        <% end %>
      <% end %>

      <% blocks.define :nav_list_item do |nav_item| %>
        <% if !nav_item[:hidden] %>

          <%= link_to nav_item[:path], class: "list-group-item" + (nav_item[:active] ? ' active' : '') do %>
            <%= blocks.render :nav_icon, nav_item %>
            <%= nav_item[:text] %>
            <% if nav_item[:notification_count] %>
              <span id="pending-registrations-count" class="pull-right label <%= nav_item[:notification_count] > 0 ? "label-danger" : "label-success" %>">
                <%= nav_item[:notification_count] %>
              </span>
            <% end %>
          <% end %>

          <% if nav_item[:active] %>

            <% if nav_item[:tiny_children] && nav_item[:tiny_children].length > 0 %>
              <div class="list-group">
                <span class="list-group-item">
                  <% nav_item[:tiny_children].each do |child_nav_item| %>
                    <%= link_to child_nav_item[:path],
                                title: child_nav_item[:title],
                                class: (child_nav_item[:active] ? " active" : ""),
                                data: {
                                  toggle: "tooltip",
                                  placement: "top",
                                  container: "body",
                                } do %>
                      <%= blocks.render :nav_icon, child_nav_item %>
                    <% end %>
                  <% end %>
                </span>
              </div>
            <% end %>

            <% if nav_item[:children] && nav_item[:children].length > 0 %>
              <div class="list-group">
                <% nav_item[:children].each do |child_nav_item| %>
                  <%= blocks.render :nav_list_item, child_nav_item %>
                <% end %>
              </div>
            <% end %>
          <% end %>

        <% end %>
      <% end %>

      <%= blocks.render :nav_list, nav_items %>

    </div>
    <div id="competition-data">
      <h3><%= @competition.name %></h3>
      <hr />

      <% if @competition.user_should_post_delegate_report?(current_user) %>
        <%= alert :warning, note: true do %>
          Your report is not posted yet!
          <% editing_delegate_report = yield(:editing_delegate_report).present? %>
          <% if editing_delegate_report %>
            Click
            <%= link_to "here", delegate_report_path(@competition) %>
            to see what it looks like.
          <% else %>
            Click
            <%= link_to "here", delegate_report_edit_path(@competition) %>
            to work on it.
          <% end %>
        <% end %>
      <% end %>

      <% @competition.warnings_for(current_user).each do |field, message| %>
        <%= alert :warning, message, note: true %>
      <% end %>


      <% @competition.info_for(current_user).each do |field, message| %>
        <%= alert :info, message, note: true %>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>

<script>
  (function() {
    var $nav = $('#competition-nav > .list-group');
    $nav.affix({
      offset: {
        top: function() {
          var parentTop = $nav.parent().offset().top;
          var affixTopSpacing = 20; // From .bs-affix in wca.scss
          return parentTop - affixTopSpacing;
        },
        bottom: function () {
          return (this.bottom = $('.footer').outerHeight(true));
        },
      },
    });
  })();
</script>
