<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width: 100%">
    <span class="sr-only">LOADING</span>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-2 control-label">
    Nearby competitions (within <%= Competition::NEARBY_DAYS_WARNING %> days and <%= Competition::NEARBY_DISTANCE_KM_WARNING %> km)
  </label>
  <div class="col-sm-9">
    <% if @competition.has_date? && @competition.has_location? %>
      <% nearby_competitions = @competition.nearby_competitions(Competition::NEARBY_DAYS_WARNING, Competition::NEARBY_DISTANCE_KM_WARNING)[0, 10] %>
      <% if nearby_competitions.empty? %>
        <div class="alert alert-success" role="alert">No nearby competitions!</div>
      <% else %>
        <%= render 'nearby_competitions_table', nearby_competitions: nearby_competitions %>
      <% end %>
    <% else %>
      <% nearby_competitions = [] %>
      <% if !@competition.has_date? %>
        <div class="alert alert-danger" role="alert">You have not assigned a date for this competition yet.</div>
      <% end %>
      <% if !@competition.has_location? %>
        <div class="alert alert-danger" role="alert">You have not assigned a location for this competition yet.</div>
      <% end %>
    <% end %>
  </div>
</div>

<% if @competition_admin_view %>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      Last <%= Competition::NEARBY_DAYS_INFO %> days
    </label>
    <div class="col-sm-9">
      <% nearby_competitions_info = @competition.nearby_competitions(Competition::NEARBY_DAYS_INFO, Competition::NEARBY_DISTANCE_KM_INFO).sort_by(&:start_date) %>
      <% nearby_count = nearby_competitions_info.count %>
      <div class="alert <%= nearby_count < Competition::NEARBY_INFO_COUNT ? "alert-success" : "alert-danger" %>" role="alert"><%= nearby_count %> <%= "competition".pluralize(nearby_count) %> within <%= Competition::NEARBY_DISTANCE_KM_INFO %>km and <%= Competition::NEARBY_DAYS_INFO %> days.
        <button type="button" class="btn" data-toggle="modal" data-target="#competitions-last-year-modal">Show</button>
      </div>
    </div>
  </div>

  <div id="competitions-last-year-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-wide">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Within <%= Competition::NEARBY_DAYS_INFO %> days</h4>
        </div>
        <div class="modal-body">
          <%= render 'nearby_competitions_table', nearby_competitions: nearby_competitions_info %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  (function() {
    $('[data-toggle="tooltip"]').tooltip();
    wca.setNearbyCompetitions(<%= nearby_competitions.map do |c|
        {
          id: c.id,
          name: c.name,
          latitude_degrees: c.latitude_degrees,
          longitude_degrees: c.longitude_degrees,
          start_date: c.start_date,
          end_date: c.end_date,
        }
      end.to_json.html_safe %>);
  })();
</script>
