<%= render 'adjacent_competitions_form_group', nearby_competitions: @nearby_competitions, invert_warnings: false,
           nearby_days: Competition::NEARBY_DAYS_DANGER, nearby_km: Competition::NEARBY_DISTANCE_KM_DANGER,
           extra_link_handler: false %>

<% if @competition_admin_view %>
  <div class="form-group">
    <label class="col-sm-2 control-label">
      <%= t '.label_admin', days: Competition::NEARBY_DAYS_INFO  %>
    </label>
    <div class="col-sm-9">
      <% nearby_competitions_info = @competition.nearby_competitions(Competition::NEARBY_DAYS_INFO, Competition::NEARBY_DISTANCE_KM_INFO).sort_by(&:start_date) %>
      <% nearby_count = nearby_competitions_info.count %>
      <div class="alert <%= nearby_count < Competition::NEARBY_INFO_COUNT ? "alert-success" : "alert-danger" %>" role="alert"><%= t '.nearby_admin', x_competitions: t('.competitions', count: nearby_count), kms: Competition::NEARBY_DISTANCE_KM_INFO, days: Competition::NEARBY_DAYS_INFO %>
      <button type="button" class="btn" data-toggle="modal" data-target="#competitions-last-year-modal"><%= t '.show' %></button>
      </div>
    </div>
  </div>

  <div id="competitions-last-year-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-wide">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t '.within', days: Competition::NEARBY_DAYS_INFO %></h4>
        </div>
        <div class="modal-body">
          <%= render 'adjacent_competitions_table', nearby_competitions: nearby_competitions_info, invert_warnings: false,
                     nearby_days: Competition::NEARBY_DAYS_DANGER, nearby_km: Competition::NEARBY_DISTANCE_KM_DANGER,
                     extra_link_handler: false %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  (function() {
    $('[data-toggle="tooltip"]').tooltip();
    window.wca.setNearbyCompetitions(<%= @nearby_competitions.map do |c|
        {
          id: c.id,
          name: c.name,
          latitude_degrees: c.latitude_degrees,
          longitude_degrees: c.longitude_degrees,
          start_date: c.start_date,
          end_date: c.end_date,
        }
      end.to_json.html_safe %>);
  })();
</script>
