<%
  show_links_to_register_page ||= false
%>

<% if @competition.use_wca_registration.nil? %>
<% elsif @competition.use_wca_registration %>
  <% if @current_user.nil? %>
    <%= t('competitions.competition_info.create_wca_account_html', here: link_to(t('common.here'), new_user_registration_path)) %>
    <br>
    <%= t('competitions.competition_info.claim_wca_id_html', here: link_to(t('common.here'), profile_claim_wca_id_path)) %>
    <br>
  <% elsif !@current_user.wca_id && !@current_user.unconfirmed_wca_id %>
    <%= t('competitions.competition_info.claim_wca_id_html', here: link_to(t('common.here'), profile_claim_wca_id_path)) %>
    <br>
  <% end %>
  <% if show_links_to_register_page %>
    <%= t('competitions.competition_info.register_link_html', here: link_to(t('common.here'), competition_register_path(@competition))) %>
    <br>
  <% else %>
    <%= t('competitions.competition_info.register_below_html') %>
    <br>
  <% end %>
<% elsif @competition.external_registration_page.present? %>
  <%= t('competitions.competition_info.register_link_html', here: link_to(t('common.here'), @competition.external_registration_page, target: "_blank")) %>
  <br>
<% end %>

<% if @competition.part_of_competition_series? %>
  <%= t('competitions.competition_info.part_of_a_series_list', name: @competition.competition_series.name) %>
  <ul>
    <% @competition.series_sibling_competitions.each do |comp| %>
      <li><%= link_to comp.name, competition_path(comp.id) %></li>
    <% end %>
  </ul>
  <%= t('competitions.competition_info.series_registration_warning_html') %>
  <br>
<% end %>

<% if @competition.competitor_limit_enabled.nil? %>
<% elsif @competition.competitor_limit_enabled? %>
  <%= t('competitions.competition_info.competitor_limit_is', competitor_limit: @competition.competitor_limit) %>
  <br>
<% else %>
  <%= t('competitions.competition_info.no_competitor_limit') %>
  <br>
<% end %>

<% if @competition.base_entry_fee_lowest_denomination.nil? %>
<% elsif @competition.has_fees? %>
  <%= t('competitions.competition_info.entry_fee_is', base_entry_fee: format_money(@competition.base_entry_fee)) %>
  <br>
  <% @competition.competition_events.each do |competition_event| %>
    <% if competition_event.has_fee? %>
      <dt><%= competition_event.event.name %></dt>
      <dd><%= format_money competition_event.fee %></dd>
    <% end %>
  <% end %>
<% else %>
  <%= t('competitions.competition_info.no_entry_fee') %>
  <br>
<% end %>

<% if @competition.using_stripe_payments? %>
  <% if show_links_to_register_page %>
    <%= t('competitions.competition_info.use_stripe_link_html', here: link_to(t('common.here'), competition_register_path(@competition))) %>
    <br>
  <% else %>
    <%= t('competitions.competition_info.use_stripe_below_html') %>
    <br>
  <% end %>
<% end %>

<% if @competition.refund_policy_percent.nil? || !@competition.has_fees? %>
<% elsif @competition.refund_policy_percent? %>
  <%= t('competitions.competition_info.refund_policy_html', refund_policy_percent: number_to_percentage(@competition.refund_policy_percent, precision: 0), limit_date_and_time: wca_local_time(@competition.refund_policy_limit_date)) %>
  <br>
<% else %>
  <%= t('competitions.competition_info.no_refunds') %>
  <br>
<% end %>

<% if @competition.waiting_list_deadline_date?  %>
  <%= t('competitions.competition_info.waiting_list_deadline_html', waiting_list_deadline: wca_local_time(@competition.waiting_list_deadline_date)) %>
  <br>
<% end %>

<% if @competition.has_event_change_deadline_date? %>
  <% if @competition.event_change_deadline_date?  %>
    <% if @competition.allow_registration_edits? %>
      <%= t('competitions.competition_info.event_change_deadline_edits_allowed_html', event_change_deadline: wca_local_time(@competition.event_change_deadline_date), register: link_to(t('competitions.nav.menu.register'), competition_register_path(@competition))) %>
      <br>
    <% else %>
      <%= t('competitions.competition_info.event_change_deadline_html', event_change_deadline: wca_local_time(@competition.event_change_deadline_date)) %>
      <br>
    <% end %>
  <% else %>
    <%= t('competitions.competition_info.event_change_deadline_default_html') %>
    <br>
  <% end %>
<% end %>

<% if @competition.on_the_spot_registration.nil? %>
<% elsif @competition.on_the_spot_registration? %>
  <% if @competition.on_the_spot_entry_fee_lowest_denomination? %>
    <%= t('competitions.competition_info.on_the_spot_registration_fee_html', on_the_spot_base_entry_fee: format_money(@competition.on_the_spot_base_entry_fee)) %>
    <br>
  <% else %>
    <%= t('competitions.competition_info.on_the_spot_registration_free') %>
    <br>
  <% end %>
<% else %>
  <%= t('competitions.competition_info.no_on_the_spot_registration') %>
  <br>
<% end %>

<% if @competition.guests_entry_fee_lowest_denomination.nil? %>
<% elsif @competition.guests_entry_fee_lowest_denomination? %>
  <%= t('competitions.competition_info.guests_pay', guests_base_fee: format_money(@competition.guests_base_fee)) %>
  <br>
<% else %>
  <% if @competition.all_guests_allowed? %>
    <%= t('competitions.competition_info.guests_free.anyone') %>
  <% elsif @competition.some_guests_allowed? %>
    <%= t('competitions.competition_info.guests_free.restricted') %>
  <% end %>
  <br>
<% end %>

<% if @competition.uses_qualification? && !@competition.allow_registration_without_qualification %>
  <%= t('competitions.competition_info.require_qualification') %>
  <br>
<% end %>

<% if @competition.extra_registration_requirements %>
  <br>
  <%=md @competition.extra_registration_requirements %>
<% end %>
