<% hide_event = defined?(hide_event) && hide_event %>
<% hide_round = defined?(hide_round) && hide_round %>
<% hide_pos = defined?(hide_pos) && hide_pos %>
<% hide_name = defined?(hide_name) && hide_name %>

<%= wca_table table_class: "wca-results", floatThead: false do %>
  <thead>
    <tr>
      <% if !hide_event %>
        <th class="event"><%= t '.event' %></th>
      <% end %>

      <% if !hide_round %>
        <th class="round"><%= t '.round' %></th>
      <% end %>

      <% if !hide_pos %>
        <th class="pos">#</th>
      <% end %>

      <% if !hide_name %>
        <th class="name"><%= t '.name' %></th>
      <% end %>

      <th class="single"><%= t 'common.best' %></th>
      <th class="regionalSingleRecord"></th>

      <th class="average"><%= t 'common.average' %></th>
      <th class="regionalSingleRecord"></th>

      <th class="country"><%= t 'common.user.citizen_of' %></th>
      <th class="solves" colspan="5"><%= t 'common.solves' %></th>

      <% # Extra column for .table-greedy-last-column %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% results.each_with_index do |result, i| %>
      <tr class="sort-by-<%= result.format.sort_by.to_s %> <%= result.muted ? "text-muted" : "" %>">
        <% if !hide_event %>
          <td class="event">
            <% if !result.muted && (i == 0 || result.eventId != results[i - 1].eventId) %>
              <%= link_to competition_results_all_path(@competition, event: result.eventId) do %>
                <%= cubing_icon result.event.id %>
                <%= result.event.name %>
              <% end %>
            <% end %>
          </td>
        <% end %>

        <% if !hide_round %>
          <td class="round"><%= result.round_type.cellName %></td>
        <% end %>

        <% if !hide_pos %>
          <% classes = "pos" %>
          <% previous_result = i > 0 ? results[i - 1] : nil %>
          <% if previous_result && previous_result.eventId == result.eventId && previous_result.roundTypeId == result.roundTypeId && previous_result.pos == result.pos %>
            <% classes << " tied-previous" %>
          <% end %>
          <td class="<%= classes %>">
            <% if current_user&.can_admin_results? %>
              <%= link_to(ui_icon("pencil alt"), edit_result_path(result.id)) %>
            <% end %>
            <%= result.pos %>
          </td>
        <% end %>

        <% if !hide_name %>
          <td class="name">
            <% if result.wca_id %>
              <%= link_to result.personName, person_path(result.wca_id) %>
            <% else %>
              <%= result.personName %>
            <% end %>
          </td>
        <% end %>

        <td class="single"><%= result.best_solve.clock_format %></td>
        <td class="regionalSingleRecord"><%= result.regionalSingleRecord %></td>

        <td class="average"><%= result.average_solve.clock_format %></td>
        <td class="regionalAverageRecord"><%= result.regionalAverageRecord %></td>

        <td class="country"><%= result.country.name %></td>

        <%= solve_tds_for_result(result) %>

        <% # Extra column for .table-greedy-last-column %>
        <td></td>
      </tr>
    <% end %>
  </tbody>
<% end %>
