<% rounds_by_wcif_id = Hash[@competition.rounds.map { |r| [r.wcif_id, r.to_string_map(short: true)] }] %>
<% activities = @competition.competition_venues.flat_map(&:top_level_activities).sort_by(&:start_time) %>
<% activities.map!{ |a| a.to_event(rounds_by_wcif_id) } %>
<% activities_by_day = activities.group_by { |a| a[:start].strftime("%Y-%m-%d") } %>
<% output_venue_name = @competition.competition_venues.size > 1 %>
<% output_room_name = @competition.competition_venues.flat_map(&:venue_rooms).size > 1 %>

<% @competition.start_date.upto(@competition.end_date) do |date| %>
  <% activities_for_day = activities_by_day[date.to_fs] %>
  <% grouped_activities = activities_for_day&.group_by { |activity| [activity[:title], activity[:start], activity[:end]] } %>
  <% if activities_for_day&.any? %>
    <h1 class="break-before"><%= t("competitions.schedule.schedule_for_date", day_name: l(date, format: '%A'), full_date: l(date, format: :long)) %></h1>
    <table class="show-schedule-table break-after">
      <thead>
        <tr>
          <th><%= t("competitions.schedule.start") %></th>
          <th><%= t("competitions.schedule.end") %></th>
          <th colspan="2"><%= t("competitions.schedule.activity") %></th>
          <th><%= t("competitions.events.format") %></th>
          <th><%= t("competitions.events.time_limit") %></th>
          <th><%= t("competitions.events.proceed") %></th>
        </tr>
      </thead>
      <tbody>
        <% grouped_activities.each do |title, activities| %>
          <% a = activities.first %>
          <% activity_code_without_attempt = "#{a[:activityDetails][:event_id]}-r#{a[:activityDetails][:round_number]}" %>
          <% round_data = rounds_by_wcif_id[activity_code_without_attempt] || {} %>
          <tr class="nobreak" style="<%= "background-color:#{a[:color]};" if @colored_schedule %>">
            <td class="activity-start"><%= l(a[:start], format: time_format_for_current_locale) %></td>
            <td class="activity-end"><%= l(a[:end], format: time_format_for_current_locale) %></td>
            <td class="event-icon <%= "no-event" if round_data.empty? %>">
              <%= cubing_icon(round_data[:event_id]) unless round_data.empty? %>
            </td>
            <td class="event-data">
              <p class="activity-name"><%= a[:title] %></p>
              <% if output_room_name %>
                <p class="room-name">
                  <% if output_venue_name %>
                    <%= t("competitions.schedule.room_in_venue", room: a[:roomName], venue: a[:venueName]) %>
                  <% else %>
                    <%= activities.map { |a| "#{a[:roomName]}" }.join(", ") %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td class="round-format">
              <%= round_data[:format_name] %><br/>
              <%= t "competitions.competition_info.pdf.cutoff", short_cutoff: round_data[:cutoff] unless round_data[:cutoff].blank?  %>
            </td>
            <td class="round-time-limit"><%= round_data[:time_limit] %></td>
            <td class="round-proceed"><%= round_data[:advancement] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
