<%
  show_cumulative_one_round = competition.uses_cumulative?
  show_cumulative_across_rounds = competition.uses_cumulative_across_rounds?
  show_cutoff = competition.uses_cutoff?
  show_qualifications = competition.uses_qualification?
%>
<div class="time-limit-information">
  <h4 id="time-limit"><%= t("competitions.events.time_limit") %></h4>
  <p>
    <%= t("competitions.events.time_limit_information.time_limit_html",
          regulation_link: link_to(t("competitions.events.time_limit_information.regulation_link_text", number: "A1a4"), regulations_path + "#A1a4", target: "_blank")) %>
    <% if show_cumulative_one_round %>
      <br/>
      <% cumulative_one_round = content_tag :strong, t("competitions.events.time_limit_information.cumulative_time_limit"), id: "cumulative-time-limit" %>
      <%= t("competitions.events.time_limit_information.cumulative_one_round_html",
            cumulative_time_limit: cumulative_one_round,
            regulation_link: link_to(t("competitions.events.time_limit_information.regulation_link_text", number: "A1a2"), regulations_path + "#A1a2", target: "_blank")) %>
    <% end %>
    <% if show_cumulative_across_rounds %>
      <br/>
      <% cumulative_across_rounds = content_tag :strong, t("competitions.events.time_limit_information.cumulative_time_limit"), id: "cumulative-across-rounds-time-limit" %>
      <%= t("competitions.events.time_limit_information.cumulative_across_rounds_html",
            cumulative_time_limit: cumulative_across_rounds,
            guideline_link: link_to(t("competitions.events.time_limit_information.guideline_link_text", number: "A1a2++"), regulations_path + "/guidelines.html#A1a2++", target: "_blank")) %>
    <% end %>
  </p>

  <% if show_cutoff %>
    <h4 id="cutoff"><%= t("competitions.events.cutoff") %></h4>
    <p>
      <%= t("competitions.events.time_limit_information.cutoff_html",
            regulation_link: link_to(t("competitions.events.time_limit_information.regulation_link_text", number: "9g"), regulations_path + "#9g", target: "_blank")) %>
    </p>
  <% end %>
  <h4 id="format"><%= t("competitions.events.format") %></h4>
  <p>
    <%= t("competitions.events.time_limit_information.format_html",
          link_to_9b: link_to(t("competitions.events.time_limit_information.regulation_link_text", number: "9b"), regulations_path + "#9b", target: "_blank"),
          link_to_9f: link_to(t("competitions.events.time_limit_information.regulation_link_text", number: "9f"), regulations_path + "#9f", target: "_blank")) %>
  </p>

  <% if show_qualifications %>
    <h4 id="qualification"><%= t("competitions.events.qualification") %></h4>
    <p>
      <%= t("competitions.events.time_limit_information.qualification_html") %>
      <% date_to_events = competition.qualification_date_to_events %>
      <% if (date_to_events.length() > 1) %>
        <% date_to_events.each do |date, events| %>
          <%= t("competitions.events.time_limit_information.qualification_some_events_html",
                date: wca_date_range(date, date), events: events.map{ |e| e.event.name }.join(", ")) %>
        <% end %>
      <% else %>
        <%= t("competitions.events.time_limit_information.qualification_all_events_html",
              date: wca_date_range(date_to_events.keys.first, date_to_events.keys.first)) %>
      <% end %>
    </p>
  <% end %>
</div>
