<% provide(:title, @competition.name) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <hr>
  <h2>Announcements</h2>
  <%= link_to "Upload results.", "/results/admin/upload_results.php?competitionId=#{@competition.id}" %>
  <pre>
    TODO - create competition post and results post
    TODO - handle location
    TODO - eventspecs...
    TODO - registration
    TODO - php code does some verification, such as competition name ending in year
  </pre>

  <hr>
  <h2>General information</h2>
  <%= simple_form_for @competition, html: { class: 'form-horizontal are-you-sure' },   wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :isConfirmed %>
    <%= f.input :showAtAll %>
    <%= f.input :name %>
    <%= f.input :cellName %>
    <%= f.input :countryId, collection: Country.all.map(&:name) %>
    <%= f.input :cityName %>
    <%= f.input :venue %>
    <%= f.input :venueAddress %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :venueDetails %>

    <div class="form-group <%= !@competition.errors[:start_date].empty? || !@competition.errors[:end_date].empty? ? "has-error" : "" %>">
      <label class="integer optional col-sm-2 control-label" for="datepicker-start">
        Dates
      </label>
      <div class="col-sm-9">
        <div class="input-daterange input-group" id="datepicker">

          <input type="text" class="input-sm form-control" name="competition[start_date]" id="datepicker-start" placeholder="yyyy-mm-dd" value="<%= @competition.start_date %>" />
          <%= f.error :start_date %>
          <span class="input-group-addon">to</span>
          <input type="text" class="input-sm form-control" name="competition[end_date]" placeholder="yyyy-mm-dd" value="<%= @competition.end_date %>" />
        </div>
        <span class="help-block"><%= f.error :start_date %></span>
        <span class="help-block"><%= f.error :end_date %></span>
      </div>
    </div>

    <%= f.input :information %>
    <%= f.input :wcaDelegate %>
    <%= f.input :organiser %>
    <%= f.input :website %>

    <%= f.input :eventSpecs %>

    <hr>
    <h2>Registration</h2>
    <%= f.input :showPreregForm %>
    <%= f.input :showPreregList %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
