<% provide(:title, @competition.name) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <hr>
  <h2>Announcements</h2>
  <%= link_to "Upload results.", "/results/admin/upload_results.php?competitionId=#{@competition.id}" %>
  <pre>
    TODO - create competition post and results post
    TODO - handle location
    TODO - eventspecs...
    TODO - registration
    TODO - php code does some verification, such as competition name ending in year

    TODO - datepickers? http://eternicode.github.io/bootstrap-datepicker/?markup=range&format=&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox
  </pre>

  <hr>
  <h2>General information</h2>
  <%= simple_form_for @competition, html: { class: 'form-horizontal are-you-sure' },   wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :isConfirmed %>
    <%= f.input :showAtAll %>
    <%= f.input :name %>
    <%= f.input :cellName %>
    <%= f.input :countryId, collection: Country.all.map(&:name) %>
    <%= f.input :cityName %>
    <%= f.input :venue %>
    <%= f.input :venueAddress %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.input :venueDetails %>
    <%= f.input :year %>
    <%= f.input :month %>
    <%= f.input :day %>
    <%= f.input :endMonth %>
    <%= f.input :endDay %>
    <%= f.input :information %>
    <%= f.input :wcaDelegate %>
    <%= f.input :organiser %>
    <%= f.input :website %>

    <%= f.input :eventSpecs %>

    <hr>
    <h2>Registration</h2>
    <%= f.input :showPreregForm %>
    <%= f.input :showPreregList %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
