<% provide(:title, 'Competitions') %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <%= form_tag competitions_path(anchor: "today"), method: :get, class: "competition-select" do %>
    <table>
      <tr>
        <td>Event</td>
        <td>Region</td>
        <td>Years</td>
        <td>Name, City or Venue</td>
        <td></td>
      </tr>
      <tr>
        <td><%= select_tag(:event, options_for_select(@events, params[:event])) %></td>
        <td><%= select_tag(:region, options_for_select(@regions, params[:region])) %></td>
        <td><%= select_tag(:years, options_for_select(@years, params[:years])) %></td>
        <td><%= text_field_tag "search" %></td>
        <td><%= submit_tag "List" %></td>
      </tr>
    </table>
  <% end %>

  <%= wca_table_for @competitions, extra_table_class: "competitions-table" do |table| %>
    <% total = @competitions.length %>
    <% table.column :year %>
    <% table.column :date %>
    <% table.column :name do |competition, column, column_options| %>
      <% index = column_options[:records].index(competition) %>
      <% anchor_tag = @closest_index && (index == (@closest_index - 10)) %>
      <%= link_to competition.name, competition_path(competition), id: anchor_tag ? "today" : "" %>
    <% end %>
    <% table.column :results do |competition| %>
      <% if competition.results.length > 0 %>
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-container="body" title="Results are up!"></span>
      <% end %>
    <% end %>
    <% table.column :country_city %>
    <% table.column :venue %>
  <% end %>

</div>
