<% provide(:title, t('.title')) %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <%= form_tag competitions_path, method: :get, remote: true, class: "competition-select form-inline #{@display}", id: "competition-query-form" do %>
    <%= render 'index_form' %>
  <% end %>

  <div id="search-results" class="row competitions-<%= @display %>">
    <div id="loading">
      <div class="spinner-wrapper"><i class="fa fa-spinner fa-spin fa-5x"></i></div>
    </div>
    <div id="competitions-list">
      <%= render 'index_competitions_list', competitions: @competitions %>
    </div>
    <div class="col-xs-12 col-md-12">
      <div id="competitions-map"></div>
    </div>
  </div>
</div>
