<% provide(:title, 'Upcoming competitions') %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start date</th>
      <th>Delegate(s)</th>
      <th>Organizer(s)</th>
      <th></th>
    </tr>
    <% @competitions.each do |competition| %>
      <% if competition.isConfirmed %>
        <% if competition.showAtAll %>
          <% message = "This competition is confirmed and visible." %>
        <% else %>
          <% message = "This competition is confirmed but not visible yet." %>
        <% end %>
      <% else %>
        <% if competition.showAtAll %>
          <% message = "This competition is not confirmed but is visible." %>
        <% else %>
          <% message = "This competition is not confirmed and not visible." %>
        <% end %>
      <% end %>
      <tr class="competition <%= competition.isConfirmed ? "confirmed" : "not-confirmed" %> <%= competition.showAtAll ? "visible" : "not-visible" %>" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= message %>">
        <td><%= link_to competition.name, competition_path(competition) %></td>
        <td><%= competition.cityName %>, <%= competition.countryId %></td>
        <td><%= competition.start_date %></td>
        <td>
          <%= wca_highlight competition.delegates.map(&:name).to_sentence, current_user.name %>
        </td>
        <td>
          <%= wca_highlight competition.organizers.map(&:name).to_sentence, current_user.name %>
        </td>
        <td>
          <% if current_user.can_manage_competition?(competition) %>
            <%= link_to "Edit", edit_competition_path(competition) %>
          <% end %>
        </td>
        <td>
          <% if competition.use_wca_registration? && current_user.can_manage_competition?(competition) %>
            <%= link_to "Registrations", competition_edit_registrations_path(competition) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if current_user.wca_id %>
    <%= link_to "My profile", "/results/p.php?i=" + current_user.wca_id %>
  <% end %>
</div>
