<% provide(:title, t('.title')) %>

<div class="container">
  <h3><%= yield(:title) %></h3>

  <%= t '.disclaimer' %>

  <%= render "my_competitions_table", competitions: @not_past_competitions, registrations_by_competition_id: @registered_for_by_competition_id, past: false %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" href="#past-competitions" class="collapsed">
          <span><%= t '.past_competitions' %> (<%= @past_competitions.length %>)</span>
          <span class="collapse-indicator"></span>
        </a>
      </h3>
    </div>

    <div id="past-competitions" class="panel-collapse collapse">
      <div class="panel-body">
        <%= render "my_competitions_table", competitions: @past_competitions, registrations_by_competition_id: @registered_for_by_competition_id, past: true %>
      </div>
    </div>
  </div>
  <script>
    (function() {
      // Reflow table when its made visible. See:
      // https://github.com/thewca/worldcubeassociation.org/issues/343
      // changed to .trigger, see https://github.com/thewca/worldcubeassociation.org/issues/343#issuecomment-182916594
      $('#past-competitions').on('show.bs.collapse', function(e) {
        $('#past-competitions table:not(.floatThead-table)').trigger('reflow');
      });
    })();
  </script>

  <% if current_user.wca_id %>
    <p>
      <%= link_to t('layouts.navigation.my_results'), person_path(current_user.wca_id) %>
    </p>
    <% if current_user.senior_delegate? %>
      <p><%= link_to "Upcoming competitions for your subordinate Delegates", competitions_for_senior_path %></p>
    <% end %>
  <% end %>

  <h3>
    <%= ui_icon('bookmark') %>
    <%= t '.bookmarked_title' %>
  </h3>

  <%= t '.bookmarked_explanation' %>
  <%= form_tag(my_comps_path, method: :get, class: "competition-select form-inline #{@display}", id: "bookmarked-competitions-query-form") do %>
    <div id="registration-status" class="form-group registration-status-selector">
      <%= check_box_tag(:show_registration_status, params[:show_registration_status], params[:show_registration_status] == "on") %>
      <%= label_tag(name = :show_registration_status, content_or_options = t('competitions.index.show_registration_status')) %>
    </div>
  <% end %>
  <%= render "my_competitions_table", competitions: @bookmarked_competitions, registrations_by_competition_id: @registered_for_by_competition_id, past: false, bookmarked: true %>

</div>

<script>
$(document).ready(function() {
    var $form = $('#bookmarked-competitions-query-form');
    function submitForm() {
      $form.trigger('submit.rails');
    }
    $('#show_registration_status').on('change', submitForm);
});
</script>
