<% provide(:title, 'Upcoming competitions') %>

<div class="container">
  <h2><%= yield(:title) %></h2>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Start date</th>
      <th>Delegate(s)</th>
      <th>Organizer(s)</th>
      <th></th>
    </tr>
    <% @competitions.each do |competition| %>
      <% if competition.isConfirmed %>
        <% if competition.showAtAll %>
          <% message = "This competition is confirmed and visible." %>
        <% else %>
          <% message = "This competition is confirmed but not visible yet." %>
        <% end %>
      <% else %>
        <% if competition.showAtAll %>
          <% message = "This competition is not confirmed but is visible." %>
        <% else %>
          <% message = "This competition is not confirmed and not visible." %>
        <% end %>
      <% end %>
      <tr class="<%= competition.isConfirmed ? "success" : "danger" %> <%= competition.showAtAll ? "visible" : "not-visible" %>" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= message %>">
        <td><%= competition.name %></td>
        <td><%= competition.cityName %>, <%= competition.countryId %></td>
        <td><%= competition.start_date %></td>
        <td>
          <% competition.delegates.each do |delegate| %>
            <span style="<%= delegate.id == current_user.id ? "font-weight:bold;" : "" %>">
              <%= delegate.name %>
              <%= delegate == competition.delegates.last ? "".strip : ",".strip %>
            </span>
          <% end %>
        </td>
        <td>
          <% competition.organizers.each do |organizer| %>
            <span style="<%= organizer.id == current_user.id ? "font-weight:bold;" : "" %>">
              <%= organizer.name %>
              <%= organizer == competition.organizers.last ? "".strip : ",".strip %>
            </span>
          <% end %>
        </td>
        <td>
          <% if competition.use_wca_registration %>
            <%= link_to "Registrations", competition_edit_registrations_path(competition) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= link_to "My profile", "/results/p.php?i=" + current_user.wca_id %>
</div>

<script>
  (function() {
    $('[data-toggle="tooltip"]').tooltip();
  })();
</script>
