<% provide(:title, t('.create_competition')) %>

<div class="container">
  <h1><%= yield(:title) %></h1>

  <%= simple_form_for @competition, html: { class: 'form-horizontal new-competition' }  do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :competition_id_to_clone, as: :competition_id, only_one: true %>

    <button type="submit" id="create-competition" class="btn btn-success"></button>
  <% end %>
</div>
