<% provide(:title, @competition.name) %>

<%= render layout: 'nav' do %>
  <h1>Accept Registration Payments</h1>

  <%= alert :warning do %>
    Please make sure the currency you have selected is supported by your Stripe
    account! The supported currencies depends on the country where the Stripe
    account is based, you can check them <%= link_to "here", "https://support.stripe.com/questions/which-currencies-does-stripe-support#supportedcurrencies", target: '_blank' %>.
  <% end %>

  <% if @competition.connected_stripe_account_id.nil? %>
    <p>
      In order to accept payments for this competition, you need to connect
      your own Stripe account with the WCA Stripe account by clicking the
      button below. If you don't already have your own Stripe account you can
      still click on the button below and it will guide you through the
      process.
    </p>
    <p>
      Connecting your Stripe account gives the WCA website the ability to
      create charges, and issue refunds directly on your Stripe account.
    </p>
    <%= link_to @authorize_url, class: "btn btn-primary" do %>
      <%= ui_icon("cc stripe") %> Connect with Stripe
    <% end %>

  <% else %>
    <p>
      This competition is set up to accept payments through Stripe.
      If you want to disconnect your Stripe account, you should first do so from your Stripe dashboard
      <%= link_to "here", "https://dashboard.stripe.com/account/applications" %> (please note it will revoke access for all competitions using the account).
      Before a new Stripe account can be connected, please request your Delegate to reach out to WCAT to clear the entry.
    </p>
    <p>
      Keep in mind that these account changes should only be done in exceptional situations, such as the current account being unable to receive payments.
    </p>

  <% end %>

  <% if current_user&.can_admin_competitions? %>
    <%= button_to competition_disconnect_stripe_path, class: 'btn btn-danger', disabled: @competition.connected_stripe_account_id.nil?, method: :post, data: { confirm: t('competitions.stripe_disconnect_confirm') } do %>
      <%= t 'competitions.stripe_disconnect' %>
    <% end %>
  <% end %>
<% end %>
