<% provide(:title, @competition.name) %>

<%= render layout: 'nav' do %>
  <h1><%= t('payments.payment_setup.accept_payments_header') %></h1>

  <%# Currency Warning %>
  <%= alert :warning do %>
    <%= t('payments.payment_setup.supported_currency_warning') %>
    <ul>
      <li><%= link_to(
        t('payments.payment_setup.supported_currencies', provider: t('payments.payment_providers.stripe')),
        "https://support.stripe.com/questions/which-currencies-does-stripe-support#supportedcurrencies",
        target: '_blank'
      ) %></li>
      <% unless Rails.env.production? %>
        <li><%= link_to(
          t('payments.payment_setup.supported_currencies', provider: t('payments.payment_providers.paypal')),
          "https://developer.paypal.com/docs/reports/reference/paypal-supported-currencies/",
          target: '_blank'
        ) %></li>
      <% end %>
    </ul>
  <% end %>

  <%# Stripe Payments %>
  <h2><%= t('payments.payment_setup.provider_heading', provider: t('payments.payment_providers.stripe')) %></h2>

  <%# Stripe not connected %>
  <% if !@competition.stripe_connected? %>
    <p><b><%= t('payments.payment_setup.stripe_connect_warning') %></b></p>
    <p><%= t('payments.payment_setup.stripe_payment_info') %></p>
    <%= link_to @authorize_url, class: "btn btn-primary" do %>
      <%= ui_icon("cc stripe") %><%= t('payments.payment_setup.connect_button', provider: t('payments.payment_providers.stripe')) %>
    <% end %>

  <%# Stripe connected %>
  <% else %>
    <p><b><%= t('payments.payment_setup.stripe_disconnect_warning') %></b></p>
    <p>
      <%= t('payments.payment_setup.stripe_disconnect_info') %>
      <ul><li><%= link_to(t('payments.payment_setup.stripe_dashboard'), "https://dashboard.stripe.com/account/applications") %></li></ul>
    </p>

    <% if current_user&.can_admin_competitions? %>
      <%= button_to(
        competition_disconnect_stripe_path,
        class: 'btn btn-danger',
        disabled: !@competition.stripe_connected?,
        method: :post, data: { confirm: t('payments.payment_setup.confirm_account_disconnect', provider: t('payments.payment_providers.stripe')) }
      ) do %>
        <%= t('payments.payment_setup.disconnect_account', provider: t('payments.payment_providers.stripe')) %>
      <% end %>
    <% end %>

  <% end %>

  <% unless Rails.env.production? %>
    <%# PayPal Payments %>
    <h2><%= t('payments.payment_setup.provider_heading', provider: t('payments.payment_providers.paypal')) %></h2>

    <%# PayPal not connected %>
    <% if !@competition.paypal_connected? %>
      <p><b><%= t('payments.payment_setup.paypal_connect_warning') %></b></p>
      <p><%= t('payments.payment_setup.paypal_payment_info') %></p>
      <%= link_to @paypal_onboarding_url, class: "btn btn-primary" do %>
        <%= ui_icon("cc stripe") %><%= t('payments.payment_setup.connect_button', provider: t('payments.payment_providers.paypal')) %>
      <% end %>

    <%# PayPal is connected %>
    <% else %>
      <p><b><%= t('payments.payment_setup.paypal_disconnect_warning') %></b></p>
      <p><%= t('payments.payment_setup.paypal_disconnect_info') %></p>

      <% if current_user&.can_admin_competitions? %>
        <%= button_to(
          competition_disconnect_paypal_path,
          class: 'btn btn-danger',
          disabled: !@competition.paypal_connected?,
          method: :post, data: { confirm: t('payments.payment_setup.confirm_account_disconnect', provider: t('payments.payment_providers.paypal')) }
         ) do %>
          <%= t('payments.payment_setup.disconnect_account', provider: t('payments.payment_providers.paypal')) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
