<% provide(:title, @competition.name) %>

<%= render layout: 'nav' do %>
  <h1>Accept Registration Payments</h1>

  <%= alert :warning do %>
    Please make sure the currency you have selected is supported by your chosen payment integration!
    The supported currencies will depend on the country where the account
    account is based, you can check them below:
    <ul>
      <li><%= link_to "Stripe Supported Currencies", "https://support.stripe.com/questions/which-currencies-does-stripe-support#supportedcurrencies", target: '_blank' %></li>
      <li><%= link_to "PayPal Supported Currencies", "https://developer.paypal.com/docs/reports/reference/paypal-supported-currencies/", target: '_blank' %></li>
    </ul>
  <% end %>

  <h2>Connect Stripe</h2>



  <% if @competition.connected_stripe_account_id.nil? %>
    <p>
      In order to accept payments for this competition, you need to connect
      your own Stripe account with the WCA Stripe account by clicking the
      button below. If you don't already have your own Stripe account you can
      still click on the button below and it will guide you through the
      process.
    </p>
    <p><b>
      Connecting your Stripe account gives the WCA website the ability to
      create charges, and issue refunds directly on your Stripe account.
    </b></p>
    <%= link_to @authorize_url, class: "btn btn-primary" do %>
      <%= ui_icon("cc stripe") %> Connect with Stripe
    <% end %>

  <% else %>
    <p>
      This competition is set up to accept payments through Stripe.
      If you want to disconnect your Stripe account, you should first do so from your Stripe dashboard
      <%= link_to "here", "https://dashboard.stripe.com/account/applications" %> (please note it will revoke access for all competitions using the account).
      Before a new Stripe account can be connected, please request your Delegate to reach out to WCAT to clear the entry.
    </p>
    <p>
      Keep in mind that these account changes should only be done in exceptional situations, such as the current account being unable to receive payments.
    </p>

    <% if current_user&.can_admin_competitions? %>
      <%= button_to competition_disconnect_stripe_path, class: 'btn btn-danger', disabled: @competition.connected_stripe_account_id.nil?, method: :post, data: { confirm: t('competitions.stripe_disconnect_confirm') } do %>
        <%= t 'competitions.stripe_disconnect' %>
      <% end %>
    <% end %>


  <% end %>

  <h2>Connect PayPal</h2>

  <% if CompetitionPaymentIntegration.paypal_connected?(@competition) %>

    <p>
    This competition is set up to accept payments through Paypal. Note that clicking disconnecting here will <b>not</b> revoke the permissions you have granted to the WCA - this must be done from your PayPal account.
    </p>
    <p>
      Keep in mind that these account changes should only be done in exceptional situations, such as the current account being unable to receive payments.
    </p>

    <% if current_user&.can_admin_competitions? %>
      <%= button_to competition_disconnect_paypal_path, class: 'btn btn-danger' do %>
        <%= t 'competitions.paypal_disconnect' %>
      <% end %>
    <% end %>

  <% else %>

    <p>
      A PayPal business account is required to accept PayPal payments via the competition page.
    </p>
    <p>
      If you don't already have a PayPal business account, you can still click on the button below
      and it will guide you through the process.
    </p>
    <p><b>
      Connecting your PayPal account gives the WCA website the ability to route payments
      to you, and issue refunds directly from your PayPal account.
    </b></p>
    <%= puts @paypal_onboarding_url %>
    <%= link_to @paypal_onboarding_url, class: "btn btn-primary" do %>
      <%= ui_icon("cc stripe") %> Connect with Paypal
    <% end %>
  <% end %>
<% end %>
