<!doctype html>
<html>
  <head>
    <style>
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <header>
      <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
      <%= wicked_pdf_image_tag "wca_logo.svg", class: "wca_logo" %>
      <div class="pdf_title"><%= t 'competitions.competition_info.pdf_title', comp_name: @competition.name %></div>
    </header>
    <div class="main_content">
      <h1><%= t 'competitions.show.general_info' %></h1>
      <table class="general_information">
        <tr>
          <td><%= t 'competitions.competition_info.date' %></td>
          <td><%= wca_date_range(@competition.start_date, @competition.end_date) %></td>
        </tr>
        <tr>
          <td><%= t 'competitions.competition_info.city' %></td>
          <td><%= @competition.city_and_country %></td>
        </tr>
        <tr>
          <td><%= t 'competitions.competition_info.venue' %></td>
          <td><%= md @competition.venue %><p><%= @competition.venueAddress %></p></td>
        </tr>
        <tr>
          <td><%= t 'competitions.competition_info.gps' %></td>
          <td><%= link_to_google_maps_place "#{@competition.latitude_degrees}, #{@competition.longitude_degrees}", @competition.latitude_degrees, @competition.longitude_degrees %></td>
        </tr>
      </table>
      <h1><%=t 'competitions.show.events' %></h1>
      <%= render "pdf_events_table.html.erb" %>
      <h1 class="break-before"><%=t 'competitions.show.schedule' %></h1>
      <%= render "pdf_schedule_table.html.erb" %>
      <h1>Glossary</h1>
      time limit, cutoff, format abbrv etc
    </div>
  </body>
</html>
