<% provide(:title, @competition.name) %>

<%= render layout: 'nav' do %>
  <%= render "competition_info", competition: @competition %>

  <% cache @competition.result_cache_key("by_person") do %>
    <% @competition.person_names_with_results.each do |personName, results| %>
      <h3>
        <% first_result = results.first %>
        <%= anchorable "#{personName} - #{first_result.countryId}", first_result.wca_id %>
        <%= link_to "WCA profile", first_result.results_path %>
      </h3>
      <%= render "results_table", results: results, hide_name: true, hide_country: true %>
    <% end %>
  <% end %>
<% end %>
