<!doctype html>
<html>
  <head>
    <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <header>
      <div class="pdf-logo">
        <%= wicked_pdf_image_tag "WCA Logo.svg" %>
      </div>
      <div class="pdf-title"><%= @competition.name %></div>
      <div class="comp-date">
        <%= wca_date_range(@competition.start_date, @competition.end_date) %>
      </div>
      <div class="separator"></div>
      <div>
        <%= md @competition.venue %>
        <p>
          <%= @competition.venueAddress %>
        </p>
        (<%= link_to_google_maps_place "#{@competition.latitude_degrees}, #{@competition.longitude_degrees}", @competition.latitude_degrees, @competition.longitude_degrees %>)
      </div>
      <div class="separator"></div>
      <div><%= @competition.city_and_country %></div>
    </header>
    <div class="main_content">
      <h1 class="break-before"><%=t 'competitions.show.events' %></h1>
      <%= render "events_table" %>
      <%= render "schedule_table" %>
      <h1><%= t 'competitions.competition_info.pdf.terms_and_abbr' %></h1>
      <%= render "time_limit_cutoff_format_info", competition: @competition %>
      <h4><%= t 'competitions.competition_info.pdf.formats_abbr' %></h4>
      <ul>
        <% @competition.rounds.flat_map(&:formats_used).map(&:id).uniq.sort.each do |format_id| %>
          <li>
            <%= t "competitions.competition_info.pdf.abbr_description",
              short_name: t("formats.short.#{format_id}"),
              long_name: t("formats.#{format_id}") %>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
